{% extends "layouts/FSM/v8-1/layout-dfe-schoolnav.html" %}

{% block backLink %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}

{% endblock %}

{% set records =12 %}
{% set childId = "44455453" %}
{% set childDOB = "22 Sep 2012" %}
{% set schoolName = "Hilltop Elementary" %}
{% set schoolAddress = "Manchester, M25 1QA" %}
{% set parentDOB = "15 Mar 1980" %}
{% set parentName = "Alex Johnson" %}
{% set email = "alex.johnson@example.com" %}
{% set nationalInsurance = "AB123456C" %}
{% set parentId = "44455454A" %}
{% set childName = "Emily Johnson" %}
{% set pageName = "Finalise " ~ records ~ " applications" %}
{% set pageDescription %} View and manage the details of this pupil record.
{% endset %}{% block content %}

<!-- <form action="./finalise-apps-areyousure.html" method="post"> -->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l" id="pending-applications-heading">
      {{ pageName }}
    </h1>

    <p class="govuk-body">
      All the children in the table on this page are entitled to free school meals. Now you should finalise their applications.
    </p>

    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">How to finalise</h2>

      <ol class="govuk-list govuk-list--number">
        <li>Add the details of each application to your own system.</li>
        <li>Select all the records you've added using the tick boxes.</li>
        <li>Click the 'Mark as finalised' button.</li>
      </ol>

      <div class="govuk-button-group">
        <!-- <button type="submit" class="govuk-button" data-module="govuk-button">
          Mark as finalised
        </button> -->

        <a href="./finalise-apps-areyousure.html" class="govuk-button" data-module="govuk-button">
          Mark as finalised
        </a>

        <a href="#" class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Download records as csv
        </a>
      </div>
    </div>

    <table class="govuk-table" data-module="moj-sortable-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">Select</th>
          <th class="govuk-table__header" scope="col" aria-sort="ascending">Reference</th>
          <th class="govuk-table__header" scope="col" aria-sort="none">Parent or guardian</th>
          <th class="govuk-table__header" scope="col" aria-sort="none">Parent or guardian <br>date of birth</th>
          <th class="govuk-table__header" scope="col" aria-sort="none">Child name</th>
          <th class="govuk-table__header" scope="col" aria-sort="none">Child's date of birth</th>
          <th class="govuk-table__header" scope="col" aria-sort="none">Submitted date</th>
          <th class="govuk-table__header" scope="col" aria-sort="none">Status</th>
          <th class="govuk-table__header" scope="col" aria-sort="none">End date</th>
        </tr>
      </thead>

      <tbody class="govuk-table__body">

        {% set rows = [
          ["44455453", "Alex Johnson", "15 Mar 1980", "Emily Johnson", "20 Sep 2021"],
          ["45678765", "Samantha Williams", "15 Mar 1985", "Leo Williams", "20 Sep 2022"],
          ["89009800", "Susan Francis", "13 Dec 1982", "Lincoln Francis", "13 Dec 2017"],
          ["47031485", "Martin Gislason", "17 Dec 1984", "Aleysha Gislason", "17 Dec 2018"],
          ["44398199", "Koby Cruickshank", "26 May 1986", "India Cruickshank", "26 May 2021"],
          ["43923095", "Miller Kerluke", "2 Aug 1981", "Jan Kerluke", "2 Aug 2018"],
          ["90681766", "Jasen Romaguera", "30 May 1980", "Alfonso Romaguera", "30 May 2018"],
          ["53652496", "Zechariah Gottlieb", "11 Dec 1983", "Lettita Gottlieb", "11 Dec 2018"],
          ["61613745", "Amina Hassan", "28 Nov 1987", "Sami Hassan", "28 Nov 2018"],
          ["94726454", "Jasmine Brekke", "6 Aug 1985", "Archie Brekke", "6 Aug 2021"]
        ] %}

        {% for row in rows %}
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="select-{{ row[0] }}" name="selectedRecords" type="checkbox" value="{{ row[0] }}">
                <label class="govuk-label govuk-checkboxes__label" for="select-{{ row[0] }}">
                  <span class="govuk-visually-hidden">Select application {{ row[0] }}</span>
                </label>
              </div>
            </div>
          </td>

          <td class="govuk-table__cell">
            <a href="#" class="govuk-link">{{ row[0] }}</a>
          </td>
          <td class="govuk-table__cell">{{ row[1] }}</td>
          <td class="govuk-table__cell">{{ row[2] }}</td>
          <td class="govuk-table__cell">{{ row[3] }}</td>
          <td class="govuk-table__cell">{{ row[4] }}</td>
          <td class="govuk-table__cell">30 May 2026</td>
         <td class="govuk-table__cell">

  {% if loop.index in [1, 3, 6, 9] %}
    <strong class="govuk-tag govuk-tag--purple">
      Eligible targeted
    </strong>
  {% else %}
    <strong class="govuk-tag govuk-tag--green">
      Eligible expanded
    </strong>
  {% endif %}

</td>
          <td class="govuk-table__cell">30 Aug 2027</td>
        </tr>
        {% endfor %}

      </tbody>
    </table>

  </div>
</div>

</form>

{% endblock %}