{% extends "layouts/layout-dfe.html" %}

{% set pageName="Home" %}



{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">You are not eligible for free school meals</h1>
    <p>If you think this is wrong and you should be able to get free school meals for your child, you can make an appeal against the decision.</p>


    {{ govukRadios({
      classes: "",
      name: "appeal",
      id:"appeal",
      fieldset: {
      legend: {
      text: "Do you want make an appeal against the decision?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m govuk-!-margin-top-5"
      }
      },
  
      items: [
      {
      value: "yes",
      text: "Yes"
      },
      {
      value: "no",
      text: "No"
      }
      ]
      }) }}

    <p>You will need to upload a document showing you have one of the following: </p>




    <ul class="govuk-!-margin-bottom-10">


     <li> Income Support </li> 

    <li>Income-based Jobseeker's Allowance </li>
  
      <li>Income-related Employment and Support Allowance</li>  
  
      <li>S§upport under Part 6 of the Immigration and Asylum Act 1999. For example, National asylum support number (NASS), Application Registration Card (ARC), Port reference number</li> 
  
     <li> Child Tax Credit</li>
  
      <li>The guaranteed element of Pension Credit</li>  
  
     <li> Working Tax Credit run-on</li>
  
     <li> Universal Credit</li>

      

    </ul>



   

    {% from "govuk/components/button/macro.njk" import govukButton %}

    {{ govukButton({
    text: "Continue",
    href:'do-you-have-docs'
    }) }}





















  </div>
</div>

{% endblock %}

{% block pageScripts %}
<script type="text/javascript" src="/public/javascripts/moj/all.js"></script>
{% endblock %}