{% extends "../../mvp1/checker-la/layouts/layout-dfe.html" %}

{% set pageName="Home" %}


{% block content %}






    <div class="govuk-grid-row">

            
      <div class="govuk-grid-column-one-half">
        <h1 class="govuk-heading-l">Entitlement checkers</h1>
        <h3 class="govuk-heading-m">Entitlement checks for schools</h2>

        
        <h3 class="govuk-heading-s"><a href="checker?type=free school meals">Free school meals</a></h2>
        <p>Check if a child living in England can get free school meals. </p>
        <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">


        <!---
        <h2 class="govuk-heading-m">Entitlement checks for early years providers</h2>

        <h3 class="govuk-heading-s"><a href="checker?type=early years pupil premium">Early years pupil premium</a></h2>
        <p>Check early years pupil premium for a child aged 3 or 4 and already receiving 15 hours of free childcare.</p>
        <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">
        <h3 class="govuk-heading-s"><a href="checker?type=free childcare for 2 yr olds">Free childcare for 2 yr olds</a></h2>
        <p>Check if a 2 year old living in England can get free childcare.</p>
        <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">



        <h3 class="govuk-heading-s"><a href="checker-30-hours">Extended childcare for 3 and 4 yr olds</a></h2>
        <p>Extended childcare</p> -->
        

      














        




        
      </div>  
    
    </div>

  


{% endblock %}

{% block pageScripts %}
<script type="text/javascript" src="/public/javascripts/moj/all.js"></script>
{% endblock %}