{% extends "../../mvp1/checker-la/layouts/layout-dfe.html" %}

{% set pageName="Home" %}

{% set applicationSent %}
<h3 class="govuk-notification-banner__heading">
  Eligibility confirmed
  </h3>
  <p class="govuk-body">
   This record has now been moved to all applications
  </p>
  
{% endset %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <span class="govuk-hint">Reference: 44455453</span>
  
{{ mojBanner({
  type: 'success',
  html:' <h3 class="govuk-heading-l">Application approved</h3>',
  iconFallbackText: 'Success'
}) }}
    




    <div class="govuk-grid-row">

            
      <div class="govuk-grid-column-one-half">

        <p>Thank you for processing this application. </p>
<p><strong>Please respond to your contacts at all relevant schools to pass on your decision.</strong></p>
<p>If you need to find the application again, search in Search all records. </p>
      
        <p><a href="ineligible-list">Confirm another application</a></p>
        <p><a href="dashboard">Go to your homepage</a></p>














        




        
      </div>  
    
    </div>

  
  </div>
</div>

{% endblock %}

{% block pageScripts %}
<script type="text/javascript" src="/public/javascripts/moj/all.js"></script>
{% endblock %}