{# 1 #}
{% from 'node_modules/dfe-frontend/packages/components/header/macro.njk' import header %}

{# 2 #}
{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% set govukRebrand = true %}

{# ------------- #}
{% set VERSION = "v8-0" %}
{% set ROOT = "/FSM/Private_beta/" + VERSION %}
{# ------------------------- #}


{# 3 #}
{% block header %}
<header class="govuk-header" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__logo">
      <a href="/FSM/index-fsm" class="govuk-header__link govuk-header__link--homepage">
        <img src="/public/images/department-for-education_white.png" alt="Department for Education" class="govuk-header__logotype">
      </a>
    </div>
    <div class="dfe-header__content" id="content-header">
      <ul class="dfe-header__action-links govuk-!-margin-top-3">
        <li><a href="{{ ROOT }}/dsi-account/dsi-startnow" class="govuk-link govuk-link--inverse">Sign out</a></li>
      </ul>
    </div>
  </div>
</header>


{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}


{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}
{{ govukServiceNavigation({
  serviceName: "Manage eligibility for free school meals",
  serviceUrl: ROOT + "/welsh_LA/dashboard",
  navigation: [
    { href: ROOT + "/welsh_LA/welsh-manage/welsh-soft-check/checker.html", text: "Run a check" },
    { href: ROOT + "/welsh_LA/welsh-manage/batch-checking/manual-no-ctf.html", text: "Run a batch check" },
    { href: ROOT + "/welsh_LA/guidance.html", text: "Guidance" }
  ]
}) }}


<div class="app-phase-banner__wrapper">
  <div class="govuk-phase-banner app-phase-banner govuk-width-container">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">Private beta</strong>
      <span class="govuk-phase-banner__text">
        This is a Prototype used to test the service.
      </span>
    </p>
  </div>
  <div class="govuk-width-container govuk-!-margin-top-1">
  </div>
</div>

{% endblock %}


{# 4 #}
{% block footer %}
 {{ govukFooter({
   meta: {
     items: [
       {
         href: "../privacy",
         text: "Privacy policy"
       },
       {
        href: "../accessibility",
        text: "Accessibility"
      },
       {
         href: "../cookies",
         text: "Cookies"
       },
       {
        href: "../contact",
        text: "Contact us"
      },
      {
        href:"/manage-prototype",
        text:"Manage your prototype"
      },
       {
         href: "/manage-prototype/clear-data",
         text: "Clear data"
       }
     ],
     visuallyHiddenTitle: "Footer links"
   }
 }) }}
{% endblock %}

{# 4 #}
{% block scripts %}
  {{ super() }}
  <script src="/public/javascripts/dfefrontend.js"></script>
  <script type="text/javascript" src="assets/javascripts/autocomplete.js"></script>
  <link rel="stylesheet" href="assets/css/accessible-autocomplete.min.css" />
  <script type="text/javascript" src="/public/javascripts/moj/all.js"></script>
<script type="text/javascript">
  if (typeof MOJFrontend.MultiFileUpload !== "undefined") {
  new MOJFrontend.MultiFileUpload({
    container: $(".moj-multi-file-upload"),
    uploadUrl: "/ajax-upload",
    deleteUrl: "/ajax-delete",
  });
}
</script>

{{ super() }}
<script>
 var AppFrontend = {}
</script>
<script src="/public/javascripts/components/filter-toggle-button.js"></script>

{% endblock %}