{#
    For guidance on how to use layouts see:
    https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
    #}

    {% set bodyClasses = "v1_2_3" %}
    {% set version = "v1_2_3" %}

    {% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}


    {% block header %}

    {{ govukHeader({
      homepageUrl: "/index.html",
        serviceName: "Check a family's eligibility",
        serviceUrl: "/index.html",
        navigation: [

        ]
      }) }}
    <div class="app-phase-banner__wrapper">

      <div class="govuk-phase-banner app-phase-banner govuk-width-container">
        <p class="govuk-phase-banner__content">
          <strong class="govuk-tag govuk-phase-banner__content__tag">
            alpha
          </strong>
          <span class="govuk-phase-banner__text">
            This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
          </span>
        </p>
      </div>


    </div>


    {% endblock %}

    {# 4 #}
    {% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        (function(c,l,a,r,i,t,y){
            c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
            t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
            y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
        })(window, document, "clarity", "script", "mbvnpt6v4m");
    </script>
      {{ super() }}
      <script src="/public/javascripts/dfefrontend.js"></script>
    {% endblock %}