{% extends "layouts/FSM/dev/family/layout-dfe-parent.html" %}

{% set pageName="Check failed" %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Check failed
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <p class="govuk-notification-banner__heading">The details you entered do not match records</p>
        <p class="govuk-body">
          We were unable to match your details with other government department records.
        </p>

      </div>
    </div>

    <h2 class="govuk-heading-m">Details checked</h2>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Last name
        </dt>
        <dd class="govuk-summary-list__value">
          Jenkins
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Date of birth
        </dt>
        <dd class="govuk-summary-list__value">
          10 April 1989
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          National Insurance number
        </dt>
        <dd class="govuk-summary-list__value">
          PB123456C
        </dd>
      </div>
    </dl>



    <h1 class="govuk-heading-m">What to do next</h1>
    <p><a href="../check">Try again</a>, ensuring you've entered your details accurately.</p>

    <p>If the check keeps failing, contact your school administrator.</p>


  </div>
</div>

{% endblock %}
