{% extends "layouts/FSM/dev/family/layout-dfe-parent.html" %}
{% set pageName="Not eligible at time of check" %}
{% block content %}

<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
            <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title"
                  data-module="govuk-notification-banner">
                  <div class="govuk-notification-banner__header">
                        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                              {{pageName}}
                        </h2>
                  </div>
                  <div class="govuk-notification-banner__content">
                        <p class="govuk-notification-banner__heading">
                              Your children are not eligible at the time of the check
                        </p>
                        <p class="govuk-body">From the information you’ve provided, your children are not eligible for free school meals.</p>
                  </div>
            </div>
            <p>See <a href="/FSM/Private_beta/dev/family/guidance/parent-guidance" target="_blank">more detailed guidance on eligibility for free school meals (opens in new tab)</a>.</p>
            <h1 class="govuk-heading-l">If you think your children are eligible</h1>
            <p>You can still apply but you'll need to provide evidence to support your application. </p>

            <details class="govuk-details">
                  <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                              Complete list of acceptable evidence
                        </span>
                  </summary>
                  <div class="govuk-details__text">
                        <p>To support your claim for free school meals, you can send:</p>
                        <ul class="govuk-list govuk-list--bullet">
                              <li>up to three of your latest Universal Credit statements </li>
                              <li>a letter of Entitlement for income-related Employment and Support Allowance (ESA)</li>
                              <li>a letter of Entitlement for the guaranteed element of Pension Credit</li>
                              <li>documents showing you are receiving relevant support under part VI of the Immigration and Asylum Act 1999</li>
                        </ul>
                        <p><a href="/FSM/Private_beta/dev/family/guidance/parent-guidance" class="govuk-link">More
                                    information on supporting evidence</a>.</p>

                  </div>
            </details>
            <h2 class="govuk-heading-m">If you have evidence now</h2>
            <p>You can apply with evidence online and upload your evidence now. </p>
            <h2 class="govuk-heading-m">If you need time to find more evidence</h2>
            <p class="govuk-body">You can apply with evidence:</p>

            <ul class="govuk-list govuk-list--bullet">
                  <li>online now and choose to take your evidence into your children's schools later</li>
                  <li>in full later through your children's schools</li>
            </ul>

            <div class="govuk-warning-text">
                  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                  <strong class="govuk-warning-text__text">
                        <span class="govuk-visually-hidden">Warning</span>
                        If want to apply with evidence online, you need to do this now otherwise you will need to check again later
                  </strong>
            </div>
            <div class="govuk-button-group">
                  {{ govukButton({
                  text: "Apply wth evidence now",
                  href: "../../account/appeal/login/signin-or-create"
                  }) }}
                  <a class="govuk-link" href="../../../_offline//fsm-print-version-parent.html">Apply through your children's
                        schools</a>
            </div>

      </div>
</div>

 {% endblock %}