{% extends "layouts/layout-dfe.html" %}

{% set pageName="Home" %}



{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      We were unable to check your eligibility </h1>



        <h2 class="govuk-heading-m">What to do now:</h2>

<p>    
  You need a national asylum support number for us to be able to check if you can get free school meals for your child. </p>

    <p>  You can <a href="https://www.gov.uk/asylum-support">check to see what asylum support you can get.</a></p>












        




 

  
  </div>
</div>

{% endblock %}

{% block pageScripts %}
<script type="text/javascript" src="/public/javascripts/moj/all.js"></script>
{% endblock %}