{% extends "layouts/layout-dfe.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <span class="govuk-hint">Barnsley Council</span>

    <h1 class="govuk-heading-l">
      
      
    All appeals  (85)
    </h1>


    <div class="govuk-grid-row">

            
      

      <div class="govuk-grid-column-full">



{% set filterOptionsHtml %}

  {{ govukInput({
    id: 'keywords',
    name: 'keywords',
    label: {
      text: 'Keywords',
      classes: 'govuk-label--m'
    }
  }) }}

  {{ govukCheckboxes({
    idPrefix: 'type',
    name: 'type',
    classes: "govuk-checkboxes--small",
    fieldset: {
      legend: {
        text: 'Type',
        classes: 'govuk-fieldset__legend--m'
      }
    },
    items: [
      {
        value: '1',
        text: 'Free school meals (22)',
        checked: true
      },
    
      {
        value: '2',
        text: 'Early years pupil premium ',
        checked: true
      },

      {
        value: '2',
        text: 'Free childcare 2yr olds',
        checked: true
      }

    ]
  }) }}


{% endset %}


<div class="moj-filter-layout">

  <div class="moj-filter-layout__filter">

    {{ mojFilter({
      heading: {
      text: 'Filter'
      },
      selectedFilters: {

      heading: {
        text: 'Selected filters'
      },

      clearLink: {
        text: 'Clear filters'
      },

      categories: [
        {
          heading: {
            text: 'Type'
          },
          items: [{
            href: '#',
            text: 'Free school meals'
          }
          ]
        },


        {

          heading: {
            text: 'Status'
          },

          items: [
          
          {
            href: '#',
            text: 'New appeal'
          }

        
          
          ]
          
        }
      ]
    },
      optionsHtml: filterOptionsHtml
    }) }}

  </div>

  <div class="moj-filter-layout__content">



  <div class="moj-scrollable-pane">
    {{ govukTable({
      firstCellIsHeader: true,
      head: [
        {text: 'Reference'},
        {text: 'Person'},
        {text: 'Type'},
        {text: 'Status'},
        {text: 'Date of last event'}
      ],
      rows: [
        [
          {html: '<a href="../../records/new-appeal" class="govuk-link">44455453</a>'},
          {html: 'Eden Tesfay'},
          {text: 'Free school meals'},
          {html: 'New appeal'},
          {text: '25 October 2023'}
        ],
        [
          {html: '<a href="#" class="govuk-link">12323212</a>'},
          {html: 'Warren Sutton'},
          {text: 'Free school meals'},
          {html: 'New appeal'},
          {text: '25 October 2023'}
        ],
        [
          {html: '<a href="#" class="govuk-link">45678765</a>'},
          {html: 'Alan Jones'},
          {text: 'Free school meals'},
          {html: 'New appeal'},
          {text: '9 October 2023'}
        ],
        [
          {html: '<a href="#" class="govuk-link">12345678</a>'},
          {html: 'Jennifer Langley'},
          {text: 'Free school meals'},
          {html: 'New appeal'},
          {text: '9 October 2023'}
        ],
        [
          {html: '<a href="#" class="govuk-link">89009800</a>'},
          {html: 'Susan Francis'},
          {text: 'Free school meals'},
          {html: 'New appeal'},
          {text: '9 October 2023'}
        ],
        [
          {html: '<a href="#" class="govuk-link">44455453</a>'},
          {html: 'John Smith'},
          {text: 'Free school meals'},
          {html: 'New appeal'},
          {text: '25 October 2023'}
        ],
        [
          {html: '<a href="#" class="govuk-link">12323212</a>'},
          {html: 'Warren Sutton'},
          {text: 'Free school meals'},
          {html: 'New appeal'},
          {text: '25 October 2023'}
        ],
        [
          {html: '<a href="#" class="govuk-link">45678765</a>'},
          {html: 'Alan Jones'},
          {text: 'Free school meals'},
          {html: 'New appeal'},
          {text: '9 October 2023'}
        ],
        [
          {html: '<a href="#" class="govuk-link">12345678</a>'},
          {html: 'Jennifer Langley'},
          {text: 'Free school meals'},
          {html: 'New appeal'},
          {text: '9 October 2023'}
        ],
        [
          {html: '<a href="#" class="govuk-link">89009800</a>'},
          {html: 'Susan Francis'},
          {text: 'Free school meals'},
          {html: 'New appeal'},
          {text: '9 October 2023'}
        ],
        [
          {html: '<a href="#" class="govuk-link">45456765</a>'},
          {html: 'John Smith'},
          {text: 'Free school meals'},
          {html: 'New appeal'},
          {text: '9 October 2023'}
        ],
        [
          {html: '<a href="#" class="govuk-link">88675411</a>'},
          {html: 'Margaret Blake'},
          {text: 'Free school meals'},
          {html: 'New appeal'},
          {text: '9 October 2023'}
        ],
        [
          {html: '<a href="#" class="govuk-link">44455453</a>'},
          {html: 'John Smith'},
          {text: 'Free school meals'},
          {html: 'New appeal'},
          {text: '25 October 2023'}
        ],
        [
          {html: '<a href="#" class="govuk-link">12323212</a>'},
          {html: 'Warren Sutton'},
          {text: 'Free school meals'},
          {html: 'New appeal'},
          {text: '25 October 2023'}
        ],
        [
          {html: '<a href="#" class="govuk-link">45678765</a>'},
          {html: 'Alan Jones'},
          {text: 'Free school meals'},
          {html: 'New appeal'},
          {text: '9 October 2023'}
        ],
        [
          {html: '<a href="#" class="govuk-link">12345678</a>'},
          {html: 'Jennifer Langley'},
          {text: 'Free school meals'},
          {html: 'New appeal'},
          {text: '9 October 2023'}
        ]
      ]
    }) }}
  </div>
</div>

      </div>

      
    
    </div>

    

  
  </div>
</div>

{% endblock %}