{% extends "layouts/layout-dfe.html" %}

{% set pageName="Home" %}

{% block content %}







    <div class="govuk-grid-row">

            
      <div class="govuk-grid-column-two-thirds">


    <form action="name" method="post" novalidate>

      {% call govukFieldset({
        legend: {
          text: "Check eligibility for childcare",
          classes: "govuk-fieldset__legend--l",
          isPageHeading: true
        }
      }) %}
      
        {{ govukInput({
          label: {
            text: "Enter a code"
          },
          classes: "govuk-!-width-two-thirds",
          id: "code",
          name: "code",
          autocomplete: ""
        }) }}

      
        {% from "govuk/components/input/macro.njk" import govukInput %}

        {{ govukInput({
          label: {
            text: "Full name"
          },
          id: "full-name",
          name: "fullName",
          autocomplete: "name",
          classes: "govuk-input--width-20",
          spellcheck: false
        }) }}

        {% from "govuk/components/input/macro.njk" import govukInput %}

        {{ govukInput({
          label: {
            text: "National Insurance number"
          },
          id: "full-name",
          name: "fullName",
          autocomplete: "name",
          classes: "govuk-input--width-20",
          spellcheck: false
        }) }}

     
          {{ govukDateInput({
            
            id: "dob",
            namePrefix: "dob",
            
            fieldset: {
              legend: {
                text: "Child's date of birth",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--s"
              }
            },
            hint: {
              text: "For example, 27 3 2007"
            }
          }) }}
  
        
        
        
        

     
      
      
      
        
      
       
      
      {% endcall %}
      
      
      
      
      {{ govukButton({
        text: "Save and continue",
        classes:'govuk-!-margin-top-5'
      }) }}

      
    </form>




        




        
      </div>  
    
    </div>



{% endblock %}