{% extends "/layouts/mvp3/layout-dfe.html" %}
{% set pageName="No schools found" %}

{%block content %}

<div class="govuk-grid-row">
  <div class="govuk-width-container">
    <div class="govuk-heading-l">
      {{pageName}}
    </div>
    <p class="govuk-body">We could not find any schools that match <b>BD23</b> and <b>Gratewod</b>.</p>
    <p class="govuk-body">You can search again or enter the school address manually.</p>
    <p class="govuk-body"><a href="#">Search again</a></p>
    <p class="govuk-body govuk-!-margin-bottom-0"><a href="#" class="govuk-link">Enter school address manually</a></p>
      </div>
  </div>


</div>
{% endblock %}