{% extends "layouts/FSM/v7-5/layout-dfe-lanav.html" %}
{% set pageName="Decline the application?" %}
{% block content %}

<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">{{pageName}}</h1>

            <div class="govuk-form-group">
                <h2 class="govuk-label-wrapper">
                    <label class="govuk-label govuk-label--m" for="more-detail">
                        Give a reason for declining the application
                    </label>
                </h2>
                <div id="more-detail-hint" class="govuk-hint">
                    Do not include personal or financial information like the child's name, parent's National Insurance
                    number or statement details.  <!--<br><br>Parent and guardians can request access to the reasons for declining the application, for example as
                    a Freedom of Information request. -->
                </div>
                <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="5"
                    aria-describedby="more-detail-hint"></textarea>
            </div>
            <!-- <p class="govuk-body">
Parent and guardians can request access to the reasons for declining the application, for example as a Freedom of Information request.
</p> -->

            <div class="govuk-warning-text">
                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                <strong class="govuk-warning-text__text">
                    <span class="govuk-visually-hidden">Warning</span>
                    Parents and guardians can request access to the reason for declining their application as
                    part of a Freedom of Information request.
                </strong>
            </div>

<div class="govuk-inset-text">
    If you decline this application, the parent or guardian will have to start a new application. If
    you are unsure, return to the record and request more evidence.
</div>

<div class="govuk-!-padding-bottom-3"></div>



{{ govukButton({
text: "Decline now",
href: 'eligibility-declined'
}) }}

{{ govukButton({
text: "Return to record",
classes: "govuk-button--secondary",
href: 'pending_johnson1'
}) }}

<div class="govuk-!-padding-bottom-3"></div>
</div>


{% endblock %}

{% block pageScripts %}
<script type="text/javascript" src="/public/javascripts/moj/all.js"></script>
{% endblock %}