{% extends "layouts/FSM/v7-3/layout-dfe-schoolnav.html" %}
{% set pageName="Applications to be rechecked" %}
{% set currentAcademicYear="2024" %}
{% set nextAcademicYear="2025" %}
{% set date="1 September 2024" %}

{% block content %}


<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

<!-- <div role="region" class="moj-alert moj-alert--warning moj-alert--with-heading" aria-label="warning: Some information could not be imported" data-module="moj-alert">
  <div>
    <svg class="moj-alert__icon" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" height="30" width="30">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M15 2.44922L28.75 26.1992H1.25L15 2.44922ZM13.5107 9.49579H16.4697L16.2431 17.7678H13.7461L13.5107 9.49579ZM13.1299 21.82C13.1299 21.5661 13.1787 21.3285 13.2764 21.1071C13.374 20.8793 13.5075 20.6807 13.6768 20.5114C13.8525 20.3421 14.0544 20.2087 14.2822 20.111C14.5101 20.0134 14.7542 19.9645 15.0146 19.9645C15.2686 19.9645 15.5062 20.0134 15.7275 20.111C15.9554 20.2087 16.154 20.3421 16.3232 20.5114C16.4925 20.6807 16.626 20.8793 16.7236 21.1071C16.8213 21.3285 16.8701 21.5661 16.8701 21.82C16.8701 22.0804 16.8213 22.3246 16.7236 22.5524C16.626 22.7803 16.4925 22.9789 16.3232 23.1481C16.154 23.3174 15.9554 23.4509 15.7275 23.5485C15.5062 23.6462 15.2686 23.695 15.0146 23.695C14.7542 23.695 14.5101 23.6462 14.2822 23.5485C14.0544 23.4509 13.8525 23.3174 13.6768 23.1481C13.5075 22.9789 13.374 22.7803 13.2764 22.5524C13.1787 22.3246 13.1299 22.0804 13.1299 21.82Z" fill="currentColor" />
    </svg>
  </div>
  <div class="moj-alert__content">
    <h2 class="moj-alert__heading">
      <span class="moj-alert__heading--small">You need to recheck applications for the next academic year.</span>
    </h2>Select an individual child's reference or multiple children to <a href="#">check their eligibility</a>.
  </div>
</div> -->

      <div class="moj-page-header-actions">
        <div class="moj-page-header-actions__title">
          <h1 class="govuk-heading-l">{{pageName}} <span id="notifications" class="moj-notification-badge"
              style="white-space: nowrap; margin-left: 15px;">13</span>
          </h1>
        </div>
        <div class="moj-page-header-actions__actions">
          <div class="moj-button-group moj-button-group--inline">

            <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
              Recheck applications
            </button>
            <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
              View recheck history
            </button>
          </div>
        </div>
      </div>
      <div class="moj-page-header-actions__description">
        <p class="govuk-body">
          Recheck children's free school meals eligibility for the next academic year.
        </p>
      </div>
      <!-- <br>You can recheck an individual application for a pupil or manage multiple records.</p> -->
      <div class="govuk-!-margin-top-4 govuk-!-margin-bottom-4 govuk-section-break govuk-section-break"
        style="background: #fff;">


<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-visually-hidden">Warning</span>
    Check the details are still correct before proceeding with the recheck.
     <!-- If unsure, ask the parent to confirm their details are correct in your system. -->
  </strong>
</div>

      <div class="moj-alert__action">
    <button class="moj-alert__dismiss" hidden>Dismiss</button>
  </div>
</div>



        <div>
            <div class="moj-page-header-actions__description"> </div>

            <div style="background-color: #e0f3ff; padding: 1em; margin-top: 1em;">
              <div class="moj-search">
                <form action="#" method="post">
                  <div class="govuk-form-group">
                    <label class="govuk-label moj-search__label govuk-!-font-weight-bold" for="search">
                      Find a child
                    </label>
                    <div id="search-hint" class="govuk-hint moj-search__hint">
                      You can search by application reference number, parent or child's name or their date of birth
                    </div>
                    <input class="govuk-input moj-search__input" id="search" name="search" type="search"
                      aria-describedby="search-hint">
                  </div>
                  <button type="submit" class="govuk-button moj-search__button" data-module="govuk-button">
                    Search
                  </button>
                </form>
              </div>
            </div>

            <div style="padding-bottom: 2em;"></div>

            <div>
              <table class="govuk-table moj-sortable-table" data-module="moj-sortable-table" data-id-prefix=" -"
                style="width:100%;">
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col" id="mountains-select-all"  style="padding: 0; width: 48px;">
                      <div style="display: flex; align-items: center; justify-content: center; height: 100%;">
                        <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                          <input type="checkbox" class="govuk-checkboxes__input moj-multi-select__check-all"
                            id="select-all">
                          <label class="govuk-label govuk-checkboxes__label" for="select-all">
                            <span class="govuk-visually-hidden">Select all</span>
                          </label>
                        </div>
                      </div>
                    </th>

                    <th class="govuk-table__header" scope="col" aria-sort="ascending" data-sortable="true">Reference </th>
                    <th class="govuk-table__header" scope="col" aria-sort="none" data-sortable="true">Parent or guardian</th>
                    <th class="govuk-table__header" scope="col" aria-sort="none" data-sortable="true">Date of birth</th>
                    <th class="govuk-table__header" scope="col" aria-sort="none" data-sortable="true" style="white-space: normal; word-break: break-word;">
                      National insurance<br> number
                    </th>
                    <th class="govuk-table__header" scope="col" aria-sort="none" data-sortable="true">Child name</th>
                    <th class="govuk-table__header" scope="col" aria-sort="none" data-sortable="true">School</th>
                    <th class="govuk-table__header" scope="col" aria-sort="none" data-sortable="true">End date</th>
                  </tr>
                </thead>
              <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                      <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                        <input type="checkbox" class="govuk-checkboxes__input" id="row1">
                        <label class="govuk-label govuk-checkboxes__label" for="row1">
                          <span class="govuk-visually-hidden">Select</span>
                        </label>
                      </div>
                    </td>
                    <td class="govuk-table__cell"><a href="../decision/records/pending_johnson1.html"
                        class="govuk-link">44455453</a></td>
                    <td class="govuk-table__cell">Alex Johnson <br></td>
                    <td class="govuk-table__cell">15 Mar 1980</td>
                    <td class="govuk-table__cell">AB123456C</td>
                    <td class="govuk-table__cell">Emily Johnson</td>
                    <td class="govuk-table__cell">Hilltop Elementary</td>
                    <td class="govuk-table__cell">01 Sep 2025</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                      <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                        <input type="checkbox" class="govuk-checkboxes__input" id="row2">
                        <label class="govuk-label govuk-checkboxes__label" for="row2">
                          <span class="govuk-visually-hidden">Select</span>
                        </label>
                      </div>
                    </td>
                    <td class="govuk-table__cell"><a href="../decision/records/pending_sutton1.html"
                        class="govuk-link">44455454</a></td>
                    <td class="govuk-table__cell">Warren Sutton</td>
                    <td class="govuk-table__cell">18 Sep 1978</td>
                    <td class="govuk-table__cell">CD987654E</td>
                    <td class="govuk-table__cell">Lisa Sutton</td>
                    <td class="govuk-table__cell">Greenfield Academy</td>
                    <td class="govuk-table__cell">01 Sep 2025</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                      <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                        <input type="checkbox" class="govuk-checkboxes__input" id="row3">
                        <label class="govuk-label govuk-checkboxes__label" for="row3">
                          <span class="govuk-visually-hidden">Select</span>
                        </label>
                      </div>
                    </td>
                    <td class="govuk-table__cell"><a href="../records/approved" class="govuk-link">44455455</a></td>
                    <td class="govuk-table__cell">Alan Jones</td>
                    <td class="govuk-table__cell">22 Jul 1975</td>
                    <td class="govuk-table__cell">EF123456G</td>
                    <td class="govuk-table__cell">Jack Jones</td>
                    <td class="govuk-table__cell">Riverside Primary</td>
                    <td class="govuk-table__cell">01 Sep 2025</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                      <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                        <input type="checkbox" class="govuk-checkboxes__input" id="row4">
                        <label class="govuk-label govuk-checkboxes__label" for="row4">
                          <span class="govuk-visually-hidden">Select</span>
                        </label>
                      </div>
                    </td>
                    <td class="govuk-table__cell"><a href="../records/approved" class="govuk-link">44455456</a></td>
                    <td class="govuk-table__cell">Eden Tesfay</td>
                    <td class="govuk-table__cell">03 Feb 1982</td>
                    <td class="govuk-table__cell">GH654321H</td>
                    <td class="govuk-table__cell">Samual Tesfay</td>
                    <td class="govuk-table__cell">Oakwood School</td>
                    <td class="govuk-table__cell">01 Sep 2025</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                      <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                        <input type="checkbox" class="govuk-checkboxes__input" id="row5">
                        <label class="govuk-label govuk-checkboxes__label" for="row5">
                          <span class="govuk-visually-hidden">Select</span>
                        </label>
                      </div>
                    </td>
                    <td class="govuk-table__cell"><a href="../records/approved" class="govuk-link">44455457</a></td>
                    <td class="govuk-table__cell">Jennifer Langley</td>
                    <td class="govuk-table__cell">09 Nov 1979</td>
                    <td class="govuk-table__cell">IJ987654K</td>
                    <td class="govuk-table__cell">Tilly Langley</td>
                    <td class="govuk-table__cell">Sunnydale Academy</td>
                    <td class="govuk-table__cell">01 Sep 2025</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                      <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                        <input type="checkbox" class="govuk-checkboxes__input" id="row6">
                        <label class="govuk-label govuk-checkboxes__label" for="row6">
                          <span class="govuk-visually-hidden">Select</span>
                        </label>
                      </div>
                    </td>
                    <td class="govuk-table__cell"><a href="../records/approved" class="govuk-link">44455458</a></td>
                    <td class="govuk-table__cell">Susan Francis</td>
                    <td class="govuk-table__cell">27 May 1981</td>
                    <td class="govuk-table__cell">KL123456M</td>
                    <td class="govuk-table__cell">Noah Francis</td>
                    <td class="govuk-table__cell">Maple Grove School</td>
                    <td class="govuk-table__cell">01 Sep 2025</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                      <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                        <input type="checkbox" class="govuk-checkboxes__input" id="row7">
                        <label class="govuk-label govuk-checkboxes__label" for="row7">
                          <span class="govuk-visually-hidden">Select</span>
                        </label>
                      </div>
                    </td>
                    <td class="govuk-table__cell"><a href="../records/approved" class="govuk-link">44455459</a></td>
                    <td class="govuk-table__cell">John Smith</td>
                    <td class="govuk-table__cell">14 Dec 1977</td>
                    <td class="govuk-table__cell">MN987654N</td>
                    <td class="govuk-table__cell">Jo Smith</td>
                    <td class="govuk-table__cell">Willow Park School</td>
                    <td class="govuk-table__cell">01 Sep 2025</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                      <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                        <input type="checkbox" class="govuk-checkboxes__input" id="row8">
                        <label class="govuk-label govuk-checkboxes__label" for="row8">
                          <span class="govuk-visually-hidden">Select</span>
                        </label>
                      </div>
                    </td>
                    <td class="govuk-table__cell"><a href="../records/approved" class="govuk-link">44455461</a></td>
                    <td class="govuk-table__cell">Warren Sutton</td>
                    <td class="govuk-table__cell">02 Apr 1976</td>
                    <td class="govuk-table__cell">OP123456Q</td>
                    <td class="govuk-table__cell">Lisa Sutton</td>
                    <td class="govuk-table__cell">Cedar Hill School</td>
                    <td class="govuk-table__cell">01 Sep 2025</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                      <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                        <input type="checkbox" class="govuk-checkboxes__input" id="row9">
                        <label class="govuk-label govuk-checkboxes__label" for="row9">
                          <span class="govuk-visually-hidden">Select</span>
                        </label>
                      </div>
                    </td>
                    <td class="govuk-table__cell"><a href="../records/approved" class="govuk-link">44455462</a></td>
                    <td class="govuk-table__cell">Alan Jones</td>
                    <td class="govuk-table__cell">30 Aug 1974</td>
                    <td class="govuk-table__cell">QR987654S</td>
                    <td class="govuk-table__cell">Jack Jones</td>
                    <td class="govuk-table__cell">Birchwood Academy</td>
                    <td class="govuk-table__cell">01 Sep 2025</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                      <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                        <input type="checkbox" class="govuk-checkboxes__input" id="row10">
                        <label class="govuk-label govuk-checkboxes__label" for="row10">
                          <span class="govuk-visually-hidden">Select</span>
                        </label>
                      </div>
                    </td>
                    <td class="govuk-table__cell"><a href="../records/approved" class="govuk-link">44455463</a></td>
                    <td class="govuk-table__cell">Eden Tesfay</td>
                    <td class="govuk-table__cell">21 Jun 1980</td>
                    <td class="govuk-table__cell">ST123456T</td>
                    <td class="govuk-table__cell">Samual Tesfay</td>
                    <td class="govuk-table__cell">Redwood Primary</td>
                    <td class="govuk-table__cell">01 Sep 2025</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                      <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                        <input type="checkbox" class="govuk-checkboxes__input" id="row11">
                        <label class="govuk-label govuk-checkboxes__label" for="row11">
                          <span class="govuk-visually-hidden">Select</span>
                        </label>
                      </div>
                    </td>
                    <td class="govuk-table__cell"><a href="../records/approved" class="govuk-link">44455464</a></td>
                    <td class="govuk-table__cell">Jennifer Langley</td>
                    <td class="govuk-table__cell">05 Oct 1978</td>
                    <td class="govuk-table__cell">UV987654W</td>
                    <td class="govuk-table__cell">Tilly Langley</td>
                    <td class="govuk-table__cell">Pinecrest School</td>
                    <td class="govuk-table__cell">01 Sep 2025</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                      <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                        <input type="checkbox" class="govuk-checkboxes__input" id="row12">
                        <label class="govuk-label govuk-checkboxes__label" for="row12">
                          <span class="govuk-visually-hidden">Select</span>
                        </label>
                      </div>
                    </td>
                    <td class="govuk-table__cell"><a href="../records/approved" class="govuk-link">44455465</a></td>
                    <td class="govuk-table__cell">Susan Francis</td>
                    <td class="govuk-table__cell">19 Mar 1977</td>
                    <td class="govuk-table__cell">XY123456Z</td>
                    <td class="govuk-table__cell">Noah Francis</td>
                    <td class="govuk-table__cell">Ashfield Academy</td>
                    <td class="govuk-table__cell">01 Sep 2025</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                      <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                        <input type="checkbox" class="govuk-checkboxes__input" id="row13">
                        <label class="govuk-label govuk-checkboxes__label" for="row13">
                          <span class="govuk-visually-hidden">Select</span>
                        </label>
                      </div>
                    </td>
                    <td class="govuk-table__cell"><a href="../records/approved" class="govuk-link">44455466</a></td>
                    <td class="govuk-table__cell">John Smith</td>
                    <td class="govuk-table__cell">23 Feb 1984</td>
                    <td class="govuk-table__cell">AB987654C</td>
                    <td class="govuk-table__cell">Jo Smith</td>
                    <td class="govuk-table__cell">Lakeside School</td>
                    <td class="govuk-table__cell">01 Sep 2025</td>
                  </tr>
                </tbody>
              </table>
            </div>




            {% block pageScripts %}
            <script src="/static/js/moj-sortable-table.js"></script>
            <script src="/static/js/govuk-file-upload.js"></script>
            <script src="/static/js/govuk-button.js"></script>
            <script src="/static/js/moj-multi-file-upload.js"></script>
            <script src="/static/js/govuk-checkboxes.js"></script>
            <script src="/static/js/govuk-notification-badge.js"></script>

            <script>
              document.addEventListener('DOMContentLoaded', function () {
                const selectAll = document.getElementById('select-all');
                const checkboxes = document.querySelectorAll('.govuk-checkboxes__input:not(#select-all)');

                if (selectAll) {
                  selectAll.addEventListener('change', function () {
                    checkboxes.forEach(function (cb) {
                      cb.checked = selectAll.checked;
                    });
                  });

                  // Optional: Uncheck "select all" if any box is unchecked
                  checkboxes.forEach(function (cb) {
                    cb.addEventListener('change', function () {
                      if (!cb.checked) {
                        selectAll.checked = false;
                      } else if ([...checkboxes].every(c => c.checked)) {
                        selectAll.checked = true;
                      }
                    });
                  });
                }
              });
            </script>
            {% endblock %}

            {% endblock %}