{% extends "/childcare/v1/layouts/layout-childcare.html" %}

{% block pageTitle %}
  Code valid
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Code valid - discretionary start date
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <h3 class="govuk-notification-banner__heading">
          TBC - need to understand discretionary start dates!
        </h3>
        </div>
    </div>

    <h1 class="govuk-heading-m">Eligibility code details</h1>


    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Start date
        </dt>
        <dd class="govuk-summary-list__value">
          {{ "today" | govukDate }}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          End date
        </dt>
        <dd class="govuk-summary-list__value">
          {{ "today" | duration(3, 'months') |govukDate }}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Grace period end date
        </dt>
        <dd class="govuk-summary-list__value">
          {{ "today" | duration(4, 'months') |govukDate }}
        </dd>
      </div>
    </dl>

    {% from "govuk/components/button/macro.njk" import govukButton %}

      {{ govukButton({
        text: "Run another check",
        href: '#'
      }) }}

    <div class="govuk-button-group">
      <a class="govuk-link" href="#">Return to dashboard</a>
    </div>

  </div>

</div>


{% endblock %}
