{% extends "/layouts/support/v3/layout-internal.html" %}

{% block pageTitle %}
  Run a batch check for multiple eligibility codes
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-l">Run a check on </h1>

    <ol class="govuk-list govuk-list--number">
      <li>Download the <a href="/public/csv/childcare/research/30h-batch-template.csv">batch check template (CSV, 0.13KB)</a>.</li>
      <li>Add the details of the eligibility codes you need to check.</li>
     <li> Save it as a CSV file.</li>
    </ol>

    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-visually-hidden">Warning</span>
        Your saved file must match the template fields and contain fewer than 5000 rows.
      </strong>
    </div>

    <p>For each eligibility code you need to check, you must include:</p>

    <ul>
      <li>the eligibility code</li>
      <li>a National Insurance number (can be for a parent, guardian or partner)</li>
      <li>the child's date of birth (format DD/MM/YYYY or YYYY-MM-DD)</li>

    </ul>

    {% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}

    {{ govukFileUpload({
      id: "cc-batch-upload",
      name: "cc-batch-upload",
      label: {
        classes: "govuk-label--m",
        text: "Upload a file"
      },
      javascript: true
    }) }}

    {% from "govuk/components/button/macro.njk" import govukButton %}

    {{ govukButton({
      text: "Continue",
      classes: "govuk-button--primary",
      href: '/support/v3/assurance/assurance'
    }) }}

  </div>
</div>

{% endblock %}
