{% extends "layouts/FSM/v8-1/family/layout-dfe-parent.html" %}

{% set pageName="You need a National Insurance number to use this service" %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}



{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">You need a National Insurance number to use this service</h1>


    <p>Use the <a href="https://www.gov.uk/lost-national-insurance-number">find your National Insurance number service</a> if you have lost your National Insurance number.</p>

    <p>You can also <a href="https://www.gov.uk/apply-national-insurance-number">apply for a National Insurance number</a> online.</p>


    <h2 class="govuk-heading-m">Free school meals for families with no recourse to public funds (NRPF)</h2>

    <p>The <a href="../../guidance/parent-guidance">guidance for parents and guardians</a> includes information for families with no recourse to public funds (NRPF).</p>

    <p>NRPF groups can apply using the <a href="../../../_offline/fsm-print-version">free school meals claim form</a>.</p>

    <h2 class="govuk-heading-m">Get help and support</h2>

    <p>If you need more help, please contact your school administrator.</p>



  </div>
</div>

{% endblock %}

