{% extends "/childcare/v1/layouts/layout-childcare.html" %}

{% block pageTitle %}
  Run a batch check
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">


    <h1 class="govuk-heading-l">Batch check history</h1>
    <p class="govuk-!-margin-bottom-0">Showing batch files uploaded in the last 7 days</p>
    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m"></caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Filename</th>
          <th scope="col" class="govuk-table__header">Type</th>
          <th scope="col" class="govuk-table__header">Date submitted</th>
          <th scope="col" class="govuk-table__header">Submitted by</th>
          <th scope="col" class="govuk-table__header">Status</th>
          <th scope="col" class="govuk-table__header">Actions</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">2yearold.csv</td>
          <td class="govuk-table__cell">2 years old early learning</td>
          <td class="govuk-table__cell"> 12 February 2025 4.11pm</td>
          <td class="govuk-table__cell">Janet Eccles</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">In progress</strong></td>
          <td class="govuk-table__cell"><a href="">View progress</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">30h-MCC-feb-25.csv</td>
          <td class="govuk-table__cell">Childcare for working families</td>
          <td class="govuk-table__cell"> 9 February 2025 11.54am</td>
          <td class="govuk-table__cell">Matty Smith</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Completed</strong></td>
          <td class="govuk-table__cell"><a href="">Download outcomes</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">batch-eypp-jan-25.csv</td>
          <td class="govuk-table__cell">Early Years Pupil Premium</td>
          <td class="govuk-table__cell">31 January 2025 9.03am</td>
          <td class="govuk-table__cell">Taylor Johnson</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Error</strong></td>
          <td class="govuk-table__cell"></td>
        </tr>
      </tbody>
    </table>



  </div>
</div>

{% endblock %}