{% extends "layouts/FSM/v8-1/family/layout-dfe-parent.html.html" %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% set pageName="Applying for free school meals: guidance for parents and guardians" %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">Applying for free school meals: guidance for parents and guardians</h1>
        <h2 class="govuk-heading-m">Who can get free school meals?</h2>

        <p class="govuk-body">Free school meals are available to children whose parents are receiving one or more of the following benefits, and meet the conditions attached to each of them. </p>
        <ul class="govuk-list govuk-list--bullet">
            <li>Universal Credit</li>
            <li>Income-related Employment and Support Allowance (ESA) </li>
            <li>Support under Part VI of the Immigration and Asylum Act 1999 </li>
            <li>Pension Credit </li>
        </ul>

        <p>Older individuals who have their own National Insurance number and receive these benefits directly – rather than through a parent and guardian – are also entitled to free school meals if they meet the relevant conditions. </p>

        <h2 class="govuk-heading-m">How to apply for free school meals</h2>
        <p class="govuk-body">Follow these steps to apply for free school meals:</p>
        <ol class="govuk-list govuk-list--number">
            <li>Go to <a href="../start-now-beta-schools">check if your children can get free school meals </a> to find out if you are eligible.</li>
            <li>Complete the online application form in full or get a paper form from your children’s school. </li>
            <li>Your application will be processed, with your information being exchanged between the school and local authority via secure websites. </li>
            <li>You will receive a decision from the school and, if successful, the start date for free school meals.</li>
        </ol>

        <h2 class="govuk-heading-m">Providing the right evidence</h2>
        <p class="govuk-body">If asked to, you’ll need to provide evidence in support of your free school meals application. You should also provide evidence if your application is unsuccessful and you want to re-apply. </p>
        <p class="govuk-body">Choose the relevant section to find out more about each evidence type – and what counts as acceptable evidence.  </p>

        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  Universal Credit statements
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content">
              <p class="govuk-body">You can provide up to three of your most recent Universal Credit statements as evidence.</p>
              <p>These must show your take-home pay and the dates they were sent out. </p>
              <p>If you receive Universal Credit, you will be entitled to free school meals.  </p>
              <p>If your annual net earned income is <strong>no higher than £7,400</strong>  (after tax and including any benefits you get),
                you could receive additional support such as school travel assistance,
                and free holiday clubs places which your local authority can advise you on.
              </p>
            </div>
          </div>

          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                  Support under part VI of the Immigration and Asylum Act 1999
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-2" class="govuk-accordion__section-content">
              <p>If you are an asylum seeker, you will need to provide a document that shows you are receiving relevant support under part VI of the Immigration and Asylum Act 1999.
                It should also show your asylum support reference number.
              </p>
              <p>This will typically be a letter from the Home Office.</p>
            </div>
          </div>

          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                  Income-related Employment and Support Allowance (ESA)
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-3" class="govuk-accordion__section-content">
              <p>You can provide a Letter of Entitlement from the Department for Work and Pensions as evidence. </p>
              <p>If this states that you are currently in receipt of income-related Employment and Support Allowance (ESA), it will allow you to claim free school meals.</p>
            </div>
          </div>

          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                  Pension Credit
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-4" class="govuk-accordion__section-content">
              <p>You can provide a Letter of Entitlement from the Department for Work and Pensions as evidence. This will typically be a Pension Credit M1000 Award Notice. </p>
              <p>If this states that you are currently in receipt of Pension Credit, it will allow you to claim free school meals. </p>
            </div>
          </div>

        </div>


        <h2 class="govuk-heading-m">Ongoing entitlement to free school meals</h2>

        <p>From September 2026, schools and local authorities will carry out annual rechecks for free school meals eligibility using the details you provided in your application.
          If the school or local authority need any details from you when they carry out rechecks, they may contact you.
        </p>
        <p>
          The rechecks will be completed before the start of the autumn term so that eligible children receive free school meals from the start of the school year.
          Results of rechecks are valid for the full school year.
        </p>

        <h2 class="govuk-heading-m">Free school meals for families with no recourse to public funds (NRPF) </h2>
        <p>
          Children in households with no recourse to public funds (NRPF) are also entitled to free school meals, subject to annual household income thresholds.
        </p>
        <p>Eligible groups include: </p>

        <ul>
          <li>Zambrano carers </li>
          <li>families who have no recourse to public funds, but have a right to remain in the UK on grounds of private and family life under Article 8 of the European Convention on Human Rights </li>
          <li>families receiving support under Section 17 of the Children Act 1989 who are also subject to a no recourse to public funds restriction </li>
          <li>a subset of unsuccessful asylum seekers who are supported under Section 4 of the Immigration and Asylum Act 1999 </li>
          <li>Chen carers </li>
          <li>families holding a BN(O) Passport </li>
          <li>spousal visa holders </li>
          <li>work visa holders </li>
          <li>student visa holders </li>
          <li>those with no immigration status </li>
        </ul>

        <h3 class="govuk-heading-s">Annual income thresholds </h3>

        <p>As part of the permanent extension of free school meal entitlement to all NRPF groups, those families able to work must be earning no more than the following maximum annual household incomes: </p>

        <ul>
          <li>£22,700 for families outside of London with 1 child </li>
          <li>£26,300 for families outside of London with 2 or more children </li>
          <li>£31,200 for families within London with 1 child </li>
          <li>£34,800 for families within London with 2 or more children </li>
        </ul>
        <h2 class="govuk-heading-m">Further support</h2>
        <p class="govuk-body">If you need more support, speak to your children’s school. They should be able to advise you on your free school meal status and application. </p>

      </div>
    </div>

{% endblock %}
