{% extends "layouts/layout-dfe-signed-out.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">You cannot use this service</h1>

    <p class="govuk-body">None of your children attend a school currently in this test service.</p>
    <p class="govuk-body">We'll be adding more schools to the test service soon, so you can:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>try again at a later date</li>
        <li>wait until your school asks you to apply</li>
        <li><a href="https://www.gov.uk/apply-free-school-meals">apply now using the existing process</a></li>
  </ul>



{% endblock %}