<!-- <div class="moj-filter-layout">
  <div class="moj-filter-layout__filter">
    <div class="moj-filter">
      <div class="moj-filter__header">
        <h2 class="govuk-heading-m">Filter</h2>
      </div>

      <div class="moj-filter__content">
        <div class="moj-filter__selected">
          <div class="moj-filter__selected-heading">

            <div class="moj-filter__heading-title">
              <h2 class="govuk-heading-m">Selected filters</h2>
            </div>

            <div class="moj-filter__heading-action">
              <p><a class="govuk-link govuk-link--no-visited-state" href="#" onclick="clearFilters()">Clear filters</a>
              </p>
            </div>
          </div>

          <div id="selected-keyword-container" style="display: none;">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Keyword</h3>
            <ul class="moj-filter-tags" id="selected-keyword">
            </ul>
          </div>


          <div id="selected-submission-date-range-container" style="display: none;">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Submission date range</h3>
            <ul class="moj-filter-tags" id="selected-submission-date-range">
            </ul>
          </div>

          <div id="selected-status-container" style="display: none;">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Status</h3>
            <ul class="moj-filter-tags" id="selected-status">
            </ul>
          </div>
        </div>

        <div class="moj-filter__options">

             <div class="govuk-form-group">
            <label class="govuk-label govuk-label--s" for="application">Find an application</label>
            <input class="govuk-input" id="application" name="application" type="text">
          </div>

             <div class="govuk-form-group">
            <label class="govuk-label govuk-label--s" for="school">School</label>
            <input class="govuk-input" id="school" name="school" type="text">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label govuk-label--s" for="keywords">Number of records</label>
            <input class="govuk-input" id="keywords" name="keywords" type="text">
          </div>



          {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

          {{ govukCheckboxes({
          name: "status",
          classes: "govuk-checkboxes--small",
          fieldset: {
          legend: {
          text: "Phase of education",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--s"
          }
          },
          items: [
          {
          value: "status-nursery",
          text: "2-3 years Nursery school"
          },
          {
          value: "status-primary",
          text: "4-11 years Primary school"
          },
          {
          value: "status-secondary",
          text: "11-16 years Secondary school"
          },
          {
          value: "status-all-through",
          text: "4 - 11 years All through"
          },
          {
          value: "status-furthereducation",
          text: "16+ years Further education"
          },
          {
          value: "status-EOTAS",
          text: "EOTAS"
          }
          ]
          }) }}

          <div style="padding-bottom: 0px;">
            <button type="button" class="govuk-button" data-module="govuk-button" id="applyFilter">
              Apply filters
            </button>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="moj-filter-layout__content">
    <div class="moj-action-bar">
      <div class="moj-action-bar__filter"></div>
      <div class="moj-button-menu">
        <div class="moj-button-menu__wrapper">
        </div>
      </div>
    </div> -->



<div class="govuk-grid-row govuk-!-margin-bottom-2" style="justify-content: flex-end;">
  <div class="govuk-grid-column-full" style="display: flex; align-items: center; justify-content: flex-end;">
    <button type="button" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0" id="toggle-filters-btn">
      Hide filters
    </button>
  </div>
</div>

<div id="filter-wrapper" class="govuk-!-margin-bottom-3 govuk-!-padding-4" style="border: 2px solid #b1b4b6; background: #eaeaea;">
  <div class="govuk-form-group" id="filter-container">




      <!-- Phase of education -->
      <div class="govuk-grid-column-one-quarter" style="padding-left: 5px; padding-right: 5px;">
        <div class="govuk-form-group" style="background: white; padding: 15px; min-height: 260px;">
          <fieldset class="govuk-fieldset">
            <div class="govuk-form-group">
            <label class="govuk-label govuk-label--s" for="application">Find an application</label>
          <span id="application-hint" class="govuk-hint govuk-hint--s">For example 44455453 or a parent name</span>

            <input class="govuk-input" id="application" name="application" type="text">
          </div>
          </fieldset>
        </div>
      </div>
    <!-- Search bar -->
       <div class="govuk-grid-column-one-quarter" style="padding-left: 5px; padding-right: 5px;">
        <div class="govuk-form-group" style="background: white; padding: 15px; min-height: 260px;">
          <fieldset class="govuk-fieldset">
            <div class="govuk-form-group">
            <label class="govuk-label govuk-label--s" for="school">School</label>
            <span id="school-hint" class="govuk-hint govuk-hint--s">For example St Georges primary school</span>

            <input class="govuk-input" id="school" name="school" type="text">
          </div>
          </fieldset>
        </div>
      </div>
          <!-- Search bar -->
    <div class="govuk-grid-column-one-quarter" style="padding-left: 5px; padding-right: 5px;">
        <div class="govuk-form-group" style="background: white; padding: 15px; min-height: 260px;">
            <fieldset class="govuk-fieldset" aria-describedby="number-of-records-hint">
                <div class="govuk-form-group">
                    <label class="govuk-label govuk-label--s" for="number-of-records">Number of records</label>
                    <span id="number-of-records-hint" class="govuk-hint govuk-hint--s">Selects the number of records in reference number order</span>
                    <input class="govuk-input govuk-input--width-5" id="number-of-records" name="number-of-records" type="number" inputmode="numeric" min="0" aria-describedby="number-of-records-hint">
                </div>
            </fieldset>
        </div>
    </div>
    <!-- <div class="govuk-!-margin-bottom-5">
      <label class="govuk-label govuk-label--m" for="keywords">Find an application</label>
      <p class="govuk-hint">Enter a name or reference, for example Patel, 2019, Oakwood High or 445566</p>
      <input class="govuk-input" id="keywords" name="keywords" type="text">
    </div> -->


      <!-- Phase of education -->
      <div class="govuk-grid-column-one-quarter" style="padding-left: 5px; padding-right: 5px;">
        <div class="govuk-form-group" style="background: white; padding: 15px; min-height: 260px;">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">Phase of education</legend>
            <p class="govuk-hint govuk-hint--s">Select all that apply</p>
            <div class="govuk-checkboxes govuk-checkboxes">

              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="phase-nursery" name="phase" type="checkbox" value="Nursery">
                <label class="govuk-label govuk-checkboxes__label" for="phase-nursery">2-3 years Nursery</label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="phase-primary" name="phase" type="checkbox" value="Primary">
                <label class="govuk-label govuk-checkboxes__label" for="phase-primary">4-11 years Primary</label>
              </div>
              <!-- <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="phase-junior" name="phase" type="checkbox" value="Junior">
                <label class="govuk-label govuk-checkboxes__label" for="phase-junior">11-14 yrs Junior</label>
              </div> -->
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="phase-secondary" name="phase" type="checkbox" value="Secondary">
                <label class="govuk-label govuk-checkboxes__label" for="phase-secondary">14-16 years Secondary</label>
              </div>
               <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="phase-further" name="phase" type="checkbox" value="Further">
                <label class="govuk-label govuk-checkboxes__label" for="phase-further">16+ Further education</label>
              </div>
            </div>
          </fieldset>
        </div>
      </div>


    </div>

    <!-- Filter actions -->
    <div class="govuk-button-group govuk-!-margin-top-3 govuk-!-margin-bottom-0" style="margin-bottom: 0;">
      <button class="govuk-button" id="apply-filters" type="button">Apply filters</button>
      <a href="#" class="govuk-link" id="clear-filters">Clear filters</a>
    </div>

  </div>
</div>
