{% extends "layouts/FSM/dev/basic/layout-dfe-basic-lanav.html" %}
{% set pageName="Not eligible at time of check" %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Not eligible at time of check
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <p class="govuk-notification-banner__heading">
          The children of this parent or guardian are not eligible for free school meals at the time of the check
        </p>
        <p class="govuk-body">If the parent or guardian thinks they are eligible, ask them to provide supporting evidence. </p>
      </div>
    </div>

    <h2 class="govuk-heading-m">Parent or guardian details checked</h2>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Last name
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data["last-name"] or "Jenkins" }}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Date of birth
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data["dob-day"] or "10" }} {{ data["dob-month"] or "April" }} {{ data["dob-year"] or "1984" }}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          National Insurance number
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data["ni-number-entered"] or "PB123456C" }}
        </dd>
      </div>
    </dl>

    <h2 class="govuk-heading-m govuk-!-margin-top-8">What to do next</h2>

    <p class="govuk-body">If the parent or guardian provides supporting evidence, you'll need to review it and decide if they're eligible.</p>

    <p>If you are a local authority where schools review evidence, the school will need to review supporting evidence provided by the parent or guardian. </p>

    <p class="govuk-body"><a class="govuk-link" rel="noreferrer noopener" target="_blank" href="/FSM/Private_beta/dev/LA_Basic/basic-manage/guidance/evidence-guidance">See a complete list of acceptable evidence (opens in new tab)</a>.</p>


    {% from "govuk/components/button/macro.njk" import govukButton %}

      {{ govukButton({
        text: "Run another check",
        href: '/FSM/Private_beta/dev/LA_Basic/basic-manage/basic-soft-check/checker',
        classes: 'govuk-!-margin-top-6'
      }) }}


    <p>You can <a href="" class="govuk-link" onclick="printPage()">print this page</a> for the parent or guardian to keep.</p>


  </div>
</div>

<script>
  function printPage() {
      window.print();  // This will open the print dialog
  }
</script>

{% endblock %}