{# 1 #}
{% from 'node_modules/dfe-frontend/packages/components/header/macro.njk' import header %}

{# 2 #}
{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{# 3 #}
{% block header %}



{{ header({
  "showNav": "true",
  "showSearch": "false",
  "showHeaderActionLinks": "true",
  "logoPath": "public/images",
  "logoAltText": "Department for Education",
  "homeHref": "/childcare/index-childcare",
  "searchAction": "/search/",
  "searchInputName": "q",
  "service": {
    "name": "",
    "serviceUrl": ""
  },
  "headerActionLinks": [

    {
      "url"  : "#",
      "label" : "Sign out"
    }
  ]


})
}}

{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{{ govukServiceNavigation({
  serviceName: "Check childcare eligibility",
  serviceUrl: "/childcare/v2/dashboard",
  navigation: [
    {
      href: "/childcare/v2/single-check/single",
      text: "Run a check",
      active: true
    },
    {
      href: "/childcare/v2/batch-check/batch",
      text: "Run a batch check"
    },
    {
      href: "#",
      text: "Manage foster families"
    },
    {
      href: "#",
      text: "Run reports"
    },
    {
      href: "#",
      text: "Guidance"
    }
  ]
}) }}

<div class="app-phase-banner__wrapper govuk-!-margin-top-2">

  <div class="govuk-phase-banner app-phase-banner govuk-width-container">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service - your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

</div>

{% endblock %}



{% block footer %}
 {{ govukFooter({
   meta: {
     items: [
       {
         href: "#",
         text: "Privacy policy"
       },
       {
        href: "#",
        text: "Accessibility"
      },
       {
         href: "#",
         text: "Cookies"
       },
       {
        href: "#",
        text: "Contact us"
      },
      {
        href:"/manage-prototype",
        text:"Manage your prototype"
      },
       {
         href: "/manage-prototype/clear-data",
         text: "Clear data"
       }
     ],
     visuallyHiddenTitle: "Footer links"
   }
 }) }}
{% endblock %}

{# 4 #}
{% block scripts %}
  {{ super() }}

{% endblock %}