{% extends "layouts/main.html" %}
{% set pageName=" Eligibility checker prototype" %}
{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column--three-quarters">


    <h1 class="govuk-heading-l">
      {{ serviceName }} design work in progress
    </h1>

    <p class="govuk-body">This a detailed view of ongoing design work to iterate existing pages and journeys in the Private Beta version of the service.</a></p>
    <p class="govuk-body">A more detailed view of all pages included in the Private Beta service prototype is <a href="/indexes/index-private-beta" class="govuk-link">indexed here.</a></p>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break">



    <div class="govuk-tabs" data-module="govuk-tabs">

      <h2 class="govuk-tabs__title">
        Contents
      </h2>

      <ul class="govuk-tabs__list">

        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#design-principles">
            Design principles
          </a>
        </li>

        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#designs-in-progress">
            Designs in progress
          </a>
        </li>

        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#ready-for-testing">
            Ready for testing
          </a>
        </li>

        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#ready-for-dev">
            Ready for dev
          </a>
        </li>

        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#archive-versions">
            Archive
          </a>
        </li>

      </ul>

      <!-------------------Design principles------------------->

      <div class="govuk-tabs__panel" id="design-principles">

        <h2 class="govuk-heading-m">How we design</h2>

        <p class="govuk-body">We design this service using GDS and DfE design standards:</p>

        <ul class="govuk-list govuk-list--bullet">
        <li><a href="https://www.gov.uk/guidance/government-design-principles" class="govuk-link">GDS Design Principles</a></li>
        <li><a href="https://design-system.service.gov.uk/" class="govuk-link">GOV.UK Design System</a></li>
        <li><a href="https://design.education.gov.uk/" class="govuk-link">DfE Design manual</a></li>
        <li><a href="https://design.education.gov.uk/design-system" class="govuk-link">DfE Design system</a></li>
        </ul>

        <p class="govuk-body">We have also used design patterns and components from DWP and MoJ.</p>

        <h2 class="govuk-heading-m">Content design</h2>
        <p class="govuk-body">We use these content standards for designing content in the service:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="https://www.gov.uk/guidance/content-design" class="govuk-link">GDS: Content design: planning, writing and managing content</a></li>
          <li><a href="https://www.gov.uk/guidance/style-guide" class="govuk-link">GOV.UK style guide</a></li>
          <li><a href="https://design.education.gov.uk/design-system/content-design" class="govuk-link">Content design in DfE</a></li>
          <li><a href="https://design.education.gov.uk/design-system/style-guide" class="govuk-link">DfE content style guide</a></li>

        </ul>


      </div>


<!-------------------Designs in progress------------------->

<div class="govuk-tabs__panel" id="designs-in-progress">
  <h2 class="govuk-heading-m">Designs in progress</h2>

  <p class="govuk-body">Iterations of existing pages and exploratory design work on new features.</p>


  <table class="govuk-table">

    <!---row header-->
    <thead class="govuk-table__head">
      <caption class="govuk-table__caption govuk-table__caption--s">TBC</caption>
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Screen</th>
        <th scope="col" class="govuk-table__header">Last updated</th>
        <th scope="col" class="govuk-table__header">ADO ticket</th>
        <th scope="col" class="govuk-table__header">Changes</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <!---row 1--->

      <tr class="govuk-table__row">
        <td class="govuk-table__cell"></td>
        <td class="govuk-table__cell"></td>
        <td class="govuk-table__cell"></td>
        <td class="govuk-table__cell"></td>
      </tr>
      <!---row 2--->
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"></td>
        <td class="govuk-table__cell"></td>
        <td class="govuk-table__cell"></td>
        <td class="govuk-table__cell"></td>
      </tr>
    </tbody>
  </table>
</div>

<!-------------------Ready for testing------------------->

<div class="govuk-tabs__panel" id="ready-for-testing">
  <h2 class="govuk-heading-m">Ready for testing</h2>

  <p class="govuk-body">Design work that's ready for usability testing.</p>

  <table class="govuk-table">

    <!---row header-->
    <thead class="govuk-table__head">
      <caption class="govuk-table__caption govuk-table__caption--s">TBC</caption>
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Screen</th>
        <th scope="col" class="govuk-table__header">Last updated</th>
        <th scope="col" class="govuk-table__header">ADO ticket</th>
        <th scope="col" class="govuk-table__header">Discussion guide?</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <!---row 1--->

      <tr class="govuk-table__row">
        <td class="govuk-table__cell"></td>
        <td class="govuk-table__cell"></td>
        <td class="govuk-table__cell"></td>
        <td class="govuk-table__cell"></td>
      </tr>
      <!---row 2--->
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"></td>
        <td class="govuk-table__cell"></td>
        <td class="govuk-table__cell"></td>
        <td class="govuk-table__cell"></td>
      </tr>
    </tbody>
  </table>
</div>

      <!-------------------Ready for dev handover------------------->

      <div class="govuk-tabs__panel" id="ready-for-dev">
        <h2 class="govuk-heading-m">Ready for dev handover</h2>

  <p class="govuk-body">Design work that has been tested and is ready for handover to the BAs and Devs.</p>
  <p class="govuk-body">These versions will be the ones the devs refer to if they need to.</p>
        <table class="govuk-table">

          <!---row header-->
          <thead class="govuk-table__head">
            <caption class="govuk-table__caption govuk-table__caption--s">TBC</caption>
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Screen</th>
              <th scope="col" class="govuk-table__header">Last updated</th>
              <th scope="col" class="govuk-table__header">ADO ticket</th>
              <th scope="col" class="govuk-table__header">Changes</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <!---row 1--->

            <tr class="govuk-table__row">
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
            </tr>
            <!---row 2--->
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-------------------Archive versions------------------->

      <div class="govuk-tabs__panel" id="archive-versions">
        <h2 class="govuk-heading-m">Alpha to Beta</h2>
          <p class="govuk-body"><a href="../beta-backlog">MVP: January - 5th July 2024</a></p>
          <h2 class="govuk-heading-m">Discovery to Alpha:</h2>

            <p><a href="../v3">Version 3: Nov to Dec 2023</a></p>

            <p><a href="../v2">Version 2: Oct to Nov 2023</a></p>

            <p><a href="../v1">Version 1: Sep to Oct 2023</a></p>

            <h2 class="govuk-heading-m">Archive design resources</h2>
        <ul class="govuk-list">
          <li><a
              href="https://lucid.app/lucidspark/b115cd01-0ac7-4730-afb5-f2642cac497e/edit?viewport_loc=24096%2C4857%2C1920%2C905%2C0_0&invitationId=inv_9afffb46-9124-48a0-a911-020aa830cf69">Ideation
              board (alpha starting point)</a></li>
          <li><a
              href="https://lucid.app/lucidspark/0ba178e2-087d-4f4d-9a5d-fec7410fd0c7/edit?viewport_loc=3804%2C-1463%2C6210%2C2928%2C0_0&invitationId=inv_40d6fdd4-620b-4c70-876e-c178860d978f">Alpha
              roadmap</a></li>
          <li><a href="https://design-histories.education.gov.uk/check-your-eligibility">Design histories</a>
          </li>
          <li><a
              href="https://lucid.app/lucidspark/787b4ce2-8be7-4ac7-b2bd-0e4119920b46/edit?viewport_loc=4599%2C18362%2C2374%2C1119%2C0_0&invitationId=inv_d07de7d0-71dd-4dad-a07d-e8dddd924450">Alpha
              feedback board</a></li>
          <li><a
              href="https://lucid.app/lucidspark/e1cc0279-0165-49c0-a00f-f4acd02f9e5d/edit?viewport_loc=68661%2C-1371%2C11096%2C5232%2C0_0&invitationId=inv_cf261987-6f93-4de4-85b4-3fa1f0892bb8">Alpha
              options</a></li>
          <li><a
              href="https://www.figma.com/file/wBFH28Ok1wLMvDjFKFw67E/DfE---EC-Flows---NEW?type=whiteboard&node-id=0%3A1&t=ubAsUcPp1ax791OV-1">Figma
              - User flows </a></li>
          <li><a href="">Service user journeys - to be</a></li>
          <li><a
              href="https://lucid.app/lucidspark/48bcf3ed-c0de-4d1a-8155-e07c9d08316d/edit?viewport_loc=160722%2C95969%2C8677%2C4115%2C0_0&invitationId=inv_7aafb472-fbca-4087-8e87-7d578024f55d">Design
              history V1</a></li>
          <li><a
              href="https://lucid.app/lucidspark/7464ef00-abc1-4654-8b31-115a1fcbfee2/edit?invitationId=inv_bfe11609-a5a2-4278-83c4-524f0ed041bf&page=0_0#">MVP
              feature set</a></li>
        </ul>
      </div>



                {% endblock %}