{% extends "layouts/FSM/v7-5/welsh/layout-dfe-welshnav.html" %}

{% set pageName="Outcome not entitled" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Check failed
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <p class="govuk-notification-banner__heading">Universal Credit statements needed to perform the check may not be currently available.</p>
        <p>This could change in as little as 1 working day – keep checking for 4 to 6 weeks.</p>
      </div>
    </div>

    <h1 class="govuk-heading-l">Contact the school</h1>

  <p>You could ask the school for the parent or guardian’s latest Universal Credit statements (up to 3), then <a target="_blank" href="guidance">review them as evidence</a>.</p>

<h2 class="govuk-heading-m">If the check keeps failing</h2>
  <p>If the check still fails after 6 weeks, contact the <a href="https://forms.office.com/Pages/ResponsePage.aspx?id=yXfS-grGoU2187O4s0qC-URYbNo1-R1EubHA0gNJis5UOVo3VU1KV0E0QkxTMFQ0RFZQUUZCR0E0WC4u" class="gov-link"> Department for Education support desk</a>.</p>


        </div>
      </div>

    </div>



















  </div>
</div>

{% endblock %}

















