{% extends "layouts/FSM/v8-1/basic/layout-dfe-basic-lanav.html" %}

{% set eligibilityType = data["eligibilityType"] or "expanded" %}

{% if eligibilityType == "targeted" %}
  {% set pageName = "Children eligible for targeted support" %}
  {% set outcomeTitle = "Children eligible for targeted support" %}
  {% set outcomeMessage = "are eligible for free school meals and additional benefits." %}
  {% set policyLabel = "Targeted FSM" %}
{% else %}
  {% set pageName = "Children eligible for free school meals" %}
  {% set outcomeTitle = "Children eligible for expanded free school meals" %}
  {% set outcomeMessage = "are eligible for free school meals only." %}
  {% set policyLabel = "Expanded FSM" %}
{% endif %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-notification-banner govuk-notification-banner--success"
         role="alert"
         aria-labelledby="govuk-notification-banner-title"
         data-module="govuk-notification-banner">

      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          {{ outcomeTitle }}
        </h2>
      </div>

      <div class="govuk-notification-banner__content">
        <h3 class="govuk-notification-banner__heading">
          The children of {{ data["parent-firstname"] or "Derrick" }} {{ data["parent-surname"] or "Stark" }} {{ outcomeMessage }}
        </h3>

       <!-- <p class="govuk-body">
  <strong>Support level:</strong>

  <strong class="govuk-tag
    {% if eligibilityType == 'targeted' %}
      govuk-tag--purple
    {% else %}
      govuk-tag--green
    {% endif %}
  ">
    {{ policyLabel }}
  </strong>
</p> -->
      </div>

    </div>



    <h2 class="govuk-heading-m">Eligibility details</h2>

<dl class="govuk-summary-list">

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Status</dt>
    <dd class="govuk-summary-list__value">
      <strong class="govuk-tag
        {% if eligibilityType == 'targeted' %}
          govuk-tag--purple
        {% else %}
          govuk-tag--green
        {% endif %}
      ">
        {% if eligibilityType == "expanded" %}
          Eligible targeted
        {% else %}
          Eligible expanded
        {% endif %}
      </strong>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Eligibility end date</dt>
    <dd class="govuk-summary-list__value">31 August 2026</dd>
  </div>

</dl>

    <p>This information should be passed on to their school.</p>
  <p>You can <a href="" class="govuk-link" onclick="printPage()">print this page</a> for the parent or guardian to keep.</p>
    <script>
      function printPage() {
        window.print();
      }
    </script>

    <div class="govuk-button-group">
      <a href="../checker" class="govuk-button" role="button" data-module="govuk-button">
        Do another check
      </a>
      <!-- <a class="govuk-link" href="../../apply/outcome-eligible-childs-age.html">
        Continue to add child details
      </a> -->
    </div>

  </div>
</div>

{% endblock %}

{% block pageScripts %}
  <script type="text/javascript" src="/public/javascripts/moj/all.js"></script>
{% endblock %}