//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here
@import 'node_modules/dfe-frontend-alpha/packages/dfefrontend';


.govuk-width-container {max-width: 1200px;}


.dfe-width-container {max-width: 1200px;}

// CARDS

.dfe-card-container{
    padding-left: 0 !important;
    
}

.dfe-grid-container {
    display:flex;
    flex-direction:column;
    grid-gap:15px
  }
  @media (min-width:40.0625em) {
    .dfe-grid-container {
      display:grid;
      grid-template-columns:repeat(auto-fill,minmax(250px,1fr));
      grid-gap:30px
    }
    .dfe-grid-container.dfe-grid-container--wider {
      grid-template-columns:repeat(auto-fill,minmax(350px,1fr))
    }
  }
  .dfe-card {
    position:relative;
    background-color:#f3f2f1;
    border-bottom:3px solid #003a69;
    max-width:400px
  }


  @media (max-width:40.0525em) {
    .dfe-card {
      max-width:100%
    }
  }
  .dfe-card>picture,
  .dfe-card>picture>img {
    max-width:100%
  }
  .dfe-card-container {
    padding:20px;
    border-bottom:5px solid #003a69;
  }
  .dfe-card:focus-within,
  .dfe-card:hover {
    background-color:#003a69;
    cursor: pointer;

  }
  .dfe-card:focus-within a,
  .dfe-card:focus-within p,
  .dfe-card:hover a,
  .dfe-card:hover p {
    color:#fff
  }
  .dfe-card:focus-within {
    outline:3px solid #fd0
  }
  .dfe-card-container .dfe-card-link--header:focus,
  .dfe-card-container .dfe-card-link--retake:focus {
    color:#0b0c0c
  }
 



