{% extends "/layouts/childcare/v2/layout-childcare.html" %}

{% block pageTitle %}
  Enter the carer details
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}



    <div class="govuk-grid-row">


      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">Confirm eligibility for Archana Mistry</h1>


        <form class="form" action="/childcare/v2/foster/actions/code-created" method="post" novalidate>


            {% from "govuk/components/input/macro.njk" import govukInput %}


            {{ govukDateInput({
              id: "submitted-date",
              namePrefix: "submitted-date",
              fieldset: {
                legend: {
                  text: "Application submitted",
                  isPageHeading: false,
                  classes: "govuk-fieldset__legend--s"
                }
              },
              hint: {
                text: "Hint text"
              },
              items: [
                {
                  name: "day",
                  classes: "govuk-input--width-2",
                  value: "24"
                },
                {
                  name: "month",
                  classes: "govuk-input--width-2",
                  value: "04"
                },
                {
                  name: "year",
                  classes: "govuk-input--width-4",
                  value: "2025"
                }
              ]
            }) }}


            {{ govukDateInput({
              id: "confirmed-date",
              namePrefix: "confirmed-date",
              fieldset: {
                legend: {
                  text: "Eligibility confirmed",
                  isPageHeading: false,
                  classes: "govuk-fieldset__legend--s"
                }
              },
              hint: {
                text: "Hint text"
              },
              items: [
                {
                  name: "day",
                  classes: "govuk-input--width-2",
                  value: "24"
                },
                {
                  name: "month",
                  classes: "govuk-input--width-2",
                  value: "04"
                },
                {
                  name: "year",
                  classes: "govuk-input--width-4",
                  value: "2025"
                }
              ]
            }) }}

            {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

            {{ govukCheckboxes({
              name: "children",
              fieldset: {
                legend: {
                  text: "Children to create codes for",
                  classes: "govuk-fieldset__legend--s"
                }
              },
              items: [
                {
                  value: "child 1",
                  text: "Jasper Hayes",
                  checked: "true"
                }
              ]
            }) }}

            <p>By confirming eligibility, you agree to something blah blah blah</p>


          {% from "govuk/components/button/macro.njk" import govukButton %}

          {{ govukButton({
            text: "Confirm eligibility and create codes"
          }) }}


        </form>

      </div>

    </div>



{% endblock %}