{% extends "layouts/layout-dfe.html" %}

{% set pageName="Home" %}

{% set parentName="Eden Tesfay" %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">




    <span class="govuk-hint">John Spencer</span>
    <h1 class="govuk-heading-l">
    Manchester City Council 
    </h1>


    <div class="govuk-grid-row">

            
      <div class="govuk-grid-column-full">
        

<div class="dfe-grid-container">


    
  <div class="card-container govuk-tag--red govuk-!-padding-3">

    <div class="dash-card">
      
      <a class="govuk-link--no-underline" href="applications-pending">



        <div class="govuk-tag--red govuk-!-padding-3">

          <h2 class="govuk-heading-xl govuk-tag--red">85</h2>
          <div class="hods-card__body">
            <p class="govuk-body-m govuk-tag--red">Applications being appealed</p>
          </div>
        </div>
      </a>
  </div>
  </div>
  <div class="card-container govuk-tag--orange govuk-!-padding-3">

    <div class="dash-card">
      
      <a class="govuk-link--no-underline" href="applications-queried">



        <div class="govuk-tag--orange govuk-!-padding-3">

          <h2 class="govuk-heading-xl govuk-tag--orange">122</h2>
          <div class="hods-card__body">
            <p class="govuk-body-m govuk-tag--orange">Applications applications being queried</p>
          </div>
        </div>
      </a>
  </div>
  </div>



    <div class="card-container govuk-tag--green govuk-!-padding-3">

      <div class="dash-card">
        
        <a class="govuk-link--no-underline" href="applications-approved">



          <div class="govuk-tag--green govuk-!-padding-3">
  
            <h2 class="govuk-heading-xl govuk-tag--green">153</h2>
            <div class="card__body">
              <p class="govuk-body-m govuk-tag--green">Applications approved by schools</p>
            </div>
          </div>
        </a>
    </div>
    </div>

  










</div>


        
      </div>  
    
    </div>

  
  </div>
</div>

{% endblock %}