{% extends "/layouts/support/v3/layout-internal.html" %}

{% block pageTitle %}
  Support
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">


    <h1 class="govuk-heading-l">Eligibility checking engine internal</h1>


    <div class="dfe-grid-container">

      <div class="dfe-card">
        <div class="dfe-card-container">
          <h2 class="govuk-heading-m">
              <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="/support/v3/single-check/30h/enter-details">Run a working families single check</a>
          </h2>
          <p>Run a check for one eligibility code.</p>
        </div>
      </div>



       <div class="dfe-card">
        <div class="dfe-card-container">
          <h2 class="govuk-heading-m">
              <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="/support/v3/event-history/search-code">View eligibility code history</a>
          </h2>
          <p>View the event listing for a working families code, showing application and reconfirmation history.</p>
        </div>
      </div>

       <div class="dfe-card">
        <div class="dfe-card-container">
          <h2 class="govuk-heading-m">
              <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="/support/v3/assurance/assurance">Check whether codes were valid in a previous term</a>
          </h2>
          <p>Run a report to check if codes were valid in a previous term. </p>
        </div>
      </div>

       <div class="dfe-card">
        <div class="dfe-card-container">
          <h2 class="govuk-heading-m">
              <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="/support/v3/cross-border/select-term">View codes checked by multiple local authorities</a>
          </h2>
          <p>TBC </p>
        </div>
      </div>


    </div>



  </div>
</div>

{% endblock %}