{% extends "/childcare/v1/layouts/layout-childcare.html" %}

{% block pageTitle %}
  Childcare
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l">Manchester City Council</h1>


    <div class="dfe-grid-container">

      <div class="dfe-card">
        <div class="dfe-card-container">
          <h2 class="govuk-heading-m">
              <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="/childcare/v1/single">Run a check</a>
          </h2>
          <p>Run a check for one parent or guardian or eligibility code.</p>
        </div>
      </div>


        <div class="dfe-card">
          <div class="dfe-card-container">
            <h2 class="govuk-heading-m">
                <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="/childcare/v1/batch">Run a batch check</a>
            </h2>
            <p>Upload a file to check for multiiple... View batch history</p>
          </div>
        </div>

        <div class="dfe-card">
          <div class="dfe-card-container">
            <h2 class="govuk-heading-m">
                <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="#">Manage foster families</a>
            </h2>
            <p>some words</p>
          </div>
        </div>


        <div class="dfe-card">
          <div class="dfe-card-container">
            <h2 class="govuk-heading-m">
                <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="">Reports</a>
            </h2>
            <p>Run reports on...</p>
          </div>
        </div>

        <div class="dfe-card">
          <div class="dfe-card-container">
            <h2 class="govuk-heading-m">
                <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="">Guidance</a>
            </h2>
            <p>Read guidance...</p>
          </div>
        </div>

    </div>


  </div>
</div>

{% endblock %}