{% extends "layouts/FSM/v8-0/basic/layout-dfe-basic-lanav.html" %}
{% set pageName="How to complete checks when the parent or guardian is an asylum seeker" %}


{% block beforeContent %}
{% include "_includes/layouts/back_link.html" %}
{% endblock %}

{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l"> {{pageName}}
    </h1>


    <p>Some parents who are claiming asylum are eligible for free school meals under separate eligibility criteria.
      These families may not have a National insurance number and cannot be processed through our standard online free school meals
      checking system.</p>
    <p>To ensure fair access, local authorities must use the offline form to check eligibility for these families.</p>


    <h2 class="govuk-heading-m" id="accessing-the-offline-form">Accessing the offline form</h2>

    <p class="govuk-body">Local authorities must use the approved offline free school meals application form for asylum seekers.</p>
    <p class="govuk-body">This document is classified as <b>OFFICIAL-SENSITIVE</b>. Only authorised local authority
      staff should access and complete it.</p>

    <p class="govuk-body"><a class="govuk-link" href="#">Access the official free school meals application form (authorised users
        only)</a></p>

    <h2 class="govuk-heading-m" id="when-to-use-an-offline-form">When to use the offline form when the parent or guardian:</h2>

    <!-- <p>When to use an offline form:</p> -->
    <ul>
      <li>is seeking asylum</li>
      <li>does not have a National insurance number</li>
      <li>cannot be verified through the online system</li>
      <li>meets the free school meals criteria under asylum support arrangements</li>
    </ul>
    <h2 class="govuk-heading-m" id="how-las-should-support-families">How local authorities should support families</h2>
    <p>You must:</p>
    <ul>
      <li>provide information about the offline form and how to complete it</li>
      <li>offer assistance to families who may have difficulty completing the form</li>
      <li>request supporting evidence confirming asylum support status</li>
      <li>ensure that the form is submitted to the Home Office for confirmation</li>
      <li>communicate the outcome of the application to the family in a timely manner</li>
    </ul>

    <h2 class="govuk-heading-m" id="submitting-and-storing-the-form">Submitting and storing the form</h2>

    <p>Local authorities must ensure that the offline form is submitted securely and stored appropriately. This
      includes:</p>
    <ul>
      <li>using secure methods to submit the form to the Home Office</li>
      <li>keeping a copy of the submitted form and any supporting evidence</li>
      <li>storing all documents securely to protect the family's privacy</li>
    </ul>


    <h3 class="govuk-heading-m" id="further-assistance">Help and support</h3>

    <p>For further help and support, contact our support team using the <a href="https://customerhelpportal.education.gov.uk/" class="govuk-link">Customer help portal</a>.</p>

  </div>
    {% endblock %}