{% extends "layouts/FSM/v8-0/basic/layout-dfe-basic-lanav.html" %}
{% set pageName="Run a batch check" %}
{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l"> {{pageName}}
    </h1>

    <h2 class="govuk-heading-m">Background</h2>
    <p>You can run a batch check to verify the eligibility of multiple children for free school meals.</p>


    <h3 class="govuk-heading-m">Batch check guidance-steps</h3>

    <p>You have 3 steps to complete a batch check:</p>
    <ul class="govuk-body">
      <li>Download the CSV file template.</li>
      <li>Fill in the template with the required information for each child.</li>
      <li>Review any errors in the uploaded file and make any corrections before uploading.</li>
    </ul>

    <p>Use a file size smaller than X MB.</p>

    <!-- <img alt="Description about the image" class="govuk-image" style="max-width: 500%; height: auto;" src="/public/images/guidance-images/batchcheck-temp-image.png"> -->

    <p><b>Example of the batch check template</b></p>

    <p><img src="/public/images/guidance-images/batchcheck-temp-image.png" class="govuk-image"
        style="max-width: 90%; height: auto;" alt="Descriptive text about the image"></p>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m">Upload the file</h3>
    <p>With the completed file you can upload it. Select the 'Run a batch check' on the dashboard.</p>
    <p>Click on 'Choose file' (see below). You will be presented with a browsing window that allows you to find and select the file you created in the first step. Select the file and click 'Open'.</p>
    <p>Run a batch check to process the file.</p>


</p>


    <p><img src="/public/images/guidance-images/batchcheck-screen1.png" class="govuk-image"
        style="max-width: 90%; height: auto;" alt="Descriptive text about the image"></p>


        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m">Errors</h3>
    <p>If there are issues with your data, you’ll see an error page
listing the problem rows in the CSV file. For example: “Line 10:
Issue with date of birth.”

To fix this:​

Open the CSV file and locate the line mentioned (e.g., “Line 10”).​

Note: “Line 1” refers to the first row where you entered a
parent’s information.​

Correct the data and save the file.​

Re-upload the updated file and click Run Check again.​</p>


        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


    <h3 class="govuk-heading-m">Results you may see</h3>
    <p><b>Entitled:</b> The children of this parent or guardian are entitled to free school meals.​</p>
    <p><b>May not be entitled:</b> The children may not be entitled. Provide supporting evidence for your local
      authority to review.​</p>

    <p><b>Could not check:</b> The parent or guardian’s information does not match departmental records.​</p>
    <p><b>Error:</b> There was an issue accessing the data for this parent or guardian.</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


    <h3 class="govuk-heading-m">Further assistance</h3>

    <p>Text about further assistance.</p>


    {% endblock %}