{% extends "layouts/FSM/v8-0/basic/layout-dfe-basic-lanav.html" %}
{% set pageName="Guidance for running a batch check" %}


{% block beforeContent %}
{% include "_includes/layouts/back_link.html" %}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l"> {{pageName}}
    </h1>

    <p>You can run a batch check to verify the eligibility of multiple children for free school meals.</p>


    <h3 class="govuk-heading-m">Batch check steps</h3>

    <p>You have 3 steps to complete a batch check.</p>
    <ol class="govuk-body">
      <li>Download the CSV file template.</li>
      <li>Fill in the template with the required information for each child.</li>
      <li>Review any errors in the file and make any corrections before uploading.</li>
    </ol>

    <p>Use a file size smaller than X MB.</p>

    <!-- <img alt="Description about the image" class="govuk-image" style="max-width: 500%; height: auto;" src="/public/images/guidance-images/batchcheck-temp-image.png"> -->

    <p><b>Example of the batch check template</b></p>

    <p><img src="/public/images/guidance-images/batchcheck-temp-image.png" class="govuk-image"
        style="max-width: 90%; height: auto;" alt="Spreadsheet example"></p>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m">Upload the file</h3>
    <p>To upload the file, select <b>Choose file</b>.</p>
    <p>You will be presented with a window where you can find and select the file you created and completed in the first step. Select the file, then select <b>Open</b>.</p>
    <p>Select <b>Run a batch check</b> to process the file.</p>


</p>


    <p><img src="/public/images/guidance-images/batchcheck-screen1.png" class="govuk-image"
        style="max-width: 90%; height: auto;" alt="Batch check screen"></p>


        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m">Errors</h3>
    <p>If there are issues with your data, you’ll see an error page listing the problem rows in the CSV file.
      </p>


    <p><img src="/public/images/guidance-images/batchcheck-error-rows.jpeg" class="govuk-image"
          style="max-width: 90%; height: auto;"></p>

      <div class="govuk-inset-text">
Example<br>
Line 9: Issue with date of birth.</div>


    <p>To fix the errors:</p>
    <ul class="govuk-body">
      <li>open the CSV file and locate the relevant line, for example 'Line 9'</li>
      <li>Correct the data and save the file again</li>
      <li>Upload the updated file and click <b>Run a batch check</b></li>
    </ul>

          <p>“Line 1” refers to the first row where you entered a parent’s information not row 1 on the spreadsheet.</p>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m">Results of batch checks</h3>
    <p><b>Entitled:</b> The children of this parent or guardian are entitled to free school meals.​</p>
    <p><b>May not be entitled:</b> The children may not be entitled. Provide supporting evidence for your local
      authority to review.​</p>

    <p><b>Could not check:</b> The parent or guardian’s information does not match departmental records.​</p>
    <p><b>Error:</b> There was an issue accessing the data for this parent or guardian.</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">



    <h3 class="govuk-heading-m" id="further-assistance">Help and support</h3>

    <p>For further help and support, contact our support team using the <a href="https://customerhelpportal.education.gov.uk/" class="govuk-link">Customer help portal</a>.</p>


    {% endblock %}