{% extends "/layouts/support/v1/layout-support.html" %}

{% block pageTitle %}
  Batch checks queue
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">





     <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Important
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <p class="govuk-notification-banner__heading">
          Over 50,000 individual checks in the queue
        </p>
        <p>Batch check files may be in the queue for longer when the queue is this long.</p>
      </div>
    </div>



    <h1 class="govuk-heading-l">Batch checks queue</h1>

    <div>
      <div class="govuk-form-group govuk-!-width-one-half govuk-!-display-inline-block">
        <label class="govuk-label govuk-label--s" for="queue-search">
          Search by filename, email address or organisation
        </label>
        <input class="govuk-input" id="queue-search" name="queue-search" type="text">
      </div>
      <button type="submit" class="govuk-button govuk-!-display-inline-block govuk-!-margin-top-6 govuk-!-margin-left-1" data-module="govuk-button">
        Search
      </button>
    </div>

     <div class="govuk-form-group">
          <label class="govuk-label" for="sort">
            Sort by
          </label>
          <select class="govuk-select" id="sort" name="sort">
            <option value="submitted-old">Date submitted (oldest to newest)</option>
            <option value="submitted-new" >Date submitted (newest to oldest)</option>
            <option value="type">Eligibility type</option>
            <option value="method">Method</option>
            <option value="rows">Number of rows</option>
            <option value="org">Organisation</option>
            <option value="status" selected>Status</option>
            <option value="user">Uploaded by</option>
          </select>
        </div>



    <table class="govuk-table govuk-table--small-text-until-tablet">
      <caption class="govuk-table__caption govuk-table__caption--s govuk-!-margin-bottom-4">Showing 4 batch check files from the last 48 hours</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Filename</th>
          <th scope="col" class="govuk-table__header">Uploaded by</th>
          <th scope="col" class="govuk-table__header">Organisation</th>
          <th scope="col" class="govuk-table__header">Eligibility type</th>
          <th scope="col" class="govuk-table__header">Method</th>
          <th scope="col" class="govuk-table__header">Number of rows</th>
          <th scope="col" class="govuk-table__header">Date submitted</th>
          <th scope="col" class="govuk-table__header">Date started</th>
          <th scope="col" class="govuk-table__header">Status</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">data_001.csv</td>
          <td class="govuk-table__cell">j.smith@leeds.gov.uk</td>
          <td class="govuk-table__cell">Leeds City Council</td>
          <td class="govuk-table__cell">Free school meals</td>
          <td class="govuk-table__cell">API</td>
          <td class="govuk-table__cell">2456</td>
          <td class="govuk-table__cell">9 October 2025 4.34pm</td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">Not started</strong></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">EYPPbatch.csv</td>
          <td class="govuk-table__cell">t.gregson@essex.gov.uk</td>
          <td class="govuk-table__cell">Essex County Council</td>
          <td class="govuk-table__cell">Early years pupil premium</td>
          <td class="govuk-table__cell">Web</td>
          <td class="govuk-table__cell">498</td>
          <td class="govuk-table__cell">9 October 2025 5.12pm</td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">Not started</strong></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">9-10-25-CCWF.csv</td>
          <td class="govuk-table__cell">sally.smith@mcc.gov.uk</td>
          <td class="govuk-table__cell">Manchester city council</td>
          <td class="govuk-table__cell">Childcare for working families</td>
          <td class="govuk-table__cell">API</td>
          <td class="govuk-table__cell">133</td>
          <td class="govuk-table__cell">9 October 2025 3.02pm</td>
          <td class="govuk-table__cell">{{ "today" | govukDate }} {{ "now" | govukTime }}</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">In progress</strong></td>
        </tr>
         <tr class="govuk-table__row">
          <td class="govuk-table__cell">2yosep.csv</td>
          <td class="govuk-table__cell">amanda.knowles@bcc.gov.uk</td>
          <td class="govuk-table__cell">Bolton Council</td>
          <td class="govuk-table__cell">Early learning for 2-year-olds</td>
          <td class="govuk-table__cell">Web</td>
          <td class="govuk-table__cell">368</td>
          <td class="govuk-table__cell">8 October 2025 6.38pm</td>
          <td class="govuk-table__cell">8 October 2025 9.45pm</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Completed</strong></td>
        </tr>
      </tbody>
    </table>


  </div>
</div>

{% endblock %}
