{% extends "layouts/FSM/v7-5/layout-dfe-signed-out.html" %}
{% set pageName="Find out if a school is included" %}


{% block pageScripts %}
<script type="text/javascript" src="/public/javascripts/autocomplete.js"></script>
<script type="text/javascript">
  accessibleAutocomplete.enhanceSelectElement({
    defaultValue: '',
    selectElement: document.querySelector('#school-picker')
  })
  document.addEventListener('DOMContentLoaded', function () {

    var addAnotherButton = document.querySelector('.moj-add-another__add-button');
    var removeButton = document.querySelectorAll('.moj-add-another__remove-button');
    removeButton.forEach(function (button) {
      button.addEventListener('click', updateLegends);
    });
    addAnotherButton.addEventListener('click', updateLegends);
    function updateLegends() {
      setTimeout(() => {
        const legends = document.querySelectorAll('.moj-add-another__title');
        legends.forEach(function (legend, index) {
          legend.innerHTML = `Child ${index + 1}`;
        });
        var removeButton = document.querySelectorAll('.moj-add-another__remove-button');
        removeButton.forEach(function (button) {
          button.addEventListener('click', updateLegends);
        });
      }, 50);
    }
  })

</script>
{% endblock %}

{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title"
      data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Important
        </h2>
      </div>

      <div class="govuk-notification-banner__content">
        <p class="govuk-notification-banner__heading">
          Not all schools are included in this new service.
        </p>
        <p class="govuk-body">This is a new service that is being tested in some local authorities.</p>

      </div>
  </div>


  <h1 class="govuk-heading-l">{{pageName}}</h1>
  <p>Use the school picker to see if your child's school is included in the new service that is being tested.</p>

  {% include "../../../../_includes/schools-beta.html" %}
  </select>
  <div>

    <form action="beta-school-check-show" method="post">
      <div style="padding-bottom: 24px;"></div>
      {{ govukButton({
        text: "Continue",
        isStartButton: false
      }) }}
    </form>
  </div>
<!--
  <script>
    document.getElementById('schoolForm').addEventListener('submit', function (e) {
      const allowedSchools = [
        "Bradley Primary School",
        "Burley Oaks Primary School",
        "Cononley Primary School",
        "Ermysteds Grammar School",
        "Grassington Primary School",
        "Ilkley Grammar School",
        "Settle College",
        "South Craven School",
        "Upper Wharfedale School"
      ];
      const selectedSchool = document.getElementById('school-picker').value;
      if (!allowedSchools.includes(selectedSchool)) {
        e.preventDefault();
        alert('Sorry, your selected school is not part of this test service.');
      }
    });
  </script> -->
</div>
</div>

{% endblock %}