{% extends "layouts/layout-dfe.html" %}

{% set pageName="Home" %}




{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <h1 class="govuk-heading-l">Check sibling details before submitting</h1>

    {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{{ govukSummaryList({
  rows: [

  {
    key: {
      text: "Child"
    },
    value: {
      text: "Tim Tesfay"
    },
    actions: {
      items: [
        {
          href: "#",
          text: "Change",
          visuallyHiddenText: "child"
        }
      ]
    }
  },

    {
      key: {
        text: "Date of birth"
      },
      value: {
        text: "07 Sep 2019"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "dob"
          }
        ]
      }
    },

    {
      key: {
        text: "Previous School"
      },
      value: {
        html: "St Mary's"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "school"
          }
        ]
      }
    },

    {
      key: {
        text: "Address"
      },
      value: {
        html: "26 Cherry Tree Lane, Chorlton, Manchester, M33 8HG "
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "address"
          }
        ]
      }
    },
    {
      key: {
        text: "Contact details"
      },
      value: {
        html: '07709654999'
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Add",
            visuallyHiddenText: "contact details"
          },
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "contact details"
          }
        ]
      }
    }
  ]
}) }}

    


    

    


    <form action="approved?sibling=added" method="post" novalidate>

      <input type="hidden" name="sibling-added" value="true">


      <button class="govuk-button govuk-!-margin-top-5" data-module="govuk-button">
       Submit change
      </button>


    </form>

    

  </div>
</div>




















</div>

</div>


</div>
</div>

{% endblock %}