{% extends "layouts/layout-dfe.html" %}









{% block backLink %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}


<!-- The content between the heading 1 and the buttons -->

{% block content %}



<div class="govuk-grid-row govuk-!-margin-bottom-5">
  <div class="govuk-grid-column-full">


    <span class="govuk-hint">Reference: 44455453</span>





{% from "moj/components/page-header-actions/macro.njk" import mojPageHeaderActions %}

{{ mojPageHeaderActions({
  heading: {
    text: 'Eden Tesfay'
  },
  items: [{
    text: 'Add sibling',
    href:'add-sibling',
    classes: 'govuk-button--secondary'
  }
  
  ]
}) }}







    
    
    





  </div>

</div>




<h2 class="govuk-heading-l govuk-!-margin-bottom govuk-!-font-size-36">Overview</h2>



{{ govukSummaryList({
  card: {
  title: {
  text: "Child 1"
  },
  actions: {
  items: [
  
  
  {
  href: "#",
  text: "Edit details",
  visuallyHiddenText: "from application"
  }
  ]
  }
  },
  rows: [
  
 
     
    {
      key: {
        text: "Name"
      },
      value: {
        html: "Sam Tesfay"
      }
    },
     
    {
      key: {
        text: "Date of birth"
      },
      value: {
        html: "18 November 2018"
      }
    },
    {
      key: {
        text: "Address"
      },
      value: {
        html: "26 Cherry Tree Lane, Chorlton, Manchester, M33 8HG "
      }
    }
    


  
  ]
  }) }}

<!-- PERSON -->


{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{{ govukSummaryList({
  card: {
    title: {
      text: "Parent / carer"
    },
    actions: {
      items: [
        {
          href: "#",
          text: "Edit details",
          visuallyHiddenText: "of University of Gloucestershire"
        }
       
      ]
    }
  },
  rows: [



    {
      key: {
        text: "Name"
      },
      value: {
        html: "Eden Tesfay"
      }
    },
     
    {
      key: {
        text: "Relationship"
      },
      value: {
        html: "Parent"
      }
    },

    {
      key: {
        text: "Nationality"
      },
      value: {
        html: "Eritrean"
      }
    },
     
    {
      key: {
        text: "Date of birth"
      },
      value: {
        html: "01 September 1988"
      }
    },
    {
      key: {
        text: "National Insurance / NASS"
      },
      value: {
        html: "098765432211"
      }
    }
     
    

  ]
}) }}










{% endblock %}

{% block buttons %}
{% endblock %}

{% block pageScripts %}
<!-- Add any javascript files here. Include javascript files only on the pages
that need them. Excessive javascript files loaded on other pages may slow down
the response times of the prototype. -->
<script type="text/javascript" src="/public/javascripts/moj/all.js"></script>
<script>
  new MOJFrontend.ButtonMenu({
    container: $(".moj-button-menu"),
    mq: "(min-width: 200em)",
    buttonText: "Task actions",
    buttonClasses:
      "",
  });
</script>

{% endblock %}