{% extends "layouts/layout-dfe.html" %}









{% block backLink %}
{{ govukBackLink({
text: "Back",
href: "/"
}) }}
{% endblock %}




{% block content %}



<div class="govuk-grid-row govuk-!-margin-bottom-5">
  <div class="govuk-grid-column-full">


    <span class="govuk-hint">Reference 44455453</span>


    {{ mojPageHeaderActions({
      heading: {
        text: 'Eden Tesfay'
      },
      items: [{
        text: 'Add sibling',
        href:'add-sibling',
        classes: 'govuk-button--secondary'
      }, {
        text: 'Transfer school',
        href:'transfer-school',
        classes: 'govuk-button--secondary'
      }]
    }) }}
    
    






  

      {%- from "moj/components/ticket-panel/macro.njk" import mojTicketPanel -%}

      {{ mojTicketPanel({
      attributes: {
      'aria-label': 'Review evidence'
      },
      items: [
      {
      html: '
      
      <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Make sure to review all supporting evidence before making a decision.</h2>
      <p class="govuk-body">Make sure to review all supporting evidence before making a decision.</p>

      <form action="supporting-evidence" method="post" novalidate>

        <input type="hidden" name="approve-application" value="yes">


      <button class="govuk-button" data-module="govuk-button">
        Review evidence
      </button>

  ',
      attributes: {
      'aria-label': 'Section 1'
      },
      classes: 'moj-ticket-panel__content--blue'
      }]
      }) }}


   
    </form>




  </div>

</div>







<!-- PERSON -->
<h2 class="govuk-heading-l govuk-!-margin-bottom govuk-!-font-size-36">Overview</h2>



{{ govukSummaryList({
  card: {
  title: {
  text: "Child 1"
  },
  actions: {
  items: [
  
  {
  href: "#",
  text: "Edit details",
  visuallyHiddenText: "from application"
  }
  ]
  }
  },
  rows: [
  
 
     
    {
      key: {
        text: "Name"
      },
      value: {
        html: "Sam Tesfay"
      }
    },
     
    {
      key: {
        text: "Date of birth"
      },
      value: {
        html: "18 November 2018"
      }
    },
    {
      key: {
        text: "Address"
      },
      value: {
        html: "26 Cherry Tree Lane, Chorlton, Manchester, M33 8HG "
      }
    },
     
    {
      key: {
        text: "School"
      },
      value: {
        html: "St Mary's Manchester"
      }
    }


  
  ]
  }) }}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{{ govukSummaryList({
  card: {
    title: {
      text: "Person"
    },
    actions: {
      items: [
        {
          href: "#",
          text: "Edit details",
          visuallyHiddenText: "of University of Gloucestershire"
        }
       
      ]
    }
  },
  rows: [



    {
      key: {
        text: "Name"
      },
      value: {
        html: "Eden Tesfay"
      }
    },
     
    {
      key: {
        text: "Relationship"
      },
      value: {
        html: "Parent"
      }
    },

    {
      key: {
        text: "Nationality"
      },
      value: {
        html: "Eritrean"
      }
    },
     
    {
      key: {
        text: "Date of birth"
      },
      value: {
        html: "01 September 1988"
      }
    },
     
  
     
    {
      key: {
        text: "Supporting evidence"
      },
      value: {
        html: "Universal credit (3 months)"
      }
    }
  ]
}) }}










{% endblock %}

{% block buttons %}
{% endblock %}

{% block pageScripts %}
<!-- Add any javascript files here. Include javascript files only on the pages
that need them. Excessive javascript files loaded on other pages may slow down
the response times of the prototype. -->
<script type="text/javascript" src="/public/javascripts/moj/all.js"></script>
<script>
  new MOJFrontend.ButtonMenu({
    container: $(".moj-button-menu"),
    mq: "(min-width: 200em)",
    buttonText: "Task actions",
    buttonClasses:
      "",
  });
</script>

{% endblock %}