{% extends "layouts/layout-dfe.html" %}



{% block backLink %}
{{ govukBackLink({
text: "Back",
href: "/"
}) }}
{% endblock %}


<!-- The content between the heading 1 and the buttons -->

{% block content %}
<style>
  .hods-status-message p {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;


  }
</style>
<div class="govuk-grid-row govuk-!-margin-bottom-5">
  <div class="govuk-grid-column-full">










<h1 class="govuk-heading-xl">Mohammed, Iqbal</h1>

    <h2 class="govuk-heading-s govuk-!-margin-bottom-5">Reference number:
      <span class="govuk-!-font-weight-regular">
        </span>
    </h2>

    












  </div>

</div>


{{ mojSubNavigation({
label: 'Sub navigation',
items: [



{
text: 'Overview',
href: './'
},
{
text: 'Timeline',
href: 'timeline'
},
{
text: 'Documents',
href: 'documents'

},

{
text: 'Notes',
href: 'notes',
active: true

}
]
}) }}





<section class="govuk-!-margin-bottom-10 govuk-!-padding-bottom-3">
  <p class="govuk-body-s govuk-!-margin-bottom-1"></time></p>
  <p class="govuk-body govuk-!-margin-bottom-1">Some notes would be displayed here</p>
  <p class="govuk-!-margin-bottom-1">
    <a class="govuk-!-margin-right-1" href="/">Change</a>
    <a href="/">Delete</a>
  </p>

</section>



{{ govukButton({
  text: "Add note",
  classes:"govuk-button--secondary govuk-!-margin-top-5",
  href:'task-add-note'
  }) }}

{% endblock %}






{% block pageScripts %}
<!-- Add any javascript files here. Include javascript files only on the pages
  that need them. Excessive javascript files loaded on other pages may slow down
  the response times of the prototype. -->
<script type="text/javascript" src="/public/javascripts/moj/all.js"></script>
<script>
  new MOJFrontend.ButtonMenu({
    container: $(".moj-button-menu"),
    mq: "(min-width: 200em)",
    buttonText: "Task actions",
    buttonClasses:
      "",
  });
</script>



{% endblock %}