{% extends "/layouts/layout-dfe-schoolnav-noback.html" %}

{% set pageName="Home" %}

{% set applicationSent %}
<h3 class="govuk-notification-banner__heading">
  Applications finalised
  </h3>
  <p class="govuk-body">
   Finalised applications can be found by searching in 'Search all records'.
  </p>

{% endset %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">



{{ mojBanner({
  type: 'success',
  html: '<h3 class="govuk-heading-l">Applications finalised</h3>

  <p> Finalised applications can be found by searching in <a href="search">\'Search all records\'</a>.</p>',
  iconFallbackText: 'Success'
}) }}





    <div class="govuk-grid-row">


      <div class="govuk-grid-column-one-half">

        <p><a href="applications">Finalise more applications</a></p>


















      </div>

    </div>


  </div>
</div>

{% endblock %}

{% block pageScripts %}
<script type="text/javascript" src="/public/javascripts/moj/all.js"></script>
{% endblock %}