{% extends "/layouts/childcare/v2/layout-childcare.html" %}

{% block pageTitle %}
  Manage foster families
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

{% set dateSubmitted = '2025-02-19' %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">


    <h1 class="govuk-heading-l">Manage eligibility codes for foster families</h1>

    {{ govukButton({
      classes: "govuk-!-margin-bottom-9",
      text: "Add new family",
      href: "/childcare/v2/foster/enter-carer-details"
    }) }}

    <div class="govuk-form-group">
      <label class="govuk-label" for="sort">
        Sort by
      </label>
      <select class="govuk-select" id="sort" name="sort">
        <option value="carer">Carer name</option>
        <option value="child">Child name</option>
        <option value="status">Code status</option>
        <option value="code">Eligibility code</option>
        <option value="reconfirm" selected>Reconfirmation status</option>
      </select>
    </div>

    <table class="govuk-table govuk-table--small-text-until-tablet">
      <caption class="govuk-table__caption govuk-table__caption--m govuk-!-margin-bottom-4">Eligibility codes for children in foster care</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Child name</th>
          <th scope="col" class="govuk-table__header">Eligibility code</th>
          <th scope="col" class="govuk-table__header">Carer name</th>
          <th scope="col" class="govuk-table__header">Code status</th>
          <th scope="col" class="govuk-table__header">Reconfirmation status</th>
          <th scope="col" class="govuk-table__header">Actions</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a href="">Jasper Hayes</a> </td>
          <td class="govuk-table__cell">94019283746</td>
          <td class="govuk-table__cell">Aurora Davies</td>
          <td class="govuk-table__cell">In grace period</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Overdue</strong></td>
          <td class="govuk-table__cell"><a href="">Reconfirm eligibility</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a href="">Lily Nelson</a> </td>
          <td class="govuk-table__cell">94321098765</td>
          <td class="govuk-table__cell">Evelyn Baker</td>
          <td class="govuk-table__cell">Expired</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Overdue</strong></td>
          <td class="govuk-table__cell"><a href="">Reconfirm eligibility</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a href="">Asher Ellis</a> </td>
          <td class="govuk-table__cell">94987654321</td>
          <td class="govuk-table__cell">Aurora Davies</td>
          <td class="govuk-table__cell">Valid</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">Due now</strong></td>
          <td class="govuk-table__cell"><a href="">Reconfirm eligibility</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a href="">Theodore Reed</a> </td>
          <td class="govuk-table__cell">94123456789</td>
          <td class="govuk-table__cell">Parker Coop</td>
          <td class="govuk-table__cell">Valid</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Not due yet</strong></td>
          <td class="govuk-table__cell"></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a href="">Willow Carter</a> </td>
          <td class="govuk-table__cell">94555000123</td>
          <td class="govuk-table__cell">Finnigan Powell</td>
          <td class="govuk-table__cell">In grace period</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">Child too old</strong></td>
          <td class="govuk-table__cell"><a href="">Archive</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a href="">Samuel Hill</a> </td>
          <td class="govuk-table__cell">94678901234</td>
          <td class="govuk-table__cell">Victoria Price</td>
          <td class="govuk-table__cell">Expired</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">Child too old</strong></td>
          <td class="govuk-table__cell"><a href="">Archive</a></td>
        </tr>
      </tbody>
    </table>


  </div>
</div>

{% endblock %}