{% extends "../../mvp2/checker/layouts/layout-dfe.html" %}

{% set pageName="Home" %}



{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Children eligible</h1>


        <p>The children of this parent or guardian are eligible for free school meals.</p>
</div>
     </div>
    <h2 class="govuk-heading-m">What to do next</h2>

        <p>Continue to the next page to add these children's details.</p>


        {% from "govuk/components/button/macro.njk" import govukButton %}

        {{ govukButton({
          text: "Add children's details",
          href: '../checker/outcome-eligible-childs-age'
        }) }}


<p><a href="dashboard">Return to dashboard</a></p>
<p><a href="">Sign out</a></p>


  </div>
</div>

{% endblock %}

{% block pageScripts %}
<script type="text/javascript" src="/public/javascripts/moj/all.js"></script>

{% endblock %}