{% extends "layouts/layout-dfe.html" %}

{% set pageName="Outcome could not check" %}



{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">There’s been a technical error</h1>
    <p>We could not check the entitlement of this applicant's children.</p>

    
    <p>Please try again later, making sure you’ve entered all details accurately.</p>

    <p>If you’ve received this message multiple times, contact the Department for Education support desk at <a href="mailto:ecs.admin@education.gov.uk">ecs.admin@education.gov.uk</a> </p>
    

  <p><a href="check">Try again</a></p>
  
  </div>
</div>

{% endblock %}

{% block pageScripts %}
<script type="text/javascript" src="/public/javascripts/moj/all.js"></script>
{% endblock %}