{% extends "/layouts/childcare/v1/layout-childcare.html" %}

{% block pageTitle %}
  Run a batch check for multiple eligibility codes
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-error-summary" data-module="govuk-error-summary">
      <div role="alert">
        <h1 class="govuk-error-summary__title">
          There is a problem
        </h1>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <li>
              <a href="#errors">You must fix data errors in the uploaded file</a>
            </li>
          </ul>
        </div>
      </div>
    </div>


    <h2 class="govuk-heading-m">Fix errors and resubmit your batch check file</h2>
    <ol>
      <li>Fix the errors listed below for each row.</li>
      <li><a href="/chilcare/v1/batch-check/upload">Upload your file again</a> and run another check.</li>

    </ol>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break">

    <h2 class="govuk-heading-m">Data errors</h2>
    <div class="govuk-tabs" data-module="govuk-tabs">
      <h2 class="govuk-tabs__title">
        Contents
      </h2>
      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#parent-last-name">
            Parent last name
          </a>
        </li>
        <li class="govuk-tabs__list-item govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#parent-dob">
            Parent date of birth
          </a>
        </li>

      </ul>
      <div class="govuk-tabs__panel" id="parent-last-name">

        <table class="govuk-table" id="errors">
          <caption class="govuk-table__caption govuk-table__caption--s">Parent last name</caption>

          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Line</th>
              <th scope="col" class="govuk-table__header">Error</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">3</td>
              <td class="govuk-table__cell">Enter parent or guardian's last name</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">19</td>
              <td class="govuk-table__cell">Enter a last name with valid characters</td>
            </tr>

          </tbody>
        </table>
      </div>

      <div class="govuk-tabs__panel" id="parent-dob">

        <table class="govuk-table" id="errors">
          <caption class="govuk-table__caption govuk-table__caption--s">Parent date of birth</caption>

          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Line</th>
              <th scope="col" class="govuk-table__header">Error</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">28</td>
              <td class="govuk-table__cell">Date of birth must be in the past</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">32</td>
              <td class="govuk-table__cell">Enter child's date of birth</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">44</td>
              <td class="govuk-table__cell">Year must include 4 numbers</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>









  </div>
</div>

{% endblock %}
