{% extends "./layouts-apply/layout-dfe-signed-out-noback.html" %}
{% set pageName="Free school meals application completed" %}

{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel--m">{{pageName}}</h1>
        <div class="govuk-panel__body">
          Submitted on<br><span id="currentDate"></span>
        </div>
      </div>
    </div>
  </div>



  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
  <table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m">
      We have sent details for
    </caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header app-custom-class">Name</th>
        <th scope="col" class="govuk-table__header app-custom-class">School</th>
        <th scope="col" class="govuk-table__header app-custom-class">
          Reference
        </th>
</tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">{% if data["ch1-first-name"]  %}
          {{ data["ch1-first-name"] }}
        {% else %}
          Samuel
        {% endif %}
        {% if data["ch1-surname"] %}
          {{ data["ch1-surname"] }}
        {% else %}
          Tesfay
        {% endif %}</th>
        <td class="govuk-table__cell">  {% if data["school-picker"] %}
          {{ data["school-picker"] }}
        {% else %}
          St Kings Primary School
        {% endif %}</td>
        <td class="govuk-table__cell">{{ data.application.id }}
          {% if data.application.id %}
        {% else %}
        44455474
        {% endif %}
        </td>
      </tr>

    {% if data['child-2'] == 'Yes' %} {% endif %}

      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Thomas Tesfay</th>
        <td class="govuk-table__cell">St Kings Primary School</td>
        <td class="govuk-table__cell">44455454</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Rachel Tesfay</th>
        <td class="govuk-table__cell">Bramhope Primary School</td>
        <td class="govuk-table__cell">44455455</td>
      </tr>
    </tbody>
  </table>

  <p> <a href="" class="govuk-link" onclick="printPage()">Print this page</a> for any queries about your application as you will need a record of the reference numbers. You will need to speak to your School administrator to discuss any issues.</p>


  <h2 class="govuk-heading-m">What happens next</h2>

  <p>
    You will receive a notification from us on the progress of your application and when you can expect your children’s free school meals to
    start.
  </p>
  <p>If you do not receive an update, talk to the school administrator.</p>

  <p>
    <a href="">What did you think about this service?</a> (takes 30 seconds)
  </p>


  {{govukButton({ text: "Finish and leave service", href: '../../start-now'
  }) }}

  {% endblock %}

  {% block pageScripts %}

  <script>
    function generateRandomId() {
      return 'app-' + Math.floor(Math.random() * 1000000);
    }

    // If application.id is not defined, set a random ID
    if (!application.id) {
      application.id = generateRandomId();
    }
  </script>


<script>
  // Function to format the date without time
  function formatDate(date) {
    const options = { year: 'numeric', month: 'long', day: 'numeric' };
    return date.toLocaleDateString('en-GB', options);
  }

  // Set the current date in the span
  document.getElementById('currentDate').textContent = formatDate(new Date());
</script>
<script>
  function printPage() {
      window.print();  // This will open the print dialog
  }
  </script>

  <script type="text/javascript" src="/public/javascripts/moj/all.js"></script>
</div>
{% endblock %}
