{% extends "layouts/layout-email.html" %}
{% set subject = "Free school meals – application successful – reference [reference]" %}
{% set from = "DfE <dfe@gov.uk>" %}
{% set to = "Eden Tesfay <eden.tesfay@gmail.com>" %}
  
{% block content %}
 <p>  Dear parent or guardian, </p>

<p> Your application for free school meals has been sent to: </p>
 
<p>  [School name] </p>
  

  <h2>  What happens next </h2>

  <p>  We will email you when your application has been assessed and a decision is made. </p>

  <p>  It should take about 1 week for us to make a decision. </p>


  
  <p>From Department for Education</p>
{% endblock %}