{% extends "layouts/layout-email.html" %}
{% set subject = "Notification email" %}
{% set from = "GOV.UK <example@gov.uk>" %}
{% set to = "Eden Tesfay <eden.tesfay@gmail.com>" %}
  
{% block content %}
  <p>Dear parent,</p>
  <p>Your supporting evidence for appealing eligibility for free school meals has been sent for review.</p>


  <p>Once this has been reviewed, we will contact you again to confirm the final decision.</p>

  <p>This decision will be final, and will not be open for further appeal.</p>

  
  <p>From Department for Education</p>
{% endblock %}