{% extends "/layouts/childcare/v2/layout-childcare.html" %}

{% block pageTitle %}
  Code valid
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-7">
      <h1 class="govuk-panel__title">
        Code is valid
      </h1>
      <div class="govuk-panel__body govuk-!-margin-bottom-5">
        This code can be used for summer term 2025: 1st April - 31st August
      </div>
      <p class="govuk-body-l govuk-!-margin-bottom-0" style="color:white;">Grace period ends on 31 December 2025</p>
    </div>

    <h2 class="govuk-heading-m">Eligibility code details</h2>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Eligibility code
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data["30h-code"] or "50879487381" }}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          National Insurance number
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data["ni-number"] or "PB123456C" }}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Child date of birth
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data["dob-day"] or "10" }} {{ data["dob-month"] or "04" }} {{ data["dob-year"] or "1984" }}
        </dd>
      </div>

    </dl>



    <!--

    <h2 class="govuk-heading-m">Eligibility code dates</h2>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Submitted
        </dt>
        <dd class="govuk-summary-list__value">
          25 March 2025
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Eligibility confirmed
        </dt>
        <dd class="govuk-summary-list__value">
          25 March 2025
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Started
        </dt>
        <dd class="govuk-summary-list__value">
          27 March 2025
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Ends
        </dt>
        <dd class="govuk-summary-list__value">
          27 June 2025
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Grace period ends
        </dt>
        <dd class="govuk-summary-list__value">
          31 August 2025
        </dd>
      </div>

    </dl>

  -->

    <h2 class="govuk-heading-m govuk-!-margin-top-8">Eligibility code dates</h2>

    <div class="moj-timeline">

      <div class="moj-timeline__item">
        <div class="moj-timeline__header">
          <h2 class="moj-timeline__title">Grace period ends</h2>
        </div>
        <p class="moj-timeline__date">
          <time>31 August 2025</time>
        </p>
        <div class="moj-timeline__description">
          Explanation of how grace period is set
        </div>
      </div>

      <div class="moj-timeline__item">
        <div class="moj-timeline__header">
          <h2 class="moj-timeline__title">Reconfirm eligibility by / reconfirmation deadline (validity ends)</h2>
        </div>
        <p class="moj-timeline__date">
          <time>27 June 2025</time>
        </p>
        <div class="moj-timeline__description">
          Explanation of validity dates from HMRC?
        </div>
      </div>

      <div class="moj-timeline__item">
        <div class="moj-timeline__header">
          <h2 class="moj-timeline__title">Added to ECE</h2>
        </div>
        <p class="moj-timeline__date">
          <time>27 March 2025</time>
        </p>
        <div class="moj-timeline__description">
          This is the event date time - does it need to be listed? could be relevant for temp codes and discretionary start dates
        </div>
      </div>

      <div class="moj-timeline__item">
        <div class="moj-timeline__header">
          <h2 class="moj-timeline__title">Eligibility confirmed</h2>
          <p class="moj-timeline__byline">by HMRC</p>
        </div>
        <p class="moj-timeline__date">
          <time>25 March 2025</time>
        </p>
        <div class="moj-timeline__description">
          Explanation of validity dates from HMRC?
        </div>
      </div>

      <div class="moj-timeline__item">
        <div class="moj-timeline__header">
          <h2 class="moj-timeline__title">Application submitted</h2>
          <p class="moj-timeline__byline">by parent or guardian</p>
        </div>
        <p class="moj-timeline__date">
          <time>25 March 2025</time>
        </p>
      </div>

    </div>

    <p class="govuk-!-margin-top-8"> <a href="" class="govuk-link" onclick="printPage()">Print this page</a></p>

  </div>

</div>

<script>
  function printPage() {
      window.print();  // This will open the print dialog
  }
</script>


{% endblock %}
