{% extends "../../mvp2/checker/layouts/layout-dfe.html" %}

{% set pageName="Home" %}


{% block content %}






    <div class="govuk-grid-row">


      <div class="govuk-grid-column-one-half">
        <h1 class="govuk-heading-l">Elgibility checks for schools</h1>
        <h2 class="govuk-heading-m"><a href="checker?type=free school meals">Free school meals</a></h2>
        <p class="govuk-body">Check if a child can get free school meals in England </p>
        <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">



























      </div>

    </div>




{% endblock %}

{% block pageScripts %}
<script type="text/javascript" src="/public/javascripts/moj/all.js"></script>
{% endblock %}