{% extends "layouts/layout-dfe-signed-out.html" %}

{% set pageName="Home" %}



{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">


    <div class="moj-banner moj-banner--success" role="region" aria-label="Success">

      <svg class="moj-banner__icon" fill="currentColor" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">
        <path d="M25,6.2L8.7,23.2L0,14.1l4-4.2l4.7,4.9L21,2L25,6.2z" />
      </svg>
    
      <div class="moj-banner__message">
        <h2 class="govuk-heading-l">Your children are entitled to free school meals</h2>
      
    
      </div>
    
    </div>
    <h3 class="govuk-heading-m">What to do next</h3>
    <p>To get free school meals for your children, you will need to:</p>
      
    <ol>
      <li>Create or sign into your OneGov account.</li>
      <li>Register with your children's school.</li>
      </ol>

  






    <div class="govuk-grid-row">

            
      <div class="govuk-grid-column-one-half">


        <form method="post" novalidate>
      

        {{ govukRadios({
        
          name: "changedName",
          fieldset: {
            legend: {
              text: "Register now?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },

          hint: {
            text: "You'll be taken to the OneGov Login page.
            Your details will only be used to register and will not be stored"
          },
        
          items: [
            {

              value: "yes~account/signin-or-create",
              text: "Yes, I'll register now"
            },
            {
              value: "no~not-proceeding",
              text: "No, I understand my children will not get free school meals"
            }
          ]
        }) }}



      
          <input type="hidden" name="answers-checked" value="true">
  
          {{ govukButton({
            text: "Continue",
            classes:'govuk-!-margin-top-5'
          }) }}

          <p><a href="">Save details for later</a></p>
  
        </form>















        




        
      </div>  
    
    </div>

  
  </div>
</div>

{% endblock %}

{% block pageScripts %}
<script type="text/javascript" src="/public/javascripts/moj/all.js"></script>

{% endblock %}