{% extends "layouts/layout-dfe-signed-out.html" %}

{% set pageName="Home" %}



{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

        <h2 class="govuk-heading-l">Your children are entitled to free school meals</h2>
      
    
    <h3 class="govuk-heading-m">What to do next</h3>

    <p>To get free school meals for your children, follow these steps online. This typically takes just a few minutes.</p>
      
    <ol>
      <li>Create or sign into your OneGov account.</li>
      <li>Enter the details of your children and their school.</li>
      <li>These will be sent on to the school, which will arrange free school meals.</li>
      </ol>

  
  
          {{ govukButton({
            text: "Go to OneGov",
            classes:'govuk-!-margin-top-5'
          }) }}

          <p><a href="">Return to homepage</a></p>
  
        </form>















        




        
      </div>  
    
    </div>

  
  </div>
</div>

{% endblock %}

{% block pageScripts %}
<script type="text/javascript" src="/public/javascripts/moj/all.js"></script>

{% endblock %}