{% extends "layouts/layout-dfe-signed-out.html" %}

{% set pageName="Home" %}



{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-l">Your children are eligible for free school meals</h1>
      
    
    <h1 class="govuk-heading-m">What to do next</h2>

    <p>To get free school meals for your children, you will need to:</p>
      
    <ol>
      <li>Create or sign into your OneGov account.</li>
      <li>Register with your children's school.</li>
      </ol>

  

 

    <ul class="govuk-list">
      <li>Create or sign into your OneGov account.</li>
    <li>Register with your children’s school.</li>
  </ul>

    <div class="govuk-grid-row">

            
      <div class="govuk-grid-column-one-half">

        


        <form method="post" novalidate>
      

        {{ govukRadios({
        
          name: "changedName",
          fieldset: {
            legend: {
              text: "Register now?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          
          },

          hint: {

            text: "You'll be taken to the OneGov Login page.
            Your details will only be used to register and will not be stored"

          },
        
          items: [
            {

              value: "yes~account/signin-or-create",
              text: "Yes, I'll register or sign in now"
            },
            {
              value: "no~not-proceeding",
              text: "No, I understand my children will not get free school meals"
            }
          ]
        }) }}



      
          <input type="hidden" name="answers-checked" value="true">
  
          {{ govukButton({
            text: "Continue",
            classes:'govuk-!-margin-top-5'
          }) }}

          <p><a href="">Save details for later</a></p>
  
        </form>















        




        
      </div>  
    
    </div>

  
  </div>
</div>

{% endblock %}

{% block pageScripts %}
<script type="text/javascript" src="/public/javascripts/moj/all.js"></script>

{% endblock %}