{% extends "layouts/layout-dfe-signed-out.html" %}

{% set pageName="Home" %}



{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Your child may not be eligible</h1>
    <p>Based on your details, we were not able to confirm information about you in our system. 
      </p><p>If you think your child should be eligible for free school meals, you can upload and submit supporting evidence.</p>


    

<div class="govuk-form-group">

  <fieldset class="govuk-fieldset" aria-describedby="appeal-hint">
  
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m govuk-!-margin-top-5">
  
    <h1 class="govuk-fieldset__heading">
      Do you want to upload and submit supporting evidence now?
    </h1>
  
  </legend>
  

  <div id="appeal-hint" class="govuk-hint">
    The local authority will need to review it before your child can get free school meals
  </div>


  <div class="govuk-radios" data-module="govuk-radios">
    
      
          
        
        
        
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="appeal" name="appeal" type="radio" value="yes">
          <label class="govuk-label govuk-radios__label" for="appeal">
        Yes, I'll upload and submit evidence for review
      </label>
      <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">
        You’ll have to create or signin to a OneGov account
      </div>
          
        </div>
        
        
      
    
      
        
        
        
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="appeal-2" name="appeal" type="radio" value="no">
          <label class="govuk-label govuk-radios__label" for="appeal-2">
        No, I understand my child will not get free school meals
      </label>
          
        </div>
        
        
      
    
  </div>
  

</fieldset>


</div>


    
      <p>You will need to upload a document showing you have one of the following: </p>




    <ul class="govuk-!-margin-bottom-10">


     <li> Income Support </li> 

    <li>Income-based Jobseeker's Allowance </li>
  
      <li>Income-related Employment and Support Allowance</li>  
  
      <li>Support under Part VI of the Immigration and Asylum Act 1999. For example, national asylum support number (NASS), Application Registration Card (ARC), Port reference number</li> 
  
     <li> Child Tax Credit</li>
  
      <li>the guarantee element of Pension Credit</li>  
  
     <li> Working Tax Credit run-on</li>
  
     <li> Universal Credit</li>

      

    </ul>



   

    

    

  
    
  

<a href="account/signin-or-create?flow=submit-evidence" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
  Continue
</a>


    <p><a href="">Save details for later</a></p>



















  </div>
</div>

{% endblock %}

{% block pageScripts %}
<script type="text/javascript" src="/public/javascripts/moj/all.js"></script>
{% endblock %}