{% extends "/layouts/childcare/v8/layout-childcare.html" %}

{% block pageTitle %}
  When was the reconfirmation submitted
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}



    <div class="govuk-grid-row">


      <div class="govuk-grid-column-two-thirds">


        <form class="form" action="/childcare/v8/foster/reconfirm/single/dates/term-dates" method="post" novalidate>


            {% from "govuk/components/input/macro.njk" import govukInput %}


            {{ govukDateInput({
              id: "submitted-date",
              namePrefix: "submitted-date",
              fieldset: {
                legend: {
                  text: "When was the reconfirmation submitted?",
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--l"
                }
              },
              items: [
                {
                  name: "day",
                  classes: "govuk-input--width-2"
                },
                {
                  name: "month",
                  classes: "govuk-input--width-2"
                },
                {
                  name: "year",
                  classes: "govuk-input--width-4"
                }
              ]
            }) }}

            <p>We will calculate which term the code will be valid for on the next page.</p>


          {% from "govuk/components/button/macro.njk" import govukButton %}


          {{ govukButton({
            text: "Continue"
          }) }}

         <!--
          <p>An eligibility code can only be used in the term after the application submitted on date.</p>
          -->


        </form>

      </div>

    </div>



{% endblock %}