{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <div class="gem-c-title govuk-!-margin-top-0 govuk-!-margin-bottom-8">

      <span class="govuk-caption-xl gem-c-title__context">
        Form
      </span>

      <h1 class="gem-c-title__text govuk-heading-l">
        Apply for free school meals if you cannot apply online
      </h1>
    </div>

    <h2 class="govuk-heading-m">Documents</h2>

    <section>
      <div>
          <a target="_self" tabindex="-1" aria-hidden="true" href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/1154589/CH2_Child_Benefit_Claim_Form_English.pdf"><img alt=""></a>
      </div>
      <div>
          <h2 class="govuk-!-font-size-22">
              <a target="_self" href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/1154589/CH2_Child_Benefit_Claim_Form_English.pdf">Child Benefit claim form</a>
          </h2>
          <p>Ref: CH2</p>
          <p><span><abbr title="Portable Document Format">PDF</abbr></span>, <span>430 KB</span>, <span>9 pages</span></p>
          <p>This file may not be suitable for users of assistive technology.</p>
          <details>
              <summary>
                  <span>
                      Request an accessible format.
                  </span>
              </summary>
              <div>
                  If you use assistive technology (such as a screen reader) and need a version of this document in a more accessible format, please email <a href="mailto:different.format@hmrc.gov.uk" target="_blank">different.format@hmrc.gov.uk</a>. Please tell us what format you need. It will help us if you say what assistive technology you use.
              </div>
          </details>
      </div>
  </section>
  

  


  </div>







</div>

{% endblock %}