
{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">



<h1 class="govuk-heading-xl">
  Check if your child can get free school meals</h1>




    <p>Here you can:</p>

    <ul class="govuk-list--bullet">
      <li> enter information to find out if your child can get free school meals </li>
      <li> send the decision on to your child’s school, nursery or childcare setting</li>
    
    </ul>
<p>It should take about 5 minutes to complete.</p>


<h2 class="govuk-heading-l">
  Guidance</h2>

  <p>Get guidance for your child by choosing from the following sections.</p>

  


    {% from "govuk/components/accordion/macro.njk" import govukAccordion %}

{{ govukAccordion({
  id: "accordion-default",
  items: [
    {
      heading: {
        text: "Infant free school meals"
      },
      content: {
        html: '
        <p class="govuk-body">Your child will be able to get free school meals if they’re in a government-funded school and in:</p>
        <ul><li>  reception class </li>
          <li>year 1</li>
          <li>year 2</li>
        
        </ul>
          <p class="govuk-body">Tell your local authority if you also get any of the qualifying benefits listed in the Pupils aged 4 to 16 section. Your child’s school can get extra funding if you do. </p>'
      }
    },
    {
      heading: {
        text: "Pupils aged 4 to 16"
      },
      content: {
        html: '<p class="govuk-body">Your child may be eligible if you, or they, get any of these benefits:</p>
        <ul><li>Income Support </li>
          <li>Income-based Jobseeker’s Allowance </li>
          <li>Income-related Employment and Support Allowance </li>
          <li>    support under Part VI of the Immigration and Asylum Act 1999 </li>
          <li>    the guaranteed element of Pension Credit </li>
          <li>    Child Tax Credit (provided you’re not also entitled to Working Tax Credit and have an annual gross income of no more than £16,190) </li>
          <li>    Working Tax Credit run-on - paid for 4 weeks after you stop qualifying for Working Tax Credit </li>
          <li>    Universal Credit - if you apply on or after 1 April 2018 your household income must be less than £7,400 a year (after tax and not including any benefits you get) </li>
        
        </ul>
        <p>Your child may still be eligible if you get any of these benefits and your child is both: </p>'
      }
    },
    {
      heading: {
        text: "Students in full time education"
      },
      content: {
        html: '<p class="govuk-body">The 1996 Education Act requires further education (FE) funded institutions to provide free meals to disadvantaged students </p>
        <p>You can check the guidance on eligibility for free meals in education.</p>'
      }
    
    }
  ]
}) }}




  <h2 class="govuk-heading-l">What you’ll need</h2>

  <ul class="govuk-list--bullet">
    <li>To create or sign in to a OneGov account</li>
    <li>A National Insurance number or National Asylum Support Services (NASS) number</li>
    <li>To tell us details about any children you want to get free school meals, including the name of their school</li>
</ul>
{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Start now",
  href: "#",
  isStartButton: true
}) }}

<h2 class="govuk-heading-l">Other ways to apply</h2>
<p>If you cannot apply online, you can fill in <a href="fsm-print-version">the Free school meals form</a>. </p>
</div>
</div>
  
{% endblock %}
 

 