{% extends "layouts/FSM/v7-4/layout-dfe-lanav.html" %}
{% set childName = "Emily Johnson" %}
{% set pageName = "Archive this record?" %}
{% set pageName=" Archive record for " ~ childName ~ ""%}
{% block content %}

<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">{{pageName}}?</h1>




  </div>
</div>

<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-visually-hidden">Warning</span>
    Your organisation will no longer be able to edit this record if you archive it.
  </strong>
</div>
<div class="govuk-!-padding-bottom-3"></div>


  {{ govukButton({
    text: "Archive now",
    href: 'archive-confirmed-johnson1'
  }) }}


{{ govukButton({
text: "Cancel archive",
classes: "govuk-button--secondary",
href: 'pending_johnson1'
}) }}

<div class="govuk-!-padding-bottom-3"></div>

</div>
</div>

{% endblock %}

{% block pageScripts %}
<!-- <script type="text/javascript" src="/public/javascripts/moj/all.js"></script> -->
{% endblock %}