{% extends "layouts/layout-dfe.html" %}
{% set htmlClasses = "app-email" %}
{% set bodyClasses = "app-email__body" %}
{% set containerClasses = "app-email__header-and-message-container" %}
{% set mainClasses = "app-email__message" %}
{% set title = subject %}
{% block skipLink %}{% endblock %}
{% block header %}{% endblock %}
{% block footer %}{% endblock %}
{% block bodyStart %}
  <div class="govuk-width-container app-email__metadata-container">
    <div class="app-email__metadata govuk-!-margin-top-5">
      <p class="govuk-body-s">Subject: {{ subject }}</p>
      <p class="govuk-body-s">From: {{ from or "GOV.UK <service@gov.uk>" }}</p>
      <p class="govuk-body-s">To: {{ to or "Name <name@example.com>" }} </p>
    </div>
  </div>
{% endblock %}
{% block beforeContent %}
  {{ govukHeader({
    containerClasses: ""
  }) }}
{% endblock %}