{% extends "layouts/FSm/v7/layout-dfe-signed-out.html" %}
{% set pageName="Home" %}
{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">


  <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__header">
      <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
        Children eligible
      </h2>
    </div>
    <div class="govuk-notification-banner__content">
      <h3 class="govuk-notification-banner__heading">
        Your children are eligible for free school meals.
      </h3>
      </div>
  </div>


  <h1 class="govuk-heading-l">Apply for free school meals for your children</h1>

    <p>This usually takes a few minutes.</p>

      <ol>
        <li>
          Sign in or create a GOV.UK One Login.
        </li>
        <li>
          Add the details of all your children and their schools.
        </li>
        <li>
          Send your application to the school.
        </li>
        <li>
          We'll send an application confirmation email to the email address used on your GOV.UK One Login.
        </li>
        <li>
          Your children's school will arrange the free school meals.
        </li>
      </ol>

      {{ govukDetails({
        summaryText: "About GOV.UK One Login",
        text: "GOV.UK One Login lets you sign in and prove your identity quickly and easily. You can use the same account for some other government services."
      }) }}

    <!---  <div>
    <form action="account/signin-or-create" method="post" novalidate>
      <button class="govuk-button govuk-!-margin-top-5" data-module="govuk-button">
        Continue to GOV.UK One Login
    </button>
    </form>
  </div>
</div>-->


<form action="../account/signin-or-create" method="post" novalidate>
  <div class="govuk-button-group">
    <button type="submit" class="govuk-button" data-module="govuk-button">
      Continue to GOV.UK One Login
    </button>
    <a class="govuk-link" href="../account/start-now"> Return to start now</a>
  </div>
</form>

<hr class="govuk-section-break govuk-section-break govuk-section-break--m">

<h2 class="govuk-heading-m">Further guidance and other ways to apply</h2>
<p>If you need further support, <a target="_blank" href="../checker/parent-guidance.html">check the more detailed guidance</a>  for parents and guardians.</p>
<p>If you cannot apply online, you can fill in <a href="fsm-print-version">the 'Free school meals entitlement checker' form</a> and give it to your children's school. </p>
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{{ govukInsetText({
  text: "It takes longer to apply through your school than it does online."
}) }}


</div>
</div>

{% endblock %}
{% block pageScripts %}
<script type="text/javascript" src="/public/javascripts/moj/all.js"></script>
{% endblock %}