{% extends "layouts/layout-email.html" %}
{% set subject = "Notification email" %}
{% set from = "GOV.UK <example@gov.uk>" %}
{% set to = "West Kirby Primary School <west-kirby-primary.edu.org>" %}
  
{% block content %}
  <p>Dear school administrator,</p>
  <p>This is a notification to advise that application 2345678 has been approved by your local authority</p>
  <p>To review the application, please <a href="../account/dfe-account">sign in to the parent portal.</a></p>
  <p>An update has been sent to the parent or carer applicant.</p>
  
  <p>From Department for Education</p>
{% endblock %}