{% block header %}
{{ header({
    "showNav": true,
    "showSearch": true,
    "showUserName": false,
    "userName": "",
    "userNameURL": "",
    "selectedNav": selectedNav,
    "logoPath": "public/images",
    "searchInputName": "searchterm",
    "service": {
      "name": serviceName | dump
    },
    "primaryLinks": [
      {
        "url": "/",
        "label": "Service Standard"
      },
      {
        "url": "/service-assessments",
        "label": "Service assessments"
      }
    ]
  })
}}
{% endblock %}