{% extends "layouts/layout-dfe.html" %}

{% set pageName="Home" %}

{% set parentName="Eden Tesfay" %}



{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">




    
    <h1 class="govuk-heading-l">
    Choose an application type
    </h1>




      <h2 class="govuk-heading-m"><a href="">Free school meals</a></h2>
      <p>For children aed between 2-11</p>
      <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">
        



      <h2 class="govuk-heading-m"><a href="">Free childcare (30 hours)</a></h2>
      <p>For children aed between 2-11</p>
      <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">



      <h2 class="govuk-heading-m"><a href="">Early years pupil premium</a></h2>
      <p>For children aed between 2-11</p>
      <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">



  
  </div>
</div>

{% endblock %}