{% extends "layouts/layout-dfe.html" %}

{% set pageName="Home" %}


{% block content %}






    <div class="govuk-grid-row">

            
      <div class="govuk-grid-column-one-half">
        <h2 class="govuk-heading-s"><a href="checker">Free school meals, early years pupil premium, free childcare for 2 yr olds</a></h2>
        <p>Free school meals, early years pupil premium, childcare for 2 yr olds</p>
        <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">


        <h2 class="govuk-heading-s"><a href="checker-30-hours">30 hours free childcare</a></h2>
        <p>30 hours free childcare</p>
        <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">

      














        




        
      </div>  
    
    </div>

  


{% endblock %}

{% block pageScripts %}
<script type="text/javascript" src="/public/javascripts/moj/all.js"></script>
{% endblock %}