{% extends "../../current/checker/layouts/layout-dfe.html" %}

{% set pageName="Home" %}


{% block content %}






    <div class="govuk-grid-row">

            
      <div class="govuk-grid-column-one-half">
        <h1 class="govuk-heading-l">Eligibility checkers</h1>
        <h3 class="govuk-heading-m">Elgibility checks for schools</h3>
        <h3 class="govuk-heading-s"><a href="checker?type=free school meals">Free school meals</a></h3>
        <p>Check if a child can get free school meals in England </p>
        <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">
        



      

      














        




        
      </div> 
    
    </div>

  


{% endblock %}

{% block pageScripts %}
<script type="text/javascript" src="/public/javascripts/moj/all.js"></script>
{% endblock %}