{% extends "layouts/layout-dfe.html" %}

{% set pageName="Home" %}

{% set applicationSent %}
<h3 class="govuk-notification-banner__heading">
  Your application has been sent
  </h3>
  <p class="govuk-body">
    We have sent your application to be processed by your local school. It may take upto 1 week to process.
  </p>
  <p>Your reference is 1234567</p>
{% endset %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {% if data['application-approved'] =="yes" %}
    {{ govukNotificationBanner({
      html: applicationSent,
      type: 'success'
    }) }}
    
    {% endif %}


    <span class="govuk-hint">Bramhope Primary School</span>

    <h1 class="govuk-heading-l">
      
      
      Eligible for free school meals (18)
    </h1>


    <div class="govuk-grid-row">

            
      

      <div class="govuk-grid-column-full">



{% set filterOptionsHtml %}

  {{ govukInput({
    id: 'keywords',
    name: 'keywords',
    label: {
      text: 'Keywords',
      classes: 'govuk-label--m'
    }
  }) }}

  {{ govukCheckboxes({
    idPrefix: 'type',
    name: 'type',
    classes: "govuk-checkboxes--small",
    fieldset: {
      legend: {
        text: 'Area',
        classes: 'govuk-fieldset__legend--m'
      }
    },
    items: [
      {
        value: '1',
        text: 'Yorkshire (18)',
        checked: true
      },
    
      {
        value: '2',
        text: 'Humber (12)',
        checked: true
      }
    ]
  }) }}

  {{ govukCheckboxes({
    idPrefix: 'status',
    name: 'status',
    classes: "govuk-checkboxes--small",
    fieldset: {
      legend: {
        text: 'Status',
        classes: 'govuk-fieldset__legend--m'
      }
    },
    items: [
      {
        value: '1',
        text: 'Complete (5)',
        checked: true
      },
      {
        value: '2',
        text: 'Incomplete (3)',
        checked: true
      },
      {
        value: '3',
        text: 'New application (13)',
        checked: true
      }
    ]
  }) }}

{% endset %}


<div class="moj-filter-layout">

 

  <div class="moj-filter-layout__content">

  

  <div class="moj-scrollable-pane">
    {{ govukTable({
      firstCellIsHeader: true,
      head: [
        {text: 'Reference'},
        {text: 'Parent'},
        {text: 'Child'},
        {text: 'Eligible from'},
        {text: 'Area'},
        {text: 'Status'},
        {text: 'Date submitted'}
      ],
      rows: [
        [
          {html: '<a href="../records/approved" class="govuk-link">44455453</a>'},
          {html: 'Eden Tesfay'},
          {html: 'Samual Tesfay'},
          {html: '01 Sep 2023'},
          {text: 'Yorkshire'},
          {html: 'New application'},
          {text: '25 Sep 2023'}
        ],
        [
          {html: '<a href="#" class="govuk-link">12323212</a>'},
          {html: 'Warren Sutton'},
          {html: 'Lisa Sutton'},
          {html: '01 Sep 2023'},
          {text: 'Yorkshire'},
          {html: 'New application'},
          {text: '25 Sep 2023'}
        ],
        [
          {html: '<a href="#" class="govuk-link">45678765</a>'},
          {html: 'Alan Jones'},
          {html: 'Jack Jones'},
          {html: '01 Sep 2023'},
          {text: 'Yorkshire'},
          {html: 'New application'},
          {text: '9 Sep 2023'}
        ],
        [
          {html: '<a href="#" class="govuk-link">12345678</a>'},
          {html: 'Jennifer Langley'},
          {html: 'Tilly Langley'},
          {html: '01 Sep 2023'},
          {text: 'Yorkshire'},
          {html: 'New application'},
          {text: '9 Sep 2023'}
        ],
        [
          {html: '<a href="#" class="govuk-link">89009800</a>'},
          {html: 'Susan Francis'},
          {html: 'Noah Francis'},
          {html: '01 Sep 2023'},
          {text: 'Humber'},
          {html: 'Receiving'},
          {text: '9 Sep 2023'}
        ],
        [
          {html: '<a href="#" class="govuk-link">44455453</a>'},
          {html: 'John Smith'},
          {html: 'Jo Smith'},
          {html: '01 Sep 2023'},
          {text: 'Yorkshire'},
          {html: 'Receiving'},
          {text: '25 Sep 2023'}
        ],
        [
          {html: '<a href="#" class="govuk-link">12323212</a>'},
          {html: 'Warren Sutton'},
          {html: 'Harry Sutton'},
          {html: '01 Sep 2023'},
          {text: 'Yorkshire'},
          {html: 'New application'},
          {text: '25 Sep 2023'}
        ],
        [
          {html: '<a href="#" class="govuk-link">45678765</a>'},
          {html: 'Alan Jones'},
          {html: 'Scarlette Jones'},
          {html: '01 Sep 2023'},
          {text: 'Yorkshire'},
          {html: 'New application'},
          {text: '9 Sep 2023'}
        ],
        [
          {html: '<a href="#" class="govuk-link">12345678</a>'},
          {html: 'Jennifer Langley'},
          {html: 'Hilda Langley'},
          {html: '01 Sep 2023'},
          {text: 'Yorkshire'},
          {html: 'New application'},
          {text: '9 Sep 2023'}
        ],
        [
          {html: '<a href="#" class="govuk-link">89009800</a>'},
          {html: 'Susan Francis'},
          {html: 'Ada Francis'},
          {html: '01 Sep 2023'},
          {text: 'Humber'},
          {html: 'Receiving'},
          {text: '9 Sep 2023'}
        ],
        [
          {html: '<a href="#" class="govuk-link">45456765</a>'},
          {html: 'John Smith'},
          {html: 'Simon Smith'},
          {html: '01 Sep 2023'},
          {text: 'Humber'},
          {html: 'Not found'},
          {text: '9 Sep 2023'}
        ],
        [
          {html: '<a href="#" class="govuk-link">88675411</a>'},
          {html: 'Margaret Blake'},
          {html: 'Margo Blake'},
          {html: '01 Sep 2023'},
          {text: 'Humber'},
          {html: 'Not found'},
          {text: '9 Sep 2023'}
        ],
        
        [
          {html: '<a href="#" class="govuk-link">44455453</a>'},
          {html: 'John Smith'},
          {html: 'Jona Smith'},
          {html: '01 Sep 2023'},
          {text: 'Yorkshire'},
          {html: 'Receiving'},
          {text: '25 Sep 2023'}
        ]
      ]
    }) }}
  </div>
</div>

      </div>
    
    </div>

  
  </div>
</div>

{% endblock %}