{% extends "../../current/checker/layouts/layout-dfe.html" %}

{% set pageName="Outcome not entitled" %}



{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">Appeal for free school meals</span>
        <h1 class="govuk-heading-xl">Children details added</h1>
        <p>You have successfully added children’s details to [Eden Tesfay’s] free school meals application record.</p>
    </div>
  </div>
</div>

<div class="govuk-!-padding-bottom-3"></div>

<div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m">What to do next:</h2>
        <p>As these children may not be entitled to free school meals, you’ll now need to send supporting evidence to your local authority for review. Go to <a href="../checker/process-appeals" class="govuk-link">Process appeals</a> and follow the instructions there. </p>
      </div>
    </div>
</div>

<div class="govuk-!-padding-bottom-3"></div>

<p><a href="../checker/dashboard">Return to dashboard</a></p>

<p><a href="">Sign out</a></p>






  </div>
</div>

{% endblock %}

{% block pageScripts %}
<script type="text/javascript" src="/public/javascripts/moj/all.js"></script>
{% endblock %}