{% extends "../../current/checker/layouts/layout-dfe.html" %}

{% set pageName="Home" %}

{% set parentName="Eden Tesfay" %}



{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">





    <h1 class="govuk-heading-l">
   Bramhope Primary School Portal
    </h1>


    <div class="govuk-grid-row">

            
      <div class="govuk-grid-column-full">
        

<div class="dfe-grid-container">


    <div class="dfe-card-container">

      <div class="def-card">
        <h2 class="govuk-heading-m">
            <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="application-types">Eligibility checkers</a>
        </h2>
        <p>Check a child's eligibility for free school meals.</p>
    </div>
    </div>

    <div class="dfe-card-container">

      <div class="def-card">
        <h2 class="govuk-heading-m">
            <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="upload">Batch check eligibility</a>
        </h2>
        <p>Upload and check on multiple families.</p>
    </div>
    </div>

   
    

    <div class="dfe-card-container">

      <div class="def-card">
        <h2 class="govuk-heading-m">
            <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="applications">New applications</a>
          
        </h2>
        <p>All applications which need processing.</p>
    </div>
    </div>

    <div class="dfe-card-container">

      <div class="def-card">
        <h2 class="govuk-heading-m">
            <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="search">Search records</a>
            
        </h2>
        <p>Search all records and export results.</p>
    </div>
    </div>




    










</div>


        
      </div>  
    
    </div>

  
  </div>
</div>

{% endblock %}