{% extends "layouts/layout-dfe.html" %}

{% set pageName="Home" %}



{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {%- from "moj/components/banner/macro.njk" import mojBanner -%}

{{ mojBanner({
  type: 'success',
  html:' <h3 class="govuk-heading-mß">The parent or carer is eligible for </h3>

  <p>This information can be passed on to the parent, carer or school.</p>',
  iconFallbackText: 'Success'
}) }}


   


    <p><a href="application-types">Do another check</a></p>
    <p><a href="homepage">Go to your homepage</a></p>



    <div class="govuk-grid-row">

            
      <div class="govuk-grid-column-one-half">
        
















        




        
      </div>  
    
    </div>

  
  </div>
</div>

{% endblock %}

{% block pageScripts %}
<script type="text/javascript" src="/public/javascripts/moj/all.js"></script>

{% endblock %}