{% extends "layouts/layout-dfe.html" %}

{% set pageName="Home" %}



{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {%- from "moj/components/banner/macro.njk" import mojBanner -%}

{{ mojBanner({
  type: 'success',
  html:' <h3 class="govuk-heading-l">The children of this parent/guardian are entitled to free school meals</h3>',
  iconFallbackText: 'Success'
}) }}

  
        <p style="max-width: 100%;">Please make sure the free school meals are set up and pass the confirmation on to the parent/guardian.</p>
      
        

        {% from "govuk/components/button/macro.njk" import govukButton %}

        {{ govukButton({
          text: "Add child details",
          href:'childs-age'
        }) }}



  </div>
</div>

{% endblock %}

{% block pageScripts %}
<script type="text/javascript" src="/public/javascripts/moj/all.js"></script>

{% endblock %}