{% extends "layouts/layout-dfe.html" %}

{% set pageName="Home" %}

{% set applicationSent %}
<h3 class="govuk-notification-banner__heading">
  Application sent
  </h3>
  <p class="govuk-body">
    You have sent your application for free school meals. It may take upto 1 week to process.
  </p>
  <p>Your reference is 1234567</p>
{% endset %}



{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {% if data['answers-checked'] =="true" %}
{{ govukNotificationBanner({
  html: applicationSent,
  type: 'success'
}) }}

{% endif %}



            
      {% from "govuk/components/radios/macro.njk" import govukRadios %}

      {{ govukRadios({
        name: "whereDoYouLive",
        fieldset: {
          legend: {
            text: "What do you need to check eligibility for?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "fsm",
            text: "Free school meals"
          },
          {
            value: "free-childcare",
            text: "Free childcare"
          },
          {
            value: "eypp",
            text: "Early years pupil premium"
          }
         
        ]
      }) }}


      <form action="name">
        {% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Save and continue"
}) }}
      </form>


        
    
    
    </div>

  
  </div>
</div>

{% endblock %}