{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">




    <div class="govuk-grid-row">

            
      <div class="govuk-grid-column-two-thirds">

    <form action="childs-age" method="post" novalidate>

      {% from "govuk/components/input/macro.njk" import govukInput %}

      {{ govukInput({
        label: {
          text: "What is your National Insurance number?",
          classes:'govuk-heading-xl',
          isPageHeading:yes
        },
        hint: {
          text: "It’s on your National Insurance card, benefit letter, payslip or P60. For example, ‘QQ 12 34 56 C’."
        },
        classes: "govuk-input--width-10 govuk-input--extra-letter-spacing",
        id: "national-insurance-number",
        name: "nationalInsuranceNumber",
        spellcheck: false
      }) }}


      {% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Save and continue"
}) }}

      
    </form>




        




        
      </div>  
    
    </div>

  
  </div>
</div>

{% endblock %}