{% extends "layouts/layout-dfe.html" %}

{% set pageName="Outcome not entitled" %}



{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">The children of this parent/guardian may not be entitled to free school meals</h1>
    <p> To confirm, you’ll need to send their supporting evidence to your local authority for review. </p>

    <p>If you haven’t received any evidence yet, please ask the parent/guardian to provide it.  </p>

    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
              Accepted kinds of supporting evidence
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content">
          <p class="govuk-body"><strong>Important:</strong> Please do not accept any documents which do not meet the criteria that follows. </p>
          <p>To support their claim for free school meals, parents/guardians can send their:</p>
          <p class="govuk-hint">*latest Universal Credit statements (up to three).</p>
          <p><strong>Important:</strong> Their annual net earned income must be no higher than £7,400. </p>
        
<p>Any documents they provide must show their income and the date.</p>
<p>*latest tax credit statement form TC602A (Award Notices) or TC603R (Auto Renewal), showing they are receiving Working Tax Credit run-on</p>
<p>*latest tax credit statement form TC602A (Award Notices) or TC603R (Auto Renewal), showing they are receiving Child Tax Credit</p>
<p><strong>Important: </strong>They must not be entitled to Working Tax Credit and their annual gross income must be no more than £16,190.</p>
<p>*Letter of Entitlement for Income Support</p>
<p>*Letter of Entitlement for income-based Jobseeker’s Allowance</p>
<p>*Letter of Entitlement for the guaranteed element of Pension Credit</p>
<p>Typically a Pension Credit M1000 Award Notice.</p>
<p>*document  showing they are receiving relevant support under part VI of the Immigration and Asylum Act 1999</p>
<p>This is typically a letter from the Home Office.</p>
<p>Further guidance</p>
<p>More in-depth information on supporting evidence can be found in the <a href="">guidance notes for parents and guardians.</a></p>


        </div>
      </div>

      
      
    </div>


  <p><a href="">Go to your portal homepage</a></p>
  <p><a href="">Sign out of the portal</a></p>





















  </div>
</div>

{% endblock %}

{% block pageScripts %}
<script type="text/javascript" src="/public/javascripts/moj/all.js"></script>
{% endblock %}