{% extends "layouts/layout-dfenoback.html" %}

{% set pageName="Home" %}

{% set applicationSent %}
<h3 class="govuk-notification-banner__heading">
  Your application has been sent
  </h3>
  <p class="govuk-body">
    We have sent your application to be processed by your local school. It may take upto 1 week to process.
  </p>
  <p>Your reference is 1234567</p>
{% endset %}

{% block beforeContent %}
  

  {% block backLink %}
    {{ govukBackLink({
      text: "Back",
      href: "../checker/dashboard"
    }) }}
  {% endblock %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {% if data['eligibility-confirmed'] =="yes" %}
    {{ govukNotificationBanner({
      html: applicationSent,
      type: 'success'
    }) }}
    
    {% endif %}



    {% from "moj/components/page-header-actions/macro.njk" import mojPageHeaderActions %}

    {{ mojPageHeaderActions({
      heading: {
        text: 'Process appeals (12)',
        classes: 'govuk-heading-l'
      },
      items: [
        {
          text: 'Download CSV file',
          classes: 'govuk-button--secondary',
          href: ''
        }
      ]
    }) }}

    <div class="govuk-width-container">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half">
            <p class="govuk-body">All the children in the table on this page need to have their supporting evidence reviewed by the local authority, to see if they can get free school meals.</p>
            <p class="govuk-heading-s">Now you should process their appeals.</p>
          </div>
        </div>
    </div>

    <div class="govuk-!-padding-bottom-3"></div>

    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <h2 class="govuk-heading-m">How to process appeals:</h2>
          <ol class="govuk-list govuk-list--number">
            <li>Request supporting evidence from the parent or guardian of each child. <a href="#" class="govuk-link">See a full list of acceptable evidence.</a></li>
            <li>Once you have this, enter each record with the status ‘Evidence needed’, by clicking on the reference number.   </li>
            <li>Follow the instructions to send each record on for local authority review, including the application reference number. </li>
          </ol>
        </div>
      </div>
  </div>

  <div class="govuk-!-padding-bottom-3"></div>

    <div class="govuk-grid-row">
  
      <div class="govuk-grid-column-full">


<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
     
      <th class="govuk-table__header" scope="col" id="select-all"></th>
      <th class="govuk-table__header" scope="col">Reference</th>
      <th class="govuk-table__header" scope="col">Parent or guardian</th>
      <th class="govuk-table__header" scope="col">Child</th>
      <th class="govuk-table__header govuk-table__header--numeric" scope="col">Date of birth</th>
      <th class="govuk-table__header" scope="col">Status</th>
      <th class="govuk-table__header govuk-table__header--numeric" scope="col">Entitled from</th>
      
      <th class="govuk-table__header govuk-table__header--numeric" scope="col">Date submitted</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row govuk-table__row--selected">
      <td class="govuk-table__cell">
        </div>
      </td>
      
      <td class="govuk-table__cell"><a href="../records/not-entitled-appeals" class="govuk-link">44455453</a></td>
      <td class="govuk-table__cell">Eden Tesfay</td>
      <td class="govuk-table__cell">Samual Tesfay</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">18 Sep 2017</td>
      <td class="govuk-table__cell"> {{ govukTag({
        text: "Evidence needed",
        classes: "govuk-tag--light-blue"
      }) }}</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">01 Sep 2023</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">25 Sep 2023</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        </div>
      </td>
      </td>
      <td class="govuk-table__cell"><a href="../records/approved" class="govuk-link">44455453</a></td>
      <td class="govuk-table__cell">Warren Sutton</td>
      <td class="govuk-table__cell">Lisa Sutton</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">18 Sep 2017</td>
      <td class="govuk-table__cell">{{ govukTag({
        text: "Evidence needed",
        classes: "govuk-tag--light-blue"
      }) }}</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">01 Sep 2023</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">25 Sep 2023</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        </div>
      </td>
      <td class="govuk-table__cell"><a href="../records/approved" class="govuk-link">44455453</a></td>
      <td class="govuk-table__cell">Alan Jones</td>
      <td class="govuk-table__cell">Jack Jones</td>
      
      <td class="govuk-table__cell govuk-table__cell--numeric">18 Sep 2017</td>
      <td class="govuk-table__cell">{{ govukTag({
        text: "Evidence needed",
        classes: "govuk-tag--light-blue"
      }) }}</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">01 Sep 2023</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">25 Sep 2023</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        </div>
      </td>
      <td class="govuk-table__cell"><a href="../records/approved" class="govuk-link">44455453</a></td>
      <td class="govuk-table__cell">Eden Tesfay</td>
      <td class="govuk-table__cell">Samual Tesfay</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">18 Sep 2017</td>
      <td class="govuk-table__cell">{{ govukTag({
        text: "Evidence needed",
        classes: "govuk-tag--light-blue"
      }) }}</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">01 Sep 2023</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">25 Sep 2023</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        </div>
      </td>
      <td class="govuk-table__cell"><a href="../records/approved" class="govuk-link">44455453</a></td>
      <td class="govuk-table__cell">Jennifer Langley</td>
      <td class="govuk-table__cell">Tilly Langley</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">18 Sep 2017</td>
      <td class="govuk-table__cell">{{ govukTag({
        text: "Sent for review",
        classes: "govuk-tag--grey"
      }) }}</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">01 Sep 2023</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">25 Sep 2023</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        </div>
      </td>
      <td class="govuk-table__cell"><a href="../records/approved" class="govuk-link">44455453</a></td>
      <td class="govuk-table__cell">Susan Francis</td>
      <td class="govuk-table__cell">Noah Francis</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">18 Sep 2017</td>
      <td class="govuk-table__cell">{{ govukTag({
        text: "Sent for review",
        classes: "govuk-tag--grey"
      }) }}</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">01 Sep 2023</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">25 Sep 2023</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        </div>
      </td>
      <td class="govuk-table__cell"><a href="../records/approved" class="govuk-link">44455453</a></td>
      <td class="govuk-table__cell">John Smith</td>
      <td class="govuk-table__cell">Jo Smith</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">18 Sep 2017</td>
      <td class="govuk-table__cell">{{ govukTag({
        text: "Sent for review",
        classes: "govuk-tag--grey"
      }) }}</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">01 Sep 2023</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">25 Sep 2023</td>
    </tr>
  </tbody>
</table>




    
    </div>

  
  </div>
</div>

{% endblock %}
