{% extends "/layouts/childcare/v5/layout-childcare.html" %}

{% block pageTitle %}
  File deleted
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Success
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <h3 class="govuk-notification-banner__heading">
          File deleted
        </h3>
      </div>
    </div>

    <h1 class="govuk-heading-l">Batch checks status</h1>

    <p><a href="/childcare/v5/batch-check/history/result-explainer">Get help with check results</a></p>



    <table class="govuk-table govuk-table--small-text-until-tablet">
      <caption class="govuk-table__caption govuk-table__caption--m">Showing 12 batch files uploaded in the last 7 days</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Filename</th>
          <th scope="col" class="govuk-table__header">Eligibility type</th>
          <th scope="col" class="govuk-table__header">Date submitted</th>
          <th scope="col" class="govuk-table__header">Submitted by</th>
          <th scope="col" class="govuk-table__header">Status</th>
          <th scope="col" class="govuk-table__header">Actions</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">2yearsFeb25b.csv</td>
          <td class="govuk-table__cell">Early learning for 2-year-olds</td>
          <td class="govuk-table__cell"> 18 February 2025 12.11pm</td>
          <td class="govuk-table__cell">Janet Eccles</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">Not started</strong></td>
          <td class="govuk-table__cell"></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">2yearold.csv</td>
          <td class="govuk-table__cell">Early learning for 2-year-olds</td>
          <td class="govuk-table__cell"> 12 February 2025 4.11pm</td>
          <td class="govuk-table__cell">Janet Eccles</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">In progress</strong></td>
          <td class="govuk-table__cell"></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">30h-MCC-feb-25.csv</td>
          <td class="govuk-table__cell">Early years pupil premium</td>
          <td class="govuk-table__cell"> 9 February 2025 11.54am</td>
          <td class="govuk-table__cell">Matty Smith</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Completed</strong></td>
          <td class="govuk-table__cell"><a href="/public/csv/childcare/research/eypp-2yo-outcomes-v3.csv">Download results</a> | <a href="/childcare/v5/batch-check/history/delete-file">Delete</a></td>
        </tr>
      </tbody>
    </table>


  </div>
</div>

{% endblock %}