{% extends "layouts/main.html" %}

{% block beforeContent %}

{{ govukBackLink({
  text: "Back",
  href: "/index"
}) }}

{% endblock %}

{% set pageName=" Eligibility checker prototype" %}
{% set version=" MVP3" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-!-width-two-thirds">
    <span class="govuk-table__caption--m">Index of pages for {{version}}</span>
<h1 class="govuk-heading-l">
  {{ serviceName }}</h1>
<p>Use these pages to jump to a specific point in the prototype quickly.</p>

<div class="govuk-inset-text">
  <h4>Status</h4>
  <p><span class="govuk-tag govuk-tag--grey">Not changed</span> No change since last version. </p>
  <p><span class="govuk-tag govuk-tag--yellow">Amended</span> Amends made since last version</p>
  <p><span class="govuk-tag govuk-tag--turquoise">Changed</span> Significant change since last version. Tickets documented</p>
  <p><span class="govuk-tag govuk-tag--pink">Removed</span> Page removed - locate in previous version</p>
</div>


<div class="govuk-!-width-two-thirds">
  <h2 span class="govuk-section-break--m govuk-heading-m">Parent pages</h2>
</div>

  <ul class="govuk-task-list">
  <li class="govuk-task-list__item govuk-task-list__item--with-link">
    <div class="govuk-task-list__name-and-hint">
      <a class="govuk-link govuk-task-list__link" href="_family/start-now.html" aria-describedby="Start-now-page">        account/Start-now
      </a>
      <div id="company-details-3-hint" class="govuk-task-list__hint">
        Check if your children can get free school meals  </div>
    </div>
    <div class="govuk-task-list__status" id="company-details-2-status">
      <strong class="govuk-tag govuk-tag--grey">
        Not changed
      </strong>
    </div>
    </li>
    <li class="govuk-task-list__item govuk-task-list__item--with-link">
      <div class="govuk-task-list__name-and-hint">
        <a class="govuk-link govuk-task-list__link" href="_family/parent-soft-check/check" aria-describedby="Start-now-page">
          parent-soft-check/check
        </a>
        <div id="company-details-3-hint" class="govuk-task-list__hint">
          Enter your details
      </div>
      </div>
      <div class="govuk-task-list__status" id="company-details-2-status">
        <strong class="govuk-tag govuk-tag--grey">
          Not changed
        </strong>
      </div>
      </li>
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="_family/parent-soft-check/nass-number" aria-describedby="Start-now-page">
            parent-soft-check/nass-number
          </a>
          <div id="company-details-3-hint" class="govuk-task-list__hint">
            Do you have an asylum support reference number?
        </div>
        </div>
        <div class="govuk-task-list__status" id="company-details-2-status">
          <strong class="govuk-tag govuk-tag--grey">
            Not changed
          </strong>
        </div>
        </li>
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="_family/parent-soft-check/checking-loader" aria-describedby="Start-now-page">
            parent-soft-check/checking-loader
          </a>
          <div id="company-details-3-hint" class="govuk-task-list__hint">
            Checking your entitlement
        </div>
        </div>
        <div class="govuk-task-list__status" id="company-details-2-status">
          <strong class="govuk-tag govuk-tag--yellow">
            Amended
          </strong>
        </div>
        </li>
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="_family/parent-soft-check/outcomes/eligible" aria-describedby="Start-now-page">
              Outcome - eligible
            </a>
            <div id="company-details-3-hint" class="govuk-task-list__hint">
              Your children are entitled to free school meals
          </div>
          </div>
          <div class="govuk-task-list__status" id="company-details-2-status">
            <strong class="govuk-tag govuk-tag--yellow">
              Amended
            </strong>
          </div>
          </li>
</ul>

<h2 span class="govuk-section-break--m govuk-heading-m">School pages</h2>

<h4 span class="govuk-section-break--m govuk-body">Prototype folder for all school pages MVP3/_school/..</h4>

<ul class="govuk-task-list">

  <li class="govuk-task-list__item govuk-task-list__item--with-link">
  <div class="govuk-task-list__name-and-hint">
    <a class="govuk-link govuk-task-list__link" href="dsi-account/dsi-startnow" aria-describedby="Start-now-page">
      dsi-account/dsi-startnow
    </a>
    <div id="company-details-3-hint" class="govuk-task-list__hint">
      DSi Sign in - Start page - option to create account or sign in </div>
  </div>
  <div class="govuk-task-list__status" id="company-details-2-status">
    <strong class="govuk-tag govuk-tag--grey">
      Not changed
    </strong>
  </div>
  </li>

  <li class="govuk-task-list__item govuk-task-list__item--with-link">
    <div class="govuk-task-list__name-and-hint">
      <a class="govuk-link govuk-task-list__link" href="dsi-account/dsi-signin" aria-describedby="Start-now-page">
        dsi-account/dsi-signin
      </a>
      <div id="company-details-3-hint" class="govuk-task-list__hint">
        DSi Sign in - Start page - option to create account or sign in </div>
    </div>
    <div class="govuk-task-list__status" id="company-details-2-status">
      <strong class="govuk-tag govuk-tag--grey">
        Not changed
      </strong>
    </div>
    </li>

  <li class="govuk-task-list__item govuk-task-list__item--with-link">
    <div class="govuk-task-list__name-and-hint">
      <a class="govuk-link govuk-task-list__link" href="dsi-account/dsi-landingpage" aria-describedby="Start-now-page">
        dsi-account/dsi-landingpage
      </a>
      <div id="company-details-3-hint" class="govuk-task-list__hint">
        DSi Sign in - Start page - option to create account or sign in </div>
    </div>
    <div class="govuk-task-list__status" id="company-details-2-status">
      <strong class="govuk-tag govuk-tag--grey">
        Not changed
      </strong>
    </div>
    </li>

<li class="govuk-task-list__item govuk-task-list__item--with-link">
  <div class="govuk-task-list__name-and-hint">
    <a class="govuk-link govuk-task-list__link" href="_school/dashboard" aria-describedby="Start-now-page">
      Dashboard
    </a>
    <div id="company-details-3-hint" class="govuk-task-list__hint">
      Free school meals dashboard  </div>
  </div>
  <div class="govuk-task-list__status" id="company-details-2-status">
    <strong class="govuk-tag govuk-tag--grey">
      Not changed
    </strong>
  </div>
  </li>


  <li class="govuk-task-list__item govuk-task-list__item--with-link">
    <div class="govuk-task-list__name-and-hint">
      <a class="govuk-link govuk-task-list__link" href="dsi-account/dsi-landingpage" aria-describedby="Start-now-page">
        dsi-account/dsi-landingpage
      </a>
      <div id="company-details-3-hint" class="govuk-task-list__hint">
        DSi Sign in - Start page - option to create account or sign in </div>
    </div>
    <div class="govuk-task-list__status" id="company-details-2-status">
      <strong class="govuk-tag govuk-tag--grey">
        Not changed
      </strong>
    </div>
    </li>


    <li class="govuk-task-list__item govuk-task-list__item--with-link">
      <div class="govuk-task-list__name-and-hint">
        <a class="govuk-link govuk-task-list__link" href="_school/school-manage/school-soft-check/checker" aria-describedby="Start-now-page">
          _school/school-manage/school-soft-check/checker
        </a>
        <div id="company-details-3-hint" class="govuk-task-list__hint">
          Run a check for one parent or guardian </div>
      </div>
      <div class="govuk-task-list__status" id="company-details-2-status">
        <strong class="govuk-tag govuk-tag--yellow">
          Amended
        </strong>
      </div>
      </li>








  </ul>


<h2 span class="govuk-section-break--m govuk-heading-m">Local Authority pages</h2>

<h2 span class="govuk-section-break--m govuk-heading-m">School pages</h2>

<ul class="govuk-task-list">

<li class="govuk-task-list__item govuk-task-list__item--with-link">
  <div class="govuk-task-list__name-and-hint">
    <a class="govuk-link govuk-task-list__link" href="account/start-now" aria-describedby="Start-now-page">
      account/Start-now
    </a>
    <div id="company-details-3-hint" class="govuk-task-list__hint">
      Check if your children can get free school meals  </div>
  </div>
  <div class="govuk-task-list__status" id="company-details-2-status">
    <strong class="govuk-tag govuk-tag--grey">
      Not changed
    </strong>
  </div>
  </li>

  </ul>


{% endblock %}