{# 1 #}
{% from 'node_modules/dfe-frontend/packages/components/header/macro.njk' import header %}

{# 2 #}
{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% set govukRebrand = true %}

{# 3 #}
{% block header %}



<header class="govuk-header" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
      <div class="govuk-header__logo">
        <a href="/childcare/index-childcare-dev" class="govuk-header__link govuk-header__link--homepage">
            <img src="/public/images/department-for-education_white.png" alt="Department for Education" class="govuk-header__logotype">
        </a>
      </div>
      <div class="dfe-header__content" id="content-header">
        <ul class="dfe-header__action-links govuk-!-margin-top-3">
            <li>
                <a href="#" class="govuk-link govuk-link--inverse ">Sign out</a>
            </li>
        </ul>
      </div>
  </div>
</header>


{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{{ govukServiceNavigation({
  rebrand: "true",
  serviceName: "Manage eligibility for childcare support",
  navigation: [
  {
      href: "/childcare/dev/dashboard",
      text: "Home"
    },
    {
      href: "/childcare/dev/single-check/single",
      text: "Run a check"
    },
    {
      href: "/childcare/dev/batch-check/batch",
      text: "Run a batch check"
    },
    {
      href: "/childcare/dev/foster/foster",
      text: "Manage foster families"
    },
    {
      href: "/childcare/dev/reports/reports",
      text: "Run reports"
    },
    {
      href: "/childcare/dev/guidance/guidance",
      text: "Guidance"
    }
  ]
}) }}





{% endblock %}



{% block footer %}
 {{ govukFooter({
  rebrand: "true",
   meta: {
     items: [
      {
         href: "https://www.gov.uk/government/organisations/department-for-education/about/personal-information-charter",
         text: "Privacy"
       },
       {
         href: "/childcare/dev/compliance/cookies",
         text: "Cookies"
       },
      {
        href: "https://forms.office.com.mcas.ms/pages/responsepage.aspx?id=yXfS-grGoU2187O4s0qC-URYbNo1-R1EubHA0gNJis5UNjFaUzRMTEVPTVlaMFNFOVg1Q05PODg3Vi4u&route=shorturl",
        text: "Contact us"
      }
     ],
     visuallyHiddenTitle: "Footer links"
   }
 }) }}
{% endblock %}

{# 4 #}
{% block scripts %}
  {{ super() }}

{% endblock %}