{# 1 #}
{% from 'node_modules/dfe-frontend/packages/components/header/macro.njk' import header %}

{# 2 #}
{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{# 3 #}
{% block header %}



{{ header({
  "showNav": "true",
  "showSearch": "false",
  "showHeaderActionLinks": "true",
  "logoPath": "public/images",
  "logoAltText": "Department for Education",
  "homeHref": "/childcare/index-childcare",
  "searchAction": "/search/",
  "searchInputName": "q",
  "service": {
    "name": "Manage eligibility for childcare support",
    "serviceUrl": "/childcare/dev/dashboard"
  },
  "headerActionLinks": [

    {
      "url"  : "#",
      "label" : "Sign out"
    }
  ]


})
}}




{% endblock %}



{% block footer %}
 {{ govukFooter({
   meta: {
     items: [
      {
        href:"/manage-prototype",
        text:"Manage your prototype"
      },
       {
         href: "/manage-prototype/clear-data",
         text: "Clear data"
       }
     ],
     visuallyHiddenTitle: "Footer links"
   }
 }) }}
{% endblock %}

{# 4 #}
{% block scripts %}
  {{ super() }}

{% endblock %}