{# 1 #}
{% from 'node_modules/dfe-frontend/packages/components/header/macro.njk' import header %}

{# 2 #}
{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{# 3 #}
{% block header %}



{{ header({
  "showNav": "true",
  "showSearch": "false",
  "showHeaderActionLinks": "true",
  "logoPath": "public/images",
  "logoAltText": "Department for Education",
  "homeHref": "/childcare/index-childcare",
  "searchAction": "/search/",
  "searchInputName": "q",
  "service": {
    "name": "Manage eligibility for childcare support",
    "serviceUrl": "/childcare/dev/dashboard"
  },
  "headerActionLinks": [

    {
      "url"  : "#",
      "label" : "Sign out"
    }
  ]


})
}}




{% endblock %}



{% block footer %}
 {{ govukFooter({
   meta: {
     items: [
     {
         href: "https://www.gov.uk/government/organisations/department-for-education/about/personal-information-charter",
         text: "Privacy"
       },
      {
        href: "https://forms.office.com.mcas.ms/pages/responsepage.aspx?id=yXfS-grGoU2187O4s0qC-URYbNo1-R1EubHA0gNJis5UNjFaUzRMTEVPTVlaMFNFOVg1Q05PODg3Vi4u&route=shorturl",
        text: "Contact us"
      }
     ],
     visuallyHiddenTitle: "Footer links"
   }
 }) }}
{% endblock %}

{# 4 #}
{% block scripts %}
  {{ super() }}

{% endblock %}