{% extends "/layouts/childcare/v7/layout-childcare.html" %}

{% block pageTitle %}
  Early years pupil premium Guidance for reviewing evidence
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">Early years pupil premium</span>
   <h1 class="govuk-heading-l">Guidance for reviewing evidence</h1>
   <p>To find out if the children of a parent or guardian are entitled to early years pupil premium, you’ll need to review the supporting evidence they've provided.</p>
   <p>Choose the relevant section from the evidence list for tailored guidance on how to review. </p>

   <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
    <div class="govuk-accordion__section">
      <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
            Universal Credit statements
          </span>
        </h2>
      </div>
      <div id="accordion-default-content-1" class="govuk-accordion__section-content">
        <p class="govuk-body">To see if a parent or guardian can claim early years pupil premium, you must find their <strong class="govuk-!-font-weight-bold">take-home pay</strong in the Universal Credit statement(s) they’ve provided. If a ‘minimum income floor’ has been applied by the Department for Work and Pensions, you should use the actual earnings instead.  </p>
        <p><strong class="govuk-!-font-weight-bold">Important</strong>: Any statements provided must show the parent/guardian’s income, and the income of any partner listed on the claim, and the date it was sent. </p>
        <p>Their latest statement should refer to the Universal Credit assessment period immediately before the date of their request. </p>
        <p>They are entitled if any of the following apply: </p>
        <ul>
          <li>the take-home pay of the applicant and any partner listed in the latest Universal Credit statement is <strong class="govuk-!-font-weight-bold">£616.67 or less</strong></li>
          <li>the take-home pay of the applicant and any partner listed in the latest Universal Credit statement + the one covering the Universal Credit assessment period directly before is <strong class="govuk-!-font-weight-bold">£1,233.34 or less</strong></li>
          <li>the take-home pay of the applicant and any partner listed in the latest Universal Credit statement + the one covering the month directly before + the one covering the month directly before that is <strong class="govuk-!-font-weight-bold">£1,850.00 or less</strong>  </li>
        </ul>
      </div>
    </div>
    <div class="govuk-accordion__section">
      <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
            Support under part VI of the Immigration and Asylum Act 1999
          </span>
        </h2>
      </div>
      <div id="accordion-default-content-2" class="govuk-accordion__section-content">
        <p class="govuk-body">When checking an applicant with an asylum support reference number (formerly NASS number), a document proving they are receiving relevant support under part VI of the Immigration and Asylum Act 1999 is needed. They must provide: </p>
        <ul>
          <li>a letter from the Home Office confirming they receive financial support under section 95 </li>
          <li>an Application Residence Card (ARC) for themselves and any partner </li>
        </ul>
        <p>You can also review other kinds of documentation at your discretion. </p>
        <p>If the document provided demonstrates that they receive such support, this is sufficient evidence for them to claim early years pupil premium for their children. </p>
        <p>Note that some asylum seekers with a support reference number are claiming asylum under part IV of the Immigration and Asylum Act 1999. These claimants are not eligible. </p>
      </div>
    </div>
    <div class="govuk-accordion__section">
      <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
            Children in care
          </span>
        </h2>
      </div>
      <div id="accordion-default-content-3" class="govuk-accordion__section-content">
        <p class="govuk-body">To see if children in care are eligible for early years pupil premium, you can check with the local authority social care team to confirm that they are looked after or previously looked after by a local authority. </p>
        <p>Children who have left care via adoption, a special guardianship order or a child arrangements order are eligible for early years pupil premium.  </p>
      </div>
    </div>
    <div class="govuk-accordion__section">
      <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
            Income Support
          </span>
        </h2>
      </div>
      <div id="accordion-default-content-4" class="govuk-accordion__section-content">
        <p class="govuk-body">To see if a parent or guardian can claim early years pupil premium for their children, check their Letter of Entitlement from the Department for Work and Pensions. </p>
        <p>If the letter states they are currently in receipt of Income Support, they also count as being entitled to early years pupil premium.</p>
      </div>
    </div>
    <div class="govuk-accordion__section">
      <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
            Income based Jobseeker's Allowance (JSA)
          </span>
        </h2>
      </div>
      <div id="accordion-default-content-4" class="govuk-accordion__section-content">
        <p class="govuk-body">To see if a parent or guardian can claim early years pupil premium for their children, check their Letter of Entitlement from the Department for Work and Pensions.  </p>
        <p>If the letter states they are currently in receipt of income-based Jobseeker’s Allowance (JSA) - sometimes called old style JSA - they also count as being entitled to early years pupil premium. </p>
      </div>
    </div>
    <div class="govuk-accordion__section">
      <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
            Income-related Employment and Support Allowance (ESA)
          </span>
        </h2>
      </div>
      <div id="accordion-default-content-4" class="govuk-accordion__section-content">
        <p class="govuk-body">To see if a parent or guardian can claim early years pupil premium for their children, check their Letter of Entitlement from the Department for Work and Pensions.  </p>
        <p>If the letter states they are currently in receipt of income-related Employment and Support Allowance (ESA) - sometimes called old style ESA - they also count as being entitled to early years pupil premium. </p>
      </div>
    </div>
     <div class="govuk-accordion__section">
      <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
            Pension Credit
          </span>
        </h2>
      </div>
      <div id="accordion-default-content-4" class="govuk-accordion__section-content">
        <p class="govuk-body">To see if a parent or guardian can claim early years pupil premium for their children, check their Letter of Entitlement from the Department for Work and Pensions. This will typically be a Pension Credit M1000 Award Notice. </p>
        <p>If the letter states they are currently in receipt of Pension Credit, they also count as being entitled to early years pupil premium. </p>
      </div>
    </div>
  </div>




  </div>
</div>



{% endblock %}