{% extends "layouts/layout-dfe.html" %}

{% set pageName="Home" %}

{% set applicationSent %}
<h3 class="govuk-notification-banner__heading">
  Application for free school meals submitted
</h3>

<p class="govuk-body-m">Your reference is 1234567</p>
{% endset %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {% if data['answers-checked'] =="true" %}
    {{ govukNotificationBanner({
    html: applicationSent,
    type: 'success'
    }) }}

    {% endif %}



    <div class="govuk-grid-row">


      <div class="govuk-grid-column-one-half">

        <p>We have sent your application to [name of school]. We have sent you a confirmation email.</p>


        <h2 class="govuk-heading-l">What happens next</h2>


      <p>  The school will email you when they have processed your application. </p>

<p>It usually takes 1 week to process applications.  </p>

<p>If you do not receive an update or a decision within 1 week, you should check the progress of your application in your parent portal or talk to the school administrator. </p>

<h2 class="govuk-heading-l">What you can do now</h2>



        

        <form action=""></form>

        <p><a href="dashboard?application=sent">Go to your parent portal homepage</a></p>
        <p><a href="../account/signin-or-create">Sign out of your parent portal</a></p>





















      </div>

    </div>


  </div>
</div>

{% endblock %}

{% block pageScripts %}
<script type="text/javascript" src="/public/javascripts/moj/all.js"></script>
{% endblock %}