{% extends "layouts/layout-dfe.html" %}

{% set pageName="Home" %}



      
      {% block content %}
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds-from-desktop">
      
            <h1 class="govuk-heading-l">Check your answers before submitting</h1>
      
            <h2 class="govuk-heading-m">Parent details</h2>
      
            {{ govukSummaryList({
              classes: "govuk-!-margin-bottom-9",
              rows: [

              {
                key: {
                  text: "Local council"
                },
                value: {
                  text: ""
                },
                actions: {
                  items: [
                    {
                      href: "#",
                      text: "Change",
                      visuallyHiddenText: "council"
                    }
                  ]
                }
              },
                {
                  key: {
                    text: "Name"
                  },
                  value: {
                    text: "Eden Tesfay"
                  },
                  actions: {
                    items: [
                      {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "name"
                      }
                    ]
                  }
                },


                {
                  key: {
                    text: "Date of birth"
                  },
                  value: {
                    text: ""
                  },
                  actions: {
                    items: [
                      {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "date of birth"
                      }
                    ]
                  }
                },


                {
                  key: {
                    text: "National insurance number"
                  },
                  value: {
                    text: "Not provided"
                  },
                  actions: {
                    items: [
                      {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "customer reference"
                      }
                    ]
                  }
                },

                {
                  key: {
                    text: "NASS number"
                  },
                  value: {
                    text: "8768736863756"
                  },
                  actions: {
                    items: [
                      {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "nass"
                      }
                    ]
                  }
                },


               
                {
                  key: {
                    text: "Email address"
                  },
                  value: {
                    html: '<p class="govuk-body">edent.tesfay@icloud.com</p>'
                  },
                  actions: {
                    items: [
                      {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "contact details"
                      }
                    ]
                  }
                }
              ]
            }) }}
      
            <h2 class="govuk-heading-m">Child 1</h2>
      
            {{ govukSummaryList({
              classes: "govuk-!-margin-bottom-9",
              rows: [
                {
                  key: {
                    text: "Child's name"
                  },
                  value: {
                    text: ""
                  },
                  actions: {
                    items: [
                      {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "previous application number"
                      }
                    ]
                  }
                },
                {
                  key: {
                    text: "School"
                  },
                  value: {
                    text: ""
                  },
                  actions: {
                    items: [
                      {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "school"
                      }
                    ]
                  }
                },
                {
                  key: {
                    text: "Child's DOB"
                  },
                  value: {
                    text: ""
                  },
                  actions: {
                    items: [
                      {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "document"
                      }
                    ]
                  }
                }

            
              ]
            }) }}
      
            <h2 class="govuk-heading-m">Submit for eligibility</h2>
      
            <p class="govuk-body">By submitting your information you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>
      
            <form action="eligible" method="post" novalidate>
      
              <input type="hidden" name="answers-checked" value="true">
      
              {{ govukButton({
                text: "Check my eligibility",
                classes:'govuk-!-margin-top-5'
              }) }}
      
            </form>
      
          </div>
        </div>
    
      
      
      
      
      
   

      
  




        




        
      </div>  
    
    </div>

  
  </div>
</div>

{% endblock %}