{% extends "layouts/layout-dfe.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">


  
    <h1 class="govuk-heading-xl">
      
     Check what a family is entitled to
    </h1>


    <div class="govuk-grid-row">

            
      <div class="govuk-grid-column-one-half">

    <form action="../checker/result" method="post" novalidate>

      {% call govukFieldset({
        legend: {
          text: "How old is the child?",
          classes: "govuk-fieldset__legend--l",
          isPageHeading: true
        }
      }) %}
      
        
 

        

        {{ govukInput({
          label: {
            text: "Age"
          },
          classes: "govuk-!-width-one-quarter",
          id: "age",
          name: "age",
          autocomplete: "age",
          hint: {
            text: "For example, 9"
          }
        }) }}
      
   
        {{ govukDateInput({
          
          id: "dob",
          namePrefix: "dob",
          
          fieldset: {
            legend: {
              text: "Date of birth",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--s"
            }
          },
          hint: {
            text: "For example, 27 3 2014"
          }
        }) }}
     
      
      
      
        
      
       
      
      {% endcall %}
      
      
      
      
      {{ govukButton({
        text: "Save and continue",
        classes:'govuk-!-margin-top-5'
      }) }}

      
    </form>




        




        
      </div>  
    
    </div>

  
  </div>
</div>

{% endblock %}