{% extends "layouts/layout-dfe.html" %}

{% set pageName="Home" %}

{% set parentName="Eden Tesfay" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">




    <span class="govuk-hint">Parent portal</span>
    <h1 class="govuk-heading-l">
    Eden Tesfay
    </h1>


  
  </div>
</div>



<div class="govuk-grid-row">

            
      

  <div class="govuk-grid-column-full">



{% set filterOptionsHtml %}

{{ govukInput({
id: 'keywords',
name: 'keywords',
label: {
  text: 'Keywords',
  classes: 'govuk-label--m'
}
}) }}

{{ govukCheckboxes({
idPrefix: 'type',
name: 'type',
classes: "govuk-checkboxes--small",
fieldset: {
  legend: {
    text: 'Area',
    classes: 'govuk-fieldset__legend--m'
  }
},
items: [
  {
    value: '1',
    text: 'Yorkshire (18)',
    checked: true
  },

  {
    value: '2',
    text: 'Humber (12)',
    checked: true
  }
]
}) }}

{{ govukCheckboxes({
idPrefix: 'status',
name: 'status',
classes: "govuk-checkboxes--small",
fieldset: {
  legend: {
    text: 'Status',
    classes: 'govuk-fieldset__legend--m'
  }
},
items: [
  {
    value: '1',
    text: 'Complete (5)',
    checked: true
  },
  {
    value: '2',
    text: 'Incomplete (3)',
    checked: true
  },
  {
    value: '3',
    text: 'New application (13)',
    checked: true
  }
]
}) }}

{% endset %}


<div class="moj-filter-layout">



<div class="moj-filter-layout__content">




<div class="moj-scrollable-pane">


  {% if data['application'] == 'sent' %}

{{ govukTable({
  firstCellIsHeader: true,
  head: [
    {text: 'Reference'},
    {text: 'Application'},
    {text: 'Area'},
    {text: 'Status'},
    {text: 'Date submitted'}
  ],
  rows: [
    [
      {html: '<a href="../records/parent/" class="govuk-link">44455453</a>'},
      {html: 'Free school meals'},
      {text: 'Yorkshire'},
      {html: 'Evidence submitted'},
      {text: date() }
      
    ]
  ]
}) }}

{% else %}

{{ govukTable({
  firstCellIsHeader: true,
  head: [
    {text: 'Reference'},
    {text: 'Application'},
    {text: 'Area'},
    {text: 'Status'},
    {text: 'Date submitted'}
  ],
  rows: [
    [
      {html: '<a href="../records/parent/new-appeal" class="govuk-link">44455453</a>'},
      {html: 'Free school meals'},
      {text: 'Yorkshire'},
      {html: 'Evidence submitted'},
      {text: date() }
      
    ]
  ]
}) }}

{% endif %}

</div>
</div>

  </div>

</div>


</div>

{% endblock %}

{% block pageScripts %}
<script src="https://unpkg.com/nunjucks/browser/nunjucks-slim.min.js"></script>

{% endblock %}