{% extends "layouts/layout-dfe.html" %}









{% block backLink %}
{{ govukBackLink({
text: "Back",
href: "/"
}) }}
{% endblock %}


<!-- The content between the heading 1 and the buttons -->

{% block content %}



<div class="govuk-grid-row govuk-!-margin-bottom-5">
  <div class="govuk-grid-column-two-thirds">




 
 <form action="upload-file" method="post" novalidate>


{{ govukRadios(
  
  {
  name: "evidence",
  id:'evidence',
  fieldset: {
    legend: {
      text: "Which document do you have?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  hint: {
    text: "You will need to scan or take a photo of the original and upload as a jpg, png, tiff, or pdf "
  },
  items: [
  {
    value: "Income support",
    text: "Income support"
  },

  {
    value: "Income based Jobseeker's Allowance",
    text: "Income based Jobseeker's Allowance"
  },

  {
    value:"Income-related Employment and Support Allowance",
    text:"Income-related Employment and Support Allowance"
  },
  {
    value:"Support under Part VI of the Immigration and Asylum Act 1999",
    text:"support under Part VI of the Immigration and Asylum Act 1999",
    hint: {
      text: "For example, national asylum support number (NASS), Application Registration Card (ARC), Port reference number."
    }
  },
   
  
   {
    value:"Child Tax Credit",
    text:"Child Tax Credit"
   },
 
    {
      value: "the guaranteed element of Pension Credit",
      text: "the guaranteed element of Pension Credit "
    },
   
    {
      value: "Working Tax Credit run-on",
      text: "Working Tax Credit run-on"
    },
    {
      value: "Universal Credit",
      text: "Universal Credit"

   
  ]}
}) }}




{{ govukButton({
  text: "Save and continue"
  
}) }}


 </form>   

    </div>
    </div>



{% endblock %}

{% block buttons %}
{% endblock %}

{% block pageScripts %}
<!-- Add any javascript files here. Include javascript files only on the pages
that need them. Excessive javascript files loaded on other pages may slow down
the response times of the prototype. -->
<script type="text/javascript" src="/public/javascripts/moj/all.js"></script>


{% endblock %}