{% extends "layouts/layout-dfe.html" %}

{% set pageName="Home" %}



{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">You require more information to check your eligibility</h1>



        <h2 class="govuk-heading-l">What to do now:</h2>


        <p>You can also either <a href="https://www.childcarechoices.gov.uk/">view Childcare Choices</a> on other types Government help for parents, or check if you may also be entitled to <a href="https://www.gov.uk/get-extra-early-years-funding">extra funding</a>
          for your early years provider.</p>

<h2 class="govuk-heading-m">Get help with checking your eligibility</h2>
<ul class="govuk-list">
  <li>Telephone: 020 7946 0101</li>
  <li>Monday to Friday, 9am to 5pm (except public holidays)</li>
</ul>
<p class="govuk-body">
  <a class="govuk-link" href="#">Find out about call charges</a>
</p>
















        




 

  
  </div>
</div>

{% endblock %}

{% block pageScripts %}
<script type="text/javascript" src="/public/javascripts/moj/all.js"></script>
{% endblock %}