{% extends "layouts/layout-dfe.html" %}

{% set pageName="Home" %}



{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">You are not eligible for free school meals</h1>


<h2 class="govuk-heading-m">Get help with checking your eligibility</h2>
<p>If you believe this check to be incorrect, you can appeal, by providing one of the following:</p>

<ul class="govuk-!-margin-bottom-10">
  <li>Universal credit number</li>
<li>National asylum support number</li>
<li>Jobseekers allowance support number</li>
</ul>



{{ govukRadios({
  classes: "govuk-radios--inline",
  name: "changedName",
  fieldset: {
    legend: {
      text: "Do you want to proceed to the appeals process?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m govuk-!-margin-top-5"
    }
  },
  hint: {
    text: "You will need to upload one of the supporting documents as evidence"
  },
  items: [
    {
      value: "yes",
      text: "Yes"
    },
    {
      value: "no",
      text: "No"
    }
  ]
}) }}

{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Continue",
  href:'do-you-have-docs'
}) }}













        




 

  
  </div>
</div>

{% endblock %}

{% block pageScripts %}
<script type="text/javascript" src="/public/javascripts/moj/all.js"></script>
{% endblock %}