{% extends "layouts/layout-dfe.html" %}

{% set pageName="Home" %}



{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">More information is required to check your eligibility</h1>



        <h2 class="govuk-heading-m">What to do now:</h2>


        {% if data['ni-number'] == 'no' %}
    <p>If you don't have a national insurance number, find out how to <a href="https://www.gov.uk/apply-national-insurance-number">apply for one.</a></p>
{% elif data['nass-number'] == 'no' %}
    <p>If you don't have a national asylum support number, find out what <a href="https://www.gov.uk/asylum-support">help you might be entitled to</a></p>
{% endif %}

    











        




 

  
  </div>
</div>

{% endblock %}

{% block pageScripts %}
<script type="text/javascript" src="/public/javascripts/moj/all.js"></script>
{% endblock %}