{% extends "layouts/layout-dfe.html" %}

{% set pageName="Home" %}



{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l">We cannot process your eligibility</h1>

    <p>You require either:</p>
    <ul><li>A national insurance number</li>
    <li>A National Asylum Seeker Supprt number</li></ul>



    <div class="govuk-grid-row">

            
      <div class="govuk-grid-column-one-half">
        <h2 class="govuk-heading-l">What to do now:</h2>


<p>You can either <a href="">view GOVUK guidance</a> on free school meals, or <a href="forms">start a new application</a></p>

<p>You may also contact the DfE contact centre for disputes on 0800 765 2345.</p>
















        




        
      </div>  
    
    </div>

  
  </div>
</div>

{% endblock %}

{% block pageScripts %}
<script type="text/javascript" src="/public/javascripts/moj/all.js"></script>
{% endblock %}