{% extends "../../../../layouts/layout-dfe-schoolnav-noback.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

    {% set html %}
      <h1 class="govuk-notification-banner__heading">
        Checks completed
      </h1>
      <p class="govuk-body">See below which parents can claim free school meals for their children.</p>

    {% endset %}

    {{ govukNotificationBanner({
      html: html,
      type: "success"
    }) }}


    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">School</th>
          <th scope="col" class="govuk-table__header">Parent name</th>
          <th scope="col" class="govuk-table__header">Parent DOB</th>
          <th scope="col" class="govuk-table__header">NINO or NASS</th>
          <th scope="col" class="govuk-table__header">Email</th>
          <th scope="col" class="govuk-table__header">Child name</th>
          <th scope="col" class="govuk-table__header">Child DOB</th>
          <th scope="col" class="govuk-table__header">Status</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell"></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell"></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell"></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell"></td>
        </tr>
      </tbody>
    </table>





    <h1 class="govuk-heading-m">Result explainer </h1>
    <p><strong>Entitled</strong> – The children of this parent or guardian are entitled to free school meals.</p>
    <p><strong>May not be entitled</strong> – The children of this parent or guardian may not be entitled to free school meals. To appeal, provide evidence to support your local authority in making a decision. View the list of acceptable evidence. </p>
    <p><strong>Could not check</strong>  – This parent or guardian’s personal information doesn’t match the departmental records. Either their data was entered incorrectly or their entitlement isn’t currently updated on the system.</p>
    <p><strong>Error</strong> – There was a problem accessing this parent or guardian’s data to obtain a result. </p>


<p><a href="../../dashboard">Return to dashboard</a></p>


{% endblock %}

{% block pageScripts %}
<script type="text/javascript" src="/public/javascripts/moj/all.js"></script>

{% endblock %}