{% extends "../../../../layouts/layout-dfe-schoolnav-noback.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

    {% set html %}
      <h1 class="govuk-notification-banner__heading">
        Checks completed
      </h1>
      <p class="govuk-body">See below which parents can claim free school meals for their children.</p>

    {% endset %}

    {{ govukNotificationBanner({
      html: html,
      type: "success"
    }) }}

    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Understanding the results
        </span>
      </summary>
      <div class="govuk-details__text">
      <h3 class="govuk-heading-s">Eligible</h3>
      <p class="govuk-body">The children of this parent or guardian are eligible to free school meals.</p>

      <h3 class="govuk-heading-s">May not be eligible</h3>
      <p class="govuk-body">The children of this parent or guardian may not be eligible to free school meals. To appeal, provide evidence to support your local authority in making a decision. <a href="/mvp3/_family/guidance/parent-guidance#:~:text=Providing%20the%20right%20evidence" class="govuk-link">View the list of acceptable evidence</a>.</p>

      <h3 class="govuk-heading-s">Could not check</h3>
      <p class="govuk-body">This parent or guardian’s personal information doesn’t match the departmental records. Either their data was entered incorrectly or their eligibility isn’t currently updated on the system.</p>

      <h3 class="govuk-heading-s">Error</h3>
      <p class="govuk-body">There was a problem accessing this parent or guardian’s data to obtain a result. </p>
</div>
    </details>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">School</th>
          <th scope="col" class="govuk-table__header">Parent name</th>
          <th scope="col" class="govuk-table__header">Parent DOB</th>
          <th scope="col" class="govuk-table__header">NINO or NASS</th>
          <th scope="col" class="govuk-table__header">Email</th>
          <th scope="col" class="govuk-table__header">Child name</th>
          <th scope="col" class="govuk-table__header">Child DOB</th>
          <th scope="col" class="govuk-table__header">Status</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell"></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell"></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell"></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell"></td>
        </tr>
      </tbody>
    </table>
</div>

{% endblock %}

{% block pageScripts %}
<script type="text/javascript" src="/public/javascripts/moj/all.js"></script>

{% endblock %}