{% extends "../../../../layouts/layout-dfe-schoolnav.html" %}
{% set pageName="Run a batch check for multiple parents or guardians" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">{{pageName}}</h1>

    <p class="govuk-body">Upload a template with details of the parents or guardians who applied for free school meals.
    </p>

    <h2 class="govuk-heading-m">Running a batch check</h2>
    <ol class="govuk-list govuk-list--number">
      <li>Download the <a href="/public/csv/Batch-check-template.csv" download class="govuk-link">batch check template</a> (185kb) </li>
      <li>Add the details of all parents you need to check, including: Name, Date of birth, National Insurance number or
        Asylum support reference number.</li>
      <li>Save it as a CSV file. </li>
      <li>Upload the completed template on this page on this page and perform checks. </li>
      <li>You’ll be given a file to download containing results. </li>
    </ol>



    <h2 class="govuk-heading-m">Upload a completed template and run a check</h2>

    <p class="govuk-body">The batch check template must be fully completed and in CSV format. </p>




    {% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}

    {{ govukFileUpload({
    id: "file-upload-1",
    name: "fileUpload1",
    label: {
    text: ""
    }
    }) }}

    {% from "govuk/components/button/macro.njk" import govukButton %}

    {{ govukButton({
    text: "Run checks",
    classes: "govuk-button--primary",
    href: '../batch-checking/batch-checking-loader'
    }) }}


    {% endblock %}
    {% block pageScripts %}
    <!-- Add any javascript files here.

Include javascript files only on the pages
that need them. Excessive javascript files loaded on other pages may slow down
the response times of the prototype. -->
    <script type="text/javascript" src="/public/javascripts/moj/all.js"></script>

    <script type="text/javascript">
      if (typeof MOJFrontend.MultiFileUpload !== "undefined") {
        new MOJFrontend.MultiFileUpload({
          container: $(".moj-multi-file-upload"),
          uploadUrl: "/ajax-upload",
          deleteUrl: "/ajax-delete",
        });
      }
    </script>
    {% endblock %}