{# 1 #}
{% from 'node_modules/dfe-frontend/packages/components/header/macro.njk' import header %}

{# 2 #}
{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{# 3 #}
{% block header %}

{{ header({
  "showNav": "true",
  "showSearch": "true",
  "showHeaderActionLinks": "true",
  "logoPath": "public/images",
  "logoAltText": "Department for Education",
  "homeHref": "/FSM/Private_beta/v7-1/dsi-account/dsi-startnow",
  "searchAction": "/search/",

    "searchInputName": "q",
  "headerActionLinks": [
      {
          "url": "/FSM/Private_beta/v7-1/dsi-account/dsi-landingpage",
          "label": "My account"
      },
      {
          "url": "/FSM/Private_beta/v7-1/dsi-account/dsi-startnow",
          "label": "Sign out"
      }
  ]
}) }}

{{ govukServiceNavigation({
  "serviceName": "Eligibility checking support service",
  "serviceUrl": "/FSM/index-fsm",
  "navigation": [
      {
          "href": "#",
          "text": "Dashboard",
          "active": true
      },
      {
          "href": "#",
          "text": "Batch check history"
      },
      {
          "href": "#",
          "text": "View reports"
      },
      {
          "href": "#",
          "text": "Manual queries"
      },
      {
          "href": "#",
          "text": "Switch to Local authority view"
      }
  ]
}) }}

<div class="govuk-width-container">
  <div class="app-phase-banner__wrapper">
    <div class="govuk-phase-banner app-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          beta
        </strong>
        <span class="govuk-phase-banner__text"></span>
          This is a new service - your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
        </span>
      </p>
    </div>
  </div>

<!--Correct version--->
<!-- {{ header({
"showNav": "true",
"showSearch": "true",
"showHeaderActionLinks": "true",
"logoPath": "public/images",
"searchAction": "/search/",
"searchInputName": "",
"logoAltText": "Department for Education",
"homeHref": "/FSM/Private_beta/v7-1/dsi-account/dsi-startnow",
"selectedNav": view,
"service": {
"name": "Support the Eligibility checking service",
"serviceUrl": "/FSM/index-fsm"
},
"headerActionLinks": [
{
"url" : "/FSM/Private_beta/v7-1/dsi-account/dsi-landingpage",
"label" : "My account"
},
{
"url" : "/FSM/Private_beta/v7-1/dsi-account/dsi-startnow",
"label" : "Sign out"
}
],

"primaryLinks": [
{
"url" : "/FSM/Private_beta/v7-1/dfe/dashboard",
"label" : "Dashboard"
}, {
"url" : "#",
"label" : "Batch check history"
}, {
"href" : "#",
"label" : "Manual queries"
}, {
"url" : "#",
"label" : "View reports"
}, {
"url" : "#",
"label" : "Switch to Local authority view"
}
]
})
}} -->
<!--
<section class="dfe-page-header govuk-!-padding-bottom-0" style="background-color:#e0f3ff;">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l govuk-!-margin-top-5">
          Rodney Lee
        </span>
        <h1 class="govuk-heading-l"> {{pageName}}</h1>
        <div class="govuk-caption-l">
          <!-- <p class="govuk-body-l"> This is the starting page for the {{ serviceName }} FSM element for Parents, Schools
            and Local Authorities</p>
          <hr class="govuk-section-break govuk-section-break--s govuk-section-break"> -->

          <!-- <nav class="app-sub-navigation" aria-label="Application menu">
            <ul class="app-sub-navigation__list">
              <li class="app-sub-navigation__item">
                <a class="app-sub-navigation__link" aria-current="/FSM/index-fsm" href="/FSM/index-fsm">
                  Design and Research
                </a>
              </li>
              <li class="app-sub-navigation__item">
                <a class="app-sub-navigation__link" aria-current="/FSM/index-fsm-dev" href="/FSM/index-fsm-dev">
                  Ready for development
                </a>
              </li>
              <li class="app-sub-navigation__item">
                <a class="app-sub-navigation__link" aria-current="/FSM/index-fsm-docs" href="/FSM/index-fsm-docs">
                  Documentation
                </a>
              </li>
            </ul>
          </nav> -->
        </div>
      </div>
    </div>
</section>


  <!-- <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="moj-organisation-nav" aria-label="Organisation switcher" style="padding-top: 20px;">
        <strong class="govuk-body govuk-!-font-weight-bold">Rodney Lee</strong>
        <a href="#" class="govuk-link">Switch to Local Authority view</a>
      </div> -->
    </div>
  </div>
</div>
<!--
<div class="moj-organisation-nav" aria-label="Organisation switcher" style="padding-top: 20px;">
  <strong class="govuk-body govuk-!-font-weight-bold">Bristol (HMP)</strong>
  <a href="#" class="govuk-link">Change your location</a>
</div> -->

{% endblock %}


{% block footer %}
 {{ govukFooter({
   meta: {
     items: [
       {
         href: "../privacy",
         text: "Privacy policy"
       },
       {
        href: "../accessibility",
        text: "Accessibility"
      },
       {
         href: "../cookies",
         text: "Cookies"
       },
       {
        href: "../contact",
        text: "Contact us"
      },
      {
        href:"/manage-prototype",
        text:"Manage your prototype"
      },
       {
         href: "/manage-prototype/clear-data",
         text: "Clear data"
       }
     ],
     visuallyHiddenTitle: "Footer links"
   }
 }) }}
{% endblock %}

{# 4 #}
{% block scripts %}
  {{ super() }}
  <script src="/public/javascripts/dfefrontend.js"></script>
  <script type="text/javascript" src="assets/javascripts/autocomplete.js"></script>
  <link rel="stylesheet" href="assets/css/accessible-autocomplete.min.css" />
  <script type="text/javascript" src="/public/javascripts/moj/all.js"></script>
<script type="text/javascript">
  if (typeof MOJFrontend.MultiFileUpload !== "undefined") {
  new MOJFrontend.MultiFileUpload({
    container: $(".moj-multi-file-upload"),
    uploadUrl: "/ajax-upload",
    deleteUrl: "/ajax-delete",
  });
}

</script>
{% endblock %}