{% extends "layouts/childcare/layout-dfe-index-childcare.html" %}
{% block pageTitle %}
  Childcare prototype
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}

    {{ mojSubNavigation({
      label: "Sub navigation",
      items: [{
        text: "Design and research",
        href: "/childcare/index-childcare",
        active: true
      }, {
        text: "Ready for development",
        href: "/childcare/index-childcare-dev"
      }, {
        text: "Documentation",
        href: "/childcare/index-childcare-doc"
      }]
    }) }}

    <h1 class="govuk-heading-l">
      Design and research
    </h1>

    <!---Usability testing details -->

    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Information required for usability tests
        </span>
      </summary>
      <div class="govuk-details__text">
        </ul>
        <h2 class="govuk-heading-m">Information required for usability tests</h2>
          <p></p>
          <ul class="govuk-list govuk-list--bullet">
            <li>Parent's Name - [first name, last name]</li>
            <li>Parent's DoB</li>
            <li>Child's DoB</li>
            <li>NI number - [KL 123456]</li>
            <li>Eligibility code - [12345678912]</li>
          </ul>
        </h2>
      </div>
    </details>

    <h2 class="govuk-heading-m">Versions</h2>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Version</th>
          <th scope="col" class="govuk-table__header">Description</th>
          <th scope="col" class="govuk-table__header">Links</th>
          <th scope="col" class="govuk-table__header">Status</th>
          <th scope="col" class="govuk-table__header">Last updated</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><a href="/childcare/v3/dfe-signin/my-services">v3</a></th>
          <td class="govuk-table__cell">
            <p>Iterated foster families flow based on round 2 of usability testing and design crit (combined create family and create code flows).</p>
            <p>Added 2 scenarios for CCWF outcomes: new code and reconfirmed code. Also made some minor tweaks based on usability testing round 2 and LA survey.</p>
            <p>Added in CCWF batch check flow.</p>
          </td>
          <td class="govuk-table__cell">
            <p class="govuk-!-margin-bottom-2"><a href="/childcare/v3/dashboard">Dashboard</a></p>
            <p class="govuk-!-margin-bottom-2"><a href="/childcare/v3/foster/foster">Manage foster families</a></p>
            <p class="govuk-!-margin-bottom-2"><a href="/childcare/v3/single-check/30h/enter-details">Run a Childcare for working families check</a></p>
            <ul class="govuk-!-margin-bottom-2">
              <li><a href="/childcare/v3/single-check/30h/outcomes/valid">Valid</a></li>
              <li><a href="/childcare/v3/single-check/30h/outcomes/discretionary">Valid - discretionary start date</a></li>
              <li><a href="/childcare/v3/single-check/30h/outcomes/due">Valid - reconfirmation due</a></li>
              <li><a href="/childcare/v3/single-check/30h/outcomes/foster">Valid - foster family</a></li>
              <li><a href="/childcare/v3/single-check/30h/outcomes/temporary">Valid - temporary code</a></li>
              <li><a href="/childcare/v3/single-check/30h/outcomes/new">New - use next term</a></li>
              <li><a href="/childcare/v3/single-check/30h/outcomes/too-young">Child too young</a></li>
              <li><a href="/childcare/v3/single-check/30h/outcomes/reconfirmed">Reconfirmed</a></li>
              <li><a href="/childcare/v3/single-check/30h/outcomes/grace-period">Grace period</a></li>
              <li><a href="/childcare/v3/single-check/30h/outcomes/grace-period-too-old">Grace period - child too old</a></li>
              <li><a href="/childcare/v3/single-check/30h/outcomes/expired">Expired</a></li>
              <li><a href="/childcare/v3/single-check/30h/outcomes/expired-too-old">Expired - child too old</a></li>
              <li><a href="/childcare/v3/single-check/30h/outcomes/could-not-find">Could not find</a></li>
            </ul>
          </td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">Design</strong></td>
          <td class="govuk-table__cell">1 May 2025</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><a href="/childcare/v2/dfe-signin/my-services">v2</a></th>
          <td class="govuk-table__cell">
            <p>Updated navigation to GOV.UK service navigation component.</p>
            <p>Updates based on round 1 of usability testing: added checked details and print this page to outcomes pages, added more information about entering last name in full, and updated batch error content.</p>
            <p>Added in Childcare for working families outcomes for a single check.</p>
            <p>Created manage foster families.</p>
          </td>
          <td class="govuk-table__cell">
            <p class="govuk-!-margin-bottom-2"><a href="/childcare/v2/dashboard">Dashboard</a></p>
            <p class="govuk-!-margin-bottom-2"><a href="/childcare/v2/foster/foster">Manage foster families</a></p>
            <p class="govuk-!-margin-bottom-2"><a href="/childcare/v2/single-check/30h/enter-details">Run a Childcare for working families check</a></p>
            <ul class="govuk-!-margin-bottom-2">
              <li><a href="/childcare/v2/single-check/30h/outcomes/b/valid">Valid</a></li>
              <li><a href="/childcare/v2/single-check/30h/outcomes/b/discretionary">Valid - discretionary start date</a></li>
              <li><a href="/childcare/v2/single-check/30h/outcomes/b/due">Valid - reconfirmation due</a></li>
              <li><a href="/childcare/v2/single-check/30h/outcomes/b/foster">Valid - foster family</a></li>
              <li><a href="/childcare/v2/single-check/30h/outcomes/b/temporary">Valid - temporary code</a></li>
              <li><a href="/childcare/v2/single-check/30h/outcomes/b/too-young">Child too young</a></li>
              <li><a href="/childcare/v2/single-check/30h/outcomes/b/grace-period">Grace period</a></li>
              <li><a href="/childcare/v2/single-check/30h/outcomes/b/grace-period-too-old">Grace period - child too old</a></li>
              <li><a href="/childcare/v2/single-check/30h/outcomes/b/expired">Expired</a></li>
              <li><a href="/childcare/v2/single-check/30h/outcomes/b/expired-too-old">Expired - child too old</a></li>
              <li><a href="/childcare/v2/single-check/30h/outcomes/b/could-not-find">Could not find</a></li>
            </ul>

          </td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Research completed</strong></td>
          <td class="govuk-table__cell">28 April 2025</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><a href="/childcare/v2/dfe-signin/my-services">v2</a></th>
          <td class="govuk-table__cell">
            <p>Navigation and homepage for childcare service, single check, batch check, and exploratory design for combined EYPP and 2YO check.</p>
            <p>Note: Childcare for Working parents flows are not included.</p>
          </td>
          <td class="govuk-table__cell">
            <p class="govuk-!-margin-bottom-2"><a href="/childcare/v1/dfe-signin/my-services">DfE sign in - My Services</a></p>
            <p class="govuk-!-margin-bottom-2"><a href="/childcare/v1/dashboard">Dashboard</a></p>
            <p class="govuk-!-margin-bottom-2"><a href="/childcare/v1/single">Run a check</a></p>
            <ul class="govuk-!-margin-bottom-2">
              <li><a href="/childcare/v1/soft-check/other/outcomes/not-eligible">Not eligible outcome</a></li>
              <li><a href="/childcare/v1/soft-check/other/outcomes/could-not-find">Could not check outcome</a></li>
              <li><a href="/childcare/v1/soft-check/other/outcomes/could-not-find-pending">Could not check Universal Credit outcome</a></li>
            </ul>
            <p class="govuk-!-margin-bottom-2"><a href="/childcare/v1/batch">Run a batch check</a></p>
            <ul class="govuk-!-margin-bottom-2">
              <li><a href="/childcare/v1/batch-check/errors/template-error">Template error</a></li>
              <li><a href="/childcare/v1/batch-check/errors/data-error">Data error</a></li>
            </ul>
            <p class="govuk-!-margin-bottom-2"><a href="/childcare/v1/multi-check/c/dashboard">Run a combined check</a></p>
          </td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Research completed</strong></td>
          <td class="govuk-table__cell">14 March 2025</td>
        </tr>
      </tbody>
    </table>

     <!-- Tabs

    <div class="govuk-tabs" data-module="govuk-tabs">
      <h2 class="govuk-tabs__title">
        Contents
      </h2>
      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#la">
            Local authority
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#general">
            General
          </a>
        </li>
      </ul>

      <div class="govuk-tabs__panel" id="la">
        <h2 class="govuk-heading-l">Local Authority</h2>
      </div>

      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="general">
        <h2 class="govuk-heading-l">General</h2>

        <p>TBC</p>

      </div>

    </div>

    -->




  </div>
</div>


{% endblock %}