{% extends "layouts/childcare/layout-dfe-index-childcare.html" %}
{% block pageTitle %}
  Documentation - Childcare
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <span class="govuk-hint"> </span>
    <h1 class="govuk-heading-l govuk-!-margin-bottom-7">
      <span class="govuk-tag--pink">Documentation</span>
    </h1>

    <h2 class="govuk-heading-m">Design</h2>

    <ul>
      <li><a href="https://lucid.app/lucidspark/3d29ed94-ac5f-4ce2-a8c2-0500fcac2a19/edit?invitationId=inv_24613139-3262-4546-b24e-0ee188ce7e91&page=0_0">Childcare user journeys lucid board</a> </li>
      <li><a href="https://lucid.app/lucidspark/1ffd8878-feb2-44d1-aa89-1cfbe6d3f136/edit?viewport_loc=-30757%2C-8160%2C52830%2C23058%2C0_0&invitationId=inv_3589a6b2-d435-4b48-8057-ea3a0ba2cdba">Childcare ideation lucid board</a> </li>
    </ul>

    <h2 class="govuk-heading-m">User research findings</h2>

    <ul>
      <li><a href="https://lucid.app/lucidspark/484ad563-f2e4-4ed4-b8c8-2b639d0dce2d/edit?invitationId=inv_e3f97016-6017-4d68-944d-fbe29b7c9aa5&page=0_0#">Childcare usability testing round 1 (Mar 2025)</a></li>
      <li><a href="https://lucid.app/lucidspark/206d2415-9cca-41b0-8aa0-db7d3387ae9c/edit?invitationId=inv_e3f97016-6017-4d68-944d-fbe29b7c9aa5&page=0_0#">Childcare discovery piece (Feb 2025)</a></li>
      <li><a href="https://lucid.app/lucidspark/c3723694-03c6-4a94-9bd4-c116f213a999/edit?invitationId=inv_ba86485b-ee1e-4fb8-9174-365e1251d67c&page=0_0#">Alpha childcare prototype usability testing (Jan 2024)</a></li>
    </ul>



  </div>
</div>


{% endblock %}