{% extends "layouts/childcare/layout-dfe-index-childcare.html" %}
{% block pageTitle %}
  Ready for development - childcare
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <span class="govuk-hint"> </span>
    <h1 class="govuk-heading-l">
      <span class="govuk-tag--light-blue">Ready for development</span>
    </h1>

    <!---dev ready table
    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m"></caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Area</th>
          <th scope="col" class="govuk-table__header">Page</th>

          <th scope="col" class="govuk-table__header">Status</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row" style="display:none;">
          <td class="govuk-table__cell">DfE sign in</td>
          <td class="govuk-table__cell"><a href="/childcare/dev/dfe-signin/my-services">DfE sign in - My services</a></td>
          <td class="govuk-table__cell">TBC</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Dashboard</td>
          <td class="govuk-table__cell"><a href="/childcare/dev/dashboard">Dashboard</a></td>
          <td class="govuk-table__cell">TBC</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Run a check</td>
          <td class="govuk-table__cell"><a href="/childcare/dev/single-check/single">Run a check</a></td>
          <td class="govuk-table__cell">TBC</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Run a check</td>
          <td class="govuk-table__cell"><a href="/childcare/dev/single-check/2yo-eypp/enter-details">Enter parent details (EYPP and 2YO)</a></td>
          <td class="govuk-table__cell">TBC</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Run a check</td>
          <td class="govuk-table__cell"><a href="/childcare/dev/single-check/2yo-eypp/checking-loader">Checking loader</a></td>
          <td class="govuk-table__cell">TBC</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Run a check</td>
          <td class="govuk-table__cell"><a href="/childcare/dev/single-check/2yo-eypp/outcomes/eligible">Outcome - Eligible (EYPP and 2YO)</a></td>
          <td class="govuk-table__cell">TBC</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Run a check</td>
          <td class="govuk-table__cell"><a href="/childcare/dev/single-check/2yo-eypp/outcomes/not-eligible">Outcome - Not eligible (EYPP and 2YO)</a></td>
          <td class="govuk-table__cell">TBC</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Run a check</td>
          <td class="govuk-table__cell"><a href="/childcare/dev/single-check/2yo-eypp/outcomes/could-not-find">Outcome - Information does not match records (EYPP and 2YO)</a></td>
          <td class="govuk-table__cell">TBC</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Run a check</td>
          <td class="govuk-table__cell"><a href="/childcare/dev/single-check/2yo-eypp/outcomes/could-not-finding-pending">Outcome - Could not check UC (EYPP and 2YO)</a></td>
          <td class="govuk-table__cell">TBC</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Run a check</td>
          <td class="govuk-table__cell"><a href="/childcare/dev/single-check/2yo-eypp/outcomes/technical-error">Outcome - Technical error (EYPP and 2YO)</a></td>
          <td class="govuk-table__cell">TBC</td>
        </tr>
      </tbody>
    </table>

    -->




  </div>
</div>


{% endblock %}