{% extends "layouts/childcare/layout-dfe-index-childcare.html" %}
{% block pageTitle %}
  Documentation - Childcare
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}

    {{ mojSubNavigation({
      label: "Sub navigation",
      items: [{
        text: "Design and research",
        href: "/childcare/index-childcare"
      }, {
        text: "Ready for development",
        href: "/childcare/index-childcare-dev"
      }, {
        text: "Documentation",
        href: "/childcare/index-childcare-doc",
        active: true
      }]
    }) }}

    <h1 class="govuk-heading-l govuk-!-margin-bottom-7">
      Documentation
    </h1>

    <h2 class="govuk-heading-m">Service design</h2>
    <ul>
      <li><a href="https://lucid.app/lucidspark/8fca079d-e541-4e09-a73f-abc6d1facfff/edit?invitationId=inv_87992196-4a07-41b0-a1eb-c0affd1fc6e1&page=0_0#">Childcare service blueprints</a></li>
    </ul>

    <h2 class="govuk-heading-m">Design</h2>

    <ul>
      <li><a href="https://educationgovuk.sharepoint.com/:x:/r/sites/SolutionsDevelopmentCentre-ECSdiscovery/Shared%20Documents/ECE%20Project%20Team/9.%20Childcare%20Services/User%20Research/Childcare%20Recommendations%20log.xlsx?d=w1ed74457d99341de8782e19bd6fca0dd&csf=1&web=1&e=zWsRyG">Recommendations log</a></li>
      <li><a href="https://lucid.app/lucidspark/4f09cf65-ee5e-47ac-9949-bf7f73068d7d/edit?page=0_0&invitationId=inv_de04c944-9731-46c1-b0d4-1127e3543f50#">Childcare design lucid board index</a></li>
      <li><a href="https://lucid.app/lucidspark/3d29ed94-ac5f-4ce2-a8c2-0500fcac2a19/edit?invitationId=inv_24613139-3262-4546-b24e-0ee188ce7e91&page=0_0">Childcare user journeys lucid board</a> </li>
      <li><a href="https://lucid.app/lucidspark/1ffd8878-feb2-44d1-aa89-1cfbe6d3f136/edit?viewport_loc=-30757%2C-8160%2C52830%2C23058%2C0_0&invitationId=inv_3589a6b2-d435-4b48-8057-ea3a0ba2cdba">Childcare ideation lucid board</a> </li>
    </ul>

    <h2 class="govuk-heading-m">Content</h2>

    <ul>
      <li><a href="https://educationgovuk.sharepoint.com/:x:/r/sites/SolutionsDevelopmentCentre-ECSdiscovery/Shared%20Documents/ECE%20Project%20Team/4.%20User-centred%20Design/Content%20Design/Content/Glossary%20of%20terms.xlsx?d=w66ffa10dab274c0fbe400fb8746cb2bd&csf=1&web=1&e=Eyif8f">Glossary of terms</a> </li>
    </ul>

    <h2 class="govuk-heading-m">Childcare user research findings</h2>

    <ul>
      <li><a href="https://educationgovuk.sharepoint.com/:f:/r/sites/SolutionsDevelopmentCentre-ECSdiscovery/Shared%20Documents/ECE%20Project%20Team/3.%20User%20Research/Childcare/07.%20Round%207_reporting%20v3?csf=1&web=1&e=sRoCqA">UR round 7: reporting 3 and VYED (August 25)</a></li>
      <li><a href="https://educationgovuk.sharepoint.com/:f:/r/sites/SolutionsDevelopmentCentre-ECSdiscovery/Shared%20Documents/ECE%20Project%20Team/3.%20User%20Research/Childcare/06.%20Round%206_reporting%20v2?csf=1&web=1&e=z5rfnf">UR round 6: reporting 2 (July 25)</a></li>
      <li><a href="https://educationgovuk.sharepoint.com.mcas.ms/sites/SolutionsDevelopmentCentre-ECSdiscovery/Shared%20Documents/Forms/AllItems.aspx?id=%2Fsites%2FSolutionsDevelopmentCentre%2DECSdiscovery%2FShared%20Documents%2FECE%20Project%20Team%2F3%2E%20User%20Research%2FChildcare%2F05%2E%20Round%205%5Freporting&newTargetListUrl=%2Fsites%2FSolutionsDevelopmentCentre%2DECSdiscovery%2FShared%20Documents&viewpath=%2Fsites%2FSolutionsDevelopmentCentre%2DECSdiscovery%2FShared%20Documents%2FForms%2FAllItems%2Easpx">UR round 5: reporting 1 (July 25)</a></li>
      <li><a href="https://educationgovuk.sharepoint.com.mcas.ms/sites/SolutionsDevelopmentCentre-ECSdiscovery/Shared%20Documents/Forms/AllItems.aspx?id=%2Fsites%2FSolutionsDevelopmentCentre%2DECSdiscovery%2FShared%20Documents%2FECE%20Project%20Team%2F3%2E%20User%20Research%2FChildcare%2F04%2E%20Round%204%5Foutcome%20pages&newTargetListUrl=%2Fsites%2FSolutionsDevelopmentCentre%2DECSdiscovery%2FShared%20Documents&viewpath=%2Fsites%2FSolutionsDevelopmentCentre%2DECSdiscovery%2FShared%20Documents%2FForms%2FAllItems%2Easpx">UR round 4: WF outcomes (July 25)</a></li>
      <li><a href="https://educationgovuk.sharepoint.com.mcas.ms/sites/SolutionsDevelopmentCentre-ECSdiscovery/Shared%20Documents/Forms/AllItems.aspx?id=%2Fsites%2FSolutionsDevelopmentCentre%2DECSdiscovery%2FShared%20Documents%2FECE%20Project%20Team%2F3%2E%20User%20Research%2FChildcare%2F03%2E%20Round%203%5Ffoster%20families&newTargetListUrl=%2Fsites%2FSolutionsDevelopmentCentre%2DECSdiscovery%2FShared%20Documents&viewpath=%2Fsites%2FSolutionsDevelopmentCentre%2DECSdiscovery%2FShared%20Documents%2FForms%2FAllItems%2Easpx">UR round 3: Foster families (June 25)</a></li>
      <li><a href="https://lucid.app/lucidspark/dbdcd964-bb51-4c4c-b446-46cdbc60ebee/edit?invitationId=inv_e3f97016-6017-4d68-944d-fbe29b7c9aa5&page=0_0#">UR round 2: CCWF single check and foster families (April 2025)</a></li>
      <li><a href="https://lucid.app/lucidspark/484ad563-f2e4-4ed4-b8c8-2b639d0dce2d/edit?invitationId=inv_e3f97016-6017-4d68-944d-fbe29b7c9aa5&page=0_0#">UR round 1: EYPP and 2YO single and batch check (March 2025)</a></li>
      <li><a href="https://lucid.app/lucidspark/206d2415-9cca-41b0-8aa0-db7d3387ae9c/edit?invitationId=inv_e3f97016-6017-4d68-944d-fbe29b7c9aa5&page=0_0#">Discovery piece (February 2025)</a></li>
      <li><a href="https://lucid.app/lucidspark/c3723694-03c6-4a94-9bd4-c116f213a999/edit?invitationId=inv_ba86485b-ee1e-4fb8-9174-365e1251d67c&page=0_0#">Alpha childcare prototype usability testing (Janurary 2024)</a></li>
    </ul>






  </div>
</div>




{% endblock %}