{% extends "layouts/childcare/layout-dfe-index-childcare.html" %}
{% block pageTitle %}
  Childcare prototype
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}

    {{ mojSubNavigation({
      label: "Sub navigation",
      items: [{
        text: "Design and research",
        href: "/childcare/index-childcare",
        active: true
      }, {
        text: "Ready for development",
        href: "/childcare/index-childcare-dev"
      }, {
        text: "Documentation",
        href: "/childcare/index-childcare-doc"
      }]
    }) }}

    <h1 class="govuk-heading-l">
      Design and research
    </h1>

    <!---Usability testing details -->


    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Information required for usability tests
        </span>
      </summary>
      <div class="govuk-details__text">
        </ul>
        <h2 class="govuk-heading-m">Information required for usability tests</h2>
          <p></p>
          <ul class="govuk-list govuk-list--bullet">
            <li>Parent's Name - [first name, last name]</li>
            <li>Parent's DoB</li>
            <li>Child's DoB</li>
            <li>NI number - [KL 123456]</li>
            <li>Eligibility code - [12345678912]</li>
          </ul>
        </h2>
      </div>
    </details>

    <h2 class="govuk-heading-m">Versions</h2>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Version</th>
          <th scope="col" class="govuk-table__header">Research</th>
          <th scope="col" class="govuk-table__header">Description</th>
          <th scope="col" class="govuk-table__header">Links</th>
          <th scope="col" class="govuk-table__header">Status</th>
          <th scope="col" class="govuk-table__header">Last updated</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <!--v8-->
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><a href="/childcare/v8/dfe-signin/my-services">v8</a></th>
          <td class="govuk-table__cell">
            <a href="https://educationgovuk.sharepoint.com/:f:/r/sites/SolutionsDevelopmentCentre-ECSdiscovery/Shared%20Documents/ECE%20Project%20Team/3.%20User%20Research/Childcare/12.%20Round%2011_Foster%20Families_Batch%20Check,%20Cross%20Border?csf=1&web=1&e=TlgkMV">Round 11: misc</a>
          </td>
          <td class="govuk-table__cell">
            <p>Amended guidance pages based on UR round 9, added gov.uk rebrand, added reference column to batch check template.</p>
            <p>Updated foster family date input flow to improve usability and reduce code corrections.</p>
            <p>Revised the cross local authority checks report to show cross checked codes cross by term.</p>
            <p>Created a start page.</p>
          </td>
          <td class="govuk-table__cell">
            <p class="govuk-!-margin-bottom-2"><a href="/childcare/v8/start">Start</a></p>
            <p class="govuk-!-margin-bottom-2"><a href="/childcare/v8/dashboard">Dashboard</a></p>
            <p class="govuk-!-margin-bottom-2"><a href="/childcare/v8/foster/foster">Foster families</a></p>
            <p class="govuk-!-margin-bottom-2"><a href="/childcare/v8/reports/reports">Cross local authority checks report</a></p>
            <p class="govuk-!-margin-bottom-2"><a href="/childcare/v8/batch-check/upload?check-type=parents or guardians&eligibility-type=Early years pupil premium">Batch check - reference template</a></p>
          </td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Research completed</strong></td>
          <td class="govuk-table__cell">22 January 2026</td>
        </tr>
        <!--v7-->
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><a href="/childcare/v7/dfe-signin/my-services">v7</a></th>
          <td class="govuk-table__cell"><a href="https://educationgovuk.sharepoint.com/:f:/r/sites/SolutionsDevelopmentCentre-ECSdiscovery/Shared%20Documents/ECE%20Project%20Team/3.%20User%20Research/Childcare/09.%20Round%209_Guidance?csf=1&web=1&e=sjxhev">Round 9: guidance</a> </td>
          <td class="govuk-table__cell">
            <p>Added an overarching guidance page and WF outcomes guidance. </p>
             <p>Updated foster family content and batch check outcomes to reduce usability issues found in round 8 of research.</p>
          </td>
          <td class="govuk-table__cell">
            <p class="govuk-!-margin-bottom-2"><a href="/childcare/v7/dashboard">Dashboard</a></p>
            <p class="govuk-!-margin-bottom-2"><a href="/childcare/v7/guidance/guidance">Guidance</a></p>
          </td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Research completed</strong></td>
          <td class="govuk-table__cell">25 September 2025</td>
        </tr>
        <!--v6-->
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><a href="/childcare/v6/dfe-signin/my-services">v6</a></th>
          <td class="govuk-table__cell"><a href="https://educationgovuk.sharepoint.com.mcas.ms/sites/SolutionsDevelopmentCentre-ECSdiscovery/Shared%20Documents/Forms/AllItems.aspx?id=%2Fsites%2FSolutionsDevelopmentCentre%2DECSdiscovery%2FShared%20Documents%2FECE%20Project%20Team%2F3%2E%20User%20Research%2FChildcare%2F08%2E%20Round%208%5Fbatch%20checking%20and%20foster%20families&newTargetListUrl=%2Fsites%2FSolutionsDevelopmentCentre%2DECSdiscovery%2FShared%20Documents&viewpath=%2Fsites%2FSolutionsDevelopmentCentre%2DECSdiscovery%2FShared%20Documents%2FForms%2FAllItems%2Easpx">Round 8: foster families and WF batch check</a> </td>
          <td class="govuk-table__cell">
            <p>Removed foster report from reports section. Added dates to foster family table. Added WF batch outcomes CSV without personal data.</p>
          </td>
          <td class="govuk-table__cell">
            <p class="govuk-!-margin-bottom-2"><a href="/childcare/v6/dashboard">Dashboard</a></p>
          </td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Research completed</strong></td>
          <td class="govuk-table__cell">2 September 2025</td>
        </tr>
         <!--v5-->
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><a href="/childcare/v5/dfe-signin/my-services">v5</a></th>
          <td class="govuk-table__cell"><a href="https://educationgovuk.sharepoint.com/:f:/r/sites/SolutionsDevelopmentCentre-ECSdiscovery/Shared%20Documents/ECE%20Project%20Team/3.%20User%20Research/Childcare/07.%20Round%207_reporting%20v3?csf=1&web=1&e=kcipZf">Round 7: reporting</a></td>
          <td class="govuk-table__cell">
            <p>Updated dashboard with eligibilty type tags, updated labels on run reports page. Added in more cross border options, foster care report, and check history. Based on UR round 6.</p>
            <p>Switched foster family journey to one code per family.</p>
          </td>
          <td class="govuk-table__cell">
            <p class="govuk-!-margin-bottom-2"><a href="/childcare/v5/dashboard">Dashboard</a></p>
            <p class="govuk-!-margin-bottom-2"><a href="/childcare/v5/reports/i/reports">Run reports</a></p>
            <p class="govuk-!-margin-bottom-2"><a href="/childcare/v5/foster/foster">Manage foster families</a></p>
          </td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Research completed</strong></td>
          <td class="govuk-table__cell">31 August 2025</td>
        </tr>
         <!--v4-->
         <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><a href="/childcare/v4/dfe-signin/my-services">v4</a></th>
          <td class="govuk-table__cell">
            <p class="govuk-!-margin-bottom-2"> <a href="https://educationgovuk.sharepoint.com/:f:/r/sites/SolutionsDevelopmentCentre-ECSdiscovery/Shared%20Documents/ECE%20Project%20Team/3.%20User%20Research/Childcare/06.%20Round%206_reporting%20v2?csf=1&web=1&e=mfyziR">Round 6: reporting</a>
            </p>
            <p><a href="https://educationgovuk.sharepoint.com/:f:/r/sites/SolutionsDevelopmentCentre-ECSdiscovery/Shared%20Documents/ECE%20Project%20Team/3.%20User%20Research/Childcare/05.%20Round%205_reporting?csf=1&web=1&e=bguT7P">Round 5: reporting</a></p>

          </td>
          <td class="govuk-table__cell">
            <p>Added event listing and cross border reports.</p>
            <p>Updated navigation, foster families and CCWF outcomes designs based on usability testing in rounds 3 and 4.</p>
            <p>Run reports 4.1 tested in UR round 5.</p>
            <p>Run reports 4.2 tested in UR round 6.</p>
          </td>
          <td class="govuk-table__cell">
            <p class="govuk-!-margin-bottom-2"><a href="/childcare/v4/dashboard">Dashboard</a></p>
            <p class="govuk-!-margin-bottom-2"><a href="/childcare/v4/reports/i/reports">Run reports 4.1</a></p>
            <p class="govuk-!-margin-bottom-2"><a href="/childcare/v4/reports/ii/reports">Run reports 4.2</a></p>
          </td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Research completed</strong></td>
          <td class="govuk-table__cell">4 August 2025</td>
        </tr>
         <!--v3-->
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><a href="/childcare/v3/dfe-signin/my-services">v3</a></th>
          <td class="govuk-table__cell">
            <p><a href="https://educationgovuk.sharepoint.com/:f:/r/sites/SolutionsDevelopmentCentre-ECSdiscovery/Shared%20Documents/ECE%20Project%20Team/3.%20User%20Research/Childcare/04.%20Round%204_outcome%20pages?csf=1&web=1&e=FaP1tI">Round 4: Working families single check outcomes</a></p>
            <p><a href="https://educationgovuk.sharepoint.com/:f:/r/sites/SolutionsDevelopmentCentre-ECSdiscovery/Shared%20Documents/ECE%20Project%20Team/3.%20User%20Research/Childcare/03.%20Round%203_foster%20families?csf=1&web=1&e=evZefh">Round 3: foster families</a></p>

          </td>
          <td class="govuk-table__cell">
            <p>Iterated foster families flow based on round 2 of usability testing and design crit (combined create family and create code flows).</p>
            <p>Added 2 scenarios for CCWF outcomes: new code and reconfirmed code. Also made some minor tweaks based on usability testing round 2 and LA survey.</p>
            <p>Added in CCWF batch check flow.</p>
          </td>
          <td class="govuk-table__cell">
            <p class="govuk-!-margin-bottom-2"><a href="/childcare/v3/dashboard">Dashboard</a></p>
            <p class="govuk-!-margin-bottom-2"><a href="/childcare/v3/foster/foster">Manage foster families</a></p>
            <ul class="govuk-!-margin-bottom-2">
              <li><a href="/childcare/v3/foster/family/transferred">Family transferred from Rochdale Borough Council</a></li>
            </ul>
            <p class="govuk-!-margin-bottom-2"><a href="/childcare/v3/single-check/30h/enter-details">Run a Childcare for working families check</a></p>
            <ul class="govuk-!-margin-bottom-2">
              <li><a href="/childcare/v3/single-check/30h/outcomes/new">New - use next term</a></li>
              <li><a href="/childcare/v3/single-check/30h/outcomes/reconfirmed">Reconfirmed</a></li>
              <li><a href="/childcare/v3/single-check/30h/outcomes/temporary">Valid - temporary code</a></li>
              <li><a href="/childcare/v3/single-check/30h/outcomes/grace-period">In grace period</a></li>
              <li><a href="/childcare/v3/single-check/30h/outcomes/expired-too-old">Expired - too old</a></li>
              <li><a href="/childcare/v3/single-check/30h/outcomes/too-young">Too young - use next term</a></li>
            </ul>
          </td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Research completed</strong></td>
          <td class="govuk-table__cell">6 June 2025</td>
        </tr>
         <!--v2-->
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><a href="/childcare/v2/dfe-signin/my-services">v2</a></th>
          <td class="govuk-table__cell"><a href="https://lucid.app/lucidspark/dbdcd964-bb51-4c4c-b446-46cdbc60ebee/edit?invitationId=inv_e3f97016-6017-4d68-944d-fbe29b7c9aa5&page=0_0#">Round 2: Working families single check and foster families</a> </td>
          <td class="govuk-table__cell">
            <p>Updated navigation to GOV.UK service navigation component.</p>
            <p>Updates based on round 1 of usability testing: added checked details and print this page to outcomes pages, added more information about entering last name in full, and updated batch error content.</p>
            <p>Added in Childcare for working families outcomes for a single check.</p>
            <p>Created manage foster families.</p>
          </td>
          <td class="govuk-table__cell">
            <p class="govuk-!-margin-bottom-2"><a href="/childcare/v2/dashboard">Dashboard</a></p>
            <p class="govuk-!-margin-bottom-2"><a href="/childcare/v2/foster/foster">Manage foster families</a></p>
            <p class="govuk-!-margin-bottom-2"><a href="/childcare/v2/single-check/30h/enter-details">Run a Childcare for working families check</a></p>
            <ul class="govuk-!-margin-bottom-2">
              <li><a href="/childcare/v2/single-check/30h/outcomes/b/valid">Valid</a></li>
              <li><a href="/childcare/v2/single-check/30h/outcomes/b/discretionary">Valid - discretionary start date</a></li>
              <li><a href="/childcare/v2/single-check/30h/outcomes/b/due">Valid - reconfirmation due</a></li>
              <li><a href="/childcare/v2/single-check/30h/outcomes/b/foster">Valid - foster family</a></li>
              <li><a href="/childcare/v2/single-check/30h/outcomes/b/temporary">Valid - temporary code</a></li>
              <li><a href="/childcare/v2/single-check/30h/outcomes/b/too-young">Child too young</a></li>
              <li><a href="/childcare/v2/single-check/30h/outcomes/b/grace-period">Grace period</a></li>
              <li><a href="/childcare/v2/single-check/30h/outcomes/b/grace-period-too-old">Grace period - child too old</a></li>
              <li><a href="/childcare/v2/single-check/30h/outcomes/b/expired">Expired</a></li>
              <li><a href="/childcare/v2/single-check/30h/outcomes/b/expired-too-old">Expired - child too old</a></li>
              <li><a href="/childcare/v2/single-check/30h/outcomes/b/could-not-find">Could not find</a></li>
            </ul>

          </td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Research completed</strong></td>
          <td class="govuk-table__cell">28 April 2025</td>
        </tr>
         <!--v1-->
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><a href="/childcare/v1/dfe-signin/my-services">v1</a></th>
          <td class="govuk-table__cell"><a href="https://lucid.app/lucidspark/484ad563-f2e4-4ed4-b8c8-2b639d0dce2d/edit?invitationId=inv_e3f97016-6017-4d68-944d-fbe29b7c9aa5&page=0_0#">Round 1: EYPP and 2YO single and batch check</a> </td>
          <td class="govuk-table__cell">
            <p>Navigation and homepage for childcare service, single check, batch check, and exploratory design for combined EYPP and 2YO check.</p>
            <p>Note: Childcare for Working parents flows are not included.</p>
          </td>
          <td class="govuk-table__cell">
            <p class="govuk-!-margin-bottom-2"><a href="/childcare/v1/dfe-signin/my-services">DfE sign in - My Services</a></p>
            <p class="govuk-!-margin-bottom-2"><a href="/childcare/v1/dashboard">Dashboard</a></p>
            <p class="govuk-!-margin-bottom-2"><a href="/childcare/v1/single">Run a check</a></p>
            <ul class="govuk-!-margin-bottom-2">
              <li><a href="/childcare/v1/soft-check/other/outcomes/not-eligible">Not eligible outcome</a></li>
              <li><a href="/childcare/v1/soft-check/other/outcomes/could-not-find">Could not check outcome</a></li>
              <li><a href="/childcare/v1/soft-check/other/outcomes/could-not-find-pending">Could not check Universal Credit outcome</a></li>
            </ul>
            <p class="govuk-!-margin-bottom-2"><a href="/childcare/v1/batch">Run a batch check</a></p>
            <ul class="govuk-!-margin-bottom-2">
              <li><a href="/childcare/v1/batch-check/errors/template-error">Template error</a></li>
              <li><a href="/childcare/v1/batch-check/errors/data-error">Data error</a></li>
            </ul>
            <p class="govuk-!-margin-bottom-2"><a href="/childcare/v1/multi-check/c/dashboard">Run a combined check</a></p>
          </td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Research completed</strong></td>
          <td class="govuk-table__cell">14 March 2025</td>
        </tr>
      </tbody>
    </table>



  </div>
</div>


{% endblock %}