{% extends "layouts/childcare/layout-dfe-index-childcare.html" %}
{% block pageTitle %}
  Ready for development - childcare
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    {%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}

    {{ mojSubNavigation({
      label: "Sub navigation",
      items: [{
        text: "Design and research",
        href: "/childcare/index-childcare"
      }, {
        text: "Ready for development",
        href: "/childcare/index-childcare-dev",
        active: true
      }, {
        text: "Documentation",
        href: "/childcare/index-childcare-doc"
      }]
    }) }}

    <h1 class="govuk-heading-l govuk-!-margin-bottom-7">
      Ready for development
    </h1>

    <!--dfe sign in-->

    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m govuk-!-margin-bottom-2">DfE sign</caption>

      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a href="/childcare/dev/dfe-signin/my-services">DfE sign in - My services</a></td>
          <td class="govuk-table__cell govuk-!-text-align-right">Ready for development</td>
        </tr>
      </tbody>
    </table>


      <!--dashboard-->

      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m govuk-!-margin-bottom-2">Dashboard</caption>

        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="/childcare/dev/dashboard">Dashboard</a></td>
            <td class="govuk-table__cell govuk-!-text-align-right">Ready for development</td>
          </tr>

        </tbody>
      </table>


       <!--run a single check 2yo eypp-->

       <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m govuk-!-margin-bottom-2">Run a check</caption>

        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="/childcare/dev/single-check/single">Run a check</a></td>
            <td class="govuk-table__cell govuk-!-text-align-right">Design signed off</td>
          </tr>
           <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="/childcare/dev/single-check/2yo-eypp/checking-loader">Checking loader</a></td>
            <td class="govuk-table__cell govuk-!-text-align-right">Ready for development</td>
          </tr>
           <tr class="govuk-table__row">
            <th scope="row" colspan="2" class="govuk-table__header">2 years old early learning and Early years pupil premium</th>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="/childcare/dev/single-check/2yo-eypp/enter-details?eligibility-type=Early years pupil premium">Enter parent details (EYPP)</a></td>
            <td class="govuk-table__cell govuk-!-text-align-right">Ready for development</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="/childcare/dev/single-check/2yo-eypp/enter-details?eligibility-type=2 years old early learning">Enter parent details (2YO)</a></td>
            <td class="govuk-table__cell govuk-!-text-align-right">Ready for development</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="/childcare/dev/single-check/2yo-eypp/enter-details-error?eligibility-type=Early years pupil premium">Enter parent details - error summary and error message display</a></td>
            <td class="govuk-table__cell govuk-!-text-align-right">Ready for development</td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="/childcare/dev/single-check/2yo-eypp/outcomes/eligible">Eligible</a></td>
            <td class="govuk-table__cell govuk-!-text-align-right">Ready for development</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="/childcare/dev/single-check/2yo-eypp/outcomes/not-eligible">Not eligible</a></td>
            <td class="govuk-table__cell govuk-!-text-align-right">Ready for development</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="/childcare/dev/single-check/2yo-eypp/outcomes/could-not-find">Information does not match records</a></td>
            <td class="govuk-table__cell govuk-!-text-align-right">Ready for development</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="/childcare/dev/single-check/2yo-eypp/outcomes/could-not-find-pending">Could not check Universal Credit</a></td>
            <td class="govuk-table__cell govuk-!-text-align-right">Ready for development</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="/childcare/dev/single-check/2yo-eypp/outcomes/technical-error">Technical error</a></td>
            <td class="govuk-table__cell govuk-!-text-align-right">Ready for development</td>
          </tr>
             <tr class="govuk-table__row">
            <th scope="row" colspan="2" class="govuk-table__header">Childcare for working families</th>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="/childcare/dev/single-check/30h/enter-details">Enter eligibility code details</a></td>
            <td class="govuk-table__cell govuk-!-text-align-right">Design signed off</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="/childcare/dev/single-check/30h/enter-details-error">Enter eligibility code details - error summary and error message display</a></td>
            <td class="govuk-table__cell govuk-!-text-align-right">Design signed off</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="/childcare/dev/single-check/30h/outcomes/could-not-find">Could not find</a></td>
            <td class="govuk-table__cell govuk-!-text-align-right">Design signed off</td>
          </tr>
            <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="/childcare/dev/single-check/30h/outcomes/technical-error">Technical error</a></td>
            <td class="govuk-table__cell govuk-!-text-align-right">Design signed off</td>
          </tr>
           <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="/childcare/dev/single-check/30h/outcomes/too-young">Child is too young</a></td>
            <td class="govuk-table__cell govuk-!-text-align-right">Design signed off</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="/childcare/dev/single-check/30h/outcomes/new">Cannot be used yet</a></td>
            <td class="govuk-table__cell govuk-!-text-align-right">Design signed off</td>
          </tr>
             <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="/childcare/dev/single-check/30h/outcomes/valid">Valid - not due yet</a></td>
            <td class="govuk-table__cell govuk-!-text-align-right">Design signed off</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="/childcare/dev/single-check/30h/outcomes/discretionary">Valid - discretionary start date applied</a></td>
            <td class="govuk-table__cell govuk-!-text-align-right">Design signed off</td>
          </tr>
           <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="/childcare/dev/single-check/30h/outcomes/foster">Valid - foster family code</a></td>
            <td class="govuk-table__cell govuk-!-text-align-right">Design signed off</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="/childcare/dev/single-check/30h/outcomes/due">Valid - due now</a></td>
            <td class="govuk-table__cell govuk-!-text-align-right">Design signed off</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="/childcare/dev/single-check/30h/outcomes/reconfirmed">Valid - reconfirmed</a></td>
            <td class="govuk-table__cell govuk-!-text-align-right">Design signed off</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="/childcare/dev/single-check/30h/outcomes/temp-valid">Valid - temporary code</a></td>
            <td class="govuk-table__cell govuk-!-text-align-right">Design signed off</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="/childcare/dev/single-check/30h/outcomes/grace-period">In grace period</a></td>
            <td class="govuk-table__cell govuk-!-text-align-right">Design signed off</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="/childcare/dev/single-check/30h/outcomes/temp-grace">In grace period - temporary code</a></td>
            <td class="govuk-table__cell govuk-!-text-align-right">Design signed off</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="/childcare/dev/single-check/30h/outcomes/expired">Expired</a></td>
            <td class="govuk-table__cell govuk-!-text-align-right">Design signed off</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="/childcare/dev/single-check/30h/outcomes/expired-too-old">Expired - too old</a></td>
            <td class="govuk-table__cell govuk-!-text-align-right">Design signed off</td>
          </tr>
            <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="/childcare/dev/single-check/30h/outcomes/temp-expired">Expired - temporary code</a></td>
            <td class="govuk-table__cell govuk-!-text-align-right">Design signed off</td>
          </tr>

        </tbody>
      </table>


       <!--batch check-->

       <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m govuk-!-margin-bottom-2">Run a batch check</caption>

        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="/childcare/dev/batch-check/batch">Run a batch check</a></td>
            <td class="govuk-table__cell govuk-!-text-align-right">Ready for development</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="/childcare/dev/batch-check/upload?check-type=parents or guardians&eligibility-type=Early years pupil premium">Upload file (EYPP)</a></td>
            <td class="govuk-table__cell govuk-!-text-align-right">Ready for development</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="/childcare/dev/batch-check/upload?check-type=parents or guardians&eligibility-type=2 years old early learning">Upload file (2YO)</a></td>
            <td class="govuk-table__cell govuk-!-text-align-right">Ready for development</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="/public/csv/eypp-2yo-batch-template-dev.csv">Batch template csv (EYPP and 2YO)</a></td>
            <td class="govuk-table__cell govuk-!-text-align-right">Ready for development</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="/childcare/dev/batch-check/errors/file-type-error?check-type=parents or guardians&eligibility-type=Early years pupil premium">File type error display</a></td>
            <td class="govuk-table__cell govuk-!-text-align-right">Ready for development</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="/childcare/dev/batch-check/errors/template-error?check-type=parents or guardians&eligibility-type=Early years pupil premium">Template error display</a></td>
            <td class="govuk-table__cell govuk-!-text-align-right">Ready for development</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="/childcare/dev/batch-check/errors/data-error?check-type=parents or guardians&eligibility-type=Early years pupil premium">Data error display</a></td>
            <td class="govuk-table__cell govuk-!-text-align-right">Ready for development</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="/childcare/dev/batch-check/submitted-not-started">File submitted - not started</a></td>
            <td class="govuk-table__cell govuk-!-text-align-right">Ready for development</td>
          </tr>
          <!--
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="/childcare/dev/batch-check/submitted-in-progress">File submitted - in progress</a></td>
            <td class="govuk-table__cell govuk-!-text-align-right">Ready for development</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="/childcare/dev/batch-check/submitted-completed">File submitted - completed</a></td>
            <td class="govuk-table__cell govuk-!-text-align-right">Ready for development</td>
          </tr>
          -->
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="/childcare/dev/batch-check/history/batch-history">Batch checks status</a></td>
            <td class="govuk-table__cell govuk-!-text-align-right">Ready for development</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="/public/csv/eypp-2yo-outcomes-dev.csv">Batch check outcomes csv (EYPP and 2YO)</a></td>
            <td class="govuk-table__cell govuk-!-text-align-right">Ready for development</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="/childcare/dev/batch-check/history/result-explainer">Batch checks results explainer</a></td>
            <td class="govuk-table__cell govuk-!-text-align-right">Ready for development</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="/childcare/dev/batch-check/history/delete-file">Delete a completed batch file</a></td>
            <td class="govuk-table__cell govuk-!-text-align-right">Ready for development</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="/childcare/dev/batch-check/history/file-deleted">Batch file deleted</a></td>
            <td class="govuk-table__cell govuk-!-text-align-right">Ready for development</td>
          </tr>
        </tbody>
      </table>

        <!--error pages-->

      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m govuk-!-margin-bottom-2">Service error pages</caption>

        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="/childcare/dev/errors/page-not-found">Page not found</a></td>
            <td class="govuk-table__cell govuk-!-text-align-right">Design signed off</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="/childcare/dev/errors/access-denied">Access denied</a></td>
            <td class="govuk-table__cell govuk-!-text-align-right">Design signed off</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="/childcare/dev/errors/problem-with-service">Problem with service</a></td>
            <td class="govuk-table__cell govuk-!-text-align-right">Design signed off</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="/childcare/dev/errors/service-not-available">Service unavailable</a></td>
            <td class="govuk-table__cell govuk-!-text-align-right">Design signed off</td>
          </tr>


        </tbody>
      </table>


      <!--error messages-->

      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m govuk-!-margin-bottom-2">Error messages</caption>

        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a rel="noreferrer noopener" target="_blank" href="https://educationgovuk.sharepoint.com/:x:/r/sites/SolutionsDevelopmentCentre-ECSdiscovery/Shared%20Documents/ECS%20UCD%20Team/4.%20User-centred%20Design/Content%20Design/Content/Error%20scenarios/Error%20scenario%20tracker.xlsx?d=w4fbeca67abaa431d9e339072f7347fb9&csf=1&web=1&e=FYGEKt&nav=MTVfezU2MzY0Q0U5LTE0QTEtNDU0MC1CQUY0LTVENERBMzkwODExOH0">Childcare error messages spreadsheet (opens in new tab)</a></td>
            <td class="govuk-table__cell govuk-!-text-align-right">Ready for development</td>
          </tr>


        </tbody>
      </table>


  </div>
</div>


{% endblock %}