{% extends "layouts/childcare/layout-dfe-index-childcare.html" %}
{% block pageTitle %}
  Ready for development - childcare
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}

    {{ mojSubNavigation({
      label: "Sub navigation",
      items: [{
        text: "Design and research",
        href: "/childcare/index-childcare"
      }, {
        text: "Ready for development",
        href: "/childcare/index-childcare-dev",
        active: true
      }, {
        text: "Documentation",
        href: "/childcare/index-childcare-doc"
      }]
    }) }}

    <h1 class="govuk-heading-l">
      Ready for development
    </h1>

    <!---dev ready table   -->
    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m"></caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Area</th>
          <th scope="col" class="govuk-table__header">Page</th>

          <th scope="col" class="govuk-table__header">Status</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">DfE sign in</td>
          <td class="govuk-table__cell"><a href="/childcare/dev/dfe-signin/my-services">DfE sign in - My services</a></td>
          <td class="govuk-table__cell">Design signed off</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Dashboard</td>
          <td class="govuk-table__cell"><a href="/childcare/dev/dashboard">Dashboard</a></td>
          <td class="govuk-table__cell">Design signed off</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Run a check</td>
          <td class="govuk-table__cell"><a href="/childcare/dev/single-check/single">Run a check</a></td>
          <td class="govuk-table__cell">Design signed off</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Run a check</td>
          <td class="govuk-table__cell"><a href="/childcare/dev/single-check/2yo-eypp/enter-details?eligibility-type=2 years old early learning">Enter parent details (2YO)</a></td>
          <td class="govuk-table__cell">Design signed off</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Run a check</td>
          <td class="govuk-table__cell"><a href="/childcare/dev/single-check/2yo-eypp/enter-details?eligibility-type=Early years pupil premium">Enter parent details (EYPP)</a></td>
          <td class="govuk-table__cell">Design signed off</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Run a check</td>
          <td class="govuk-table__cell"><a href="/childcare/dev/single-check/2yo-eypp/enter-details-error?eligibility-type=Early years pupil premium">Enter parent details - error summary and error message display</a></td>
          <td class="govuk-table__cell">Design signed off</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Run a check</td>
          <td class="govuk-table__cell"><a href="https://educationgovuk.sharepoint.com/:x:/r/sites/SolutionsDevelopmentCentre-ECSdiscovery/Shared%20Documents/ECS%20UCD%20Team/4.%20User-centred%20Design/Content%20Design/Content/Error%20scenarios/Childcare/Dev%20error%20scenarios.xlsx?d=w03792fd255614faa9e790089356356fd&csf=1&web=1&e=ljRcfm&nav=MTVfezBFRUYwRjIwLTk2N0UtNEM4OS04QzI5LTA5QjY4MDZEOURFQn0">2YO error messages (spreadsheet)</a></td>
          <td class="govuk-table__cell">Design signed off</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Run a check</td>
          <td class="govuk-table__cell"><a href="https://educationgovuk.sharepoint.com/:x:/r/sites/SolutionsDevelopmentCentre-ECSdiscovery/Shared%20Documents/ECS%20UCD%20Team/4.%20User-centred%20Design/Content%20Design/Content/Error%20scenarios/Childcare/Dev%20error%20scenarios.xlsx?d=w03792fd255614faa9e790089356356fd&csf=1&web=1&e=UaFxLa&nav=MTVfezM1QjZGQjMyLTgxMzYtNDlFQy05NzEyLTAzMEMxRDA0Q0E4Q30">EYPP error messages (spreadsheet)</a></td>
          <td class="govuk-table__cell">Design signed off</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Run a check</td>
          <td class="govuk-table__cell"><a href="/childcare/dev/single-check/2yo-eypp/checking-loader">Checking loader</a></td>
          <td class="govuk-table__cell">Design signed off</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Run a check</td>
          <td class="govuk-table__cell"><a href="/childcare/dev/single-check/2yo-eypp/outcomes/eligible">Outcome - Eligible (EYPP and 2YO)</a></td>
          <td class="govuk-table__cell">Design signed off</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Run a check</td>
          <td class="govuk-table__cell"><a href="/childcare/dev/single-check/2yo-eypp/outcomes/not-eligible">Outcome - Not eligible (EYPP and 2YO)</a></td>
          <td class="govuk-table__cell">Design signed off</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Run a check</td>
          <td class="govuk-table__cell"><a href="/childcare/dev/single-check/2yo-eypp/outcomes/could-not-find">Outcome - Information does not match records (EYPP and 2YO)</a></td>
          <td class="govuk-table__cell">Design signed off</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Run a check</td>
          <td class="govuk-table__cell"><a href="/childcare/dev/single-check/2yo-eypp/outcomes/could-not-find-pending">Outcome - Could not check UC (EYPP and 2YO)</a></td>
          <td class="govuk-table__cell">Design signed off</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Run a check</td>
          <td class="govuk-table__cell"><a href="/childcare/dev/single-check/2yo-eypp/outcomes/technical-error">Outcome - Technical error (EYPP and 2YO)</a></td>
          <td class="govuk-table__cell">Design signed off</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>



{% endblock %}