{% extends "../../mvp2/checker-la/layouts/layout-dfenoback.html" %}

{% set pageName="Home" %}

{% set parentName="Eden Tesfay" %}



{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break">



    <h1 class="govuk-heading-l">
   Manchester City Council
    </h1>


    <div class="govuk-grid-row">


      <div class="govuk-grid-column-full">


<div class="dfe-grid-container">


    <div class="dfe-card-container">

      <div class="def-card">
        <h2 class="govuk-heading-m">
            <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="checker">Check free school meals - single pupil</a>
        </h2>
        <p>Find out if individual pupils can get free school meals.</p>
    </div>
    </div>

    <div class="dfe-card-container">

      <div class="def-card">
        <h2 class="govuk-heading-m">
            <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="../batch-checking-la/upload">Check free school meals - multiple pupils</a>
        </h2>
        <p>Find out if multiple pupils can get free school meals by uploading a csv template.</p>
    </div>
    </div>

    <div class="dfe-card-container">

      <div class="def-card">
        <h2 class="govuk-heading-m">
            <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="pending-list">Pending applications</a>

        </h2>
        <p>Check entitlement for children not found in the system.</p>
    </div>
    </div>


    <!--<div class="dfe-card-container">

      <div class="def-card">
        <h2 class="govuk-heading-m">
            <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="">Foster families</a>

        </h2>
        <p>View and add foster families.</p>
    </div>
    </div>-->








    <div class="dfe-card-container">

      <div class="def-card">
        <h2 class="govuk-heading-m">
            <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="search">Search all records</a>
        </h2>
        <p>Search all pupil free school meal records and export results.</p>
    </div>
    </div>





    <div class="dfe-card-container">

      <div class="def-card">
        <h2 class="govuk-heading-m">
            <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="guidance">Guidance</a>
        </h2>
        <p>Read guidance on how to review supporting evidence.</p>
    </div>
    </div>







</div>



      </div>

    </div>


  </div>
</div>

{% endblock %}