{% extends "../../mvp2/checker-la/layouts/layout-dfenoback.html" %}

{% set pageName="Home" %}



{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break">

    <h1 class="govuk-heading-l">The children of this parent or guardian are entitled to free school meals</h1>
  <p>This information should be passed on to their school.</p>

  {% from "govuk/components/button/macro.njk" import govukButton %}

    {{ govukButton({
      text: "Do another check",
      href: 'checker'
    }) }}

  <div>

    <div class="govuk-button-group">
      <a class="govuk-link" href="dashboard">Return to dashboard</a>
      <a class="govuk-link" href="../account/signin-or-create">Sign out</a>
    </div>



    </div>

    </div>









{% endblock %}

{% block pageScripts %}
<script type="text/javascript" src="/public/javascripts/moj/all.js"></script>

{% endblock %}