<!-- <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
    <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                    Previous versions
                </span>
            </h2>
        </div> -->
<!--
        <div id="accordion-default-content-1" class="govuk-accordion__section-content">
            <p class="govuk-body"> -->
            <table class="govuk-table">

                <h3 class="govuk-heading-m">Previous versions</h3>

                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Version</th>
                        <th scope="col" class="govuk-table__header">Description</th>
                        <th scope="col" class="govuk-table__header">Status</th>
                        <th scope="col" class="govuk-table__header">Links</th>
                        <th scope="col" class="govuk-table__header govuk-table__header--numeric">Date last updated</th>
                    </tr>
                </thead>

                <tr class="govuk-table__row">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="/FSM/Private_beta/v7-1/school/dashboard.html"
                            class="govuk-link"><b>v7.1</b></a></td>
                    <td class="govuk-table__cell">
                        <a href="/FSM/Private_beta/v7-1/school/school-manage/school-soft-check/declaration.html"
                            class="govuk-link"><b>Sortable tables</b></a><br>
                        Ability to order the table by column. <br> Added to the following pages:
                        <ul>
                            <li>Process appeals</li>
                            <li>Finalise applications</li>
                            <li>Search all records</li>
                        </ul>
                    </td>
                    <td class="govuk-table__cell"><span class="govuk-tag govuk-tag--pink">Signed off</span></td>
                    <td class="govuk-table__cell"> <a
                            href="/FSM/Private_beta/v7-1/school/school-manage/decision/process_appeal/process-appeals.html"
                            class="govuk-link"> Process appeals</a><br>
                        <a href="/FSM/Private_beta/v7-1/school/school-manage/decision/finalise/applications.html"
                            class="govuk-link"> Finalise applications</a>
                    </td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">04 April 2025</td>
                </tr>


                <td class="govuk-table__cell"><a href="/FSM/Private_beta/v7-2/school/dashboard.html"
                        class="govuk-link"><b>v7.2</b></a></td>
                <td class="govuk-table__cell">
                    <a href="/FSM/Private_beta/v7-2/school/school-manage/school-soft-check/declaration.html"
                        class="govuk-link"><b>Declaration – Schools</b></a><br>
                    Interim measure to support schools when parents cannot complete check themselves. <br> Schools can
                    complete on behalf of parents.
                </td>
                <td class="govuk-table__cell"><span class="govuk-tag govuk-tag--pink">Signed off</span></td>
                <td class="govuk-table__cell"><a
                        href="/FSM/Private_beta/v7-2/school/school-manage/school-soft-check/declaration.html"
                        class="govuk-link">Declaration page</a> <br>
                    <a href="/FSM/Private_beta/v7-2/school/school-manage/school-soft-check/declaration-error.html"
                        class="govuk-link">Error message</a> <br>
                </td>
                <td class="govuk-table__cell govuk-table__cell--numeric">6 June 2025</td>
                </tr>



                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#" class="govuk-link"><b>v7.1</b></a></td>
                    <td class="govuk-table__cell">
                        <a href="/FSM/Private_beta/v7-1/school/school-manage/school-soft-check/outcomes/outcome-not-entitled.html"
                            class="govuk-link"><b>Content changes to Not eligible outcome</b></a><br>
                        Managing the LA involvement where they are supporting <br> appeals directly.
                    </td>
                    <td class="govuk-table__cell"><span class="govuk-tag govuk-tag--pink">Signed off</span></td>
                    <td class="govuk-table__cell"><a
                            href="/FSM/Private_beta/v7-1/school/school-manage/school-soft-check/outcomes/outcome-not-entitled">Outcome
                            page</a></td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">21 March 2025</td>
                </tr>

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#" class="govuk-link"><b>v7.1</b></a></td>
                    <td class="govuk-table__cell">
                        <a href="/FSM/Private_beta/v7-1/school/school-manage/school-soft-check/outcomes/outcome-not-entitled.html"
                            class="govuk-link"><b>Release 1 - Herts email option</b></a><br>
                        Email version where schools support parent but email evidence
                    </td>
                    <td class="govuk-table__cell"><span class="govuk-tag govuk-tag--grey">Not required</span></td>
                    <td class="govuk-table__cell"><a
                            href="/FSM/Private_beta/v7-1/school/school-manage/school-soft-check/outcomes/outcome-not-entitled">Outcome
                            page</a><br>
                        <a href="/FSM/Private_beta/v7-1/school/school-manage/appeal/appeal-new-child-age-email">Add
                            children
                        </a><br>
                        <a href="/FSM/Private_beta/v7-1/school/school-manage/appeal/appeal-check-answers-email">Check
                            answers
                        </a><br>
                        <a href="/FSM/Private_beta/v7-1/school/school-manage/appeal/confirmation-appeal-email">Confirmation
                        </a><br>
                    </td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">24 March 2025</td>
                </tr>

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#" class="govuk-link"><b>v7.1</b></a></td>
                    <td class="govuk-table__cell">
                        <a href="/FSM/Private_beta/v7-1/school/school-manage/school-soft-check/outcomes/outcome-not-entitled-appeal.html"
                            class="govuk-link"><b>Release 2 - Herts school upload version</b></a><br>
                        Previously signed off evidence to be uploaded by school - refined content for Herts.
                    </td>
                    <td class="govuk-table__cell"><span class="govuk-tag govuk-tag--pink">Signed off</span></td>
                    <td class="govuk-table__cell"><a
                            href="/FSM/Private_beta/v7-1/school/school-manage/school-soft-check/outcomes/outcome-not-entitled-appeal.html">Outcome
                        </a><br>
                        <a href="/FSM/Private_beta/v7-1/school/school-manage/appeal/appeal-new-child-age">Add
                            children</a><br>
                        <a href="/FSM/Private_beta/v7-1/school/school-manage/upload/upload-evidence">Send supporting
                            evidence</a><br>
                        <a href="/FSM/Private_beta/v7-1/school/school-manage/appeal/appeal-check-answers-evidence">Check
                            answers </a><br>
                        <a href="/FSM/Private_beta/v7-1/school/school-manage/appeal/confirmation-appeal-with-evidence">Confirmation
                        </a><br><br>
                        <h2 class="govuk-heading-s">Error scenarios</h2>
                        <p class="govuk-body"><a
                                href="https://educationgovuk.sharepoint.com/:x:/r/sites/SolutionsDevelopmentCentre-ECSdiscovery/Shared%20Documents/ECS%20UCD%20Team/4.%20User-centred%20Design/Content%20Design/Content/Error%20scenarios/v7.1%20error%20scenarios.xlsx?d=w1cc19c6c5dcb441cab22882a1fa35a7d&csf=1&web=1&e=kmiyuh&nav=MTVfezAwMDAwMDAwLTAwMDEtMDAwMC0wMDAwLTAwMDAwMDAwMDAwMH0"
                                class="govuk-link" rel="noreferrer noopener" target="_blank">v7.1 error scenarios</a>
                        </p>

                    </td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">24 March 2025</td>
                </tr>


                <td class="govuk-table__cell"><a href="#" class="govuk-link"><b>v7.0</b></a></td>
                <td class="govuk-table__cell">
                    <a href="/FSM/Private_beta/v7-1/school/school-manage/batch-checking/upload"
                        class="govuk-link"><b>Batch
                            checks</b></a><br>
                    <ul>Updated options on batch check start page.
                        <li>Added the option to remove files once uploaded if there's an error (not feasible so remove
                            in next
                            iteration)</li>
                        <li>Show imported records in CTF</li>
                        <li>Proof of concept to connect to school MIS systems</li>
                    </ul>
                </td>
                <td class="govuk-table__cell"><span class="govuk-tag govuk-tag--grey">Iterate</span></td>
                <td class="govuk-table__cell">
                    <a href="/FSM/Private_beta/v7-1/school/school-manage/batch-checking/upload">Choose check</a><br>
                    <a href="/FSM/Private_beta/v7-1/school/school-manage/batch-checking/school-mis/select-mis">Select
                        school
                        system</a><br>
                    <a href="/FSM/Private_beta/v7-1/school/school-manage/batch-checking/school-mis/sims-login">Can't
                        connect</a><br>
                    <a href="/FSM/Private_beta/v7-1/school/school-manage/batch-checking/manual">Manual check</a><br>
                    <a href="/FSM/Private_beta/v7-1/school/school-manage/batch-checking/imported-records">Imported
                        records</a><br>
                    <a
                        href="/FSM/Private_beta/v7-1/school/school-manage/batch-checking/batch-checking-loader">Loader</a><br>
                    <a href="/FSM/Private_beta/v7-1/school/school-manage/batch-checking/batch-check-success">Checks
                        success</a><br>
                    <a
                        href="/FSM/Private_beta/v7-1/school/school-manage/records/batch-records/eligible/batch-confirm-eligible">Applications
                        created</a><br>
                    <a href="/FSM/Private_beta/v7-1/school/school-manage/batch-checking/batch-error-data-issue">Error –
                        Parent data issue</a><br>
                    <a href="/FSM/Private_beta/v7-1/school/school-manage/batch-checking/imported-errors">Fix or remove
                        records with errors</a><br>
                    <a href="/FSM/Private_beta/v7-1/school/school-manage/batch-checking/batch-check-notify">Parents
                        notified
                        of eligibility</a><br>
                    <a href="/FSM/Private_beta/v7-1/school/school-manage/batch-checking/batch-error-not-accepted">Error
                        –
                        File not accepted</a><br>
                    <a href="/FSM/Private_beta/v7-1/school/school-manage/batch-checking/batch-common-file-transfer">Use
                        a
                        Common File Transfer (CTF)</a><br>

                <td class="govuk-table__cell govuk-table__cell--numeric">February 2025</td>
                </tr>
                </td>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#" class="govuk-link"><b>v7.1</b></a></td>
                    <td class="govuk-table__cell">
                        <a href="/FSM/Private_beta/v7-1/school/school-manage/batch-checking/upload"
                            class="govuk-link"><b>Batch
                                checks v1</b></a><br>
                        <ul>Updated the batch check flow to include the following:
                            <li>Reduced options on batch check start page.</li>
                            <li>Removed the option to connect to MIS for now - technically not feaible at moment</li>
                            <li>Added in ability to create application or appeal from the batch check</li>
                            <li>Export results as csv</li>
                            <li>Added unhappy paths - documented on Lucid board</li>
                        </ul>
                    </td>
                    <td class="govuk-table__cell"><span class="govuk-tag govuk-tag--grey">Iterate</span></td>
                    <td class="govuk-table__cell">
                        <a href="./Private_beta/v7-1/school/school-manage/batch-checking/manual">Manual check </a><br>
                        <a href="./Private_beta/v7-1/school/school-manage/batch-checking/imported-records">Imported
                            records</a><br>
                        <a
                            href="./Private_beta/v7-1/school/school-manage/batch-checking/batch-checking-loader">Loader</a><br>
                        <a href="./Private_beta/v7-1/school/school-manage/batch-checking/batch-check-success">Checks
                            successful</a><br>
                        <a
                            href="./Private_beta/v7-1/school/school-manage/records/batch-records/eligible/batch-confirm-eligible">Applications
                            created</a><br>
                        <a href="./Private_beta/v7-1/school/school-manage/batch-checking/batch-check-notify">Parents
                            notified of
                            eligibility</a><br>
                        <a href="./Private_beta/v7-1/school/school-manage/batch-checking/batch-error-not-accepted">Error
                            – File
                            not accepted</a><br>
                    <td class="govuk-table__cell govuk-table__cell--numeric">28 March 2025</td>
                </tr>

                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell"><b>v6</b></a></td>
                        <td class="govuk-table__cell">
                            <a href="./Private_beta/v6/school/school-manage/report/search_1.html"
                                class="govuk-link"><b>Search
                                    records page</b></a><br>
                            Enable users to see all records in one place and search for specific records. <br>Includes:
                            <ul>
                                <li>Filters</li>
                                <li>keyword search</li>
                                <li>No of results displayed</li>
                                <li>Export to CSV</li>
                                <li>View individual record</li>
                            </ul>
                        </td>
                        <td class="govuk-table__cell"><span class="govuk-tag govuk-tag--pink">Signed off</span></td>
                        <td class="govuk-table__cell">
                            <a href="./Private_beta/v6/family/account/apply/check-answers.html">Search</a>
                        </td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">10 Oct 24</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__header"><a href="#" class="govuk-link">v6</a></td>
                        <td class="govuk-table__cell"><a href="#"><b>Appeal - provide details </b></a><br>Added
                            notification
                            banner about appealing with no evidence.</td>
                        <td class="govuk-table__cell"><span class="govuk-tag govuk-tag--pink">Signed off</span></td>
                        <td class="govuk-table__cell"><a href="#" class="govuk-link">Appeal with no evidence</a></td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">15 Jan 25</td>
                    </tr>

                    <tr class="govuk-table__row">
                        <td class="govuk-table__header"><a
                                href="./Private_beta/v6/school/school-manage/upload/upload-evidence"
                                class="govuk-link">v6</a></td>
                        <td class="govuk-table__cell"><a
                                href="./Private_beta/v6/school/school-manage/upload/upload-evidence"><b>Upload
                                    evidence</b></a><br> New: Added in upload evidence screen as part of school appeal
                            journey.</td>
                        <td class="govuk-table__cell"><span class="govuk-tag govuk-tag--pink">Signed off</span></td>
                        <td class="govuk-table__cell"><a
                                href="./Private_beta/v6/school/school-manage/upload/upload-evidence"
                                class="govuk-link">Upload evidence</a></td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">11 October 24</td>
                    </tr>

                    <tr class="govuk-table__row">
                        <td class="govuk-table__header"><a
                                href="./Private_beta/v6/school/school-manage/upload/upload-evidence"
                                class="govuk-link">v6</a></td>
                        <td class="govuk-table__cell"><a
                                href="./Private_beta/v6/school/school-manage/upload/upload-evidence"><b>Offline
                                    form</b></a><br> Iteration: Updated for usability improvements in offline journey.
                            <br> Individual
                            blocks for easier reading of manual details</td>
                        <td class="govuk-table__cell"><span class="govuk-tag govuk-tag--pink">Signed off</span></td>
                        <td class="govuk-table__cell"><a
                                href="./Private_beta/v6/school/school-manage/upload/upload-evidence"
                                class="govuk-link">Paper form</a></td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">21 October 24</td>
                    </tr>

                    <tr class="govuk-table__row">
                        <td class="govuk-table__header"><a
                                href="./Private_beta/v6/school/school-manage/upload/upload-evidence"
                                class="govuk-link">v6</a></td>
                        <td class="govuk-table__cell"><a
                                href="./Private_beta/v6/school/school-manage/upload/upload-evidence"><b>School
                                    Dashboard tile</b></a><br>Iteration: Updated for schools to be able to download
                            paper form</td>
                        <td class="govuk-table__cell"><span class="govuk-tag govuk-tag--pink">Signed off</span></td>
                        <td class="govuk-table__cell"><a
                                href="./Private_beta/v6/school/school-manage/upload/upload-evidence"
                                class="govuk-link">School dashboard</a></td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">21 October 24</td>
                    </tr>

                    <tr class="govuk-table__row">
                        <td class="govuk-table__header"><a
                                href="./Private_beta/v6/school/school-manage/upload/upload-evidence"
                                class="govuk-link">v6</a></td>
                        <td class="govuk-table__cell"><a
                                href="./Private_beta/v6/school/school-manage/upload/upload-evidence"><b>Review
                                    application</b></a><br>Iteration: Content changes</td>
                        <td class="govuk-table__cell"><span class="govuk-tag govuk-tag--pink">Signed off</span></td>
                        <td class="govuk-table__cell"><a
                                href="./Private_beta/v6/school/school-manage/upload/upload-evidence"
                                class="govuk-link">School dashboard</a></td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">21 October 24</td>
                    </tr>

                    <tr class="govuk-table__row">
                        <td class="govuk-table__header"><a
                                href="./Private_beta/v6/school/school-manage/upload/upload-evidence"
                                class="govuk-link">v6</a></td>
                        <td class="govuk-table__cell"><a
                                href="./Private_beta/v6/school/school-manage/upload/upload-evidence"><b>Review
                                    application</b></a><br>Iteration: Content changes</td>
                        <td class="govuk-table__cell"><span class="govuk-tag govuk-tag--pink">Signed off</span></td>
                        <td class="govuk-table__cell"><a
                                href="./Private_beta/v6/school/school-manage/upload/upload-evidence"
                                class="govuk-link">School dashboard</a></td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">21 October 24</td>
                    </tr>

                </tbody>
            </table>