{% extends "/layouts/support/v3/layout-support.html" %}

{% block pageTitle %}
  Upload temporary code file
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-l govuk-!-margin-bottom-7">Import temporary codes</h1>


    {% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}

    {{ govukFileUpload({
      id: "temp-code-upload",
      name: "temp-code-upload",
      label: {
        classes: "govuk-label--m",
        text: "Upload a file"
      },
      hint: {
      text: "Upload the .xlsm file you have downloaded from HMRC secure data exchange."
    },
      javascript: true
    }) }}

    {% from "govuk/components/password-input/macro.njk" import govukPasswordInput %}

    {{ govukPasswordInput({
      label: {
        text: "Enter password",
        classes: "govuk-label--m govuk-!-margin-top-8",
        isPageHeading: false
      },
      hint: {
      text: "HMRC will provide a password to open the file"
    },
      classes: "govuk-!-width-one-half",
      id: "password-input",
      name: "password"
    }) }}


    {% from "govuk/components/button/macro.njk" import govukButton %}

    {{ govukButton({
      text: "Import codes",
      classes: "govuk-button--primary",
      href: '/support/v3/temp-code/import-loader'
    }) }}

  </div>
</div>

{% endblock %}
