{% extends "/layouts/FSM/v7-1/layout-dfe-lanav.html" %}

{% set pageName="Outcome could not check" %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Check failed
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <p class="govuk-notification-banner__heading">There’s been a technical error.</p>
        <p><a href="../checker">Try again later</a>, ensuring you’ve entered the parent or guardian details accurately.</p>
      </div>
    </div>

    <h1 class="govuk-heading-l">If the check keeps failing</h1>
    <p>Contact the <a href="https://forms.office.com/Pages/ResponsePage.aspx?id=yXfS-grGoU2187O4s0qC-URYbNo1-R1EubHA0gNJis5UOVo3VU1KV0E0QkxTMFQ0RFZQUUZCR0E0WC4u" class="gov-link"> Department for Education support desk</a>.</p>
  </div>
</div>

{% endblock %}