{% extends "layouts/layout-dfe.html" %}

{% set pageName="Home" %}

{% set applicationSent %}
<h3 class="govuk-notification-banner__heading">
  Your document has been sent
  </h3>
  <p class="govuk-body">
    We have sent your document to be processed by your local authority. It may take upto 1 week to process.
  </p>
  <p>Your reference is 1234567</p>
{% endset %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {% if data['answers-checked'] =="true" %}
    {{ govukNotificationBanner({
      html: applicationSent,
      type: 'success'
    }) }}
    
    {% endif %}



    <div class="govuk-grid-row">

            
      <div class="govuk-grid-column-one-half">
      

<h2 class="govuk-heading-l">What to do now</h2>

<p>Check with your local school on the progress of your application</p>



<p><a href="dashboard">Go to your parent portal homepage</a></p>
<p><a href="../account/signin-or-create">Sign out of the parent portal</a></p>














        




        
      </div>  
    
    </div>

  
  </div>
</div>

{% endblock %}

{% block pageScripts %}
<script type="text/javascript" src="/public/javascripts/moj/all.js"></script>
{% endblock %}