{% extends "layouts/FSM/v7-3/layout-dfe-lanav.html" %}
{% set childName = "Mia Evans" %}
{% set childId = "44455455" %}
{% set childDOB = "22 Aug 2019" %}
{% set schoolName = "Riverside Academy" %}
{% set schoolAddress = "Manchester, M25 1QA" %}
{% set parentDOB = "18 Sept 1978" %}
{% set parentName = "Rachel Evans" %}
{% set email = "rachel.evans@example.com" %}
{% set nationalInsurance = "AB123456C" %}
{% set statusTagClass = {
  "Needs evidence": "govuk-tag--yellow",
  "Approved": "govuk-tag--green",
  "Declined": "govuk-tag--red",
  "Pending": "govuk-tag--yellow"
}[applicationStatus] or "govuk-tag--yellow" %}
{% set applicationStatus = "Needs evidence" %}
{% set parentId = "44455455A" %}
{% set childName = "Mia Evans" %}
{% set pageName = "Archive this record?" %}
{% set pageName=" Archive record for " ~ childName ~ ""%}
{% block content %}

<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">{{pageName}}?</h1>
  </div>
</div>

<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-visually-hidden">Warning</span>
    Your organisation will no longer be able to edit this record if you archive it.
  </strong>
</div>
<div class="govuk-!-padding-bottom-3"></div>


  {{ govukButton({
    text: "Archive now",
    href: 'archive-confirmed-evans1'
  }) }}


{{ govukButton({
text: "Cancel archive",
classes: "govuk-button--secondary",
href: 'pending_evans1'
}) }}

<div class="govuk-!-padding-bottom-3"></div>

</div>
</div>

{% endblock %}

{% block pageScripts %}
<!-- <script type="text/javascript" src="/public/javascripts/moj/all.js"></script> -->
{% endblock %}