<!-- Filter panel -->
<div class="govuk-form-group govuk-!-margin-bottom-6" style="background: #f3f2f1; padding: 20px;">
  <fieldset class="govuk-fieldset" role="group">
    <div class="govuk-grid-row">

      <!-- Keyword -->
      <!-- <div class="govuk-grid-column-one-quarter">
        <label class="govuk-label" for="keywords">Keyword</label>
        <input class="govuk-input" id="keywords" name="keywords" type="text" placeholder="e.g. Patel or 445566">
      </div> -->

      <!-- Date range -->
      <div class="govuk-grid-column-one-quarter">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">Submission date range</legend>
        <div class="govuk-radios govuk-radios--small">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="range-1" name="date range" type="radio" value="Current month to date">
            <label class="govuk-label govuk-radios__label" for="range-1">Current month to date</label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="range-2" name="date range" type="radio" value="Last 3 months">
            <label class="govuk-label govuk-radios__label" for="range-2">Last 3 months</label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="range-3" name="date range" type="radio" value="Last 6 months">
            <label class="govuk-label govuk-radios__label" for="range-3">Last 6 months</label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="range-4" name="date range" type="radio" value="Last 12 months">
            <label class="govuk-label govuk-radios__label" for="range-4">Last 12 months</label>
          </div>
        </div>
    </div>

     <div class="govuk-grid-column-one-quarter">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">Status</legend>
        <div class="govuk-checkboxes govuk-checkboxes--small">
          {% set statuses = ["Entitled", "Not Entitled", "Evidence needed", "Sent for review", "Reviewed - Not Eligible", "Reviewed - Eligible", "Funding confirmed"] %}
          {% for status in statuses %}
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="status-{{ loop.index }}" name="status" type="checkbox" value="status-{{ status | replace(' ', '-') }}">
            <label class="govuk-label govuk-checkboxes__label" for="status-{{ loop.index }}">{{ status }}</label>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>


    <!-- Buttons -->
    <div class="govuk-grid-row govuk-!-margin-top-4">
      <div class="govuk-grid-column-one-quarter">
        <button id="applyFilter" class="govuk-button">Apply filters</button>
        </div>
        <div>
        <a href="#" class="govuk-link govuk-link--no-visited-state" onclick="clearFilters()">Clear filters</a>
      </div>
    </div>
  </fieldset>
</div>
