{# 1 #}
{% from 'node_modules/dfe-frontend/packages/components/header/macro.njk' import header %}

{# 2 #}
{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{# 3 #}
{% block header %}

{{ header({
    "showNav": "false",
    "showSearch": "false",
    "showHeaderActionLinks": "true",
    "logoPath": "public/images",
    "searchAction": "/search/",
    "searchInputName": "q",
    "logoAltText": "Department for Education",
    "homeHref": "https://gov.uk",
    "selectedNav": view,
    "service": {
      "name": "",
      "serviceUrl": ""
    }
  })
}}

{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{{ govukServiceNavigation({
  serviceName: "Check a family's eligibility",
  serviceUrl: "/index",
  navigation: [
    {
      href: "/FSM/index-fsm",
      text: "Free school meals prototype"
    },
    {
      href: "/childcare/index-childcare",
      text: "Childcare prototype",
      active: "true"
    }
  ]
}) }}

<section class="dfe-page-header govuk-!-padding-bottom-0" style="background-color:	#f3f2f1;">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl govuk-!-padding-top-5 govuk-!-margin-bottom-3">
          Childcare prototype
        </h1>

        <p class="govuk-!-padding-bottom-5">Childcare element of the Check a family's eligibility service including: Childcare for working parents, 2 years old early learning and Early Years Pupil Premium</p>

        </div>
      </div>
    </div>
</section>

{% endblock %}

{% set mainClasses = "govuk-!-padding-top-3" %}


{% block footer %}
 {{ govukFooter({
   meta: {
     items: [
      {
        href:"/manage-prototype",
        text:"Manage your prototype"
      },
       {
         href: "/manage-prototype/clear-data",
         text: "Clear data"
       }
     ],
     visuallyHiddenTitle: "Footer links"
   }
 }) }}
{% endblock %}

