{% extends "../../mvp2/checker/layouts/layout-dfenoback.html" %}

{% set pageName="Home" %}
{% set parentName="Eden Tesfay" %}



{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l">
      Bramhope Primary School
    </h1>

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m">
          Free school meals
        </h2>

<div class="dfe-grid-container">

  <div class="dfe-card">
    <div class="dfe-card-container">
        <h2 class="govuk-heading-m">
            <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="checker">Run a check for one parent or guardian</a>
        </h2>
        <p>Run an eligibility check for one parent or guardian.</p>
    </div>
    </div>


    <div class="dfe-card">
      <div class="dfe-card-container">
        <h2 class="govuk-heading-m">
            <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="../batch-checking/upload">Run a batch check</a>
        </h2>
        <p>Run an eligibility check for multiple parents or guardians.</p>
    </div>
    </div>



    <div class="dfe-card">
      <div class="dfe-card-container">
        <h2 class="govuk-heading-m">
            <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="process-appeals">Process appeals</a>
        </h2>
        <p>Check the status of appealed applications and send for local authority review.</p>
    </div>
    </div>



    <div class="dfe-card">
      <div class="dfe-card-container">
        <h2 class="govuk-heading-m">
            <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="applications">Finalise applications</a>

        </h2>
        <p>Finalise applications.</p>
    </div>
    </div>


    <div class="dfe-card">
      <div class="dfe-card-container">
        <h2 class="govuk-heading-m">
            <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="search">Search all records</a>

        </h2>
        <p>Search all records and export results.</p>
    </div>
    </div>

  </div>

</div>




{% endblock %}