{% extends "layouts/layout-dfe-schoolnav-noback.html" %}

{% set pageName="Children eligible" %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Children eligible
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <h3 class="govuk-notification-banner__heading">
          The children of {{ data["parent-firstname"] or "Eden" }} {{ data["parent-surname"] or "Tesfay" }} are eligible for free school meals.
        </h3>
        </div>

    </div>


    <h1 class="govuk-heading-l">Continue to add children's details</h1>


        <p>Continue to the next page to add these children's details.</p>



<div class="govuk-button-group">
  {{ govukButton({
    text: "Add children's details",
    href: 'outcome-eligible-childs-age'
  }) }}

  <a class="govuk-link" href="../../../../_school/dashboard">Return to dashboard</a>
</div>


  </div>
</div>

{% endblock %}

{% block pageScripts %}
<script type="text/javascript" src="/public/javascripts/moj/all.js"></script>

{% endblock %}