{% extends "../../../../../layouts/layout-dfe-schoolnav.html" %}
{% set pageName="Unable to connect to your school system" %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">{{pageName}}</h1>


        <div class="govuk-error-summary" data-module="govuk-error-summary">
            <div role="alert">
                <h2 class="govuk-error-summary__title">
                    There is a problem
                </h2>
                <div class="govuk-error-summary__body">
                    <ul class="govuk-list govuk-error-summary__list">
                        <li> <a href="/mvp3/_school/school-manage/batch-checking/upload">
                                Please contact your school if you think this is incorrect or choose another option to
                                complete a batch check.
                            </a>
                        </li>

                    </ul>

                </div>
            </div>

        </div>

        {% endblock %}