{% extends "layouts/FSM/v8-2/family/layout-dfe-parent.html" %}
{% set pageName="Apply online" %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}


{% block pageScripts %}
<script type="text/javascript" src="/public/javascripts/autocomplete.js"></script>
<script type="text/javascript">
  accessibleAutocomplete.enhanceSelectElement({
    defaultValue: '',
    selectElement: document.querySelector('#school-picker')
  })

</script>
{% endblock %}

{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-l">{{pageName}}</h1>

    <!-- <p>The school you selected is included in the new service</p> -->



     <p class="govuk-body"><strong>All Saints CofE Primary school, Ilkley, LS29 8QH</strong>  accepts online applications.</p>

     <h2 class="govuk-heading-m">How to apply</h2>


    <ol>
      <li>Sign in or create a GOV.UK One Login.</li>
      <li>Add your children's details.</li>
      <li>Your application will be sent to the school.</li>
      <li>Your children's school will arrange the free school meals</li>
    </ol>

    {{ govukDetails({
      summaryText: "About GOV.UK One Login",
      text: "GOV.UK One Login lets you sign in quickly and easily. You can use the same account for some other government services."
    }) }}

      <!--

      <div class="govuk-inset-text">
        St Mary's School<br>
        Cambridgeshire<br>
        CB2 1LY
      </div>
       -->

      <!--

       <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            I have children at another school
          </span>
        </summary>
        <div class="govuk-details__text">

          <p>If you have children at another school, you will need to check to see if their school is also included in this new service.</p>

          <p>You will only be able to use this service to apply for children whose schools are included.</p>

        </div>
      </details>

      -->


      <div class="govuk-button-group">
        {{ govukButton({
          text: "Continue to GOV.UK One Login",
          href: "../login/signin-or-create"
        }) }}
        <!--<a class="govuk-link" href="beta-school-check">Check another school</a>-->
      </div>
    </form>

    <hr class="govuk-section-break govuk-section-break govuk-section-break--m">

    <h2 class="govuk-heading-m">Further guidance and other ways to apply</h2>
    <p>If you need further support, <a href="../../guidance/parent-guidance">check the more detailed guidance</a> for parents and guardians.</p>
    <p>If you cannot apply online, you can fill in the <a href="/FSM/Private_beta/v8-2/_offline//fsm-print-version">free school meals claim form</a> and give it to your children's school. </p>

  </div>
</div>

{% endblock %}