{% extends "/layouts/childcare/v2/layout-childcare.html" %}

{% block pageTitle %}
  Children eligible
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h1 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Children eligible
        </h1>
      </div>
      <div class="govuk-notification-banner__content">
        <h3 class="govuk-notification-banner__heading">
          The children of this parent or guardian are eligible for {{ data['eligibility-type'] }}.
        </h3>
      </div>
    </div>

    <h2 class="govuk-heading-m">Parent or guardian details</h2>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Last name
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data["last-name"] or "Tesfay" }}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Date of birth
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data["dob-day"] or "10" }} {{ data["dob-month"] or "04" }} {{ data["dob-year"] or "1984" }}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          National Insurance number
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data["ni-number-entered"] or "PB123456C" }}
        </dd>
      </div>
    </dl>

    <h2 class="govuk-heading-m govuk-!-margin-top-8">What to do next</h2>

    <p class="govuk-body">Tell the childcare provider that the children of this parent or guardian are eligible for {{ data['eligibility-type'] }}.</p>



    {% from "govuk/components/button/macro.njk" import govukButton %}

      {{ govukButton({
        text: "Run another check",
        href: '/childcare/v2/single-check/single'
      }) }}

    <div class="govuk-button-group">
      <a class="govuk-link" href="/childcare/v2/dashboard">Return to dashboard</a>
    </div>

  </div>

</div>


{% endblock %}
