{% extends "layouts/FSM/v8-1/family/layout-dfe-parent.html" %}
{% set pageName="Apply for free school meals for your children" %}

{% block pageClasses %}print-page-only{% endblock %}
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

     <div class="govuk-notification-banner govuk-notification-banner--success" role="alert"
      aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title banner-header-print-version" id="govuk-notification-banner-title">
          Children eligible
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <h3 class="govuk-notification-banner__heading">
          Your children are eligible for free school meals.
        </h3>
        <p>Your children can get free school meals for the school year 2026-2027. </p>

      </div>
    </div>



    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Full name
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data["first-name"] or "Angela" }} {{ data["surname"] or "Jenkins" }}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Date of check
        </dt>
        <dd class="govuk-summary-list__value">
          {{ "today" | govukDate }}
        </dd>
      </div>

    </dl>


    <!-- <h1 class="govuk-heading-l">Your children are eligible for free school meals</h1> -->

    <h2 class="govuk-heading-m">Apply for free school meals</h2>

    <p>Contact your children's school to apply for free school meals.</p>

    <p>You can <a href="" onclick="printPage()">print this page</a> or <a href="">download it as a pdf</a> to take to your children's school.</p>

    <!--

    {{ govukButton({
      text: "Go to Apply for free school meals",
      href: "https://www.gov.uk/apply-free-school-meals"
    }) }}

    -->

    <h2 class="govuk-heading-m">Further guidance</h2>
    <p>If you need further support, <a href="../guidance/parent-guidance">check the more detailed guidance</a> for parents and guardians.</p>

    <!--<p>If you cannot apply online, you can fill in the <a href="/FSM/Private_beta/v8-1/_offline//fsm-print-version">free school meals claim form</a> and give it to your children's school. </p>-->


  </div>
</div>


{% endblock %}

{% block pageScripts %}

  <script>
    function printPage() {
        window.print();  // This will open the print dialog
    }
  </script>

{% endblock %}
