{% extends "layouts/layout-email.html" %}
{% set subject = "Free school meals – application successful – reference [reference]" %}
{% set from = "DfE <dfe@gov.uk>" %}
{% set to = "Eden Tesfay <eden.tesfay@gmail.com>" %}
  
{% block content %}
<p>Dear parent or guardian, </p>

<p>We are pleased to confirm your recent application for free school meals was successful. </p>

<h2 class="govuk-heading-s">What happens next </h2>

<p>You do not need to do anyting else. Your local school will start processing this for you.</p>

<p>From Department for Education</p>

{% endblock %}