{% extends "/layouts/support/v1/layout-support.html" %}

{% block pageTitle %}
  Support
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <span class="govuk-caption-l">Childcare for working families</span>
    <h1 class="govuk-heading-l">Temporary codes</h1>


    <div class="dfe-grid-container">

      <div class="dfe-card">
        <div class="dfe-card-container">
          <h2 class="govuk-heading-m">
              <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="/support/v1/temp-code/upload">Upload temporary code file</a>
          </h2>
          <p>Upload childcare for working families temporary code files provided by HMRC.</p>
        </div>
      </div>
      <div class="dfe-card">
        <div class="dfe-card-container">
          <h2 class="govuk-heading-m">
              <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="/support/v1/temp-code/history">View history of imported codes</a>
          </h2>
          <p>TBC.</p>
        </div>
      </div>

    </div>


  </div>
</div>

{% endblock %}