{% extends "layouts/FSM/v8-0/layout-dfe-lanav.html" %}
{% set pageName="1350 applications to be rechecked" %}
{% set currentAcademicYear="2025" %}
{% set nextAcademicYear="2026" %}
{% set currentAcademicYearStart="2025" %}
{% set nextAcademicYearStart="2026" %}
{% set date=currentAcademicYearStart %}
{% set nextDate=nextAcademicYearStart %}

{% block beforeContent %}
{% include "_includes/layouts/back_link.html" %}
{% endblock %}


{% block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l govuk-!-text-align-left">{{pageName}}</h1>
      <div class="moj-page-header-actions__description govuk-!-text-align-left">
        <!-- <p class="govuk-body">Recheck children's eligibility for free school meals for the academic year {{date}} to
          {{nextDate}}.</p> -->
      </div>
    </div>
  </div>

  <div class="govuk-notification-banner govuk-notification-banner--info" role="region" aria-labelledby="govuk-notification-banner-title">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">Annual recheck (2025–2026)</h2>
  </div>
  <div class="govuk-notification-banner__content">
    <p class="govuk-body">Each year, schools and trusts must confirm whether pupils remain eligible for free school meals for the next academic year. You can recheck all applications or filter by school.</p>
    <p class="govuk-body govuk-!-margin-bottom-0"><a href="#">Learn how rechecks work</a></p>
  </div>
</div>


  <!-- <div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-!-text-align-left">
      <div
        class="govuk-grid-column-two-thirds govuk-!-margin-top-4 govuk-!-margin-bottom-4 govuk-section-break govuk-section-break"
        style="padding-left:0;">
        <div class="moj-search">
          <form action="#" method="post">
            <div class="govuk-form-group">
              <label class="govuk-label moj-search__label govuk-!-font-weight-bold" for="search">
                Find a child
              </label>
              <div id="search-hint" class="govuk-hint moj-search__hint">
                Search by reference number, or by parent or child name or date of birth
              </div>
              <input class="govuk-input moj-search__input" id="search" name="search" type="search"
                aria-describedby="search-hint">
            </div>
            <button type="submit" class="govuk-button moj-search__button" data-module="govuk-button">
              Search
            </button>
          </form>
        </div>
      </div>
    </div>
  </div> -->

      {% include "_includes/la/v8-0/filter-temp.html" %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-!-text-align-left">
      <div class="govuk-button-group">
        <a href="recheck-checking-loader" role="button" draggable="false" class="govuk-button"
          data-module="govuk-button">
          Recheck applications
        </a>
        <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
          View recent rechecks
        </button>
      </div>
    </div>
  </div>



  <div class="govuk-!-margin-top-4 govuk-!-margin-bottom-4 govuk-section-break govuk-section-break">
    <div class="govuk-width-container">
      <table class="govuk-table moj-sortable-table" data-module="moj-sortable-table" data-id-prefix=" -"
        style="width:100%;">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <!-- <th class="govuk-table__header" scope="col" id="mountains-select-all" style="padding: 0; width: 48px;"> -->
              <!-- <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                <input type="checkbox" class="govuk-checkboxes__input moj-multi-select__check-all" id="select-all">
                <label class="govuk-label govuk-checkboxes__label" for="select-all">
                  <span class="govuk-visually-hidden">Select all</span>
                </label>
              </div> -->
    </div>
    </th>
    <th class="govuk-table__header" scope="col" aria-sort="ascending" data-sortable="true">Reference number </th>
    <th class="govuk-table__header" scope="col" aria-sort="none" data-sortable="true">Parent or guardian </th>
    <th class="govuk-table__header" scope="col" aria-sort="none" data-sortable="true">Parent or guardian date of birth
    </th>
    <th class="govuk-table__header" scope="col" aria-sort="none" data-sortable="true"> National insurance<br> number
    </th>
    <th class="govuk-table__header" scope="col" aria-sort="none" data-sortable="true">Child name</th>
    <th class="govuk-table__header" scope="col" aria-sort="none" data-sortable="true">School</th>
    <th class="govuk-table__header" scope="col" aria-sort="none" data-sortable="true">End date</th>
    <th class="govuk-table__header" scope="col" aria-sort="none" data-sortable="true">Status</th>
    <!-- <th class="govuk-table__header" scope="col">Action</th> -->

    </tr>
    </thead>
    {% include "_includes/la/v8-0/recheck-table.html" %}
  </table>
</div>
</div>

<!---------pagescripts--------->
  {% block pageScripts %}
  <script src="/static/js/moj-sortable-table.js"></script>
  <script src="/static/js/govuk-file-upload.js"></script>
  <script src="/static/js/govuk-button.js"></script>
  <script src="/static/js/moj-multi-file-upload.js"></script>
  <script src="/static/js/govuk-checkboxes.js"></script>
  <script src="/static/js/govuk-notification-badge.js"></script>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const selectAll = document.getElementById('select-all');
      const checkboxes = document.querySelectorAll('.govuk-checkboxes__input:not(#select-all)');

      if (selectAll) {
        selectAll.addEventListener('change', function () {
          checkboxes.forEach(function (cb) {
            cb.checked = selectAll.checked;
          });
        });

        // Optional: Uncheck "select all" if any box is unchecked
        checkboxes.forEach(function (cb) {
          cb.addEventListener('change', function () {
            if (!cb.checked) {
              selectAll.checked = false;
            } else if ([...checkboxes].every(c => c.checked)) {
              selectAll.checked = true;
            }
          });
        });
      }
    });
  </script>





<!--COUNT RESULTS-->

<script>

  //pagination
  function paginate(page = 1) {
    const visibleRows = Array.from(document.querySelectorAll('#resultsTable tbody tr.matches-filters'));
    console.log(visibleRows);
    // Limit the number of visible rows to a maximum of 10
    if (visibleRows.length > 10) {
      let count = 0;
      visibleRows.forEach(row => {
        row.style.display = 'none'; // Hide all rows initially
        const min = 0 + ((page - 1) * 10);
        const max = 10 * page;
        if (count > min && count < max) {
          row.style.display = 'table-row'; // Hide excess rows

        }
        count++; // Increment count for visible rows
      });
    }
  }



  const updateVisibleRowCount = () => {
    const table = document.getElementById("resultsTable");
    const rows = table.querySelectorAll("tbody tr");
    const visibleRows = Array.from(rows).filter(row => row.style.display !== "none");

    // Update the visible row count display
    document.getElementById("resultCount").innerText = visibleRows.length;

    // Update the pagination
    paginate();
  };

  // To update the count (e.g., after filtering)
  updateVisibleRowCount();

</script>
  {% endblock %}

  {% endblock %}