{% extends "layouts/FSM/v7/layout-dfe-noback.html" %}
{% set pageName="Provide details of all children" %}
{% set saveAndContinueUrl = config.urls.saveAndContinue %}

{% block pageScripts %}
<script type="text/javascript" src="/public/javascripts/autocomplete.js"></script>
<!-- <script type="text/javascript" src="/public/javascripts/child-details.js"></script> -->
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <div data-module="moj-add-another">
      <h1 class="govuk-heading-l" tabindex="-1">{{pageName}}</h1>
      <form method="post">
        {% call govukFieldset({
          classes: 'moj-add-another__item',
          legend: {
            text: 'Child 1',
            classes: 'moj-add-another__title govuk-fieldset__legend--m',
            isPageHeading: false
          }
        }) %}
        {{ govukInput({
          id: 'person[0][first_name]',
          name: 'person[0][first_name]',
          label: {
            html: 'First name',
            classes: 'govuk-!-font-weight-bold'
          },
          attributes: {
            'data-name': 'person[0][first_name]',
            'data-id': 'person[0][first_name]'
          }
        }) }}
        {{ govukInput({
          id: 'person[0][last_name]',
          name: 'person[0][last_name]',
          label: {
            html: 'Last name',
            classes: 'govuk-!-font-weight-bold'
          },
          attributes: {
            'data-name': 'person[0][last_name]',
            'data-id': 'person[0][last_name]'
          }
        }) }}
        {{ govukDateInput({
          id: "date-of-birth",
          fieldset: {
            legend: {
              text: "Date of birth",
              classes: "govuk-fieldset__legend--m"
            },
            hint: {
              text: "For example, 31 3 1980"
            }
          },
          items: [
            {
              id: "person[0][dob][day]",
              name: "person[0][dob][day]",
              label: "Day",
              classes: "govuk-input--width-2",
              attributes: {
                'data-name': 'person[0][dob][day]',
                'data-id': 'person[0][dob][day]'
              }
            },
            {
              id: "person[0][dob][month]",
              name: "person[0][dob][month]",
              label: "Month",
              classes: "govuk-input--width-2",
              attributes: {
                'data-name': 'person[0][dob][month]',
                'data-id': 'person[0][dob][month]'
              }
            },
            {
              id: "person[0][dob][year]",
              name: "person[0][dob][year]",
              label: "Year",
              classes: "govuk-input--width-2",
              attributes: {
                'data-name': 'person[0][dob][year]',
                'data-id': 'person[0][dob][year]'
              }
            }
          ]
        }) }}
        {% include "/_includes/schools.html" %}
        <!-- The schools.html partial is included here to provide a dropdown or autocomplete functionality
             for selecting schools. It integrates with the rest of the form by enhancing the school selection
             process, ensuring users can easily pick a school for each child. -->


        {% endcall %}
        <div class="moj-button-action">
          {{ govukButton({
            text: 'Add another child',
            classes: 'govuk-button--secondary moj-add-another__add-button govuk-!-margin-bottom-4'
          }) }}
        </div>
        <div class="moj-button-action">
          {{ govukButton({
            text: 'Save and continue',
            href: '../apply/la-check-answers.html'
          }) }}
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}



