{% extends "/layouts/childcare/v7/layout-childcare.html" %}

{% block pageTitle %}
  Edit the partner details
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}


    <div class="govuk-grid-row">


      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">Enter the partner details</h1>

        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-visually-hidden">Warning</span>
            Changes will be applied when the eligibility code is next reconfirmed. 
          </strong>
        </div>


        <form class="form" action="/childcare/v7/foster/family/saved?edit-type=partner" method="post" novalidate>

          {% call govukFieldset({

          }) %}

            {% from "govuk/components/input/macro.njk" import govukInput %}

            {{ govukInput({
              label: {
                text: "First name",
                classes: "govuk-label--m"
              },
              id: "partner-first-name",
              name: "partner-first-name",
              classes: "govuk-input--width-20",
              value: "Ajay"

            }) }}

            {{ govukInput({
              label: {
                text: "Last name",
                classes: "govuk-label--m"
              },
              id: "partner-last-name",
              name: "partner-last-name",
              classes: "govuk-input--width-20",
              value: "Mistry"
            }) }}

            {{ govukDateInput({
              id: "partner-dob",
              namePrefix: "partner-dob",
              fieldset: {
                legend: {
                  text: "Date of birth",
                  isPageHeading: false,
                  classes: "govuk-fieldset__legend--m"
                }
              },
              hint: {
                text: "For example, 31 3 1980"
              },
              items: [
                {
                  name: "day",
                  classes: "govuk-input--width-2",
                  value: "27"
                },
                {
                  name: "month",
                  classes: "govuk-input--width-2",
                  value: "09"
                },
                {
                  name: "year",
                  classes: "govuk-input--width-4",
                  value: "1982"
                }
              ]
            }) }}



            {{ govukInput({
              classes: "govuk-!-width-one-third",
              label: {
                text: "National Insurance number",
                classes: "govuk-fieldset__legend--m"
              },
              hint: {
                text: "For example, ‘QQ 12 34 56 C’"
              },
              id: "partner-ni-number",
              name: "partner-ni-number",
              value: "PB458673A"
            }) }}





          {% endcall %}

           <div class="govuk-inset-text">
           After an eligibility code has been issued, you can correct mistakes to a partner’s name, date of birth or National Insurance number. If the carer’s partner changes, you should remove the partner and add a new one. You cannot swap the identity of a partner to that of the carer.
          </div>



          {% from "govuk/components/button/macro.njk" import govukButton %}

          {{ govukButton({
            text: "Save"
          }) }}


        </form>

      </div>

    </div>



{% endblock %}