{% extends "layouts/layout-email.html" %}
{% set subject = "You have 6 new eligible applications for free school meals to process" %}
{% set from = "GOV.UK <example@gov.uk>" %}
{% set to = "West Kirby Primary School <west-kirby-primary.edu.org>" %}

{% block content %}
<p>Dear school administrator, </p>

<p>You have 6 new eligible applications for free school meals to process.</p>

<p>Sign in to <a href="www.parent-portal.education.gov.uk ">Check a family's eligibility</a> to review them.</p>

  <p>From the Check a family’s eligibility service team</p>
{% endblock %}