{% extends "layouts/layout-email.html" %}
{% set subject = "You have 7 successful applications to process after a review" %}
{% set from = "GOV.UK <example@gov.uk>" %}
{% set to = "West Kirby Primary School <west-kirby-primary.edu.org>" %}

{% block content %}
  <p>Dear school administrator,</p>
  <p>You have 7 successful applications to process after a review.</p>
  <p>Sign in to <a href="www.parent-portal.education.gov.uk ">Check a family's eligibility</a> to review them.</p>
  <p>If any pupils are not registered at your school, contact your local authority.</p>

  <p>From the Check a family’s eligibility service team</p>
{% endblock %}