{% extends "layouts/FSM/v7-4/layout-dfe-schoolnav.html" %}
{% set pageName="Send this application for review?" %}


{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full-width">
      <h1 class="govuk-heading-l">{{pageName}}</h1>
      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-visually-hidden">Warning</span>
          Before sending this appeal for review make sure you have included all supporting evidence.
        </strong>
      </div>
    </div>

  </div>
</div>

<div class="govuk-!-padding-bottom-3"></div>


{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
text: "Yes, send now",
href: 'process-appeals'
}) }}

{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
text: "No, add evidence",
classes: "govuk-button--secondary",
href: '../../upload/appeal-upload-evidence'
}) }}

<div class="govuk-!-padding-bottom-3"></div>

</div>
</div>

{% endblock %}