{% extends "/layouts/FSM/v7-1/layout-dfe-lanav.html" %}
{% set pageName="Run a manual batch check" %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">{{pageName}}</h1>

    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          How to run a manual batch check
        </span>
      </summary>
      <div class="govuk-details__text">
        <ol class="govuk-list govuk-list--number">
          <li>Download the batch check template.</li>
            <li>Add the details of all parents you need to check to the template, including: Name, Date of birth, National
            Insurance number or
            Asylum support reference number.</li>
          <li>Save it as a CSV file.</li>
          <li>Upload the completed template below and run manual checks. </li>
          <li>You’ll be given a file to download containing the results. </li>
        </ol>
      </div>
    </details>

    <p class="govuk-body">Download the <a href="/public/csv/Batch-check-template.csv" download class="govuk-link">batch
        check template</a> (185kb). This must be fully completed and in CSV format. </p>

    <h2 class="govuk-heading-m">Upload a completed template</h2>

    {% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}

    {{ govukFileUpload({
    id: "file-upload-1",
    name: "fileUpload1",
    label: {
    text: ""
    }
    }) }}


    {{ govukButton({
    text: "Upload and run a batch check",
    classes: "govuk-button--primary",
    href: '../batch-checking/batch-checking-loader'
    }) }}


    {% endblock %}
    {% block pageScripts %}
    <!-- Add any javascript files here.

Include javascript files only on the pages
that need them. Excessive javascript files loaded on other pages may slow down
the response times of the prototype. -->
    <script type="text/javascript" src="/public/javascripts/moj/all.js"></script>

    <script type="text/javascript">
      if (typeof MOJFrontend.MultiFileUpload !== "undefined") {
        new MOJFrontend.MultiFileUpload({
          container: $(".moj-multi-file-upload"),
          uploadUrl: "/ajax-upload",
          deleteUrl: "/ajax-delete",
        });
      }
    </script>
    {% endblock %}