{% extends "/layouts/FSM/v7-1/layout-dfe-lanav.html" %}
{% set pageName="Manchester City Council" %}
{% set parentName="Eden Tesfay" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">
      {{pageName}}
    </h1>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m">
          Free School Meals
        </h2>

    <div class="dfe-grid-container">
      <div class="dfe-card">
        <div class="dfe-card-container">
          <h3 class="govuk-heading-m">
            <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header"
              href="la-manage/la-soft-check/checker">Run a check for one parent or guardian</a>
            </h2>
            <p>Run an eligibility check for one parent or guardian.</p>
        </div>
      </div>
      <div class="dfe-card">
        <div class="dfe-card-container">
          <h2 class="govuk-heading-m">
            <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header"
              href="la-manage/batch-checking/manual">Run a batch check</a>
          </h2>
          <p>Run an eligibility check for multiple parents or guardians.</p>
        </div>
      </div>

      <div class="dfe-card">
        <div class="dfe-card-container">
          <h2 class="govuk-heading-m">
            <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header"
              href="la-manage/decision/pending-list">Pending applications</a>
          </h2>
          <p>Check eligibility for children not found in the system.</p>
        </div>
      </div>

      <div class="dfe-card">
        <div class="dfe-card-container">
          <h2 class="govuk-heading-m">
            <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header"
              href="la-manage/report/search.html">Search all records</a>
          </h2>
          <p>Search all pupil free school meal records and export results.</p>
        </div>
      </div>

      <div class="dfe-card">
        <div class="dfe-card-container">
          <h2 class="govuk-heading-m">
            <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="guidance.html">Guidance</a>
          </h2>
          <p>Read guidance on how to review supporting evidence.</p>
        </div>
      </div>
      <!-- <div class="dfe-card">
        <div class="dfe-card-container">

          <h2 class="govuk-heading-m">
            <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header"
              href="/_offline/fsm-print-version-la.html">Download PDF form</a>
          </h2>
          <p>Download an eligibility form for parents to complete.</p>
        </div>
      </div> -->
    </div>
  </div>
</div>
</div>
</div>
</div>
</div>

{% endblock %}