{% extends "layouts/FSM/v8-0/layout-dfe-signed-out.html" %}

{% set pageName="Enter your email address to sign in to your GOV.UK One Login
" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds ">

<input type="hidden" name="_csrf" value="NwbSEw2n-Gna8N8BwZSNt77jGcnGYDP8tfjs">

<div class="govuk-form-group">
<h1 class="govuk-label-wrapper">
<label class="govuk-label govuk-label--l" for="email">
{{pageName}}</label>
</h1>
<h1>UPDATE THIS SCREEN</h1>
<input class="govuk-input" id="email" name="email" type="email" spellcheck="false" autocomplete="email">

</div>


<form action="enter-password" method="post" novalidate>

{{ govukButton({
text: "Continue",
classes:'govuk-!-margin-top-5'
}) }}
</form>




  </div>
</div>



{% endblock %}