{% extends "layouts/FSM/v8-0/layout-dfe-schoolnav.html" %}

{% set childId = "44455453" %}
{% set childDOB = "22 Sep 2021" %}
{% set schoolName = "Hilltop Elementary" %}
{% set schoolAddress = "Manchester, M25 1QA" %}
{% set parentDOB = "15 Mar 1980" %}
{% set parentName = "Alex Johnson" %}
{% set email = "alex.johnson@example.com" %}
{% set nationalInsurance = "AB123456C" %}
{% set parentId = "44455454A" %}
{% set childName = "Emily Johnson" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l"></span>
    <h1 class="govuk-heading-l">Check your answers</h1>

    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Parent or guardian details</h2>
        <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action">
            <a class="govuk-link" href="../school-soft-check/checker.html"
              >Change<span class="govuk-visually-hidden">Parent or guardian details</span></a>
          </li>
        </ul>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Full name</dt>
            <dd class="govuk-summary-list__value">
              {% if data["parent-firstname"] %}{{data.parent-firstname}}
              {% else %}
              {{parentName}}
            {% endif %}
            {% if data ["parent-surname"] %}{{data.parent-surname}}
            {% else %}
            {% endif %}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Email address
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data ["email"] %}{{data.email}}
              {% else %}
              	{{email}}
              {% endif %}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date of birth
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data ["dob"] %}{{ data["dob"] }}
              {% else %}
              {{parentDOB}}
              {% endif %}

            </dd>
          </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            {% if data['ni-number-entered'] == 'yes' %}
              National Insurance number
            {% else %}
              Asylum support <br>reference number
            {% endif %}
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['ni-number-entered'] == 'yes' %}
            {% if data["ni-number"] %}
              {{ data["ni-number"] }}
            {% else %}
              {{nationalInsurance}}
            {% endif %}

            {% if data["nass-number-entered"] %}
              {{ data["nass-number-entered"] }}
            {% else %}
              {{nationalInsurance}}
            {% endif %}
          {% else %}
            {% if data["nass-number-entered"] %}
              {{ data["nass-number-entered"] }}
            {% else %}
              {{nationalInsurance}}
            {% endif %}
          {% endif %}
          </dd>
        </div>
        </dl>
      </div>
    </div>

    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Child 1</h2>
        <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action">
            <a class="govuk-link" href="childs-age.html">Change<span class="govuk-visually-hidden">Child details</span></a>
          </li>
        </ul>
      </div>

      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" >Child's name</dt>
            <dd class="govuk-summary-list__value" >
              {% if data ["ch1-first-name"] %}{{ data["ch1-first-name"] }}
              {% else %}
              {{childName}}
              {% endif %}
              {% if data ["ch1-surname"] %}{{ data["ch1-surname"] }}
              {% else %}
              {{childSurname}}
              {% endif %}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style="width: 40%;">Child's date of birth</dt>
            <dd class="govuk-summary-list__value" style="width: 40%;">
              {% if data ["ch1-day"] %} {{ data["ch1-day"] }}
              {% else %}
              22
              {% endif %}
              {% if data ["ch1-month"] %} {{ data["ch1-month"] }}
              {% else %}
              Sept
              {% endif %}
              {% if data ["ch1-year"] %} {{ data["ch1-year"] }}
              {% else %}
              2021
              {% endif %}
            </dd>
          </div>
        </dl>
      </div>
    </div>

    {% if data['child-2'] == 'Yes' %} {% endif %}



    <h2 class="govuk-heading-m">Confirm and send application</h2>

    <p class="govuk-body">By sending this information, you confirm that, to the best of your knowledge, the details are correct.</p>


    <form action="application-sent" method="post" novalidate>
      <input type="hidden" name="answers-checked" value="true" />
    </form>

    {% from "govuk/components/button/macro.njk" import govukButton %} {{
    govukButton({ text: "Send application", href:
    'confirmation-appeal-email' }) }}
  </div>
</div>


  <form action="eligible" method="post" novalidate>

    <input type="hidden" name="answers-checked" value="true">

    <div class="govuk-!-padding-bottom-2"></div>


    {% from "govuk/components/button/macro.njk" import govukButton %}


  </form>

  </div>
</div>

{% endblock %}
