{% extends "layouts/mvp1.html" %}

{% set pageName="Home" %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds ">

    <h1 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-3">Check your phone</h1>

    <div class="govuk-inset-text">
      We have sent a code to *******6975.
    </div>

    <p class="govuk-body">It might take a few minutes to arrive. The code will expire after 15 minutes.</p>


    

    
      <div class="govuk-form-group">
        <label class="govuk-label" for="code">
          Enter the 6 digit security code
        </label>

        <input class="govuk-input govuk-input--width-10 govuk-!-font-weight-bold" id="code" name="code" type="text"
          spellcheck="false" autocomplete="one-time-code" inputmode="numeric">

      </div>

      


<!-- -->

{% if data['flow'] =="submit-evidence" %}

<form action="../../parent-soft-check/do-you-have-docs" method="post" novalidate>

    {{ govukButton({
        text: "Continue",
        classes: "govuk-button govuk-!-margin-right-3"
        
      }) }}
    
    
  
</form>

{% else %}

<form action="../../parent-soft-check/childs-age" method="post" novalidate>

  {{ govukButton({
      text: "Continue",
      classes: "govuk-button govuk-!-margin-right-3"
      
    }) }}
  
  
</form>

{% endif %}





      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Problems with the code?
          </span>
        </summary>
        <div class="govuk-details__text">

          <p class="govuk-body">
            We can
            <a href="/resend-code?isResendCodeRequest=true" class="govuk-link" rel="noreferrer noopener">send the code
              again</a>
            or you can
            <a href="/enter-phone-number" class="govuk-link" rel="noreferrer noopener">use a different phone number</a>.
          </p>


          <p class="govuk-body">
            <a href="/get-security-codes" class="govuk-link" rel="noreferrer noopener">Get a code another way</a>.
          </p>


        </div>
      </details>

    

  </div>
</div>



{% endblock %}