{% extends "/layouts/layout-dfe-schoolnav.html" %}
{% set pageName="Outcome not eligible" %}
{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title"
        data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            May not be eligible
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <p class="govuk-notification-banner__heading">
            The children of this parent may not be eligible for free school meals.
          </p>
          <p class="govuk-body">From the information you’ve provided, we cannot confirm if your children are eligible
            for
            free school meals.</p>


        </div>
      </div>

      <p class="govuk-body">If the parent wishes to appeal, you’ll need to send their supporting evidence to your local
        authority for review.</p>
    </div>
  </div>
</div>

<div class="govuk-!-padding-bottom-3"></div>

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">How to appeal</h2>
      <ol class="govuk-list govuk-list--number">
        <li>Go to the <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="evidence-guidance">guidance
            for reviewing evidence page</a> to see a complete list of acceptable evidence types. If you haven’t received
          any evidence yet, contact the the parent or guardian. </li>
        <li>Select 'Appeal now' on this page and provide the information requested. </li>
        <li>Once completed, you will receive further instructions on how to send on supporting evidence to your local
          authority.</li>
      </ol>
    </div>
  </div>
</div>


<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Complete list of acceptable evidence
    </span>
  </summary>
  <div class="govuk-details__text">
    <p>To support your claim for free school meals, you can send:</p>
    <ul>
      <li>up to three of your latest Universal Credit statements </li>
      <li>your latest tax credit statement form TC602A (Award Notices) or TC603R (Auto Renewal), showing you are
        receiving Working Tax Credit run-on
      </li>
      <li>your latest tax credit statement form TC602A (Award Notices) or TC603R (Auto Renewal), showing you are
        receiving Child Tax Credit
      </li>
      <li>a letter of Entitlement for Income Support
      </li>
      <li>a letter of Entitlement for income-based Jobseeker’s Allowance
      </li>
      <li>a letter of Entitlement for the guaranteed element of Pension Credit
      </li>
      <li>documents showing you are receiving relevant support under part VI of the Immigration and Asylum Act 1999
      </li>
    </ul>
  </div>
</details>



<div class="govuk-!-padding-bottom-3"></div>


<form action="../../appeal/appeal-new-child-age" method="post" novalidate>
  <button class="govuk-button">Appeal now</button>
</form>

<div class="govuk-!-padding-bottom-2"></div>

<h2 class="govuk-heading-m">Further guidance</h2>

<p>More in-depth information on supporting evidence can be found in <a href="../checker/parent-guidance"
    class="govuk-link">the guidance notes for parents and guardians.</a></p>



</div>
</div>

{% endblock %}

{% block pageScripts %}
<script type="text/javascript" src="/public/javascripts/moj/all.js"></script>
{% endblock %}