{% extends "../../../../layouts/layout-dfe-schoolnav.html" %}
{% set pageName="Imported records" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full-width">
    <h1 class="govuk-heading-l">{{pageName}}</h1>


    <div class="govuk-notification-banner govuk-notification-banner--success" role="region"
      aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Success
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <p class="govuk-notification-banner__heading">
          46 records have been imported </p>

        <!-- <p class="govuk-notification-banner__heading">
            There are 7 errors that need your attention.
          <a class="govuk-notification-banner__link" href="CTF-errors">View and fix errors</a>.
        </p> -->
      </div>
    </div>

    <!--<div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-visually-hidden">Warning</span>
        You must <a href="imported-errors" class="govuk-link">view and fix these errors</a> before
        continuing with the batch check.
      </strong>
    </div> -->


  </div>

  <div class="govuk-grid-column-full">



    <div id="ready-section" class="govuk-table-section">
      <div class="govuk-grid-column-two-thirds">
        <!-- <h2 class="govuk-heading-l">Ready to check</h2> -->
      </div>
      <!-- <div class="govuk-grid-column-one-third govuk-text-align-right govuk-!-padding-right-">
          <div class="govuk-button-group">
            {{ govukButton({
            text: "Notify parents",
            href: ' '
            }) }}
            {{ govukButton({
            text: "Export results",
            classes: "govuk-button--secondary",
            href: ' '
            }) }}
          </div> -->
    </div>

    <table class="govuk-table" data-module="moj-multi-select" data-multi-select-checkbox="#select-all"
      data-multi-select-idprefix=" -" data-module="moj-sortable-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col" id="select-all"></th>
          <th scope="col" class="govuk-table__header">Parent <br>first name</th>
          <th scope="col" class="govuk-table__header">Parent last name</th>
          <th scope="col" class="govuk-table__header">Parent date <br>of birth</th>
          <th scope="col" class="govuk-table__header">Parent NINO <br>or NASS</th>
          <th scope="col" class="govuk-table__header">Child</th>
          <th scope="col" class="govuk-table__header govuk-table__header--date">Childs date <br>of birth</th>
          <th scope="col" class="govuk-table__header">Contact email</th>

        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row govuk-table__row--selected">
          <td class="govuk-table__cell">
            <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
              <input type="checkbox" class="govuk-checkboxes__input" id="mountain-aconcagua">
              <label class="govuk-label govuk-checkboxes__label" for="mountain-aconcagua">
                <span class="govuk-visually-hidden">Select Aconcagua</span>
              </label>
            </div>
          </td>
          <!-- <tr class="govuk-table__row"> -->

          <td class="govuk-table__cell">Eden</td>
          <td class="govuk-table__cell">Tesfay</td>
          <td class="govuk-table__cell govuk-table__cell--date">27 April 1973</td>
          <td class="govuk-table__cell">NW123456b</td>
          <td class="govuk-table__cell">Samuel Tesfay</td>
          <td class="govuk-table__cell govuk-table__cell--date">12 Jan 2017</td>
          <td class="govuk-table__cell">edentesfay@icloud.com</td>
        </tr>
      </tbody>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row govuk-table__row--selected">
          <td class="govuk-table__cell">
            <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
              <input type="checkbox" class="govuk-checkboxes__input" id="mountain-aconcagua">
              <label class="govuk-label govuk-checkboxes__label" for="mountain-aconcagua">
                <span class="govuk-visually-hidden">Select Aconcagua</span>
              </label>
            </div>
          </td>
          <td class="govuk-table__cell">Eden</td>
          <td class="govuk-table__cell">Tesfay</td>
          <td class="govuk-table__cell govuk-table__cell--date">27 April 1973</td>
          <td class="govuk-table__cell">NW123456b</td>
          <td class="govuk-table__cell">Samuel Tesfay</td>
          <td class="govuk-table__cell govuk-table__cell--date">12 Jan 2017</td>
          <td class="govuk-table__cell">edentesfay@icloud.com</td>

        </tr>
      </tbody>
      <tbody class="govuk-table__body">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row govuk-table__row--selected">
          <td class="govuk-table__cell">
            <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
              <input type="checkbox" class="govuk-checkboxes__input" id="mountain-aconcagua">
              <label class="govuk-label govuk-checkboxes__label" for="mountain-aconcagua">
                <span class="govuk-visually-hidden">Select Aconcagua</span>
              </label>
            </div>
          </td>
          <td class="govuk-table__cell">Eden</td>
          <td class="govuk-table__cell">Tesfay</td>
          <td class="govuk-table__cell govuk-table__cell--date">27 April 1973</td>
          <td class="govuk-table__cell">NW123456b</td>
          <td class="govuk-table__cell">Samuel Tesfay</td>
          <td class="govuk-table__cell govuk-table__cell--date">12 Jan 2017</td>
          <td class="govuk-table__cell">edentesfay@icloud.com</td>

        </tr>
      </tbody>
      <tr class="govuk-table__row govuk-table__row--selected">
        <td class="govuk-table__cell">
          <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
            <input type="checkbox" class="govuk-checkboxes__input" id="mountain-aconcagua">
            <label class="govuk-label govuk-checkboxes__label" for="mountain-aconcagua">
              <span class="govuk-visually-hidden"> </span>
            </label>
          </div>
        </td>
        <td class="govuk-table__cell">Eden</td>
        <td class="govuk-table__cell">Tesfay</td>
        <td class="govuk-table__cell govuk-table__cell--date">27 April 1973</td>
        <td class="govuk-table__cell">NW123456b</td>
        <td class="govuk-table__cell">Samuel Tesfay</td>
        <td class="govuk-table__cell govuk-table__cell--date">12 Jan 2017</td>
        <td class="govuk-table__cell">edentesfay@icloud.com</td>

      </tr>
      </tbody>
    </table>
  </div>


  </table>
</div>

<h2 class="govuk-heading-m">This import contains errors</h2>

<p class="govuk-body">You can <a href="imported-errors" class="govuk-link">view and fix the errors before running a check</a> or just run a check on the records without errors.</p>

{{ govukButton({
text: "Check records without errors",
classes: "govuk-button--primary",
href: '../batch-checking/batch-checking-loader'
}) }}
</div>

</div>

{% endblock %}

{% block pageScripts %}

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const navLinks = document.querySelectorAll('.moj-sub-navigation__link');
    const sections = document.querySelectorAll('.govuk-table-section');

    // Initially hide all sections except the one corresponding to the active link
    const activeLink = document.querySelector('.moj-sub-navigation__link[aria-current="true"]');
    const targetId = activeLink ? activeLink.getAttribute('data-section') : 'ready-section';

    sections.forEach(section => {
      section.style.display = section.id === targetId ? 'block' : 'none';
    });

    // Add event listeners to handle tab switching
    navLinks.forEach(link => {
      link.addEventListener('click', function (event) {
        event.preventDefault();

        // Update aria-current for navigation links
        navLinks.forEach(nav => nav.removeAttribute('aria-current'));
        this.setAttribute('aria-current', 'true');

        // Show only the corresponding section
        const newTargetId = this.getAttribute('data-section');
        sections.forEach(section => {
          section.style.display = section.id === newTargetId ? 'block' : 'none';
        });
      });
    });
  });
</script>


{% endblock %}