{% extends "layouts/layout-dfe.html" %}

{% set pageName="Privacy notice" %}

{% set applicationSent %}
<h3 class="govuk-notification-banner__heading">
  Application sent
  </h3>
  <p class="govuk-body">
    You have sent your application for free school meals. It may take upto 1 week to process.
  </p>
  <p>Your reference is 1234567</p>
{% endset %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Privacy notice</h1>
    <h2 class="govuk-heading-m">Who we are</h2>

    <p class="govuk-body">
      This service is run by the Department of Education (DfE).
    </p>
    <p class="govuk-body">This means the DfE is the data controller for the Check a family's eligibility service, and decides how and why any personal data is processed, including by third parties on our behalf.
    </p>
    <p class="govuk-body">
      We will use the information you give us according to <a href="https://www.gov.uk/government/organisations/department-for-education/about/personal-information-charter">DfE personal information charter.</a>
    </p>
    <p class="govuk-body">
      This privacy policy is relevant to parents and/or guardians using the service, and also to any children you may be
      checking or applying for.
    </p>

    <h2 class="govuk-heading-m">Personal data we use</h2>

    <p class="govuk-body">
      This service will use your:
  <ul class="govuk-list govuk-list--bullet">
  <li>
    personal details as a parent or guardian, including your name and email address
  </li>
  <li>
    your National Insurance (NI) number and/or asylum support reference (previous known as National Asylum Support Service) number
  </li>
  <li>
    any social and/or financial benefits claimed by you
  </li>
  <li>
    children’s details including first names, surnames, schools, eligibility numbers and dates of birth
  </li>
  <li>
    details of which version of web browser you use to access the service
  </li>
</ul>
    </p>
    <p class="govuk-body">
      We must have a valid reason to collect your personal data – also known as ‘lawful basis’ under the The Data Protection Act 2018. Our lawful basis is that of 'public task', so that we can run the Entitlement checker as a service to you.
    </p>
    <p class="govuk-body">
      In relation to your child’s personal information, DfE has specific privacy policies. You can read privacy information for:
    </p>
<ul>
  <li>
    <a href="https://www.gov.uk/government/publications/privacy-information-children-and-young-people-under-18/privacy-information-children-and-young-people-under-18#using-your-data-to-protect-children-and-young-people">children and young people under 18 </a>
  </li>
  <li>
    <a href="https://www.gov.uk/government/publications/privacy-information-early-years-foundation-stage-to-key-stage-3/privacy-information-early-years-foundation-stage-to-key-stage-3">early years foundation stage to key stage 3</a>
  </li>
  <li>
   <a href="https://www.gov.uk/government/publications/privacy-information-key-stage-4-and-5-and-adult-education/privacy-information-key-stage-4-and-5-and-adult-education">key stage 4 and 5 and adult education </a>
  </li>
</ul>
<h2 class="govuk-heading-m">How we use your data</h2>

<p class="govuk-body">
  We will use your personal information to:
</p>
<ul class="govuk-list--bullet">
  <li>
    check if you or your child/children are eligible for entitlements such as free school meals
  </li>
  <li>
    send eligibility outcomes to schools in order to register you and your child/children for the possible entitlement
  </li>
  <li>
    send eligibility outcomes to local authorities
  </li>
</ul>



<h2 class="govuk-heading-m">How long we keep your data</h2>
<p class="govuk-body">
 We keep your personal information for 180 days. After this, it will be securely destroyed. Database back ups will also be deleted after an additional 14 days.</p>
 <p class="govuk-body">
  When you finish checking you or your child’s entitlement, we'll
</p>
<ul class="govuk-list--bullet">
  <li>
    delete your personal information (unless you give us permission to pass it onto a school and/or local authority)
  </li>
  <li>
    keep audit records of your user account activity for up to 6 years.
  </li>
</ul>
<p class="govuk-body">
  We can lawfully keep personal data processed purely for research and statistical purposes for up to 2 years.
</p>





<h2 class="govuk-heading-m">Last updated</h2>

<p class="govuk-body">
  This version was last updated in November 2024.</b>
</p>
<p class="govuk-body">
  We may need to update this privacy notice, so we recommend you revisit this from time to time.
</p>

  </div>
</div>
{% endblock %}