{% extends "layouts/FSM/v7-4/layout-dfe-lanav.html" %}
{% set pageName="Multiple applications created" %}

{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% set html %}
      <h3 class="govuk-notification-banner__heading">
        3 applications for free school meals created.
      </h3>
      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-visually-hidden">Warning</span>
          You must ask the parents or guardians to provide supporting evidence for these applications.
        </strong>
      </div>
        {% endset %}

        {{ govukNotificationBanner({
        html: html,
        titleText: "Multiple applications created",
        titleHeadingLevel: "1",
        type: "success"
        }) }}
        <!--<h1 class="govuk-heading-xl">Children details added</h1>-->
        <!-- <h3>Application record for {{ data["parent-firstname"] or "Eden" }} {{ data["parent-surname"] or "Tesfay" }}</h3> -->


    </div>
  </div>

  <div class="govuk-width-container">
    <div class="govuk-grid-column-full-width">
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Child fullname</th>
            <th scope="col" class="govuk-table__header govuk-table__header--date">Child DOB</th>
            <th scope="col" class="govuk-table__header">Parent name</th>
            <th scope="col" class="govuk-table__header">Parent DOB</th>
            <th scope="col" class="govuk-table__header">National Insurance</th>
            <th scope="col" class="govuk-table__header">Email</th>
            <th scope="col" class="govuk-table__header">Reference number</th>

          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Samuel Tesfay</td>
            <td class="govuk-table__cell govuk-table__cell--date">12 Jan 2017</td>
            <td class="govuk-table__cell">Eden Tesfay</td>
            <td class="govuk-table__cell govuk-table__cell--date">27 April 1973</td>
            <td class="govuk-table__cell">NW653213B</td>
            <td class="govuk-table__cell">edentesfay@icloud.com</td>

            <td class="govuk-table__cell"><a href="#">44455453</a></td>
          </tr>
        </tbody>

        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"> {{ data["ch1-first-name"] or "Rachel" }} {{ data["ch1-surname"] or
              data["parent-surname"] or "Tesfay" }} </td>
            <td class="govuk-table__cell govuk-table__cell--date">12 Jan 2017</td>
            <td class="govuk-table__cell">Eden Tesfay</td>
            <td class="govuk-table__cell govuk-table__cell--date">27 April 1973</td>
            <td class="govuk-table__cell">NW653213B</td>

            <td class="govuk-table__cell">edentesfay@icloud.com</td>
            <td class="govuk-table__cell"><a href="#">44455453</a></td>
          </tr>
        </tbody>

        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"> {{ data["ch1-first-name"] or "Rachel" }} {{ data["ch1-surname"] or
              data["parent-surname"]or "Tesfay" }} </td>
            <td class="govuk-table__cell govuk-table__cell--date">12 Jan 2017</td>
            <td class="govuk-table__cell">Eden Tesfay</td>
            <td class="govuk-table__cell govuk-table__cell--date">27 April 1973</td>
            <td class="govuk-table__cell">NW653213B</td>
            <td class="govuk-table__cell">edentesfay@icloud.com</td>
            <td class="govuk-table__cell"><a href="#">44455453</a></td>
          </tr>
        </tbody>

        <!-- {% if data['child-2'] == 'Yes' %} {% endif %}
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"> {{ data["ch1-first-name"] or "Samuel" }} {{ data["surname"]or data["parent-surname"] }}</td>
          <td class="govuk-table__cell">44455454</td>
        </tr> -->
        </tbody>
      </table>
    </div>
  </div>

  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m">What to do next</h2>

        <p class="govuk-body">Ask the parents or guardians for supporting evidence.</p>
        <p class="govuk-body">Upload the evidence to their application or send it by email to your local authority </p>

      </div>
    </div>
  </div>

  <div class="govuk-!-padding-bottom-3"></div>

  <!-- <p><a href="../../dashboard" class="govuk-link">Return to dashboard</p> -->
</div>
</div>
</div>
</div>

<div class="govuk-!-padding-bottom-3"></div>


</div>
</div>

{% endblock %}

{% block pageScripts %}


<script>
  function printPage() {
    window.print();  // This will open the print dialog
  }
</script>

<script type="text/javascript" src="/public/javascripts/moj/all.js"></script>
{% endblock %}