{% extends "/layouts/FSM/v7-2/layout-dfe-matnav-noback.html" %}
{% set pageName="United Learning Trust" %}
{% set address="Worldwide House, Thorpe Wood, Peterborough, PE3 6SB" %}

{% set parentName="Jamie Lee" %}
{% set view="dashboard" %}
{% set serviceName="Check a family's eligibility" %}
{% set serviceUrl="/FSM/index-fsm" %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <caption>{{address}}</caption>

    <h1 class="govuk-heading-l">
      {{pageName}}
    </h1>

    <style>
      .dashboard-padding-between-headings {
        margin-bottom: 32px;
      }
    </style>
    <div class="dashboard-padding-between-headings"></div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m">
          Free school meals
        </h2>


           <div class="govuk-grid-row" style="margin-bottom: 20px;">
        <div class="govuk-grid-column-one-third">
          <div class="dfe-card" style="background-color: #d15049; color: white; pointer-events: none;">
        <div class="dfe-card-container">
          <h3 class="govuk-heading-m" style="color: white;">Evidence to be reviewed</h3>
          <p class="govuk-heading-xl" style="color: white;">12</p>
        </div>
          </div>
        </div>
        <div class="govuk-grid-column-one-third">
          <div class="dfe-card" style="background-color: #828282; color: white; pointer-events: none;">
        <div class="dfe-card-container">
          <h3 class="govuk-heading-m" style="color: white;">Batch checks in progress</h3>
          <p class="govuk-heading-xl" style="color: white;">4</p>
        </div>
          </div>
        </div>
        <div class="govuk-grid-column-one-third">
          <div class="dfe-card" style="background-color: #369c47; color: white; pointer-events: none;">
        <div class="dfe-card-container">
          <h3 class="govuk-heading-m" style="color: white;">Total eligible pupils 25/26</h3>
          <p class="govuk-heading-xl" style="color: white;">318</p>
        </div>
          </div>
        </div>
      </div>


    <div class="dfe-grid-container">
      <div class="dfe-card">
        <div class="dfe-card-container">
          <h3 class="govuk-heading-m">
            <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header"
              href="mat-manage/mat-soft-check/checker.html">Run a check for one parent or guardian</a>
            </h2>
            <p>Run an eligibility check for one parent or guardian.</p>
        </div>
      </div>
      <div class="dfe-card">
        <div class="dfe-card-container">
          <h2 class="govuk-heading-m">
            <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header"
              href="mat-manage/batch-checking/manual-no-ctf">Run a batch check</a>
          </h2>
          <p>Run an eligibility check for multiple parents or guardians.</p>
        </div>
      </div>

      <div class="dfe-card">
        <div class="dfe-card-container">
          <h2 class="govuk-heading-m">
            <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header"
              href="mat-manage/decision/pending-list">Pending applications</a>
          </h2>
          <p>Check eligibility for children not found in the system.</p>
        </div>
      </div>

      <div class="dfe-card">
        <div class="dfe-card-container">
          <h2 class="govuk-heading-m">
            <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header"
              href="mat-manage/report/search.html">Search all records</a>
          </h2>
          <p>Search all pupil free school meal records and export results from the Trust.</p>
        </div>
      </div>

      <div class="dfe-card">
        <div class="dfe-card-container">
          <h2 class="govuk-heading-m">
            <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="guidance.html">Guidance</a>
          </h2>
          <p>Read guidance on how to review supporting evidence.</p>
        </div>
      </div>
      <div class="dfe-card">
        <div class="dfe-card-container">

          <h2 class="govuk-heading-m">
            <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header"
              href="/_offline/fsm-print-version-mat.html">Download PDF form</a>
          </h2>
          <p>Download an eligibility form for parents to complete.</p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
</div>

{% endblock %}