{% extends "/layouts/childcare/v9/layout-childcare.html" %}

{% block pageTitle %}
  Early learning for 2-year-olds guidance for reviewing evidence
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">Early learning for 2-year-olds</span>
   <h1 class="govuk-heading-l">Guidance for reviewing evidence</h1>
   <p>To find out if the children of a parent or guardian are entitled to early learning for 2-year-olds, you’ll need to review the supporting evidence they've provided. </p>
   <p>Choose the relevant section from the evidence list for tailored guidance on how to review. </p>

   <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
    <div class="govuk-accordion__section">
      <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
            Universal Credit statements
          </span>
        </h2>
      </div>
      <div id="accordion-default-content-1" class="govuk-accordion__section-content">
        <p class="govuk-body">To see if a parent or guardian can claim early learning for 2-year-olds, you must find their <strong class="govuk-!-font-weight-bold">take-home pay</strong> in the Universal Credit statement(s) they’ve provided. If a ‘minimum income floor’ has been applied by the Department for Work and Pensions, you should use the actual earnings instead.  </p>
        <p><strong class="govuk-!-font-weight-bold">Important</strong>: Any statements provided must show the parent/guardian’s income, and the income of any partner listed on the claim, and the date it was sent.  </p>
        <p>Their latest statement should refer to the Universal Credit assessment period immediately before the date of their request.  </p>
        <p>They are entitled if any of the following apply: </p>
        <ul>
          <li>the take-home pay of the applicant and any partner listed in the latest Universal Credit statement is  <strong class="govuk-!-font-weight-bold">£1283.33 or less </strong></li>
          <li>the take-home pay of the applicant and any partner listed in the latest Universal Credit statement + the one covering the Universal Credit assessment period directly before is <strong class="govuk-!-font-weight-bold">£2566.67 or less</strong></li>
          <li>the take-home pay of the applicant and any partner listed in the latest Universal Credit statement + the one covering the month directly before + the one covering the month directly before that is <strong class="govuk-!-font-weight-bold">£3850.00 or less</strong>  </li>
        </ul>
      </div>
    </div>
    <div class="govuk-accordion__section" id="nrpf">
      <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
            Families with no recourse to public funds (NRPF)
          </span>
        </h2>
      </div>
      <div id="accordion-default-content-2" class="govuk-accordion__section-content">
        <p class="govuk-body">To see if a family can claim early learning for 2-year-olds, check their signed application form confirming both their immigration category and that they are not above the maximum income threshold required for their area.  </p>
        <p>Families can use the DfE <a href="https://www.gov.uk/government/publications/30-hours-free-childcare-la-and-early-years-provider-guide?">sample application form</a>, which also includes details of the income thresholds, or they can use one created by a local authority.  </p>
        <p>You can confirm proof of NRPF status from one of the following: </p>
        <ul>
          <li>the online <a href="https://www.gov.uk/check-immigration-status?">Immigration Checking Service</a></li>
          <li>an Application Residence Card (ARC) </li>
        </ul>
        <p>To verify income, check one of the following for the applicant and their partner (if they have one), covering the last 3 months:  </p>
        <ul>
          <li>payslips </li>
          <li>P60</li>
          <li>bank statements </li>
          <li>letter from their bank confirming total incoming funds  </li>
          <li>letter from their employer confirming monthly salary  </li>
        </ul>
        <p>You must also confirm that the applicant and their partner (if they have one) do not have more than £16,000 in capital (this includes savings, investments or other assets).  </p>
        <p>If an applicant is an asylum seeker that receives financial support, you can ask to see a copy of a letter from the Home Office confirming that they have been awarded financial support.  </p>
        <p>You can also <a href="https://www.gov.uk/government/publications/30-hours-free-childcare-la-and-early-years-provider-guide?">read more in-depth guidance on GOV.UK</a>. </p>
      </div>
    </div>
    <div class="govuk-accordion__section">
      <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
            Children in care
          </span>
        </h2>
      </div>
      <div id="accordion-default-content-3" class="govuk-accordion__section-content">
        <p class="govuk-body">To see if children in care are eligible for early learning for 2-year-olds, you can check with the local authority social care team to confirm that they are looked after or previously looked after by a local authority. </p>
        <p>Children who have left care via adoption, a special guardianship order or a child arrangements order are eligible for early learning for 2-year-olds.  </p>
      </div>
    </div>
     <div class="govuk-accordion__section">
      <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
            Education, health and care (EHC) plan
          </span>
        </h2>
      </div>
      <div id="accordion-default-content-3" class="govuk-accordion__section-content">
        <p class="govuk-body">To see if a parent or guardian can claim early learning for 2-year-olds, check with the local authority to confirm that they have an EHC plan. </p>
      </div>
    </div>
     <div class="govuk-accordion__section">
      <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
            Disability Living Allowance
          </span>
        </h2>
      </div>
      <div id="accordion-default-content-3" class="govuk-accordion__section-content">
        <p class="govuk-body">To see if a parent or guardian can claim early learning for 2-year-olds, check their Letter of Entitlement from the Department for Work and Pensions.  </p>
        <p>If the letter states they are currently in receipt of Disability Living Allowance, they also count as being entitled to early learning for 2-year-olds. </p>
      </div>
    </div>
    <div class="govuk-accordion__section">
      <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
            Income Support
          </span>
        </h2>
      </div>
      <div id="accordion-default-content-4" class="govuk-accordion__section-content">
        <p class="govuk-body">To see if a parent or guardian can claim early learning for 2-year-olds, check their Letter of Entitlement from the Department for Work and Pensions.  </p>
        <p>If the letter states they are currently in receipt of Income Support, they also count as being entitled to early learning for 2-year-olds.</p>
      </div>
    </div>
    <div class="govuk-accordion__section">
      <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
            Income based Jobseeker's Allowance (JSA)
          </span>
        </h2>
      </div>
      <div id="accordion-default-content-4" class="govuk-accordion__section-content">
        <p class="govuk-body">To see if a parent or guardian can claim early learning for 2-year-olds, check their Letter of Entitlement from the Department for Work and Pensions. </p>
        <p>If the letter states they are currently in receipt of income-based Jobseeker’s Allowance (JSA) - sometimes called old style JSA - they also count as being entitled to early learning for 2-year-olds.  </p>
      </div>
    </div>
    <div class="govuk-accordion__section">
      <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
            Income-related Employment and Support Allowance (ESA)
          </span>
        </h2>
      </div>
      <div id="accordion-default-content-4" class="govuk-accordion__section-content">
        <p class="govuk-body">To see if a parent or guardian can claim early learning for 2-year-olds, check their Letter of Entitlement from the Department for Work and Pensions.  </p>
        <p>If the letter states they are currently in receipt of income-related Employment and Support Allowance (ESA) - sometimes called old style ESA - they also count as being entitled to early learning for 2-year-olds.</p>
      </div>
    </div>
     <div class="govuk-accordion__section">
      <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
            Pension Credit
          </span>
        </h2>
      </div>
      <div id="accordion-default-content-4" class="govuk-accordion__section-content">
        <p class="govuk-body">To see if a parent or guardian can claim early learning for 2-year-olds, check their Letter of Entitlement from the Department for Work and Pensions. This will typically be a Pension Credit M1000 Award Notice.  </p>
        <p>If the letter states they are currently in receipt of Pension Credit, they also count as being entitled to early learning for 2-year-olds. </p>
      </div>
    </div>
  </div>




  </div>
</div>



{% endblock %}