{% extends "/layouts/support/v3/layout-support.html" %}

{% block pageTitle %}
  Password is incorrect
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Password is incorrect</h1>
    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-visually-hidden">Warning</span>
        We cannot import temporary codes as the password for the file is incorrect.
      </strong>
    </div>
    <p class="govuk-body">You must:</p>
    <ol class="govuk-list govuk-list--number">
      <li>Ask HMRC if the password has been changed.</li>
      <li>Create a <a href="">service now ticket</a> to update the password in our system.</li>

    </ol>




  </div>
</div>

{% endblock %}