{% extends "layouts/main.html" %}

{% set pageName="Check if your children can get free school meals" %}

{% block content %}

<h1 class="govuk-heading-xl">

</h1>

<div class="govuk-width-container">

  <div class="govuk-grid-row">

      <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-xl">{{pageName}}</h1>

        <p class="govuk-body">Here you can:</p>
        <ul class="govuk-list--bullet">
          <li> enter a few details to find out if your children can get free school meals</li>
          <li> send the decision to your children’s school, college, nursery or childcare setting</li>
        </ul>

        <p class="govuk-body">It should take about 5 minutes to run a check.</p>

        <h2 class="govuk-heading-l">Before you start</h2>

          <p class="govuk-body">You will need:</p>

          <ul class="govuk-list--bullet">
            <li>a National Insurance number or asylum support reference number (previously NASS reference number)</li>
            <li>to use or create a GOV.UK One Login to sign in</li>
            <li>details of the children you're applying for, including the name of their school</li>
        </ul>

        <p class="govuk-body">You may also need <a href="/mvp3/_family/guidance/parent-guidance#:~:text=Providing%20the%20right%20evidence"
              class="govuk-link">supporting evidence for your application</a>.</p>
        </ul>

        {% from "govuk/components/button/macro.njk" import govukButton %}

        <form action="../parent-soft-check/check" method="post">

          {{ govukButton({
            text: "Start now",
            href:'../parent-soft-check/account/beta-school-check',

            isStartButton: true
          }) }}

         </form>


      </div>
  </div>


<h2 class="govuk-heading-l">Who can get free school meals</h2>

<p class="govuk-body">Younger children aged 4 to 6 are always entitled to free school meals.</p>
<p class="govuk-body">Children in compulsory education may be able to get free school meals if you, or they, get any of these benefits:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Universal Credit - your household income must be less than £7,400 a year (after tax and not including any benefits you get)</li>
        <li>Income Support </li>
        <li>income-based Jobseeker’s Allowance </li>
        <li>income-related Employment and Support Allowance </li>
        <li>support under Part VI of the Immigration and Asylum Act 1999 </li>
        <li>the guaranteed element of Pension Credit </li>
        <li>Child Tax Credit (provided you’re not also entitled to Working Tax Credit and have an annual gross income of no more than £16,190) </li>
        <li>Working Tax Credit run-on - paid for 4 weeks after you stop qualifying for Working Tax Credit </li>
      </ul>

      <p class="govuk-body">You should apply for free school meals even if you know your child will get them, as schools get extra funding based on the number of eligible children they record.</p>
      <p class="govuk-body">See <a target="_blank" href="../checker/parent-guidance.html">more detailed guidance on applying for free school meals</a>.</p>


      <h2 class="govuk-heading-l">Other ways to apply</h2>
      <p class="govuk-body">If you cannot apply online, you can fill in <a href="fsm-print-version">the 'Free school meals entitlement checker' form</a> and give it to your children's school. </p>





    </div>
  </main>
</div>








</div>
</main>

</div>
{% endblock %}


