{% extends "layouts/layout-dfe.html" %}









{% block backLink %}
{{ govukBackLink({
text: "Back",
href: "/"
}) }}
{% endblock %}


<!-- The content between the heading 1 and the buttons -->

{% block content %}



<div class="govuk-grid-row govuk-!-margin-bottom-5">
  <div class="govuk-grid-column-full">


    <span class="govuk-hint">Warren Sutton</span>


    <div class="moj-page-header-actions">

      <div class="moj-page-header-actions__title">
        <h1 class="govuk-heading-xl">Application history
          <span class="govuk-!-margin-left-5"> {{govukTag({
            text: "Eligible",
            classes: "govuk-tag--green"
            })}}</span>
        </h1>

      </div>
    
      <div class="moj-page-header-actions__actions">
    
        <div class="moj-button-menu">
          <div class="moj-button-menu__wrapper">
    
            <button class="govuk-button moj-button-menu__item govuk-button--secondary moj-page-header-actions__action" data-module="govuk-button">
              Transfer school
            </button>
    
          
    
          </div>
        </div>
    
      </div>
    
    </div>
    
    






  

      {%- from "moj/components/ticket-panel/macro.njk" import mojTicketPanel -%}

      {{ mojTicketPanel({
      attributes: {
      'aria-label': 'Decision panel'
      },
      items: [
      {
      html: '
      
      <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Reference number: 12323212</h2>
      <p class="govuk-body">Ensure all supporting evidence has been reviewed prior to making a decision.</p>

      <form action="supporting-evidence" method="post" novalidate>

        <input type="hidden" name="approve-application" value="yes">


      <button class="govuk-button" data-module="govuk-button">
        Review eligibility
      </button>

    


     ',
      attributes: {
      'aria-label': 'Section 1'
      },
      classes: 'moj-ticket-panel__content--blue'
      }]
      }) }}


   
    </form>




  </div>

</div>




<h2 class="govuk-heading-l govuk-!-margin-bottom govuk-!-font-size-36">Overview</h2>


{%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}

{{ mojSubNavigation({
  label: 'Sub navigation',
  items: [{
    text: 'Overview',
    href: '#',
    active: true
  }, {
    text: 'Documents',
    href: 'eligible-docs'
  }
  ]
}) }}

<!-- PERSON -->


{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{{ govukSummaryList({
  card: {
    title: {
      text: "Person"
    },
    actions: {
      items: [
        {
          href: "#",
          text: "Edit details",
          visuallyHiddenText: "of University of Gloucestershire"
        }
       
      ]
    }
  },
  rows: [



    {
      key: {
        text: "Name"
      },
      value: {
        html: "Warren Sutton"
      }
    },
     
    {
      key: {
        text: "Relationship"
      },
      value: {
        html: "Parent"
      }
    },

    {
      key: {
        text: "Nationality"
      },
      value: {
        html: "British"
      }
    },
     
    {
      key: {
        text: "Date of birth"
      },
      value: {
        html: "01 September 1978"
      }
    },
     
    {
      key: {
        text: "National Insurance"
      },
      value: {
        html: "AA8752W"
      }
    },
     
    {
      key: {
        text: "Eligible for"
      },
      value: {
        html: "Free school meals"
      }
    }
  ]
}) }}




{{ govukSummaryList({
  card: {
  title: {
  text: "Child 1"
  },
  actions: {
  items: [
  
  {
  href: "#",
  text: "Edit details",
  visuallyHiddenText: "from application"
  }
  ]
  }
  },
  rows: [
  
 
     
    {
      key: {
        text: "Name"
      },
      value: {
        html: "Lisa Sutton"
      }
    },
     
    {
      key: {
        text: "Date of birth"
      },
      value: {
        html: "18 November 2012"
      }
    },
     
    {
      key: {
        text: "School"
      },
      value: {
        html: "St Mary's Manchester"
      }
    }


  
  ]
  }) }}






{% endblock %}

{% block buttons %}
{% endblock %}

{% block pageScripts %}
<!-- Add any javascript files here. Include javascript files only on the pages
that need them. Excessive javascript files loaded on other pages may slow down
the response times of the prototype. -->
<script type="text/javascript" src="/public/javascripts/moj/all.js"></script>
<script>
  new MOJFrontend.ButtonMenu({
    container: $(".moj-button-menu"),
    mq: "(min-width: 200em)",
    buttonText: "Task actions",
    buttonClasses:
      "",
  });
</script>

{% endblock %}