{% extends "orange/task-management/mvp1/base-form.html" %}
{% set nextPage = "task-notes" %}


<!-- {#
  Override styles on this page and this page only, using the pageStyle block.
  The contents of the block should be plain css, as the <style> tag is included in
  the template.
  {% block pageStyle %}
  .record-item-input-box {
    width: 40%;
  }
  .govuk-heading-m {
    color: red;
  }
  {% endblock %}
#} -->


  {% block backLink %}
    {{ govukBackLink({
      text: "Back",
      href: "javascript:window.history.go(-1)"
    }) }}
  {% endblock %}

<!-- The content between the heading 1 and the buttons -->

{% block pageContent %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">

  <!-- 
{{ govukCheckboxes({
  name: "waste",
  fieldset: {
    legend: {
      text: "Send a note",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  
  items: [
    {
      value: "ncc-only",
      text: "Make viewable for NCC only"
    }
    
  ]
}) }} -->


{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}

{{ govukCharacterCount({
  name: "notes",
  id: "notes",
  
  maxlength: 200,
  label: {
    text: "Enter your notes",
    classes: "govuk-label--s",
    isPageHeading: true
  },
  hint: {
    text: "Brief description should include relevant facts only."
  }
}) }}

{% endblock %}




  {% block buttons %}


<form id="cop-form" action="task-notes" method="post" novalidate>
  <input type="hidden" id="send-note" name="send-note" value="Yes">
  <button type="submit" class="hods-button cop-inline-button" data-module="hods-button">Submit note</button>
  
</form>

  {% endblock %}
      
    
    
      
    
    
      
    
    
        
      
    


      </div>
    
    </div>
    
    







 



{% block pageScripts %}
<!-- Add any javascript files here. Include javascript files only on the pages
that need them. Excessive javascript files loaded on other pages may slow down
the response times of the prototype. -->
{% endblock %}
