{% extends "layouts/layout-dfe.html" %}

{% set pageName="Home" %}

{% block content %}






<div class="govuk-grid-row">


  <div class="govuk-grid-column-two-thirds">

    {% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{{ govukErrorSummary({
  titleText: "There is a problem",
  errorList: [
    {
      text: "Date of birth is missing",
      href: "#"
    }
    
  ]
}) }}

    <form action="/council-ni-number-answer" method="post" novalidate>





      {% from "govuk/components/date-input/macro.njk" import govukDateInput %}

      {{ govukDateInput({
        id: "passport-issued",
        namePrefix: "passport-issued",
        fieldset: {
          legend: {
            text: "What is your date of birth?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          text: "For example, 27 3 2007"
        },
        errorMessage: {
          text: "The date your passport was issued must be in the past"
        },
        items: [
          {
            classes: "govuk-input--width-2 govuk-input--error",
            name: "day",
            value: "6"
          },
          {
            classes: "govuk-input--width-2 govuk-input--error",
            name: "month",
            value: "3"
          },
          {
            classes: "govuk-input--width-4 govuk-input--error",
            name: "year",
            value: "2076"
          }
        ]
      }) }}
  

      {{ govukButton({
      text: "Save and continue"
      }) }}


    </form>










  </div>

</div>



{% endblock %}