{% extends "/layouts/childcare/v3/layout-childcare.html" %}

{% block pageTitle %}
  Edit the child details
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}


    <div class="govuk-grid-row">


      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">Edit the child details</h1>

        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-visually-hidden">Warning</span>
            Changes will only apply to new or reconfirmed eligibility codes.
          </strong>
        </div>


        <form class="form" action="/childcare/v3/foster/family/saved?edit-type=child 1" method="post" novalidate>

          {% call govukFieldset({

          }) %}

            {% from "govuk/components/input/macro.njk" import govukInput %}

            {{ govukInput({
              label: {
                text: "First name",
                classes: "govuk-label--m"
              },
              id: "child-first-name",
              name: "child-first-name",
              classes: "govuk-input--width-20",
              value: "Jasper"

            }) }}

            {{ govukInput({
              label: {
                text: "Last name",
                classes: "govuk-label--m"
              },
              id: "child-last-name",
              name: "child-last-name",
              classes: "govuk-input--width-20",
              value: "Hayes"

            }) }}

            {{ govukDateInput({
              id: "child-dob",
              namePrefix: "child-dob",
              fieldset: {
                legend: {
                  text: "Date of birth",
                  isPageHeading: false,
                  classes: "govuk-fieldset__legend--m"
                }
              },
              hint: {
                text: "For example, 31 3 2023"
              },
              items: [
                {
                  name: "day",
                  classes: "govuk-input--width-2",
                  value: "10"
                },
                {
                  name: "month",
                  classes: "govuk-input--width-2",
                  value: "10"
                },
                {
                  name: "year",
                  classes: "govuk-input--width-4",
                  value: "2021"
                }
              ]
            }) }}



          {% endcall %}


          <div>
            {{ govukButton({
              text: "Save"
            }) }}
          </div>





        </form>

      </div>

    </div>



{% endblock %}