{% extends "layouts/layout-email.html" %}
{% set subject = "Free school meals – application successful – reference [reference]" %}
{% set from = "DfE <dfe@gov.uk>" %}
{% set to = "Eden Tesfay <eden.tesfay@gmail.com>" %}

{% block content %}
<p>Dear John, </p>

<p>Your recent application for free school meals was successful.</p>

<h2 class="govuk-heading-s">Application references</h2>

<p>44455453</p>

<h2 class="govuk-heading-s">What happens next</h2>

<p>The school(s) will now set up free school meals for your children.</p>

<p>You do not need to do anything else.</p>

<p>From Department for Education</p>

{% endblock %}