{% extends "layouts/layout-email.html" %}
{% set subject = "Free school meals application sent" %}
{% set from = "DfE <dfe@gov.uk>" %}
{% set to = "Eden Tesfay <eden.tesfay@gmail.com>" %}

{% block content %}
 <p>Dear John</p>

<p>Your application for free school meals has been sent to your children’s school(s).</p>

<h2 class="govuk-heading-s">Application references</h2>

  <p>44455453</p>


  <h2 class="govuk-heading-s">  What happens next </h2>

  <p>We will email you when a decision has been made.</p>

<p>This should take about 1 week.</p>



  <p>From Department for Education</p>
{% endblock %}