{% extends "layouts/fsm/layout-dfe-index-fsm.html" %}
{% set pageName="Eligibility checker prototype" %}
{% set selectedNav = "Ready for development" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <span class="govuk-hint"> </span>
    <h1 class="govuk-heading-l">
      <span class="govuk-tag--green">Ready for development</span>
    </h1>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break">

    <div class="govuk-tabs" data-module="govuk-tabs">
      <h2 class="govuk-tabs__title">Contents</h2>
      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#general">General pages</a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#parent">Parents</a>
        </li>
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#school">Schools</a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#MAT">MATs</a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#LA">Local Authority</a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#dfe">DfE</a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#errors">Error scenarios</a>
        </li>
      </ul>

      <!-- General Table -->
      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="general">
        <span class="govuk-caption-m">Version 3</span>
        <h2 class="govuk-heading-l">General</h2>
        <ul class="govuk-task-list">
          <li class="govuk-task-list__item">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link" href="/General/v3/privacy.html">Privacy page</a>
            </div>
            <div class="govuk-task-list__status">Design signed off</div>
          </li>
          <li class="govuk-task-list__item">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link" href="/General/v3/accessibility.html">Accessibility page</a>
            </div>
            <div class="govuk-task-list__status">Design signed off</div>
          </li>
          <li class="govuk-task-list__item">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link" href="/General/v3/contact.html">Contact page</a>
            </div>
            <div class="govuk-task-list__status">Design signed off</div>
          </li>
          <li class="govuk-task-list__item">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link" href="/General/v3/terms.html">Terms and conditions</a>
            </div>
            <div class="govuk-task-list__status">Design signed off</div>
          </li>
          <li class="govuk-task-list__item">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link" href="/General/v3/cookies-parents.html">Cookies page - Parents</a>
            </div>
            <div class="govuk-task-list__status">Under review</div>
          </li>
          <li class="govuk-task-list__item">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link" href="/General/v3/cookies-schools-la.html">Cookies page - LA and schools</a>
            </div>
            <div class="govuk-task-list__status">Design signed off</div>
          </li>
          <li class="govuk-task-list__item">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link" href="/General/v3/cookies-banner.html">Cookies banner</a>
            </div>
            <div class="govuk-task-list__status">Dev as component</div>
          </li>
          <li class="govuk-task-list__item">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link" href="/General/v3/problem-with-service-parents.html">There is a problem -
                parents</a>
            </div>
            <div class="govuk-task-list__status">Design signed off</div>
          </li>
          <li class="govuk-task-list__item">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link" href="/General/v3/problem-with-service-schools-la.html">There is a problem - LA and
                schools</a>

            </div>
            <div class="govuk-task-list__status">Design signed off</div>
          </li>
          </li>
          <li class="govuk-task-list__item">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link" href="/General/v3/service-unavailable-parents.html">Service unavailable -
                Parents</a>
            </div>
            <div class="govuk-task-list__status">Design signed off</div>
          </li>
          <li class="govuk-task-list__item">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link" href="/General/v3/service-unavailable-schools-la.html">Service unavailable - LA and
                schools</a>
            </div>
            <div class="govuk-task-list__status">Design signed off</div>
          </li>
          <li class="govuk-task-list__item">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link" href="/General/v3/page-not-found-parents.html">Page not found - parents</a>
            </div>
            <div class="govuk-task-list__status">Design signed off</div>
          </li>
          <li class="govuk-task-list__item">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link" href="/General/v3/page-not-found-schools-la.html">Page not found - LA and
                schools</a>
            </div>
            <div class="govuk-task-list__status">Design signed off</div>
          </li>
        </ul>
      </div>
      <!-- Parent Table -->
      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="parent">
        <span class="govuk-caption-m">Version 7-1</span>
        <h2 class="govuk-heading-l">Parents</h2>
        <ul class="govuk-task-list">
          <li class="govuk-task-list__item">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link" href="/FSM/Private_beta/v7-2/family/start-now-beta-schools.html">Beta - Start
            page</a>
        </div>
        <div class="govuk-task-list__status">Design signed off</div>
          </li>
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="/FSM/Private_beta/v7-2/family/start-now-beta-schools.html"
            aria-describedby="status-1">
            Start page
          </a>
        </div>
        <div class="govuk-task-list__status" id="status-1">
          Design signed off
        </div>
          </li>
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="/FSM/Private_beta/v7-2/family/guidance/parent-guidance.html"
            aria-describedby="status-2">
            Guidance
          </a>
        </div>
        <div class="govuk-task-list__status" id="status-2">
          Design signed off
        </div>
          </li>

          <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="/FSM/Private_beta/v7-2/family/soft-check/account/beta-school-check.html"
            aria-describedby="status-3">
            Beta school check
          </a>
        </div>
        <div class="govuk-task-list__status" id="status-3">
          Design signed off
        </div>
          </li>

          <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="//FSM/Private_beta/v7-2/family/beta-school-check-no.html"
            aria-describedby="status-4">
            Schools not included in beta
          </a>
        </div>
        <div class="govuk-task-list__status" id="status-4">
          Design signed off
        </div>
          </li>

          <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="/FSM/Private_beta/v7-2/family/beta-school-check.html"
            aria-describedby="status-5">
            Eligibility check
          </a>
        </div>
        <div class="govuk-task-list__status" id="status-5">
          Design signed off
        </div>
          </li>

          <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="/FSM/Private_beta/v7-2/family/parent-soft-check/nass-number.html"
            aria-describedby="status-6">
            Asylum reference check
          </a>
        </div>
        <div class="govuk-task-list__status" id="status-6">
          Design signed off
        </div>
          </li>

          <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="/FSM/Private_beta/v7-2/family/parent-soft-check/checking-loader.html"
            aria-describedby="status-7">
            Checking loader
          </a>
        </div>
        <div class="govuk-task-list__status" id="status-7">
          Design signed off
        </div>
          </li>

          <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="/FSM/Private_beta/v7-2/family/parent-soft-check/outcomes/eligible.html"
            aria-describedby="status-8">
            Eligible
          </a>
        </div>
        <div class="govuk-task-list__status" id="status-8">
          Design signed off
        </div>
          </li>

          <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="/FSM/Private_beta/v7-2/family/parent-soft-check/outcomes/outcome-not-entitled.html"
            aria-describedby="status-9">
            Not eligible
          </a>
        </div>
        <div class="govuk-task-list__status" id="status-9">
          Design signed off
        </div>
          </li>

          <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="/FSM/Private_beta/v7-2/family/parent-soft-check/outcomes/outcome-could-not-find.html"
            aria-describedby="status-10">
            Not found
          </a>
        </div>
        <div class="govuk-task-list__status" id="status-10">
          Design signed off
        </div>
          </li>

          <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="/FSM/Private_beta/v7-2/family/parent-soft-check/outcomes/outcome-could-not-find-pending.html"
            aria-describedby="status-11">
            Not found - need UC statements
          </a>
        </div>
        <div class="govuk-task-list__status" id="status-11">
          Design signed off
        </div>
          </li>

          <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="/FSM/Private_beta/v7-2/family/parent-soft-check/outcomes/outcome-technical-error.html"
            aria-describedby="status-12">
            Check failed
          </a>
        </div>
        <div class="govuk-task-list__status" id="status-12">
          Design signed off
        </div>
          </li>

          <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="/FSM/Private_beta/v7-2/family/account/apply/childs-age.html"
            aria-describedby="status-13">
            Add children
          </a>
        </div>
        <div class="govuk-task-list__status" id="status-13">
          Design signed off
        </div>
          </li>

          <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="/FSM/Private_beta/v7-2/family/account/apply/childs-age-no-javascript.html"
            aria-describedby="status-14">
            Add children - no JavaScript
          </a>
        </div>
        <div class="govuk-task-list__status" id="status-14">
          Design signed off
        </div>
          </li>

          <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="/FSM/mvp2/parent-soft-check/check-answers.html"
            aria-describedby="status-15">
            Check answers
          </a>
        </div>
        <div class="govuk-task-list__status" id="status-15">
          Design signed off
        </div>
          </li>

          <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="/FSM/mvp2/parent-soft-check/check-answers-no-javascript.html"
            aria-describedby="status-16">
            Check answers - no JavaScript
          </a>
        </div>
        <div class="govuk-task-list__status" id="status-16">
          Design signed off
        </div>
          </li>

          <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="/FSM/mvp2/parent-soft-check/children-added.html"
            aria-describedby="status-17">
            Application complete
          </a>
        </div>
        <div class="govuk-task-list__status" id="status-17">
          Design signed off
        </div>
          </li>
        </ul>
      </div>
      <!-- ... rest of the file unchanged ... -->


      <!-- School Table -->
      <div class="govuk-tabs__panel" id="school">
        <span class="govuk-caption-m">Version 7.1</span>
        <h2 class="govuk-heading-l">School</h2>
        <ul class="govuk-task-list">


          <li class="govuk-task-list__item govuk-task-list__item">
            <div class="govuk-task-list__name-and-hint">
              <strong>Onboarding to the service</strong>
            </div>
            <div class="govuk-task-list__status" id="status-6"> </div>
          </li>

          <li class="govuk-task-list__item">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link" href="./Private_beta/v7/dsi-account/dsi-startnow.html">Start now - DfE</a>
            </div>
            <div class="govuk-task-list__status" id="status-1">Design signed off</div>
          </li>

          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link" href="./Private_beta/v7/dsi-account/DSI-signin.html">Sign in - DfE</a>
            </div>
            <div class="govuk-task-list__status" id="status-1">Design signed off</div>
          </li>

          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link" href="./Private_beta/v7/dsi-account/dsi-landingpage.html">Landing page - DfE</a>
            </div>
            <div class="govuk-task-list__status" id="status-1">Design signed off</div>
          </li>

          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link" href="./Private_beta/v7/school/dashboard.html">School dashboard</a>
            </div>
            <div class="govuk-task-list__status" id="status-1">Design signed off</div>
          </li>

          <li class="govuk-task-list__item govuk-task-list__item">
            <div class="govuk-task-list__name-and-hint">
              <strong>Individual check</strong>
            </div>
            <div class="govuk-task-list__status" id="status-6"> </div>
          </li>

          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link"
                href="./Private_beta/v7/school/school-manage/school-soft-check/checker.html"
                aria-describedby="status-3">
                Check an individuals eligibility
              </a>
            </div>
            <div class="govuk-task-list__status" id="status-3">Design signed off</div>
          </li>

          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link"
                href="./Private_beta/v7-1/school/school-manage/school-soft-check/school-checking-loader.html"
                aria-describedby="status-3">
                Loading spinner
              </a>
            </div>
            <div class="govuk-task-list__status" id="status-3">Design signed off</div>
          </li>

          <li class="govuk-task-list__item govuk-task-list__item">
            <div class="govuk-task-list__name-and-hint">
              <strong>Outcomes - single check</strong>
            </div>
            <div class="govuk-task-list__status" id="status-6"> </div>
          </li>
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link"
                href="./Private_beta/v7-1/school/school-manage/school-soft-check/outcomes/outcome-eligible.html"
                aria-describedby="status-4">
                Outcome - confirmation, found
              </a>
            </div>
            <div class="govuk-task-list__status" id="status-4">Design signed off</div>
          </li>

          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link"
                href="./Private_beta/v7-1/school/school-manage/school-soft-check/outcomes/outcome-not-entitled.html"
                aria-describedby="status-5">
                Outcome - may not be entitled - contact school journey
              </a>
            </div>
            <div class="govuk-task-list__status" id="status-5">Design signed off</div>
          </li>

          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link"
                href="./Private_beta/v7-1/school/school-manage/school-soft-check/outcomes/outcome-could-not-find.html"
                aria-describedby="status-6">
                Outcome - could not find no trace
              </a>
            </div>
            <div class="govuk-task-list__status" id="status-6">Design signed off</div>
          </li>


          <li class="govuk-task-list__item govuk-task-list__item">
            <div class="govuk-task-list__name-and-hint">
              <strong>Create application - no evidence needed</strong>
            </div>
            <div class="govuk-task-list__status" id="status-6"> </div>
          </li>

          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link"
                href="./Private_beta/v7-1/school/school-manage/apply/outcome-eligible-childs-age.html"
                aria-describedby="status-6">
                Create application for eligible child
              </a>
            </div>
            <div class="govuk-task-list__status" id="status-6">Design signed off</div>
          </li>


          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link"
                href="./Private_beta/v7-1/school/school-manage/apply/school-check-answers.html"
                aria-describedby="status-12">
                Check your answers
              </a>
            </div>
            <div class="govuk-task-list__status" id="status-12">Design signed off</div>
          </li>

          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link"
                href="./Private_beta/v7-1/school/school-manage/apply/confirmation-entitled.html"
                aria-describedby="status-12">
                Application submitted </a>
            </div>
            <div class="govuk-task-list__status" id="status-12">Design signed off</div>
          </li>
          <li class="govuk-task-list__item govuk-task-list__item">
            <div class="govuk-task-list__name-and-hint">
              <strong>Create application with evidence (appeal)</strong>
            </div>
            <div class="govuk-task-list__status" id="status-6"> </div>
          </li>

          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link"
                href="./Private_beta/v7-1/school/school-manage/appeal/appeal-new-child-age.html"
                aria-describedby="status-6">
                Create application for not eligible child.
              </a>
            </div>
            <div class="govuk-task-list__status" id="status-6">Design signed off</div>
          </li>

          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link"
                href="./Private_beta/v7-1/school/school-manage/upload/upload-evidence.html"
                aria-describedby="status-12">
                Upload evidence
              </a>
            </div>
            <div class="govuk-task-list__status" id="status-12">Design signed off</div>
          </li>

          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link"
                href="./Private_beta/v7-1/school/school-manage/appeal/appeal-check-answers-evidence.html"
                aria-describedby="status-12">
                Check your answers - evidence
              </a>
            </div>
            <div class="govuk-task-list__status" id="status-12">Design signed off</div>
          </li>

          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="./
                Private_beta/v7-1/school/school-manage/appeal/confirmation-appeal-with-evidence.html"
                aria-describedby="status-12">
                Appeal submitted - with evidence
              </a>
            </div>
            <div class="govuk-task-list__status" id="status-12">Design signed off</div>
          </li>


          <li class="govuk-task-list__item govuk-task-list__item">
            <div class="govuk-task-list__name-and-hint">
              <strong>Batch check journey - new*</strong>
            </div>
            <div class="govuk-task-list__status" id="status-6"> </div>
          </li>

          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link"
                href="./Private_beta/v7/school/school-manage/batch-checking/manual" aria-describedby="status-7">
                Batch check eligibility
              </a>
            </div>
            <div class="govuk-task-list__status" id="status-7">Design signed off</div>
          </li>

          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="./Private_beta/v7/school/school-manage/batch-checking/ "
                aria-describedby="status-8">
                Outcome batch check - success
              </a>
            </div>
            <div class="govuk-task-list__status" id="status-8">Design signed off</div>
          </li>

          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link"
                href="./Private_beta/v7/school/school-manage/batch-checking/batch-error-not-accepted"
                aria-describedby="status-8">
                Outcome batch check - file not accepted
              </a>
            </div>
            <div class="govuk-task-list__status" id="status-8">Design signed off</div>
          </li>

          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link"
                href="./Private_beta/v7/school/school-manage/batch-checking/batch-error-data-issue"
                aria-describedby="status-8">
                Outcome batch check - pupil data issues
              </a>
            </div>
            <div class="govuk-task-list__status" id="status-8">Design signed off</div>
          </li>

          <li class="govuk-task-list__item govuk-task-list__item">
            <div class="govuk-task-list__name-and-hint">
              <strong>Manage applications</strong>
            </div>
            <div class="govuk-task-list__status" id="status-6"> </div>
          </li>

          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link"
                href="./Private_beta/v7-1/school/school-manage/decision/finalise/applications.html"
                aria-describedby="status-9">
                Finalise applications
              </a>
            </div>
            <div class="govuk-task-list__status" id="status-9">Design signed off</div>
          </li>

          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link"
                href="./Private_beta/v7-1/school/school-manage/records/entitled-records/entitled-eden1.html"
                aria-describedby="status-9">
                Child records - eligible no evidence needed
              </a>
            </div>
            <div class="govuk-task-list__status" id="status-9">Design signed off</div>
          </li>

          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="./
              Private_beta/v7-1/school/school-manage/decision/finalise/finalise-apps-areyousure.html"
                aria-describedby="status-9">
                Are you sure? - finalise applications
              </a>
            </div>
            <div class="govuk-task-list__status" id="status-9">Design signed off</div>
          </li>

          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="./
              Private_beta/v7-1/school/school-manage/decision/finalise/eligibility-confirmed.html"
                aria-describedby="status-9">
                Application finalised
              </a>
            </div>
            <div class="govuk-task-list__status" id="status-9">Design signed off</div>
          </li>

          <li class="govuk-task-list__item govuk-task-list__item">
            <div class="govuk-task-list__name-and-hint">
              <strong>Support and reporting</strong>
            </div>
            <div class="govuk-task-list__status" id="status-6"> </div>
          </li>

          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="./Private_beta/v7/school-i1/school-manage/report/search"
                aria-describedby="status-11">
                Search
              </a>
            </div>
            <div class="govuk-task-list__status" id="status-11">Design signed off</div>
          </li>


          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link"
                href="./Private_beta/v7-1/school/school-manage/guidance/evidence-guidance.html"
                aria-describedby="status-10">
                Guidance pages
              </a>
            </div>
            <div class="govuk-task-list__status" id="status-10">Design signed off</div>
          </li>
          <!--
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="./Private_beta/v5/mvp2/checker/eligible-list.html"
                aria-describedby="status-12">

              </a>
            </div>
            <div class="govuk-task-list__status" id="status-12">Design signed off</div>
          </li> -->
        </ul>

      </div>

      <!--MAT Table-->
      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="MAT">
        <span class="govuk-caption-m">version 7-3 </span>
        <h2 class="govuk-heading-l">Multi Academy Trust users</h2>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
          </div>
        </div>

    {% include "FSM/Private_beta/v7-3/_includes/dev-MAT-index.html" %}
</div>


      <!--LA Table-->
      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="LA">
        <span class="govuk-caption-m">version 7-3</span>

        <h2 class="govuk-heading-l">LA users</h2>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
          </div>
        </div>
        <ul class="govuk-task-list">

    {% include "_includes/la/dev-LA-index.html" %}


        </ul>

      </div>


      <!--DfE Table-->
      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="dfe">
        <span class="govuk-caption-m">version 7-2 </span>
        <h2 class="govuk-heading-l">DfE users</h2>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
          </div>
        </div>

        <ul class="govuk-task-list">
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="status-1">
                Nothing agreed as yet
              </a>
            </div>
            <div class="govuk-task-list__status" id="status-1">
              TBD
            </div>
          </li>
        </ul>
      </div>

      <!--DfE Table-->
      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="errors">
        <span class="govuk-caption-m">Various versions </span>
        <h2 class="govuk-heading-l">Error scenarios</h2>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
          </div>
        </div>

        <ul class="govuk-task-list">
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="https://educationgovuk.sharepoint.com/:x:/r/sites/SolutionsDevelopmentCentre-ECSdiscovery/Shared%20Documents/ECS%20UCD%20Team/4.%20User-centred%20Design/Content%20Design/Content/Error%20scenarios/Error%20scenario%20tracker.xlsx?d=w4fbeca67abaa431d9e339072f7347fb9&csf=1&web=1&e=vn3l0q&nav=MTVfezAwMDAwMDAwLTAwMDEtMDAwMC0wMDAwLTAwMDAwMDAwMDAwMH0" aria-describedby="status-1">
                Error message tracker
              </a>
            </div>
            <div class="govuk-task-list__status" id="status-1">

            </div>
          </li>
        </ul>
      </div>
    </div>
   </td>
  </ul>
</div>
</tbody>
</table>
</div>
</div>
</div>


</main>
</div>

{% endblock %}