{% extends "layouts/fsm/layout-dfe-index-fsm.html" %}
{% set pageName=" Eligibility checker prototype" %}
{% set selectedNav = "Ready for development" %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <span class="govuk-hint"> </span>
    <h1 class="govuk-heading-l">
      Free School meals prototype | <span class="govuk-tag--pink">Documentation</span>
    </h1>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break">

    <div class="govuk-tabs" data-module="govuk-tabs">
      <h2 class="govuk-tabs__title">
        Contents
      </h2>
      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#how">
            How we design
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#lucid">
            Lucid boards
          </a>
        </li>
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#research">
            Research playbacks
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#sharepoint">
            Sharepoint links
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#archive">
            Other
          </a>
        </li>
      </ul>


      <!--Lucid Table-->

      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="how">
        <h2 class="govuk-heading-l">How we design</h2>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">


          </div>
        </div>


        <table class="govuk-table">
          <h3 class="govuk-heading-m">Lucid boards</h3>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Thing</th>
              <th scope="col" class="govuk-table__header">Format</th>
              <th scope="col" class="govuk-table__header">Status</th>
              <th scope="col" class="govuk-table__header govuk-table__header--numeric">Date last updated</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__header"><a href="#" class="govuk-link">Blueprint</a></td>
              <td class="govuk-table__cell">Blueprint </td>
              <td class="govuk-table__cell"><span class="govuk-tag govuk-tag--blue">Design</span></td>
              <td class="govuk-table__cell govuk-table__cell--numeric">31 Jan 25</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__header"><a href="#" class="govuk-link">Service on a page</a></td>
              <td class="govuk-table__cell">Updated content </td>
              <td class="govuk-table__cell"><span class="govuk-tag govuk-tag--orange">Research</span></td>
              <td class="govuk-table__cell govuk-table__cell--numeric">31 Jan 25</td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__header"><a href="#" class="govuk-link">Roadmaps</a></td>
              <td class="govuk-table__cell">Updated content </td>
              <td class="govuk-table__cell"><span class="govuk-tag govuk-tag--green">Review</span></td>
              <td class="govuk-table__cell govuk-table__cell--numeric">31 Jan 25</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!--Parent Table-->

      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="lucid">
        <h2 class="govuk-heading-l">Parents</h2>

        <h3 class="govuk-heading-m">Latest version - July 2024</h3>

        <a href="/mvp3/account/start-now" role="button" draggable="false" class="govuk-button govuk-button-"
          data-module="govuk-button">
          View Parents prototype</a>


        <table class="govuk-table">
          <h3 class="govuk-heading-m">Previous versions</h3>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Version</th>
              <th scope="col" class="govuk-table__header">Description</th>
              <th scope="col" class="govuk-table__header">Status</th>
              <th scope="col" class="govuk-table__header govuk-table__header--numeric">Date last updated</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__header"><a href="#" class="govuk-link">v6.2</a></td>
              <td class="govuk-table__cell">Updated content </td>
              <td class="govuk-table__cell"><span class="govuk-tag govuk-tag--blue">Design</span></td>
              <td class="govuk-table__cell govuk-table__cell--numeric">31 Jan 25</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__header"><a href="#" class="govuk-link">v6.2</a></td>
              <td class="govuk-table__cell">Updated content </td>
              <td class="govuk-table__cell"><span class="govuk-tag govuk-tag--orange">Research</span></td>
              <td class="govuk-table__cell govuk-table__cell--numeric">31 Jan 25</td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__header"><a href="#" class="govuk-link">v6.2</a></td>
              <td class="govuk-table__cell">Updated content </td>
              <td class="govuk-table__cell"><span class="govuk-tag govuk-tag--green">Review</span></td>
              <td class="govuk-table__cell govuk-table__cell--numeric">31 Jan 25</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!--School Table-->

      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="research">
        <h2 class="govuk-heading-l">Research playbacks</h2>

        <h3 class="govuk-heading-m">Latest version - July 2024</h3>

        <a href="/mvp3/account/start-now" role="button" draggable="false" class="govuk-button govuk-button-"
          data-module="govuk-button">
          View Schools prototype</a>


        <table class="govuk-table">
          <h3 class="govuk-heading-m">Previous versions</h3>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Version</th>
              <th scope="col" class="govuk-table__header">Description</th>
              <th scope="col" class="govuk-table__header">Status</th>
              <th scope="col" class="govuk-table__header govuk-table__header--numeric">Date last updated</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__header"><a href="#" class="govuk-link">v6.2</a></td>
              <td class="govuk-table__cell">Updated content </td>
              <td class="govuk-table__cell"><span class="govuk-tag govuk-tag--blue">Design</span></td>
              <td class="govuk-table__cell govuk-table__cell--numeric">31 Jan 25</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__header"><a href="#" class="govuk-link">v6.2</a></td>
              <td class="govuk-table__cell">Updated content </td>
              <td class="govuk-table__cell"><span class="govuk-tag govuk-tag--orange">Research</span></td>
              <td class="govuk-table__cell govuk-table__cell--numeric">31 Jan 25</td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__header"><a href="#" class="govuk-link">v6.2</a></td>
              <td class="govuk-table__cell">Updated content </td>
              <td class="govuk-table__cell"><span class="govuk-tag govuk-tag--green">Review</span></td>
              <td class="govuk-table__cell govuk-table__cell--numeric">31 Jan 25</td>
            </tr>
          </tbody>
        </table>
      </div>

      <!--LA Table-->

      <div class="govuk-tabs__panel" id="sharepoint">
        <h2 class="govuk-heading-l">Sharepoint links</h2>


        <h3 class="govuk-heading-m">Latest version - July 2024</h3>

        <a href="/mvp3/account/start-now" role="button" draggable="false" class="govuk-button govuk-button-"
          data-module="govuk-button">
          View LA prototype</a>


        <table class="govuk-table">
          <h3 class="govuk-heading-m">Previous versions</h3>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Version</th>
              <th scope="col" class="govuk-table__header">Description</th>
              <th scope="col" class="govuk-table__header">Status</th>
              <th scope="col" class="govuk-table__header govuk-table__header--numeric">Date last updated</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__header"><a href="#" class="govuk-link">v6.2</a></td>
              <td class="govuk-table__cell">Updated content </td>
              <td class="govuk-table__cell"><span class="govuk-tag govuk-tag--blue">Design</span></td>
              <td class="govuk-table__cell govuk-table__cell--numeric">31 Jan 25</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__header"><a href="#" class="govuk-link">v6.2</a></td>
              <td class="govuk-table__cell">Updated content </td>
              <td class="govuk-table__cell"><span class="govuk-tag govuk-tag--orange">Research</span></td>
              <td class="govuk-table__cell govuk-table__cell--numeric">31 Jan 25</td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__header"><a href="#" class="govuk-link">v6.2</a></td>
              <td class="govuk-table__cell">Updated content </td>
              <td class="govuk-table__cell"><span class="govuk-tag govuk-tag--green">Review</span></td>
              <td class="govuk-table__cell govuk-table__cell--numeric">31 Jan 25</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!--DfE Table-->

      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="archive">
        <h2 class="govuk-heading-l">Archive</h2>
        <h3 class="govuk-caption-xl"></span>Pre July 2024</h3>
        <h3 class="govuk-heading-m">Section header</h3>

        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Version</th>
              <th scope="col" class="govuk-table__header">Description</th>
              <th scope="col" class="govuk-table__header">Status</th>
              <th scope="col" class="govuk-table__header govuk-table__header--numeric">Date last updated</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__header"><a href="#" class="govuk-link">v6.2</a></td>
              <td class="govuk-table__cell">Updated content </td>
              <td class="govuk-table__cell"><span class="govuk-tag govuk-tag--blue">Design</span></td>
              <td class="govuk-table__cell govuk-table__cell--numeric">31 Jan 25</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__header"><a href="#" class="govuk-link">v6.2</a></td>
              <td class="govuk-table__cell">Updated content </td>
              <td class="govuk-table__cell"><span class="govuk-tag govuk-tag--orange">Research</span></td>
              <td class="govuk-table__cell govuk-table__cell--numeric">31 Jan 25</td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__header"><a href="#" class="govuk-link">v6.2</a></td>
              <td class="govuk-table__cell">Updated content </td>
              <td class="govuk-table__cell"><span class="govuk-tag govuk-tag--green">Review</span></td>
              <td class="govuk-table__cell govuk-table__cell--numeric">31 Jan 25</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  {% endblock %}