{% extends "layouts/fsm/layout-dfe-index-fsm.html" %}
{% set pageName=" Eligibility checker prototype" %}
{% set selectedNav = "Research" %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <span class="govuk-hint"> </span>
    <h1 class="govuk-heading-l">
      <span class="govuk-tag--pink">Research</span>
    </h1>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break">

    <!--Tab headers-->

    <div class="govuk-tabs" data-module="govuk-tabs">
      <ul class="govuk-tabs__list">

        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#parent">
            Parents
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#school">
            Schools/Academy
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#MAT">
            MAT
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#LA">
            Local Authority
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#dfe">
            Internal DfE
          </a>
        </li>
      </ul>

      <!--
    <div class="govuk-tabs" data-module="govuk-tabs">
      <h2 class="govuk-tabs__title">
        Contents
      </h2>
      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#lucid">
            Lucid boards
          </a>
        </li>
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#research">
            Research
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#sharepoint">
            Sharepoint links
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#archive">
            Archive
          </a>
        </li>
      </ul> -->

      <!--Lucid Table-->
      <div class="govuk-tabs__panel" id="parent">
        <h2 class="govuk-heading-m">Parents</h2>
        <p>Prototypes used in Parent research</p>
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Version </th>
              <th scope="col" class="govuk-table__header">Link to Discussion guide</th>
              <th scope="col" class="govuk-table__header">Key objectives</th>
              <th scope="col" class="govuk-table__header">Status</th>
              <th scope="col" class="govuk-table__header govuk-table__header--numeric">Date</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <!-- <tr class="govuk-table__row">
              <td class="govuk-table__header"><a href="./Private_beta/research/" class="govuk-link"> Version 1</a></td>
              <td class="govuk-table__cell"><a href="https://educationgovuk.sharepoint.com/:w:/r/sites/SolutionsDevelopmentCentre-ECSdiscovery/Shared%20Documents/ECS%20UCD%20Team/3.%20User%20Research/Beta%20UR/Q2%202025/Discussion%20guide%20-%20Schools%20-%20MAT%20portal%20July25.docx?d=waa0cc3aa1f104ad4ade371bb3a814865&csf=1&web=1&e=DXaQE8" class="govuk-link"> Discussion guide - MAT</td>
              <td class="govuk-table__cell">
                   <ul>
                    <li>Terminology changed from appeal to apply with evidence</li>
                    <li>Parents complete child details first before uploading evidence</li>
                    <li>Parents can upload evidence via photo,scanning or sending to school</li>
                    <li>Waiting on childcare research on new upload feature - next iteration</li>
                  </ul>
              </td>
              <td class="govuk-table__cell"><span class="govuk-tag govuk-tag--green">Research</span></td>
              <td class="govuk-table__cell govuk-table__cell--numeric">14 July 2025</td>
            </tr> -->
          </tbody>
        </table>
      </div>
      <!--------Research documents------------------->
      <div class="govuk-tabs__panel" id="school">
        <h2 class="govuk-heading-m">School and Academy</h2>
        <p>Prototypes used in School research</p>
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <!-- <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Title</th>
              <th scope="col" class="govuk-table__header">Insights</th>
              <th scope="col" class="govuk-table__header">User group</th>
              <th scope="col" class="govuk-table__header govuk-table__header--numeric">Date completed</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__header"><a href="#" class="govuk-link">Research title</a></td>
              <td class="govuk-table__cell">Summary of insights from round</td>
              <td class="govuk-table__cell"><span class="govuk-tag govuk-tag--green">Schools</span></td>
              <td class="govuk-table__cell govuk-table__cell--numeric">31 Jan 25</td>
            </tr> -->

            </tbody>
        </table>
      </div>
      <!-------------MAT links--------------------------------->
      <div class="govuk-tabs__panel" id="MAT">
        <h2 class="govuk-heading-m">MAT research</h2>
        <p>Prototypes used in MAT research</p>
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Version </th>
              <th scope="col" class="govuk-table__header">Link to Discussion guide</th>
              <th scope="col" class="govuk-table__header">Key objectives</th>
              <th scope="col" class="govuk-table__header">Status</th>
              <th scope="col" class="govuk-table__header">Confidence after research</th>

              <th scope="col" class="govuk-table__header govuk-table__header--numeric">Date</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__header">
                <!-- <a href="./Private_beta/research/MAT-1/dashboard.html" class="govuk-link"> -->
                  R1</a></td>
              <td class="govuk-table__cell"><a
                  href="https://educationgovuk.sharepoint.com/:w:/r/sites/SolutionsDevelopmentCentre-ECSdiscovery/Shared%20Documents/ECS%20UCD%20Team/3.%20User%20Research/Beta%20UR/Q2%202025/Discussion%20guide%20-%20Schools%20-%20MAT%20portal%20July25.docx?d=waa0cc3aa1f104ad4ade371bb3a814865&csf=1&web=1&e=DXaQE8"
                  class="govuk-link"> Discussion guide - MAT</td>
              <td class="govuk-table__cell">
                <ul>
                  <li>Identify gaps in the actions a MAT would need to undertake</li>
                  <li>Confirm eligibility using batch check</li>
                  <li>Identify relevant evidence uploaded by a parent</li>
                  <li>Locate which academy a child belongs to </li>
                  <li>Reporting needs within a MAT </li>
                </ul>
              </td>
              <td class="govuk-table__cell"><span class="govuk-tag govuk-tag--green">In progress</span></td>
              <td class="govuk-table__cell"><span class="govuk-tag govuk-tag--green">High</span></td>
              <td class="govuk-table__cell govuk-table__cell--numeric">14 July 2025</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-----Archived documents--------------------------------->
      <div class="govuk-tabs__panel" id="LA">
        <h2 class="govuk-heading-m">LA research</h2>
        <p>Prototype used in LA research</p>
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Link to prototype</th>
              <th scope="col" class="govuk-table__header">Discussion guide</th>
              <th scope="col" class="govuk-table__header">Key objectives | Scenarios</th>
              <th scope="col" class="govuk-table__header">Status</th>
              <th scope="col" class="govuk-table__header">Confidence after research</th>
              <th scope="col" class="govuk-table__header govuk-table__header--numeric">Date</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__header"> <a href="./Private_beta/research/LA-7-3_01/dsi-account/dsi-landingpage.html"
                    class="govuk-link">DfE start page</a><br>
                <a href="./Private_beta/research/LA-7-3_01/dashboard.html"
                  class="govuk-link">LA Dashboard</a>

                  </td>
              <td class="govuk-table__cell"><a
                  href="https://educationgovuk.sharepoint.com/:w:/r/sites/SolutionsDevelopmentCentre-ECSdiscovery/_layouts/15/Doc.aspx?sourcedoc=%7B36231FC7-B026-40B0-9BE6-FD562A529793%7D&file=Discussion%20guide%20-%20Schools%20-%20MAT%20portal%20July25.docx&action=default&mobileredirect=true"
                  class="govuk-link">R1 Archive/Approve discussion guide</a></td>
              <td class="govuk-table__cell">
                <ul>
                  <li>Explore users understanding and expectations of the appeals process</li>
                  <li>Test the usability of the designed flow</li>
                  <li>Test the guidance for evidence and appeals</li>
                  <li>Explore feelings around responsibilities of managing appeals (LA / School / MAT)</li>
                  <li>Explore users understanding and expectations of the archive journey</li>
                </ul>
                <ol><strong>Scenarios</strong>
                  <li>Request more evidence for Emily Johnson/Alex Johnson who you know to be eligible but they've not sent in the correct information.</li>
                  <li>Archiving Rachel Evans - they didn't provide evidence in the timeframe agreed and have said their circumstances have changed.</li>
                </ol>
              </td>
              <td class="govuk-table__cell"><span class="govuk-tag govuk-tag--green">Research</span></td>
              <td class="govuk-table__cell"><span class="govuk-tag govuk-tag--yellow">TBC</span></td>
              <td class="govuk-table__cell govuk-table__cell--numeric">28 Aug 2025</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-----------------Internal DfE links---------------------------->
      <div class="govuk-tabs__panel" id="dfe">
        <h2 class="govuk-heading-m">Internal DfE research</h2>
        <p>Prototypes used in DfE research</p>
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <!-- <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Version </th>
              <th scope="col" class="govuk-table__header">Link to Discussion guide</th>
              <th scope="col" class="govuk-table__header">Key objectives</th>
              <th scope="col" class="govuk-table__header">Status</th>
              <th scope="col" class="govuk-table__header govuk-table__header--numeric">Date</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__header"><a href="./Private_beta/research/mat-round1/dashboard.html" class="govuk-link"> Version 1</a></td>
              <td class="govuk-table__cell"><a href="https://educationgovuk.sharepoint.com/:w:/r/sites/SolutionsDevelopmentCentre-ECSdiscovery/Shared%20Documents/ECS%20UCD%20Team/3.%20User%20Research/Beta%20UR/Q2%202025/Discussion%20guide%20-%20Schools%20-%20MAT%20portal%20July25.docx?d=waa0cc3aa1f104ad4ade371bb3a814865&csf=1&web=1&e=DXaQE8" class="govuk-link"> Discussion guide - MAT</td>
              <td class="govuk-table__cell">
                   <ul>
                    <li>Terminology changed from appeal to apply with evidence</li>
                    <li>Parents complete child details first before uploading evidence</li>
                    <li>Parents can upload evidence via photo,scanning or sending to school</li>
                    <li>Waiting on childcare research on new upload feature - next iteration</li>
                  </ul>
              </td>
              <td class="govuk-table__cell"><span class="govuk-tag govuk-tag--green">Research</span></td>
              <td class="govuk-table__cell govuk-table__cell--numeric">14 July 2025</td>
            </tr> -->
            </tbody>
        </table>
      </div>
      <!--table ended--->
    </div>
  </div>
  {% endblock %}