{% extends "layouts/fsm/layout-dfe-index-fsm.html" %}
{% set pageName=" Eligibility checker prototype" %}
{% set selectedNav = "Ready for development" %}

{% block content %}

<!----- Template for each row-->
<!--
<li class="govuk-task-list__item govuk-task-list__item--with-link">
  <div class="govuk-task-list__name-and-hint">
    <a class="govuk-link govuk-task-list__link" href="#"aria-describedby="devready-3-hint devready-3-status">
      Hint text here
    </a>
  <div id="devready-3-hint" class="govuk-task-list__hint">
      Notes can go here if there are any considerations when building**
  </div>
</li>
-->


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <span class="govuk-hint"> </span>
    <h1 class="govuk-heading-l">
      <span class="govuk-tag--light-blue">Ready for development</span>
    </h1>


    <hr class="govuk-section-break govuk-section-break--l govuk-section-break">

    <div class="govuk-tabs" data-module="govuk-tabs">
      <h2 class="govuk-tabs__title">
        Contents
      </h2>
      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#general">
            General pages
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#parent">
            Parent user journeys
          </a>
        </li>
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#school">
            School user journeys
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#LA">
            Local Authority user journeys
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#dfe">
            Internal DfE user journeys
          </a>
        </li>
      </ul>
      <!--General Table-->

      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="general">
        <span class="govuk-caption-m">version 3 </span>
        <h2 class="govuk-heading-l">General</h2>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
          </div>
        </div>
        <ul class="govuk-task-list">
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="/General/v3/privacy.html"
                aria-describedby="devready-1-status">
                Privacy page
              </a>
            </div>
            <div class="govuk-task-list__status" id="devready-1-status">
              Completed
            </div>
          </li>
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="/General/v3/accessibility.html"
                aria-describedby="devready-2-status">
                Accessibility page
              </a>
            </div>
            <div class="govuk-task-list__status" id="devready-2-status">
              <!-- <strong class="govuk-tag govuk-tag--blue"> -->
              Completed
              </strong>
            </div>
          </li>
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="/General/v3/contact.html"
                aria-describedby="devready-2-status">
                Contact page
              </a>
            </div>
            <div class="govuk-task-list__status" id="devready-2-status">
              <!-- <strong class="govuk-tag govuk-tag--blue"> -->
              Completed
              </strong>
            </div>
          </li>
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="/General/v3/terms-and-conditions.html"
                aria-describedby="devready-4-status">
                Terms and conditions
              </a>
            </div>
            <div class="govuk-task-list__status" id="devready-4-status">
              <!-- <strong class="govuk-tag govuk-tag--blue"> -->
              Completed </strong>
            </div>
          </li>
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="/General/v3/cookies-parents.html"
                aria-describedby="devready-3-hint devready-3-status">
                Cookies page - Parents
              </a>
            </div>
            <div class="govuk-task-list__status" id="devready-3-status">
              <!-- <strong class="govuk-tag govuk-tag--green"> -->
              Completed </strong>
            </div>
          </li>

          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="/General/v3/cookies-schools-la.html"
                aria-describedby="devready-2-status">
                Cookies page - LA and schools
              </a>
            </div>
            <div class="govuk-task-list__status" id="devready-2-status">
              <!-- <strong class="govuk-tag govuk-tag--blue"> -->
              Completed
              </strong>
            </div>
          </li>
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link"
                href="https://design-system.service.gov.uk/components/cookie-banner/"
                aria-describedby="devready-2-status">
                Cookies banner
              </a>
            </div>
            <div class="govuk-task-list__status" id="devready-2-status">
              <!-- <strong class="govuk-tag govuk-tag--blue"> -->
              Dev as component
              </strong>
            </div>
          </li>
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="/General/v3/cookies-parents-no-js.html"
                aria-describedby="devready-2-status">
                Cookies page - Parents - no JavaScript
              </a>
            </div>
            <div class="govuk-task-list__status" id="devready-2-status">
              <!-- <strong class="govuk-tag govuk-tag--blue"> -->
              Completed
              </strong>
            </div>
          </li>
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="/General/v3/cookies-schools-la-no-js.html"
                aria-describedby="devready-2-status">
                Cookies page - LA and schools - no JavaScript
              </a>
            </div>
            <div class="govuk-task-list__status" id="devready-2-status">
              <!-- <strong class="govuk-tag govuk-tag--blue"> -->
              Completed
              </strong>
            </div>
          </li>
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="/General/v3/problem-with-service-parents.html"
                aria-describedby="devready-4-status">
                There is a problem - parents
              </a>
            </div>
            <div class="govuk-task-list__status" id="devready-4-status">
              <!-- <strong class="govuk-tag govuk-tag--blue"> -->
              Completed </strong>
            </div>
          </li>
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="/General/v3/page-not-found-schools-la.html"
                aria-describedby="devready-4-status">
                There is a problem - LA and schools
              </a>
            </div>
            <div class="govuk-task-list__status" id="devready-4-status">
              <!-- <strong class="govuk-tag govuk-tag--blue"> -->
              Completed </strong>
            </div>
          </li>
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="/General/v3/service-unavailable-parents.html"
                aria-describedby="devready-4-status">
                Service unavailable - Parents
              </a>
            </div>
            <div class="govuk-task-list__status" id="devready-4-status">
              <!-- <strong class="govuk-tag govuk-tag--blue"> -->
              Completed </strong>
            </div>
          </li>
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="/General/v3/service-unavailable-schools-la.html"
                aria-describedby="devready-4-status">
                Service unavailable - LA and schools
              </a>
            </div>
            <div class="govuk-task-list__status" id="devready-4-status">
              <!-- <strong class="govuk-tag govuk-tag--blue"> -->
              Completed </strong>
            </div>
          </li>
        </ul>
      </div>

      <!--Parent Table-->
      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="parent">
        <span class="govuk-caption-m">version 6 </span>
        <h2 class="govuk-heading-l">Parents</h2>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
          </div>
        </div>

        <ul class="govuk-task-list">
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="/FSM/Private_beta/v6/family/start-now-beta-schools.html"
                aria-describedby="status-1">
                Beta - Start page
              </a>
            </div>
            <div class="govuk-task-list__status" id="status-1">
              Completed
            </div>
          </li>
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="/FSM/Private_beta/v6/family/beta-school-check.html"
                aria-describedby="status-3">
                Beta school check
              </a>
            </div>
            <div class="govuk-task-list__status" id="status-3">
              Completed
            </div>
          </li>
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="/FSM/Private_beta/v6/family/beta-school-check-no"
                aria-describedby="status-4">
                Schools not included in beta
              </a>
            </div>
            <div class="govuk-task-list__status" id="status-4">
              Completed
            </div>
          </li>
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="/FSM/Private_beta/v6/family/start-now.html"
                aria-describedby="status-1">
                Start page
              </a>
            </div>
            <div class="govuk-task-list__status" id="status-1">
              Completed
            </div>
          </li>
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link"
                href="/FSM/Private_beta/v6/family/parent-soft-check/nass-number.html" aria-describedby="status-6">
                Asylum reference check
              </a>
            </div>
            <div class="govuk-task-list__status" id="status-6">
              Completed
            </div>
          </li>

          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link"
                href="/FSM/Private_beta/v6/family/parent-soft-check/checking-loader" aria-describedby="status-7">
                Checking loader
              </a>
            </div>
            <div class="govuk-task-list__status" id="status-7">
              Completed
            </div>
          </li>

          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link"
                href="/FSM/Private_beta/v6/family/parent-soft-check/outcomes/eligible" aria-describedby="status-8">
                Eligible
              </a>
            </div>
            <div class="govuk-task-list__status" id="status-8">
              Completed
            </div>
          </li>

          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link"
                href="/FSM/Private_beta/v6/family/parent-soft-check/outcomes/outcome-not-entitled"
                aria-describedby="status-9">
                Not eligible
              </a>
            </div>
            <div class="govuk-task-list__status" id="status-9">
              Completed
            </div>
          </li>

          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link"
                href="/FSM/Private_beta/v6/family/parent-soft-check/outcomes/outcome-could-not-find"
                aria-describedby="status-10">
                Not found
              </a>
            </div>
            <div class="govuk-task-list__status" id="status-10">
              Completed
            </div>
          </li>

          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link"
                href="/FSM/Private_beta/v6/family/parent-soft-check/outcomes/outcome-could-not-find-pending"
                aria-describedby="status-11">
                Not found - need UC statements
              </a>
            </div>
            <div class="govuk-task-list__status" id="status-11">
              Completed
            </div>
          </li>

          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link"
                href="/FSM/Private_beta/v6/family/parent-soft-check/outcomes/outcome-technical-error"
                aria-describedby="status-12">
                Check failed
              </a>
            </div>
            <div class="govuk-task-list__status" id="status-12">
              Completed
            </div>
          </li>

          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link"
                href="/FSM/Private_beta/v6/family/account/apply/childs-age.html" aria-describedby="status-13">
                Add children
              </a>
            </div>
            <div class="govuk-task-list__status" id="status-13">
              Completed
            </div>
          </li>

          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link"
                href="/FSM/Private_beta/v6/family/account/apply/childs-age-no-javascript.html"
                aria-describedby="status-14">
                Add children - no JavaScript
              </a>
            </div>
            <div class="govuk-task-list__status" id="status-14">
              Completed
            </div>
          </li>

          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link"
                href="/FSM/Private_beta/v6/family/account/apply/check-answers.html" aria-describedby="status-15">
                Check answers
              </a>
            </div>
            <div class="govuk-task-list__status" id="status-15">
              Completed
            </div>
          </li>

          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link"
                href="/FSM/Private_beta/v6/family/account/apply/check-answers-no-javascript.html"
                aria-describedby="status-16">
                Check answers - no JavaScript
              </a>
            </div>
            <div class="govuk-task-list__status" id="status-16">
              Completed
            </div>
          </li>

          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link"
                href="/FSM/Private_beta/v6/family/account/apply/children-added" aria-describedby="status-17">
                Application complete
              </a>
            </div>
            <div class="govuk-task-list__status" id="status-17">
              Completed
            </div>
          </li>
        </ul>
      </div>
      <!--School Table-->
      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="school">
        <span class="govuk-caption-m">version 6 </span>
        <h2 class="govuk-heading-l">School</h2>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
          </div>
        </div>


        <ul class="govuk-task-list">
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="/FSM/Private_beta/v6/dsi-account/dsi-startnow.html"
                aria-describedby="devready-1-status">
                Start now - DfE
              </a>
            </div>
            <div class="govuk-task-list__status" id="devready-1-status">
              Completed
            </div>
          </li>
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="/FSM/Private_beta/v6/dsi-account/dsi-signin.html"
                aria-describedby="devready-2-status">
                Sign into DSi
              </a>
            </div>
            <div class="govuk-task-list__status" id="devready-2-status">
              <!-- <strong class="govuk-tag govuk-tag--blue"> -->
              Completed
              </strong>
          </li>
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="/FSM/Private_beta/v6/dsi-account/dsi-landingpage.html"
                aria-describedby="devready-2-status">
                DSi landing page
              </a>
            </div>
            <div class="govuk-task-list__status" id="devready-2-status">
              <!-- <strong class="govuk-tag govuk-tag--blue"> -->
              Completed
              </strong>
          </li>


          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link"
                href="./Private_beta/v6/school/school-manage/school-soft-check/checker" aria-describedby="status-3">
                Check an individuals eligibility
              </a>
            </div>
            <div class="govuk-task-list__status" id="status-3">Completed</div>
          </li>

          <!-- <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint"><b>Individual check - outcomes</b></div>
          </li> -->

          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link"
                href="./Private_beta/v6/school/school-manage/school-soft-check/outcomes/outcome-eligible.html"
                aria-describedby="status-4">
                Outcome - confirmation, eligible
              </a>
            </div>
            <div class="govuk-task-list__status" id="status-4">Completed</div>
          </li>

          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link"
                href="./Private_beta/v6/school/school-manage/school-soft-check/outcomes/outcome-not-eligible.html"
                aria-describedby="status-5">
                Outcome - may not be eligible
              </a>
            </div>
            <div class="govuk-task-list__status" id="status-5">Completed</div>
          </li>

          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link"
                href="./Private_beta/v5/mvp2/checker/outcome-could-not-find.html" aria-describedby="status-6">
                Outcome - could not find no trace
              </a>
            </div>
            <div class="govuk-task-list__status" id="status-6">Completed</div>
          </li>


          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="./Private_beta/v6/school/school-manage/apply/outcome-eligible-childs-age.html"
                aria-describedby="status-7">
                Provide childs details - individual application
              </a>
            </div>
            <div class="govuk-task-list__status" id="status-7">Completed</div>
          </li>

          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="./Private_beta/v6/school/school-manage/apply/school-check-answers.html"
                aria-describedby="status-7">
                Check answers - individual application
              </a>
            </div>
            <div class="govuk-task-list__status" id="status-7">Completed</div>
          </li>

          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="./Private_beta/v6/school/school-manage/apply/confirmation-entitled.html"
                aria-describedby="status-7">
                Childrens details added - individual application complete
              </a>
            </div>
            <div class="govuk-task-list__status" id="status-7">Completed</div>
          </li>

          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="./Private_beta/v5/mvp2/batch-checking/upload"
                aria-describedby="status-7">
                Batch check eligibility
              </a>
            </div>
            <div class="govuk-task-list__status" id="status-7">Completed</div>
          </li>

          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link"
                href="./Private_beta/v5/mvp2/batch-checking/batch-check-success" aria-describedby="status-8">
                Outcome batch check - success
              </a>
            </div>
            <div class="govuk-task-list__status" id="status-8">Completed</div>
          </li>

          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link"
                href="./Private_beta/v5/mvp2/batch-checking/batch-error-not-accepted" aria-describedby="status-8">
                Outcome batch check - file not accepted
              </a>
            </div>
            <div class="govuk-task-list__status" id="status-8">Completed</div>
          </li>

          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link"
                href="./Private_beta/v5/mvp2/batch-checking/batch-error-data-issue" aria-describedby="status-8">
                Outcome batch check - pupil data issues
              </a>
            </div>
            <div class="govuk-task-list__status" id="status-8">Completed</div>
          </li>

          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="./Private_beta/v6/school/school-manage/decision/finalise/applications.html"
                aria-describedby="status-9">
                Finalise applications list
              </a>
            </div>
            <div class="govuk-task-list__status" id="status-9">Completed</div>
          </li>

          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="./Private_beta/v6/school/school-manage/decision/finalise/finalise-apps-areyousure.html"
                aria-describedby="status-9">
                Finalise - are you sure?
              </a>
            </div>
            <div class="govuk-task-list__status" id="status-9">Completed</div>
          </li>

          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="./Private_beta/v6/school/school-manage/decision/finalise/eligibility-confirmed.html"
                aria-describedby="status-9">
                Applications finalised
              </a>
            </div>
            <div class="govuk-task-list__status" id="status-9">Completed</div>
          </li>


          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="./Private_beta/v6/school/school-manage/decision/process_appeal/records/not-entitled-appeal-eden1.html"
                aria-describedby="status-9">
                Pupil record
              </a>
            </div>
            <div class="govuk-task-list__status" id="status-9">Completed</div>
          </li>

          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="./Private_beta/v6/school/school-manage/upload/appeal-upload-evidence.html"
                aria-describedby="status-9">
                Add evidence - pupil record route
              </a>
            </div>
            <div class="govuk-task-list__status" id="status-9">Completed</div>
          </li>

          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="./Private_beta/v6/school/school-manage/decision/process_appeal/records/not-entitled-appeal-eden1a.html"
                aria-describedby="status-9">
                Evidence added - pupil record route
              </a>
            </div>
            <div class="govuk-task-list__status" id="status-9">Completed</div>
          </li>



          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="./Private_beta/v6/school/school-manage/decision/process_appeal/process-appeals.html"
                aria-describedby="status-9">
                Process appeals
              </a>
            </div>
            <div class="govuk-task-list__status" id="status-9">Completed</div>
          </li>

          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link"
                href="./Private_beta/v6/school/school-manage/guidance/evidence-guidance.html"
                aria-describedby="status-10">
                Guidance pages
              </a>
            </div>
            <div class="govuk-task-list__status" id="status-10">Completed</div>
          </li>
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link"
                href="./Private_beta/v6/school/school-manage/report/search_1.html" aria-describedby="status-11">
                Search
              </a>
            </div>
            <div class="govuk-task-list__status" id="status-11">Completed</div>
          </li>

          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link"
                href="./Private_beta/v6/school/school-manage/appeal/appeal-new-child-age.html.html" aria-describedby="status-12">
                Appeal - Provide details
              </a>
            </div>
            <div class="govuk-task-list__status" id="status-12">Completed</div>
          </li>

          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link"
                href="./Private_beta/v6/school/school-manage/upload/upload-evidence.html" aria-describedby="status-12">
                Upload evidence
              </a>
            </div>
            <div class="govuk-task-list__status" id="status-12">Completed</div>
          </li>

          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link"
                href="./Private_beta/v6/school/school-manage/appeal/appeal-check-answers-evidence.html"
                aria-describedby="status-12">
                Check the answers - with evidence
              </a>
            </div>
            <div class="govuk-task-list__status" id="status-12">Completed</div>
          </li>
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link"
                href="./Private_beta/v6/school/school-manage/appeal/appeal-check-answers-skip.html"
                aria-describedby="status-12">
                Check the answers - without evidence
              </a>
            </div>
            <div class="govuk-task-list__status" id="status-12">Completed</div>
          </li>

          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link"
                href="./Private_beta/v6/school/school-manage/appeal/confirmation-appeal-with-evidence.html"
                aria-describedby="status-12">
                Details added - with evidence
              </a>
            </div>
            <div class="govuk-task-list__status" id="status-12">Completed</div>
          </li>

          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link"
                href="./Private_beta/v6/school/school-manage/appeal/confirmation-appeal-skip.html"
                aria-describedby="status-12">
                Details added - without evidence
              </a>
            </div>
            <div class="govuk-task-list__status" id="status-12">Completed</div>
          </li>

        </ul>
      </div>


      <!--LA Table-->
      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="LA">
        <span class="govuk-caption-m">version 6 </span>

        <h2 class="govuk-heading-l">LA users</h2>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
          </div>
        </div>

        <ul class="govuk-task-list">
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="devready-1-status">
                Start now - DfE
              </a>
            </div>
            <div class="govuk-task-list__status" id="devready-1-status">
              Completed
            </div>
          </li>
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="devready-2-status">
                Sign into DSi
              </a>
            </div>
            <div class="govuk-task-list__status" id="devready-2-status">
              <!-- <strong class="govuk-tag govuk-tag--blue"> -->
              Completed
              </strong>
          </li>

          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="./Private_beta/v5/mvp2/checker-la/dashboard.html"
                aria-describedby="status-1">
                LA Dashboard start
              </a>
            </div>
            <div class="govuk-task-list__status" id="status-1">Completed</div>
          </li>

          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="./Private_beta/v6/" aria-describedby="status-1">
                Individual check
              </a>
            </div>
            <div class="govuk-task-list__status" id="status-1">Completed</div>
          </li>
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link"
                href="./Private_beta/v6/_school/school-manage/school-soft-check/outcomes/eligible"
                aria-describedby="status-4">
                Outcome - eligible, found
              </a>
            </div>
            <div class="govuk-task-list__status" id="status-4">Completed</div>
          </li>

          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link"
                href="./Private_beta/v6/LA/la-soft-check/outcomes/outcome-not-entitled.html"
                aria-describedby="status-5">
                Outcome - may not be eligible
              </a>
            </div>
            <div class="govuk-task-list__status" id="status-5">Completed</div>
          </li>

          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link"
                href="./Private_beta/v5/mvp2/checker/outcome-could-not-find.html" aria-describedby="status-6">
                Outcome - could not find no trace
              </a>
            </div>
            <div class="govuk-task-list__status" id="status-6">Completed</div>
          </li>

        </ul>
      </div>


      <!--DfE Table-->
      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="dfe">
        <span class="govuk-caption-m">version 1 </span>
        <h2 class="govuk-heading-l">DfE users</h2>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
          </div>
        </div>

        <ul class="govuk-task-list">
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="status-1">
                Nothing agreed as yet
              </a>
            </div>
            <div class="govuk-task-list__status" id="status-1">
              TBD
            </div>
          </li>
        </ul>
      </div>
    </div>
    </li>
    </ul>
  </div>
  </td>
  </ul>
</div>
</tbody>
</table>
</div>
</div>
</div>

{% endblock %}