{% extends "layouts/fsm/layout-dfe-index-fsm.html" %}
{% set pageName=" Eligibility checker prototype" %}
{% set selectedNav = "Demo links" %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <span class="govuk-hint"> </span>
    <h1 class="govuk-heading-l">
      <span class="govuk-tag--pink">Private beta demos</span>
    </h1>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break">

    <div class="govuk-tabs" data-module="govuk-tabs">
      <h2 class="govuk-tabs__title">
        Contents
      </h2>
      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#Demo">
            Demo link
          </a>
        </li>
        <!-- <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#research">
            Research
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#sharepoint">
            Sharepoint links
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#archive">
            Archive
          </a>
        </li> -->
      </ul>

<!--Demo Table-->
      <div class="govuk-tabs__panel" id="demo">
        <h2 class="govuk-heading-m">Demos</h2>
        <p>Links to Lucid boards supporting the prototypes</p>
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">User Dashboard</th>
              <th scope="col" class="govuk-table__header">Description</th>
              <th scope="col" class="govuk-table__header">Version</th>
              <th scope="col" class="govuk-table__header">Status</th>
              <th scope="col" class="govuk-table__header govuk-table__header--numeric">Date last updated</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__header"><a href="Private_beta/v7-5/LA/dashboard.html" class="govuk-link">LA Admin</a></td>
              <td class="govuk-table__cell">Current function no rechecks</td>
              <td class="govuk-table__cell">v7-5</td>
              <td class="govuk-table__cell"><span class="govuk-tag govuk-tag--green">Demo ready</span></td>
              <td class="govuk-table__cell govuk-table__cell--numeric">20 Oct 25</td>
            </tr>
             <tr class="govuk-table__row">
              <td class="govuk-table__header"><a href="Private_beta/v7-5/school/dashboard.html" class="govuk-link">School Admin</a></td>
              <td class="govuk-table__cell">Current function no rechecks</td>
              <td class="govuk-table__cell">v7-5</td>
              <td class="govuk-table__cell"><span class="govuk-tag govuk-tag--green">Demo ready</span></td>
              <td class="govuk-table__cell govuk-table__cell--numeric">20 Oct 25</td>
            </tr>
             <tr class="govuk-table__row">
              <td class="govuk-table__header"><a href="Private_beta/v7-5/family/start-now-beta-schools.html" class="govuk-link">Parent</a></td>
              <td class="govuk-table__cell">Form to check and apply for free school meals</td>
              <td class="govuk-table__cell">v7-5</td>
              <td class="govuk-table__cell"><span class="govuk-tag govuk-tag--green">Demo ready</span></td>
              <td class="govuk-table__cell govuk-table__cell--numeric">20 Oct 25</td>
            </tr>
             <tr class="govuk-table__row">
              <td class="govuk-table__header"><a href="Private_beta/v7-5/welsh_LA/dashboard.html" class="govuk-link">Welsh LA Admin</a></td>
              <td class="govuk-table__cell">Checks only - no applications</td>
              <td class="govuk-table__cell">v7-5</td>
              <td class="govuk-table__cell"><span class="govuk-tag govuk-tag--green">Demo ready</span></td>
              <td class="govuk-table__cell govuk-table__cell--numeric">20 Oct 25</td>
            </tr>
          </tbody>
        </table>
      </div>
<!-- ------Research documents-----------------
      <div class="govuk-tabs__panel" id="research">
        <h2 class="govuk-heading-m">Research</h2>
        <p>Links to Research playbacks and documentation</p>
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Title</th>
              <th scope="col" class="govuk-table__header">Insights</th>
              <th scope="col" class="govuk-table__header">User group</th>
              <th scope="col" class="govuk-table__header govuk-table__header--numeric">Date completed</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__header"><a href="#" class="govuk-link">Research title</a></td>
              <td class="govuk-table__cell">Summary of insights from round</td>
              <td class="govuk-table__cell"><span class="govuk-tag govuk-tag--green">Schools</span></td>
              <td class="govuk-table__cell govuk-table__cell--numeric">31 Jan 25</td>
            </tr> -->
            <!-- <tr class="govuk-table__row">
              <td class="govuk-table__header"><a href="#" class="govuk-link">Research title</a></td>
              <td class="govuk-table__cell">Summary of insights from round</td>
              <td class="govuk-table__cell"><span class="govuk-tag govuk-tag--green">Schools</span></td>
              <td class="govuk-table__cell govuk-table__cell--numeric">31 Jan 25</td>
            </tr> -->
            <!-- <tr class="govuk-table__row">
              <td class="govuk-table__header"><a href="#" class="govuk-link">Research title</a></td>
              <td class="govuk-table__cell">Summary of insights from round</td>
              <td class="govuk-table__cell"><span class="govuk-tag govuk-tag--green">Schools</span></td>
              <td class="govuk-table__cell govuk-table__cell--numeric">31 Jan 25</td>
            </tr> -->
          </tbody>
        </table>
      </div>
 <!-------------Sharepoint links--------------------------------->
      <!-- <div class="govuk-tabs__panel" id="sharepoint">
        <h2 class="govuk-heading-m">Sharepoint documents</h2>
        <p>Links to Sharepoint supporting documents</p>
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Title</th>
              <th scope="col" class="govuk-table__header">Description</th>
              <th scope="col" class="govuk-table__header">Status</th>
              <th scope="col" class="govuk-table__header govuk-table__header--numeric">Date last updated</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__header"><a href="#" class="govuk-link"> title</a></td>
              <td class="govuk-table__cell">Description of document</td>
              <td class="govuk-table__cell"><span class="govuk-tag govuk-tag--green">Status</span></td>
              <td class="govuk-table__cell govuk-table__cell--numeric">31 Jan 25</td>
            </tr>
          </tbody>
        </table>
      </div> -->
<!-----Archived documents-->
      <!-- <div class="govuk-tabs__panel" id="archive">
        <h2 class="govuk-heading-m">Archive</h2>
        <p>Links to archived documents from previous phases</p>
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Title</th>
              <th scope="col" class="govuk-table__header">Description</th>
              <th scope="col" class="govuk-table__header">Stage</th>
              <th scope="col" class="govuk-table__header govuk-table__header--numeric">Date last updated</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__header"><a href="#" class="govuk-link"> title</a></td>
              <td class="govuk-table__cell">Description of document</td>
              <td class="govuk-table__cell"><span class="govuk-tag govuk-tag--blue">Alpha</span></td>
              <td class="govuk-table__cell govuk-table__cell--numeric">31 Jan 25</td>
            </tr>
          </tbody> -->
        </table>
      </div>
<!--table ended--->
    </div>
  </div>
  {% endblock %}