{% extends "layouts/layout-dfe.html" %}

{% set pageName="Home" %}



{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      We could not check your child's eligibility for free school meals</h1>

<p>Based on your details, we were not able to confirm information about you in our system. 
  <p>You may still be able to get support.</p>

        <h2 class="govuk-heading-m">What you can do</h2>

<p>    
  You should talk to your school administrator and see if they can help you get free school meals for your child. <p>If you are an asylum seeker, you can <a href="https://www.gov.uk/asylum-support">check to see what asylum support you can get.</a></p>












        




 

  
  </div>
</div>

{% endblock %}

{% block pageScripts %}
<script type="text/javascript" src="/public/javascripts/moj/all.js"></script>
{% endblock %}