{% extends "/layouts/childcare/v4/layout-childcare.html" %}

{% block pageTitle %}
  Foster family: Evelyn Baker
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "/childcare/v4/foster/foster"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">


    <h1 class="govuk-heading-l">Foster family of Finnigan Powell</h1>

    <div class="govuk-button-group">
      {{ govukButton({
        text: "Reconfirm eligibility codes",
        href: "/childcare/v4/foster/reconfirm/single/dates"
      }) }}
    </div>


    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
          Carer
        </h2>
        <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action">
            <a class="govuk-link" href="/childcare/v4/foster/edit/carer-details">Change<span class="govuk-visually-hidden">Carer details</span></a>
          </li>
        </ul>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Full name
            </dt>
            <dd class="govuk-summary-list__value">
              Finnigan Powell
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date of birth
            </dt>
            <dd class="govuk-summary-list__value">
              10 September 1988
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              National Insurance number
            </dt>
            <dd class="govuk-summary-list__value">
              PB123456C
            </dd>
          </div>
        </dl>
      </div>
    </div>

    <div class="govuk-summary-card" id="child-1">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
          Child 1
        </h2>
        <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action">
            <a class="govuk-link" href="/childcare/v4/foster/edit/child-details">Change<span class="govuk-visually-hidden">child details</span></a>
          </li>
        </ul>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Full name
            </dt>
            <dd class="govuk-summary-list__value">
              Willow Carter
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date of birth
            </dt>
            <dd class="govuk-summary-list__value">
              8 July 2023
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Postcode
            </dt>
            <dd class="govuk-summary-list__value">
              M23 7PL
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Eligibility code
            </dt>
            <dd class="govuk-summary-list__value">
              40019283746
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Code status
            </dt>
            <dd class="govuk-summary-list__value">
              In grace period
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Eligibility last confirmed on
            </dt>
            <dd class="govuk-summary-list__value">
              24 April 2025
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Reconfirm between
            </dt>
            <dd class="govuk-summary-list__value">
              25 June and 25 July 2025
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Grace period ends
            </dt>
            <dd class="govuk-summary-list__value">
              31 December 2025
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Reconfirmation status
            </dt>
            <dd class="govuk-summary-list__value">
              <strong class="govuk-tag govuk-tag--red">
                Overdue
              </strong>
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>
        </dl>
      </div>
    </div>



    <div class="govuk-button-group govuk-!-margin-bottom-7">
      {{ govukButton({
        text: "Add a child",
        href: "/childcare/v4/foster/add-child/child-details"
      }) }}

        {{ govukButton({
        text: "Add a partner",
        classes: "govuk-button--secondary",
        href: "/childcare/v4/foster/edit/partner-details"
      }) }}

      {{ govukButton({
        text: "Transfer this family",
        classes: "govuk-button--secondary",
        href: "/childcare/v4/foster/transfer/transfer"
      }) }}
    </div>


  </div>
</div>






{% endblock %}