{% extends "/layouts/support/v1/layout-support.html" %}

{% block pageTitle %}
  Support
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">Support</h1>

    <h2 class="govuk-heading-m">Childcare</h2>


    <div class="dfe-grid-container">

      <div class="dfe-card">
        <div class="dfe-card-container">
          <h2 class="govuk-heading-m">
              <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="/support/v1/temp-code/temp-code">Manage temporary codes</a>
          </h2>
          <p>Upload childcare for working families temporary code files provided by HMRC and view history.</p>
        </div>
      </div>

    </div>


  </div>
</div>

{% endblock %}