{% extends "/layouts/support/v1/layout-support.html" %}

{% block pageTitle %}
  Support
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <p class="govuk-!-margin-bottom-1"><strong class="govuk-tag govuk-tag--green long-tag">System working normally</strong></p>

    <h1 class="govuk-heading-l">Eligibility checking engine support</h1>


    <div class="dfe-grid-container">

      <div class="dfe-card">
        <div class="dfe-card-container">
          <h2 class="govuk-heading-m">
              <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="">Run a check</a>
          </h2>
          <p>Run an eligiblity check for one parent or guardian</p>
        </div>
      </div>

      <div class="dfe-card">
        <div class="dfe-card-container">
          <h2 class="govuk-heading-m">
              <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="/support/v1/batch/queue">Batch checks queue</a>
          </h2>
          <p>View the status of batch checks.</p>
        </div>
      </div>

      <div class="dfe-card">
        <div class="dfe-card-container">
          <h2 class="govuk-heading-m">
              <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="">System status</a>
          </h2>
          <p>View the status of the system</p>
        </div>
      </div>

      <div class="dfe-card">
        <div class="dfe-card-container">
          <h2 class="govuk-heading-m">
              <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="">Test environments</a>
          </h2>
          <p>View test environments for free school meals and early years.</p>
        </div>
      </div>


      <div class="dfe-card">
        <div class="dfe-card-container">
          <h2 class="govuk-heading-m">
              <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="/support/v1/event-history/search-code">View eligibility code history</a>
          </h2>
          <p>View the event listing for a working families code, showing application and reconfirmation history.</p>
        </div>
      </div>

       <div class="dfe-card">
        <div class="dfe-card-container">
          <h2 class="govuk-heading-m">
              <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="/support/v1/temp-code/temp-code">Manage temporary codes</a>
          </h2>
          <p>Import childcare for working families temporary code files provided by HMRC and view history.</p>
        </div>
      </div>

      <!-- -->
      <div class="dfe-card">
        <div class="dfe-card-container">
          <h2 class="govuk-heading-m">
              <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="/support/v1/corrections/search-code">Edit eligibility code data</a>
          </h2>
          <p>Correct errors in working families code data.</p>
        </div>
      </div>

    </div>

    <p><a href="">View ECE support team guidance in dynamics (opens in new tab)</a></p>
  </div>
</div>

{% endblock %}