{% extends "layouts/FSM/v8-1/layout-dfe-lanav.html" %}
{% if data["policyLabel"] == "Eligible targeted" %}

  <p class="govuk-body">
    <strong class="govuk-tag govuk-tag--purple">Targeted</strong>
    this covers children in households in receipt of Universal Credit with annual household earnings of £7,400 or less.
    These children will attract pupil premium and other disadvantage funding for their schools.
    Other education entitlements, such as the holiday activities and food programme (HAF) and the ‘extended rights’ element of school travel assistance, will be based on targeted free school meals.
  </p>

{% elif data["policyLabel"] == "Eligible expanded" %}

  <p class="govuk-body">
    <strong class="govuk-tag govuk-tag--green">Expanded</strong>
    this covers children who are in households receiving Universal Credit with annual household earnings exceeding £7,400.
    Children will be entitled to free school meals only.
  </p>

{% endif %}


{% set pageName = "Children's details added" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% set html %}
      <h3 class="govuk-notification-banner__heading">
        {{ pageName }}
      </h3>

      <p class="govuk-body">
        You’ve successfully created a free school meals application for the children of
        {{ data["parent-firstname"] or "Idella" }} {{ data["parent-surname"] or "Nolan" }}.
      </p>
    {% endset %}

    {{ govukNotificationBanner({
      html: html,
      type: "success"
    }) }}

    <h2 class="govuk-heading-l">
      Application record for {{ data["parent-firstname"] or "Idella" }} {{ data["parent-surname"] or "Nolan" }}
    </h2>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header">Child</th>
          <th class="govuk-table__header">School</th>
          <th class="govuk-table__header">End date</th>
          <th class="govuk-table__header">Status</th>
          <th class="govuk-table__header">Reference</th>
        </tr>
      </thead>

      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            {{ data["person"][0]["first_name"] or "Christina" }}
            {{ data["person"][0]["last_name"] or data["parent-surname"] or "Nolan" }}
          </td>

          <td class="govuk-table__cell">
            {{ data["ch1-school"] or "Greenwood Primary School" }}<br>
            Hoddesdon<br>
            EN11 8JY
          </td>

          <td class="govuk-table__cell">
            {{ data["endDate"] or "31 August 2027" }}
          </td>

          <td class="govuk-table__cell">
            <strong class="govuk-tag {{ data['tagClass'] or 'govuk-tag--purple' }}">
              {{ data["policyLabel"] or "Eligible targeted" }}
            </strong>
          </td>

          <td class="govuk-table__cell">
            44455453
          </td>
        </tr>
      </tbody>
    </table>
<!-- <div class="govuk-inset-text"> -->
  <div class="govuk-inset-text no-print">

  <p class="govuk-body">
    <strong>Free school meals eligibility</strong>
  </p>

  <p class="govuk-body">
    From the start of the 2026 to 2027 academic year, there are 2 categories of eligibility for free school meals.
  </p>

  {% if data["policyLabel"] == "Eligible targeted" %}

    <p class="govuk-body">
      <strong class="govuk-tag govuk-tag--purple">Targeted</strong>
      this covers children in households in receipt of Universal Credit with annual household earnings of £7,400 or less.
      These children will attract pupil premium and other disadvantage funding for their schools.
      Other education entitlements, such as the holiday activities and food programme (HAF) and the ‘extended rights’ element of school travel assistance, will be based on targeted free school meals.
    </p>

  {% elif data["policyLabel"] == "Eligible expanded" %}

    <p class="govuk-body">
      <strong class="govuk-tag govuk-tag--green">Expanded</strong>
      this covers children who are in households receiving Universal Credit with annual household earnings exceeding £7,400.
      Children will be entitled to free school meals only.
    </p>

  {% endif %}

  <p class="govuk-body">
    For more information, read
    <a href="https://www.gov.uk/government/publications/free-school-meals-guidance-for-schools-and-local-authorities"
       class="govuk-link" target="_blank" rel="noopener noreferrer">
      Free school meals: guidance for schools and local authorities
    </a>.
  </p>

</div>

    <!-- <div class="govuk-inset-text">
      <p class="govuk-body">
        <strong>Targeted and expanded free school meals</strong>
      </p>

      <p class="govuk-body">
        From the start of the 2026 to 2027 academic year, there will be 2 categories of eligibility for free school meals:
      </p>

      <p class="govuk-body">
        <strong class="govuk-tag govuk-tag--purple">Targeted</strong>
        this covers children in households in receipt of Universal Credit with annual household earnings of £7,400 or less.
        These children will attract pupil premium and other disadvantage funding for their schools.
        Other education entitlements, such as the holiday activities and food programme (HAF) and the ‘extended rights’ element of school travel assistance, will be based on targeted free school meals.
      </p>

      <p class="govuk-body">
        <strong class="govuk-tag govuk-tag--green">Expanded</strong>
        this covers children who are in households receiving Universal Credit with annual household earnings exceeding £7,400.
        Children will be entitled to free school meals only.
      </p>

      <p class="govuk-body">
        For more information, read
        <a href="https://www.gov.uk/government/publications/free-school-meals-guidance-for-schools-and-local-authorities" class="govuk-link" target="_blank" rel="noopener noreferrer">
          Free school meals: guidance for schools and local authorities
        </a>.
      </p>
    </div> -->

    <h2 class="govuk-heading-m">What to do next</h2>

    <p class="govuk-body">
      <a href="#" class="govuk-link" onclick="printPage(); return false;">Print this page</a>
      to give to the parent or guardian as a record of the reference numbers.
    </p>

    <p class="govuk-body">
      <a href="../la-soft-check/checker" class="govuk-button" role="button" data-module="govuk-button">
        Do another check
      </a>
    </p>

  </div>
</div>

{% endblock %}


{% block pageScripts %}
<script>
  function printPage() {
    window.print()
  }
</script>

<style>
  @media screen {
    .print-logo {
      display: none;
    }
  }

  @media print {
    .govuk-header,
    .dfe-header,
    .dfe-header__navigation,
    .govuk-phase-banner,
    .no-print {
      display: none !important;
    }

    .print-logo {
      display: block !important;
      margin-bottom: 20px;
    }
  }
</style>

<style>
  @media print {

    /* Hide GOV / DfE header + nav */
    header,
    .govuk-header,
    .dfe-header,
    .dfe-header__navigation,
    .govuk-phase-banner,
    .govuk-footer {
      display: none !important;
    }

    /* Hide anything marked as no-print */
    .no-print {
      display: none !important;
    }

  }
</style>

<script type="text/javascript" src="/public/javascripts/moj/all.js"></script>


{% endblock %}