{% extends "layouts/FSM/v8-0/layout-dfe-lanav.html" %}
{% set pageName="Provide details of all children" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <div data-module="moj-add-another">
      <h1 class="govuk-heading-l" tabindex="-1">{{ pageName }}</h1>

      <form action="/FSM/Private_beta/v8-1/LA/la-manage/apply/check-answers" method="post" novalidate>

        {% call govukFieldset({
          classes: 'moj-add-another__item',
          legend: {
            text: 'Child 1',
            classes: 'moj-add-another__title govuk-fieldset__legend--m',
            isPageHeading: false
          }
        }) %}

          {{ govukInput({
            id: 'person-0-first-name',
            name: 'person[0][first_name]',
            label: {
              html: 'First name',
              classes: 'govuk-!-font-weight-bold'
            },
            attributes: {
              'data-name': 'person[%index%][first_name]',
              'data-id': 'person-%index%-first-name'
            }
          }) }}

          {{ govukInput({
            id: 'person-0-last-name',
            name: 'person[0][last_name]',
            label: {
              html: 'Last name',
              classes: 'govuk-!-font-weight-bold'
            },
            attributes: {
              'data-name': 'person[%index%][last_name]',
              'data-id': 'person-%index%-last-name'
            }
          }) }}

          {{ govukDateInput({
            id: "person-0-dob",
            fieldset: {
              legend: {
                text: "Date of birth",
                classes: "govuk-fieldset__legend--m"
              }
            },
            hint: {
              text: "For example, 31 3 1980"
            },
            items: [
              {
                id: "person-0-dob-day",
                name: "person[0][dob][day]",
                label: "Day",
                classes: "govuk-input--width-2",
                attributes: {
                  'data-name': 'person[%index%][dob][day]',
                  'data-id': 'person-%index%-dob-day'
                }
              },
              {
                id: "person-0-dob-month",
                name: "person[0][dob][month]",
                label: "Month",
                classes: "govuk-input--width-2",
                attributes: {
                  'data-name': 'person[%index%][dob][month]',
                  'data-id': 'person-%index%-dob-month'
                }
              },
              {
                id: "person-0-dob-year",
                name: "person[0][dob][year]",
                label: "Year",
                classes: "govuk-input--width-4",
                attributes: {
                  'data-name': 'person[%index%][dob][year]',
                  'data-id': 'person-%index%-dob-year'
                }
              }
            ]
          }) }}

          {% include "/_includes/schools.html" %}

        {% endcall %}

        <div class="moj-button-action">
          {{ govukButton({
            text: 'Add another child',
            type: 'button',
            classes: 'govuk-button--secondary moj-add-another__add-button govuk-!-margin-bottom-4'
          }) }}
        </div>

        <div class="moj-button-action">
          {{ govukButton({
            text: 'Save and continue'
          }) }}
        </div>

      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block pageScripts %}
<script type="text/javascript" src="/public/javascripts/autocomplete.js"></script>

<script type="text/javascript">
document.addEventListener('DOMContentLoaded', function () {
  var schoolPicker = document.querySelector('#school-picker')

  if (schoolPicker && typeof accessibleAutocomplete !== 'undefined') {
    accessibleAutocomplete.enhanceSelectElement({
      defaultValue: '',
      selectElement: schoolPicker
    })
  }

  var addAnotherButton = document.querySelector('.moj-add-another__add-button')

  if (addAnotherButton) {
    addAnotherButton.addEventListener('click', updateLegends)
  }

  document.addEventListener('click', function (event) {
    if (event.target.classList.contains('moj-add-another__remove-button')) {
      updateLegends()
    }
  })

  function updateLegends() {
    setTimeout(function () {
      var legends = document.querySelectorAll('.moj-add-another__title')

      legends.forEach(function (legend, index) {
        legend.innerHTML = 'Child ' + (index + 1)
      })
    }, 50)
  }
})
</script>
{% endblock %}