{% extends "layouts/layout-dfe.html" %}

{% set pageName="Home" %}



{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l">The parent or carer is eligible for  {{ data["offer"] }} </h1>

    <p>This information can be passed on to the parent, carer or school.</p>


    <p><a href="offer-types">Do another check</a></p>
    <p><a href="homepage">Go to your homepage</a></p>



    <div class="govuk-grid-row">

            
      <div class="govuk-grid-column-one-half">
        
















        




        
      </div>  
    
    </div>

  
  </div>
</div>

{% endblock %}

{% block pageScripts %}
<script type="text/javascript" src="/public/javascripts/moj/all.js"></script>

{% endblock %}