{% extends "/layouts/childcare/dev/layout-childcare.html" %}

{% block pageTitle %}
  Foster family: Archana Mistry
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "/childcare/dev/foster/foster"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">


    <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Partner removed
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <h3 class="govuk-notification-banner__heading">
          Ajay Mistry removed as a partner
        </h3>
      </div>
    </div>

    <h1 class="govuk-heading-l">Foster family of Archana Mistry</h1>


    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
          Carer
        </h2>
        <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action">
            <a class="govuk-link" href="/childcare/dev/foster/edit/carer-details">Change<span class="govuk-visually-hidden">Carer details</span></a>
          </li>
        </ul>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Full name
            </dt>
            <dd class="govuk-summary-list__value">
              Archana Mistry
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date of birth
            </dt>
            <dd class="govuk-summary-list__value">
              10 April 1984
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              National Insurance number
            </dt>
            <dd class="govuk-summary-list__value">
              PB123456C
            </dd>
          </div>
        </dl>
      </div>
    </div>

    <div class="govuk-summary-card" id="child-1">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
          Child
        </h2>
        <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action">
            <a class="govuk-link" href="/childcare/dev/foster/edit/child-details">Change<span class="govuk-visually-hidden">child details</span></a>
          </li>
        </ul>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Full name
            </dt>
            <dd class="govuk-summary-list__value">
              Jasper Hayes
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date of birth
            </dt>
            <dd class="govuk-summary-list__value">
              10 October 2021
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Postcode
            </dt>
            <dd class="govuk-summary-list__value">
              M20 7GF
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Eligibility code
            </dt>
            <dd class="govuk-summary-list__value">
              40019283746
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Code status
            </dt>
            <dd class="govuk-summary-list__value">
              Valid for autumn term 2025
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Eligibility last confirmed on
            </dt>
            <dd class="govuk-summary-list__value">
              24 April 2025
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Reconfirm between
            </dt>
            <dd class="govuk-summary-list__value">
              25 June and 25 July 2025
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Grace period ends
            </dt>
            <dd class="govuk-summary-list__value">
              31 December 2025
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Reconfirmation status
            </dt>
            <dd class="govuk-summary-list__value">
              <strong class="govuk-tag govuk-tag--green">
                Not due yet
              </strong>
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>
        </dl>
      </div>
    </div>



    <div class="govuk-button-group govuk-!-margin-bottom-7">

      {{ govukButton({
        text: "Add a partner",
        classes: "govuk-button--secondary",
        href: "/childcare/dev/foster/edit/partner-details?remove-partner=removed"
      }) }}

      {{ govukButton({
        text: "Transfer this family",
        classes: "govuk-button--secondary",
        href: "/childcare/dev/foster/transfer/transfer"
      }) }}
    </div>




  </div>
</div>






{% endblock %}