{% extends "/layouts/childcare/dev/layout-childcare.html" %}

{% block pageTitle %}
  Eligibility code for Jasper Hayes
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "/childcare/dev/foster/foster"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">


    <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Success
        </h2>
      </div>
      <div class="govuk-notification-banner__content">


        {% if (data['remove-partner'] == "removed") %}

            <h3 class="govuk-notification-banner__heading">
              Partner added
            </h3>

        {% else %}

            <h3 class="govuk-notification-banner__heading">
              Changes to {{ data['edit-type'] }} saved
            </h3>

        {% endif %}
      </div>
    </div>

    <h1 class="govuk-heading-l">Foster family of Archana Mistry</h1>

      <div class="govuk-button-group ">

      {{ govukButton({
        text: "Add child and create code",
        classes: "govuk-button",
        href: "/childcare/dev/foster/add-child/child-details"
      }) }}
      <!--
      {{ govukButton({
        text: "Transfer family",
        classes: "govuk-button--secondary",
        href: ""
      }) }}
      -->

    </div>



    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
          Carer
        </h2>
        <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action">
            <a class="govuk-link" href="/childcare/dev/foster/edit/carer-details">Change<span class="govuk-visually-hidden">Carer details</span></a>
          </li>
        </ul>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Full name
            </dt>
            <dd class="govuk-summary-list__value">
              Archana Mistry
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date of birth
            </dt>
            <dd class="govuk-summary-list__value">
              10 April 1984
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              National Insurance number
            </dt>
            <dd class="govuk-summary-list__value">
              PB123456C
            </dd>
          </div>
        </dl>
      </div>
    </div>

    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
          Partner
        </h2>
        <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action">
            <a class="govuk-link" href="/childcare/dev/foster/edit/partner-details">Change<span class="govuk-visually-hidden">partner details</span></a>
          </li>
          <li class="govuk-summary-card__action">
            <a class="govuk-link" href="/childcare/dev/foster/edit/remove-partner">Remove<span class="govuk-visually-hidden">partner details</span></a>
          </li>
        </ul>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Full name
            </dt>
            <dd class="govuk-summary-list__value">
              Ajay Mistry
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date of birth
            </dt>
            <dd class="govuk-summary-list__value">
              27 September 1982
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              National Insurance number
            </dt>
            <dd class="govuk-summary-list__value">
              PB458673A
            </dd>
          </div>
        </dl>
      </div>
    </div>


    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
          Children
        </h2>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Child 1
            </dt>
            <dd class="govuk-summary-list__value">
              Jasper Hayes
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/childcare/dev/foster/code/valid">View<span class="govuk-visually-hidden">child 1</span></a>
            </dd>
          </div>
        </dl>
      </div>
    </div>


  </div>
</div>






{% endblock %}