{% extends "layouts/layout-dfe.html" %}

{% block backLink %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}




{% set SiblingAdded %}
<h3 class="govuk-notification-banner__heading">
  Sibling added to record
  </h3>
  <p class="govuk-body">
    You have added sibling details to this record. This will show immediately.
  </p>
  <p>Your reference is 1234567</p>
{% endset %}



<!-- The content between the heading 1 and the buttons -->

{% block content %}



<div class="govuk-grid-row govuk-!-margin-bottom-5">
  <div class="govuk-grid-column-full">

    {% if data['sibling-added'] =="true" %}
    <div class="moj-banner moj-banner--success" role="region" aria-label="Success">

      <svg class="moj-banner__icon" fill="currentColor" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">
        <path d="M25,6.2L8.7,23.2L0,14.1l4-4.2l4.7,4.9L21,2L25,6.2z" />
      </svg>
    
      <div class="moj-banner__message">
        <h2 class="govuk-heading-l">Sibling added to record</h2>
      
    <p class="govuk-body">
        You have added sibling details to this record. This will show immediately.
      </p>
        
      
    
      </div>
    
    </div>
    
    {% endif %}


    <span class="govuk-hint">Reference: 44455453</span>





{% from "moj/components/page-header-actions/macro.njk" import mojPageHeaderActions %}

{{ mojPageHeaderActions({
  heading: {
    text: 'Eden Tesfay'
  },
  items: [

    {
      text: 'Approve applications',
      href:'/current/checker-la/eligibility-confirmed?'
      
    },
    
    {
      text: 'Decline applications',
      classes: 'govuk-button--secondary',
      href:'/current/checker-la/eligibility-declined'
    },
  
  {
    text: 'Add sibling',
    href:'add-sibling',
    classes: 'govuk-button--secondary'
  }]
}) }}






    
    
    





  </div>

</div>




<h2 class="govuk-heading-l govuk-!-margin-bottom govuk-!-font-size-36">Overview</h2>



{{ govukSummaryList({
  card: {
  title: {
  text: "Child 1"
  },
  actions: {
  items: [
  
  
  {
  href: "#",
  text: "Edit details",
  visuallyHiddenText: "from application"
  }
  ]
  }
  },
  rows: [
  
 
     
    {
      key: {
        text: "Name"
      },
      value: {
        html: "Sam Tesfay"
      }
    },
     
    {
      key: {
        text: "Date of birth"
      },
      value: {
        html: "18 November 2018"
      }
    },
    {
      key: {
        text: "Address"
      },
      value: {
        html: "26 Cherry Tree Lane, Chorlton, Manchester, M33 8HG "
      }
    }
    


  
  ]
  }) }}

<!-- PERSON -->


{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{{ govukSummaryList({
  card: {
    title: {
      text: "Parent / carer"
    },
    actions: {
      items: [
        {
          href: "#",
          text: "Edit details",
          visuallyHiddenText: "of University of Gloucestershire"
        }
       
      ]
    }
  },
  rows: [



    {
      key: {
        text: "Name"
      },
      value: {
        html: "Eden Tesfay"
      }
    },
     
    {
      key: {
        text: "Relationship"
      },
      value: {
        html: "Parent"
      }
    },

    {
      key: {
        text: "Nationality"
      },
      value: {
        html: "Eritrean"
      }
    },
     
    {
      key: {
        text: "Date of birth"
      },
      value: {
        html: "01 September 1988"
      }
    },
    {
      key: {
        text: "National Insurance / NASS"
      },
      value: {
        html: "098765432211"
      }
    }
     
    

  ]
}) }}










{% endblock %}

{% block buttons %}
{% endblock %}

{% block pageScripts %}
<!-- Add any javascript files here. Include javascript files only on the pages
that need them. Excessive javascript files loaded on other pages may slow down
the response times of the prototype. -->
<script type="text/javascript" src="/public/javascripts/moj/all.js"></script>
<script>
  new MOJFrontend.ButtonMenu({
    container: $(".moj-button-menu"),
    mq: "(min-width: 200em)",
    buttonText: "Task actions",
    buttonClasses:
      "",
  });
</script>

{% endblock %}