{% extends "layouts/layout-dfe.html" %}

{% set pageName="Outcome not entitled" %}



{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-heading-l">Are you sure?</p>
      <p class="govuk-body">Make sure you want to approve this application.</p>
      <p class="govuk-body">If a mistake is made, the parent will have to start a new application with their children’s school.  </p>
    </div>
  </div>
</div>

<div class="govuk-!-padding-bottom-3"></div>


{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Yes, approve now",
  href: '/current/checker-la/eligibility-confirmed?'
}) }}

{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "No, return to table",
  classes: "govuk-button--secondary",
  href: '../records/pending'
}) }}

<div class="govuk-!-padding-bottom-3"></div>

  </div>
</div>

{% endblock %}

{% block pageScripts %}
<script type="text/javascript" src="/public/javascripts/moj/all.js"></script>
{% endblock %}