{% extends "layouts/FSM/v8-1/family/layout-dfe-parent.html" %}
{% set pageName="You can use this service" %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}


{% block pageScripts %}
<script type="text/javascript" src="/public/javascripts/autocomplete.js"></script>
<script type="text/javascript">
  accessibleAutocomplete.enhanceSelectElement({
    defaultValue: '',
    selectElement: document.querySelector('#school-picker')
  })

</script>
{% endblock %}

{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-l">{{pageName}}</h1>

      <p class="govuk-body"><strong>All Saints CofE Primary school, Ilkley, LS29 8QH</strong>  is included in the service.</p>

      <p>You can only apply for children at schools included in this service. If you have children at other schools, <a href="">check them</a> as well</p>


      <!--
      <div class="govuk-inset-text">
        All Saints CofE Primary School<br>
        Ilkley<br>
        LS29 8QH
      </div>

      -->

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Continue",
          href: "parent-soft-check/check"
        }) }}
        <!--<a class="govuk-link" href="beta-school-check">Check another school</a>-->
      </div>
    </form>

  </div>
</div>

{% endblock %}