{% extends "/layouts/childcare/v11/layout-childcare.html" %}

{% block pageTitle %}
  Codes reconfirmed
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        Code reconfirmed
      </h1>
      <div class="govuk-panel__body">
        Eligibility code <br> <strong>40987654321</strong>
      </div>
    </div>

    

    <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m"></caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Child name</th>
            <th scope="col" class="govuk-table__header">Eligibility code</th>
            <th scope="col" class="govuk-table__header">Code status</th>
            <th scope="col" class="govuk-table__header">Reconfirm between</th>
            <th scope="col" class="govuk-table__header">Grace period ends</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Asher Ellis</td>
            <td class="govuk-table__cell">40987654321</td>
            <td class="govuk-table__cell">Valid for summer term 2026 and autumn term 2026</td>
            <td class="govuk-table__cell">{{ "today" | duration(3, 'months') | govukDate }} and {{ "today" | duration(4, 'months') | govukDate }}</td>
            <td class="govuk-table__cell">31 March 2027</td>
          </tr>
        </tbody>
      </table>



    <div class="govuk-button-group govuk-!-margin-bottom-7">
      {{ govukButton({
        text: "View code details",
        href: "/childcare/v11/foster/code/valid"
      }) }}

    </div>

  </div>
</div>






{% endblock %}