{% extends "/layouts/childcare/v5/layout-childcare.html" %}

{% block pageTitle %}
  Guidance on changing foster family details
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}



    <div class="govuk-grid-row">


      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">Guidance on changing foster family details</h1>

        <h2 class="govuk-heading-m">Change carer or partner details </h2>

        <p>Use the ‘Change’ links to correct any mistakes, or to update details if the carer’s partner changes.  </p>

        <h3 class="govuk-heading-s">Making changes after an eligibility code has been issued </h3>

        <p>After an eligibility code has been issued, you can only make acceptable changes to partner and carer details. For example, you can: </p>

        <ul>
          <li>correct an error in a carer or partner National Insurance number or date of birth  </li>
          <li>correct a spelling mistake in a carer or partner name </li>
          <li>change the name of a carer or partner from a legal name to a preferred name, or the other way round </li>
          <li>change the name of the carer when they legally change their name  </li>
          <li>add or remove a partner </li>
          <li>change the partner to a different person  </li>
          <li>change the postcode if the carer has moved  </li>
        </ul>

        <p>These acceptable changes will be applied when an eligibility code is next issued or reconfirmed and a new eligibility event is created. These changes will not be retrospectively applied to past eligibility events. If there is a mistake in an issued eligibility event and it needs correcting, <a href="">contact the service desk</a>.</p>

        <h3 class="govuk-heading-s">Changes that are not acceptable after an eligibility code has been issued </h3>

        <p>There are some changes to personal details that local authorities must not make after a code has been issued. These changes will create problems when childcare providers are verifying codes. You must not: </p>

        <ul>
          <li>change the identity of the carer to that of a different person, for example by change all 4 data items to those of a different person  </li>
          <li>change the National Insurance number of the carer to one for different person  </li>
          <li>swap the carer and partner identity or details </li>
        </ul>

        <p>If a child is moved to a different carer within the same local authority: </p>

        <ol>
          <li>The new carer must make a new application for childcare for working families. </li>
          <li>If the application is successful, you can create a new carer record and add the child to it.  </li>
        </ol>

        <p>It is not possible to transfer an eligibility code or child between carers. Any existing eligibility code for a child can continue to be used with a provider for as long as it is still valid for funding.  </p>

        <p>If the carer has died or is or no longer a foster carer and the partner becomes the carer, the partner must make a new application for childcare for working families. A code is always associated with a specific carer and child relationship. It is not possible to transfer an eligibility code from a carer to their partner or anyone else. </p>

        <h2 class="govuk-heading-m">Change child details </h2>

        <p>Use the ‘Change’ link to edit a child’s details. </p>

        <h3 class="govuk-heading-s">Making changes to child details after an eligibility code has been issued </h3>

        <p>After an eligibility code has been issued for a child, you can only make acceptable changes to the child details. For example, you can: </p>

        <ul>
          <li>correct a mistake in the child date of birth or name including adding or removing middle names in the first name field. If you edit the child's date of birth after the issue or reconfirmation of a code, then the edited date of birth will not work if used to verify the eligibility code. <a href="">Contact our service desk for help</a>. </li>
          <li>change the first name from a legal name to a preferred name, or the other way round  </li>
          <li>change the name of the child when their name legally changes  </li>
        </ul>

        <p>After the eligibility code has been issued, you cannot: </p>

        <ul>
          <li>change the identity of the named child to that of a different child, for example by changing all 3 data items to those of a different child  </li>
          <li>swap the child details with those of another child looked after by this carer or another carer </li>
        </ul>

      </div>

    </div>



{% endblock %}