{% extends "layouts/layout-dfe.html" %}



{% block content %}

<div class="govuk-grid-row govuk-!-margin-bottom-5">
  <div class="govuk-grid-column-full">




<div style="display: flex; justify-content: space-between; align-items: center;">
  <h1 class="govuk-heading-xl" style="margin: 1;">Eden Tesfay</h1>
  <div style="display: flex;">



    <div class="govuk-button-group" style="display: flex;">
      {{ govukButton({
        text: "Send for review",
        href:'not-entitled-appeal-sent.html'
      }) }}
      {{ govukButton({
        text: "Download CSV file",
        classes: 'govuk-button--secondary',
        href:'/download-csv'
      }) }}
    </div>
  </div>
</div>
<!---
    {{ mojPageHeaderActions({
      heading: {
        text: 'Warren Sutton'
      }
    }) }}
  -->

  <h2 class="govuk-heading-m">Actions required</h2>

  <strong class="govuk-tag govuk-tag--blue">
    Send for review
  </strong></p>

<div class="govuk-!-padding-bottom-3"></div>


<!-- PERSON -->

{{ govukSummaryList({
  card: {
    title: {
      text: "Parent or guardian details"
    },
    actions: {
      items: [
        {
          href: "#",
          visuallyHiddenText: ""
        }

      ]
    }
  },
  rows: [



    {
      key: {
        text: "Name"
      },
      value: {
        html: "Eden Tesfay"
      }
    },


    {
      key: {
        text: "Date of birth"
      },
      value: {
        html: "1 September 1984"
      }
    },
    {
      key: {
        text: "National Insurance number"
      },


      value: {
        html: "AB123456C"
      }
    },


    {
      key: {
        text: "Email address"
      },


      value: {
        html: "e.tesfay84@gmail.com"
      }
    }


  ]
}) }}



<div class="govuk-!-padding-bottom-3"></div>

<!-- PERSON -->

{{ govukSummaryList({
  card: {
    title: {
      text: "Child details: 	44455453"
    },
    actions: {
      items: [
    ]
    }
  },
  rows: [

    {
      key: {
        text: "Name"
      },
      value: {
        text: "Samuel Tesfay"
      }
    },


    {
      key: {
        text: "Date of birth"
      },
      value: {
        html: "18 September 2017"
      }
    },

    {
      key: {
        text: "Status of application"
      },
      value: {
        html: govukTag({
                text: "Evidence emailed",
                classes: "govuk-tag--yellow"
              })
      },
      actions: {
        items: [
        ]
      }
    }


  ]
}) }}

<!--EVIDENCE-->

{{ govukSummaryList({
  card: {
    title: {
      text: "Supporting evidence"
    },
    actions: {
      items: [

      ]
    }
  },
  rows: [
  {
    key: {
      text: "Supporting evidence"
    },
    value: {
      html: "Emailed to local authority"
    },
    actions: {
      items: [




      ]
    }
  }
  ]
}) }}



{% endblock %}

{% block buttons %}
{% endblock %}

{% block pageScripts %}
<!-- Add any javascript files here. Include javascript files only on the pages
that need them. Excessive javascript files loaded on other pages may slow down
the response times of the prototype. -->

<script type="text/javascript" src="/public/javascripts/moj/all.js"></script>
<script src=
"https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>

<script>
  $(document).ready(function () {
            $(".hide").click(function () {
                $(".moj-banner").hide();
            });
        });
  </script>

{% endblock %}
