{% extends "../../mvp1/checker/layouts/layout-dfe.html" %}

{% set pageName="Home" %}

{% set parentName="Eden Tesfay" %}



{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">





    <h1 class="govuk-heading-l">
   Bramhope Primary School Portal
    </h1>


    <div class="govuk-grid-row">

            
      <div class="govuk-grid-column-full">
        

<div class="dfe-grid-container">


    <div class="dfe-card-container">

      <div class="def-card">
        <h2 class="govuk-heading-m">
            <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="checker">Check free school meals - single pupil</a>
        </h2>
        <p>Find out if individual pupils can get free school meals.</p>
    </div>
    </div>

    <div class="dfe-card-container">

      <div class="def-card">
        <h2 class="govuk-heading-m">
            <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="../batch-checking/upload">Check free school meals - multiple pupils</a>
        </h2>
        <p>Find out if multiple pupils can get free school meals by uploading a csv template.</p>
    </div>
    </div>


    <div class="dfe-card-container">

      <div class="def-card">
        <h2 class="govuk-heading-m">
            <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="process-appeals">Process appeals</a>
        </h2>
        <p>Check the status of applications being appealed, and declare those ready for local authority review.</p>
    </div>
    </div>

   
    

    <div class="dfe-card-container">

      <div class="def-card">
        <h2 class="govuk-heading-m">
            <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="applications">Finalise applications</a>
          
        </h2>
        <p>Finalise applications for free school meals.</p>
    </div>
    </div>

    <div class="dfe-card-container">

      <div class="def-card">
        <h2 class="govuk-heading-m">
            <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="search">Search all records</a>
            
        </h2>
        <p>Search all pupil free school meal records and export results.</p>
    </div>
    </div>




    










</div>


        
      </div>  
    
    </div>

  
  </div>
</div>

{% endblock %}