  <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__header"><a href="./Private_beta/v7-1/LA/dashboard.html"
                    class="govuk-link">v7.1</a></td>
                <td class="govuk-table__cell"><b>Release 2 - Herts school upload version</b></a><br> View or download
                  evidence from pupil record. </td>
                <td class="govuk-table__cell"><span class="govuk-tag govuk-tag--pink">Signed off</span></td>
                <td class="govuk-table__cell">
                  <a href="./Private_beta/v7-1/LA/dashboard.html" class="govuk-link">LA dashboard</a><br>
                  <a href="./Private_beta/v7-1/LA/la-manage/decision/pending-list.html" class="govuk-link">Pending
                    applications</a><br>
                  <a href="./Private_beta/v7-1/LA/la-manage/decision/records/pending.html" class="govuk-link">Child
                    record</a><br>
                  <a href="./Private_beta/v7-1/LA/la-manage/decision/records/evidence.html" class="govuk-link">View
                    evidence</a><br>
                  <!-- <a href="./Private_beta/v7-1LA/la-manage/decision/.html"class="govuk-link">Download evidence</a><br> -->
                <td class="govuk-table__cell govuk-table__cell--numeric">28 Mar 25</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__header"><a href="./Private_beta/v7/LA/dashboard.html" class="govuk-link">v7</a>
                </td>
                <td class="govuk-table__cell"><b>Individual check</b></a><br> LA can perform an individual check and
                  continue to add details.</td>
                <td class="govuk-table__cell"><span class="govuk-tag govuk-tag--pink">Signed off</span></td>
                <td class="govuk-table__cell">
                  <a href="./Private_beta/v7/LA/la-manage/la-soft-check/outcomes/eligible.html"
                    class="govuk-link">Eligible outcome</a><br>
                  <a href="./Private_beta/v7/LA/la-manage/apply/outcome-eligible-childs-age.html"
                    class="govuk-link">Add details</a><br>

                <td class="govuk-table__cell govuk-table__cell--numeric">31 Mar 25</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__header"><a href="./Private_beta/v7/LA/dashboard.html" class="govuk-link">v7</a>
                </td>
                <td class="govuk-table__cell"><b>Batch checking v1</b></a><br> LA can perform a batch check and view
                  results in the service not a csv. No actions online</td>
                <td class="govuk-table__cell"><span class="govuk-tag govuk-tag--grey">Rework</span></td>
                <td class="govuk-table__cell">
                  <a href="./Private_beta/v7/LA/dashboard.html" class="govuk-link">LA Dashboard</a><br>
                  <a href="./Private_beta/v7/LA/la-manage/batch-checking/manual.html" class="govuk-link">Choose how to
                    batch check</a><br>
                  <a href="./Private_beta/v7/LA/la-manage/batch-checking/imported-records.html"
                    class="govuk-link">Imported records</a><br>
                  <a href="./Private_beta/v7/LA/la-manage/batch-checking/batch-checking-loader.html"
                    class="govuk-link">Batch check loader -progress bar</a><br>
                  <a href="./Private_beta/v7/LA/la-manage/batch-checking/batch-check-success.html"
                    class="govuk-link">Results</a><br>
                  <a href="./Private_beta/v7/LA/la-manage/batch-checking/batch-check-unsuccessful.html"
                    class="govuk-link">Something went wrong page</a><br>

                <td class="govuk-table__cell govuk-table__cell--numeric">31 Mar 25</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__header"><a href="./Private_beta/v7-1/LA/dashboard.html"
                    class="govuk-link">v7.1</a></td>
                <td class="govuk-table__cell"><b>Batch checking v2</b></a><br> LA can perform a batch check and view
                  results and create application/appeal from results</td>
                <td class="govuk-table__cell"><span class="govuk-tag govuk-tag--grey">Rework</span></td>
                <td class="govuk-table__cell">
                  <a href="./Private_beta/v7-1/LA/dashboard.html" class="govuk-link">LA Dashboard</a><br>
                  <a href="./Private_beta/v7-1/LA/la-manage/batch-checking/manual.html" class="govuk-link">Choose how to
                    batch check</a><br>
                  <a href="./Private_beta/v7-1/LA/la-manage/batch-checking/imported-records.html"
                    class="govuk-link">Imported records</a><br>
                  <a href="./Private_beta/v7-1/LA/la-manage/batch-checking/batch-checking-loader.html"
                    class="govuk-link">Batch check loader - progess bar</a><br>
                  <a href="./Private_beta/v7-1/LA/la-manage/batch-checking/batch-check-success.html"
                    class="govuk-link">Results</a><br>
                  <a href="./Private_beta/v7-1/LA/la-manage/batch-checking/batch-checking-loader-technical-error.html"
                    class="govuk-link">Something went wrong page</a><br>
                </td>
                <td class="govuk-table__cell govuk-table__cell--numeric">31 Mar 25</td>
              </tr>
              <tr class="govuk-table__row"></tr>
              <td class="govuk-table__header"><a href="./Private_beta/v7-2/LA/dashboard.html"
                  class="govuk-link">v7.2</a></td>
              <td class="govuk-table__cell"><b>Batch checking v3</b></a><br> LA can perform a batch check and view
                results and create application/appeal from results.
                <br>
                <ul>
                  <li>Aligned to childcare batch check based on research collected and queuing timeframes</li>
                  <li>Not started page </li>
                  <li>In progress page - showing progress bar as part of list </li>
                  <li>In progress updates to completed allowing user to view results</li>
                  <li>Added in Completed page </li>
                  <li>View results/download link</li>
                  <li>LA version of application created - school to complete the records</li>
                  <li>Show imported records in CTF</li>
                </ul>
              </td>
              <td class="govuk-table__cell"><span class="govuk-tag govuk-tag--pink">Signed off</span></td>
              <td class="govuk-table__cell">
                <a href="./Private_beta/v7-2/LA/dashboard.html" class="govuk-link">LA Dashboard</a><br>
                <a href="./Private_beta/v7-2/LA/la-manage/batch-checking/manual.html" class="govuk-link">Upload
                  file</a><br>
                <a href="./Private_beta/v7-2/LA/la-manage/batch-checking/manual-error.html" class="govuk-link">Error on
                  loading file</a><br>
                <a href="./Private_beta/v7-2/LA/la-manage/batch-checking/submitted-not-started.html"
                  class="govuk-link">File submitted - Not started</a><br>
                <a href="./Private_beta/v7-2/LA/la-manage/batch-checking/submitted-in-progress" class="govuk-link">File
                  submitted - In progress</a><br>
                <a href="./Private_beta/v7-2/LA/la-manage/batch-checking/submitted-completed.html"
                  class="govuk-link">File submitted - Completed check</a><br>
                <a href="./Private_beta/v7-2/LA/la-manage/batch-checking/batch-check-success.html"
                  class="govuk-link">Results</a><br>
                <a href="./Private_beta/v7-2/LA/la-manage/records/batch-records/eligible/batch-confirm-eligible"
                  class="govuk-link">Eligible applications created</a><br>

                <a href="./Private_beta/v7-2/LA/la-manage/batch-checking/batch-checking-loader-technical-error.html"
                  class="govuk-link">Something went wrong page</a><br>
              </td>
              <td class="govuk-table__cell govuk-table__cell--numeric">12 May 25</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__header"><a href="./Private_beta/v7-3/LA/dashboard.html"
                    class="govuk-link">v7.3</a></td>
                <td class="govuk-table__cell"><b>Request more evidence</b></a><br> LA can request more evidence from the
                  school to support the application.</td>
                <td class="govuk-table__cell"><span class="govuk-tag govuk-tag--blue">Design</span></td>
                <td class="govuk-table__cell"><a href="./Private_beta/v7-3/LA/dashboard.html"
                    class="govuk-link">Dashboard</a><br>
                  <a href="./Private_beta/v7-3/LA/la-manage/decision/pending-list.html" class="govuk-link">Pending
                    applications</a><br>
                  <a href="./Private_beta/v7-3/LA/la-manage/decision/records/pending.html" class="govuk-link">Child
                    record</a><br>
                  <a href="./Private_beta/v7-3/LA/la-manage/decision/records/approve-johnson1.html"
                    class="govuk-link">Approve application</a><br>
                  <a href="./Private_beta/v7-3/LA/la-manage/decision/records/eligibility-confirmed.html"
                    class="govuk-link">Success - eligibility confirmed</a><br>
                  <a href="./Private_beta/v7-3/LA/la-manage/decision/records/decline-johnson1.html"
                    class="govuk-link">Decline application</a><br>
                  <a href="./Private_beta/v7-3/LA/la-manage/decision/records/eligibility-confirmed.html"
                    class="govuk-link">Success - eligibility declined</a><br>

                  <a href="./Private_beta/v7-3/LA/la-manage/decision/records/requestmore-johnson1.html"
                    class="govuk-link">Request more evidence</a><br>
                </td>
                <td class="govuk-table__cell govuk-table__cell--numeric">30 Jun 25</td>
              </tr>
            </tbody>