<li class="govuk-task-list__item govuk-task-list__item">
  <div class="govuk-task-list__name-and-hint">
    <strong>MAT Onboarding to the service </strong>
  </div>
  <div class="govuk-task-list__status" id="status-6"> </div>
</li>

<li class="govuk-task-list__item govuk-task-list__item--with-link">
  <div class="govuk-task-list__name-and-hint">
    <a class="govuk-link" href="/FSM/Private_beta/v7-3/dsi-account/dsi-startnow.html"
      aria-describedby="devready-2-status">Start now - DfE</a>
    </a>
  </div>
  <div class="govuk-task-list__status" id="devready-1-status">
    Design signed off
  </div>
</li>
<li class="govuk-task-list__item govuk-task-list__item--with-link">
  <div class="govuk-task-list__name-and-hint">
    <a class="govuk-link govuk-task-list__link" href="/FSM/Private_beta/v7-3/dsi-account/dsi-signin.html"
      aria-describedby="devready-2-status">
      Sign into DSi
    </a>
  </div>
  <div class="govuk-task-list__status" id="devready-2-status">
    <!-- <strong class="govuk-tag govuk-tag--blue"> -->
    Design signed off
    </strong>
</li>
<li class="govuk-task-list__item govuk-task-list__item--with-link">
  <div class="govuk-task-list__name-and-hint">
    <a class="govuk-link govuk-task-list__link" href="/FSM/Private_beta/v7-3/dsi-account/dsi-landingpage.html"
      aria-describedby="devready-2-status">
      Services page
    </a>
  </div>
  <div class="govuk-task-list__status" id="devready-2-status">
    <!-- <strong class="govuk-tag govuk-tag--blue"> -->
    Design signed off
    </strong>
</li>
<li class="govuk-task-list__item govuk-task-list__item--with-link">
  <div class="govuk-task-list__name-and-hint">
    <a class="govuk-link govuk-task-list__link" href="./Private_beta/v7-3/MAT/dashboard.html"
      aria-describedby="status-1">
      MAT Dashboard start
    </a>
  </div>
  <div class="govuk-task-list__status" id="status-1"> Design signed off</div>
</li>

<!---->
<li class="govuk-task-list__item govuk-task-list__item">
  <div class="govuk-task-list__name-and-hint">
    <strong>Individual check </strong>
  </div>
  <div class="govuk-task-list__status" id="status-6"> </div>
</li>

<li class="govuk-task-list__item govuk-task-list__item--with-link">
  <div class="govuk-task-list__name-and-hint">
    <a class="govuk-link govuk-task-list__link" href="./Private_beta/v7-3/MAT/mat-manage/mat-soft-check/checker.html"
      aria-describedby="status-1">
      Individual check </a>
  </div>
  <div class="govuk-task-list__status" id="status-1"> Design signed off</div>
</li>

<li class="govuk-task-list__item govuk-task-list__item--with-link">
  <div class="govuk-task-list__name-and-hint">
    <a class="govuk-link govuk-task-list__link"
      href="./Private_beta/v7-3/MAT/mat-manage/mat-soft-check/checker/outcomes/eligible.html"
      aria-describedby="status-4">
      Outcome - eligible, found
    </a>
  </div>
  <div class="govuk-task-list__status" id="status-4">Design signed off</div>
</li>

<li class="govuk-task-list__item govuk-task-list__item--with-link">
  <div class="govuk-task-list__name-and-hint">
    <a class="govuk-link govuk-task-list__link"
      href="./Private_beta/v7-3/MAT/mat-manage/mat-soft-check/outcomes/outcome-not-entitled.html"
      aria-describedby="status-5">
      Outcome - may not be eligible
    </a>
  </div>
  <div class="govuk-task-list__status" id="status-5">Design signed off</div>
</li>

<li class="govuk-task-list__item govuk-task-list__item--with-link">
  <div class="govuk-task-list__name-and-hint">
    <a class="govuk-link govuk-task-list__link"
      href="./Private_beta/v7-3/MAT/mat-manage/mat-soft-check/outcomes/outcome-could-not-find.html"
      aria-describedby="status-6">
      Outcome - could not find no trace
    </a>
  </div>
  <div class="govuk-task-list__status" id="status-6">Design signed off</div>
</li>

<li class="govuk-task-list__item govuk-task-list__item--with-link">
  <div class="govuk-task-list__name-and-hint">
    <a class="govuk-link govuk-task-list__link"
      href="./Private_beta/v7-3/MAT/mat-manage/mat-soft-check/outcomes/outcome-could-not-find-pending.html"
      aria-describedby="status-7">
      Outcome - could not find pending
    </a>
  </div>
  <div class="govuk-task-list__status" id="status-7">Design signed off</div>
</li>

<li class="govuk-task-list__item govuk-task-list__item--with-link">
  <div class="govuk-task-list__name-and-hint">
    <a class="govuk-link govuk-task-list__link"
      href="./Private_beta/v7-3/MAT/mat-manage/mat-soft-check/outcomes/outcome-technical-error.html"
      aria-describedby="status-8">
      Technical error
    </a>
  </div>
  <div class="govuk-task-list__status" id="status-8">Design signed off</div>
</li>


<li class="govuk-task-list__item govuk-task-list__item">
  <div class="govuk-task-list__name-and-hint">
    <strong>Batch check </strong>
  </div>
  <div class="govuk-task-list__status" id="status-6"> </div>
</li>

<li class="govuk-task-list__item govuk-task-list__item">
  <div class="govuk-task-list__name-and-hint">
    <strong>Manage applications</strong>
  </div>
  <div class="govuk-task-list__status" id="status-6"> </div>
</li>
<li class="govuk-task-list__item govuk-task-list__item--with-link">
  <div class="govuk-task-list__name-and-hint">
    <a class="govuk-link govuk-task-list__link"
      href="./Private_beta/v7-3/MAT/mat-manage/report/mat-search.html"
      aria-describedby="status-8">
     Search
    </a>
  </div>
  <div class="govuk-task-list__status" id="status-8">Design signed off</div>
</li>


<li class="govuk-task-list__item govuk-task-list__item">
  <div class="govuk-task-list__name-and-hint">
    <strong>Support and reporting</strong>
  </div>
  <div class="govuk-task-list__status" id="status-6"> </div>
</li>
<li class="govuk-task-list__item govuk-task-list__item--with-link">
  <div class="govuk-task-list__name-and-hint">
    <a class="govuk-link govuk-task-list__link"
      href="./Private_beta/v7-3/MAT/mat-manage/report/mat-search.html"
      aria-describedby="status-8">
     Search
    </a>
  </div>
  <div class="govuk-task-list__status" id="status-8">Design signed off</div>
</li>
<li class="govuk-task-list__item govuk-task-list__item--with-link">
  <div class="govuk-task-list__name-and-hint">
    <a class="govuk-link govuk-task-list__link"
      href="./Private_beta/v7-3/MAT/guidance.html"
      aria-describedby="status-8">
     Guidance
    </a>
  </div>
  <div class="govuk-task-list__status" id="status-8">Design signed off</div>
</li>
<li class="govuk-task-list__item govuk-task-list__item--with-link">
  <div class="govuk-task-list__name-and-hint">
    <a class="govuk-link govuk-task-list__link"
      href="./Private_beta/v7-3/_offline/fsm-print-version-mat.html"
      aria-describedby="status-8">
     Download PDF form
    </a>
  </div>
  <div class="govuk-task-list__status" id="status-8">Design signed off</div>
</li>