{% extends "/layouts/childcare/v11/layout-childcare.html" %}

{% block pageTitle %}
  Eligibility code for Casper Hayes
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">

    <h1 class="govuk-heading-l">Eligibility code for Casper Hayes</h1>



    <div class="govuk-button-group">
      <!--

      {{ govukButton({
        text: "Transfer this code",
        classes: "govuk-button--secondary",
        href: "/childcare/v11/foster/transfer/transfer"
      }) }}
         -->

       {{ govukButton({
          text: "Archive code",
          classes: "govuk-button--secondary",
          href: "/childcare/v11/foster/archive/archive-code"
        }) }}
    </div>



    <div class="govuk-summary-card" id="code">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
          Eligibility code details
        </h2>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Eligibility code
            </dt>
            <dd class="govuk-summary-list__value">
              40049608189
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>
           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Reconfirmation status
            </dt>
            <dd class="govuk-summary-list__value">
              <strong class="govuk-tag govuk-tag--green">
                Not due yet
              </strong>
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Code status
            </dt>
            <dd class="govuk-summary-list__value">
              Valid from autumn term 2026
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Eligibility confirmed on
            </dt>
            <dd class="govuk-summary-list__value">
              {{ "today" | govukDate }}
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Reconfirm between
            </dt>
            <dd class="govuk-summary-list__value">
              {{ "today" | duration(3, 'months') | govukDate }} and {{ "today" | duration(4, 'months') | govukDate }}
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Grace period ends
            </dt>
            <dd class="govuk-summary-list__value">
              31 March 2027
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>

        </dl>
      </div>
    </div>



     <div class="govuk-summary-card" id="child-1">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
          Child
        </h2>
        <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action">
            <a class="govuk-link" href="/childcare/v11/foster/edit/child-details">Change<span class="govuk-visually-hidden">child details</span></a>
          </li>
        </ul>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Full name
            </dt>
            <dd class="govuk-summary-list__value">
              Casper Hayes
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date of birth
            </dt>
            <dd class="govuk-summary-list__value">
              5 April 2024
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Postcode
            </dt>
            <dd class="govuk-summary-list__value">
              M20 7GF
            </dd>
          </div>
        </dl>
      </div>
    </div>


   <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
          Foster family
        </h2>
         <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action">
            <a class="govuk-link" href="/childcare/v11/foster/family/live">View<span class="govuk-visually-hidden">family details</span></a>
          </li>
        </ul>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Carer
            </dt>
            <dd class="govuk-summary-list__value">
              Archana Mistry
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Partner
            </dt>
            <dd class="govuk-summary-list__value">
              Ajay Mistry
            </dd>
          </div>
        </dl>
      </div>
    </div>




  </div>
</div>






{% endblock %}