{% extends "/layouts/childcare/v3/layout-childcare.html" %}

{% block pageTitle %}
  Childcare
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <span class="govuk-caption-l">Manchester City Council</span>
    <h1 class="govuk-heading-l">Manage eligibility for childcare support</h1>


    <div class="dfe-grid-container">

      <div class="dfe-card">
        <div class="dfe-card-container">
          <h2 class="govuk-heading-m">
              <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="/childcare/v3/single-check/single">Run a check</a>
          </h2>
          <p>Run an eligibility check for one parent or guardian.</p>
        </div>
      </div>


        <div class="dfe-card">
          <div class="dfe-card-container">
            <h2 class="govuk-heading-m">
                <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="/childcare/v3/batch-check/batch">Run a batch check</a>
            </h2>
            <p>Run an eligibility check for multiple parents or guardians.</p>
          </div>
        </div>

        <div class="dfe-card">
          <div class="dfe-card-container">
            <h2 class="govuk-heading-m">
                <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="/childcare/v3/foster/foster">Manage foster families</a>
            </h2>
            <p>Manage foster families claiming Childcare for working families.</p>
          </div>
        </div>


        <div class="dfe-card">
          <div class="dfe-card-container">
            <h2 class="govuk-heading-m">
                <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="#">Run reports</a>
            </h2>
            <p>Run and export reports on all applications for childcare.</p>
          </div>
        </div>

        <div class="dfe-card">
          <div class="dfe-card-container">
            <h2 class="govuk-heading-m">
                <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="#">Guidance</a>
            </h2>
            <p>Read guidance on eligibility criteria and acceptable forms of evidence for processing appeals.</p>
          </div>
        </div>

    </div>


  </div>
</div>

{% endblock %}