{% extends "layouts/FSM/v8-0/layout-dfe-schoolnav.html" %}
{% set pageName="Provide details of all children" %}

{% block pageScripts %}
<script type="text/javascript" src="/public/javascripts/autocomplete.js"></script>
<script type="text/javascript">
  accessibleAutocomplete.enhanceSelectElement({
    defaultValue: '',
    selectElement: document.querySelector('#school-picker')
  });

  document.addEventListener('DOMContentLoaded', function () {
    var container = document.querySelector('[data-module="moj-add-another"]');

    // Event delegation for add and remove buttons
    container.addEventListener('click', function (event) {
      if (event.target.classList.contains('moj-add-another__add-button')) {
        event.preventDefault(); // Prevent default action if needed
        addChild(); // Call function to add a new child
      }
      if (event.target.classList.contains('moj-add-another__remove-button')) {
        event.preventDefault(); // Prevent default action if needed
        removeChild(event.target); // Call function to remove a child
      }
    });

    function addChild() {
      // Logic to add a new child input section
      const currentCount = document.querySelectorAll('.moj-add-another__title').length;
      const newChildHTML = `
        <fieldset class="moj-add-another__item">
          <legend class="moj-add-another__title govuk-fieldset__legend--m">Child ${currentCount + 1}</legend>
          <div>
            <label for="person[${currentCount}][first_name]" class="govuk-label">First name</label>
            <input type="text" name="person[${currentCount}][first_name]" class="govuk-input" data-name="person[${currentCount}][first_name]" data-id="person[${currentCount}][first_name]"/>
          </div>
          <div>
            <label for="person[${currentCount}][last_name]" class="govuk-label">Last name</label>
            <input type="text" name="person[${currentCount}][last_name]" class="govuk-input" data-name="person[${currentCount}][last_name]" data-id="person[${currentCount}][last_name]"/>
          </div>
          <div>
            <label class="govuk-label">Date of birth</label>
            <div>
              <input type="text" name="person[${currentCount}][dob][day]" class="govuk-input" data-name="person[${currentCount}][dob][day]" placeholder="Day"/>
              <input type="text" name="person[${currentCount}][dob][month]" class="govuk-input" data-name="person[${currentCount}][dob][month]" placeholder="Month"/>
              <input type="text" name="person[${currentCount}][dob][year]" class="govuk-input" data-name="person[${currentCount}][dob][year]" placeholder="Year"/>
            </div>
          </div>
          <button type="button" class="govuk-button moj-add-another__remove-button">Remove this child</button>
        </fieldset>
      `;
      container.insertAdjacentHTML('beforeend', newChildHTML);
      updateLegends(); // Update legends after adding a new child
    }

    function removeChild(button) {
      // Logic to remove the child input section
      const fieldset = button.closest('fieldset');
      if (fieldset) {
        fieldset.remove();
        updateLegends(); // Update legends after removing a child
      }
    }

    function updateLegends() {
      const legends = document.querySelectorAll('.moj-add-another__title');
      legends.forEach(function (legend, index) {
        legend.innerHTML = `Child ${index + 1}`; // Update legend to reflect current count
      });
    }
  });
</script>
{% endblock %}

{% block content %}
{%- from "govuk/components/button/macro.njk" import govukButton -%}
{%- from "govuk/components/date-input/macro.njk" import govukDateInput -%}
{%- from "govuk/components/fieldset/macro.njk" import govukFieldset -%}
{%- from "govuk/components/input/macro.njk" import govukInput -%}
{%- from "govuk/components/textarea/macro.njk" import govukTextarea -%}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <div data-module="moj-add-another">
      <h1 class="govuk-heading-l" tabindex="-1">Provide details of all children</h1>
      <form method="post">
        {% call govukFieldset({
          classes: 'moj-add-another__item',
          legend: {
            text: 'Child 1',
            classes: 'moj-add-another__title govuk-fieldset__legend--m',
            isPageHeading: false
          }
        }) %}
        {{ govukInput({
          id: 'person[0][first_name]',
          name: 'person[0][first_name]',
          label: {
            html: 'First name',
            classes: 'govuk-!-font-weight-bold'
          },
          attributes: {
            'data-name': 'person[0][first_name]',
            'data-id': 'person[0][first_name]'
          }
        }) }}
        {{ govukInput({
          id: 'person[0][last_name]',
          name: 'person[0][last_name]',
          label: {
            html: 'Last name',
            classes: 'govuk-!-font-weight-bold'
          },
          attributes: {
            'data-name': 'person[0][last_name]',
            'data-id': 'person[0][last_name]'
          }
        }) }}
        {{ govukDateInput({
          id: "date-of-birth",
          fieldset: {
            legend: {
              text: "Date of birth",
              classes: "govuk-fieldset__legend--s"
            }
          },
          hint: {
            text: "For example, 31 3 1980"
          },
          items: [
            {
              id: "person[0][dob][day]",
              name: "person[0][dob][day]",
              label: "Day",
              classes: "govuk-input--width-2",
              attributes: {
                'data-name': 'person[0][dob][day]',
                'data-id': 'person[0][dob][day]'
              }
            },
            {
              id: "person[0][dob][month]",
              name: "person[0][dob][month]",
              label: "Month",
              classes: "govuk-input--width-2",
              attributes: {
                'data-name': 'person[0][dob][month]',
                'data-id': 'person[0][dob][month]'
              }
            },
            {
              id: "person[0][dob][year]",
              name: "person[0][dob][year]",
              label: "Year",
              classes: "govuk-input--width-2",
              attributes: {
                'data-name': 'person[0][dob][year]',
                'data-id': 'person[0][dob][year]'
              }
            }
          ]
        }) }}
        {% endcall %}
        <div class="moj-button-action">
          {{ govukButton({
            text: 'Add another child',
            classes: 'govuk-button--secondary moj-add-another__add-button govuk-!-margin-bottom-4'
          }) }}
        </div>
        <div class="moj-button-action">
          {{ govukButton({
            text: 'Save and continue',
            href: '../apply/school-check-answers.html'
          }) }}
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}



