{% extends "layouts/mvp1.html" %}

{% set pageName="Enter your email address" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds ">
    
<input type="hidden" name="_csrf" value="NwbSEw2n-Gna8N8BwZSNt77jGcnGYDP8tfjs">


<form action="enter-password" method="post" novalidate>

<div class="govuk-form-group">
<h1 class="govuk-label-wrapper">
<label class="govuk-label govuk-label--l" for="email">
Enter your email address to sign in to your GOV.UK One Login
</label>
</h1>

<input class="govuk-input" id="email" name="email" type="email" spellcheck="false" autocomplete="email">

</div>

<!--
{{ govukInput({
  id: "[account][email]",
  name: "[account][email]",
  label: {
    text: "Enter your email address to sign in to your GOV.UK One Login
    ",
    isPageHeading: true,
    classes: "govuk-label--l"
  },
  value: data.account.email
}) }}
-->
{{ govukButton({
text: "Continue",
classes:'govuk-!-margin-top-5'
}) }}
</form>




  </div>
</div>



{% endblock %}