{% extends "/layouts/support/v2/layout-support.html" %}

{% block pageTitle %}
 Set up notification banner
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Enter banner content</h1>

       <form class="form" action="/support/v2/banners/create/preview" method="post" novalidate>

          {% call govukFieldset({

          }) %}


          {% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}

          {{ govukCharacterCount({
            name: "banner-heading",
            id: "banner-heading",
            maxlength: 100,
            rows: "1",
            label: {
              text: "Heading",
              classes: "govuk-label--m",
              isPageHeading: false
            },
            value: data['banner-heading']
          }) }}


          {% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}

          {{ govukCharacterCount({
            name: "banner-text",
            id: "banner-text",
            maxlength: 300,
            rows: "5",
            label: {
              text: "Text (optional)",
              classes: "govuk-label--m",
              isPageHeading: false
            },
            value: data['banner-text']
          }) }}

          <h2 class="govuk-heading-m">Link (optional) </h2>

          {{ govukInput({
            id: "banner-link-text",
            name: "banner-link-text",
            label: {
              text: "Link text"
            },
            value: data['banner-link-text']
          }) }}

          {{ govukInput({
            id: "banner-link-url",
            name: "banner-link-url",
            label: {
              text: "Link URL"
            },
            value: data['banner-link-url']
          }) }}

          {% endcall %}


          {% from "govuk/components/button/macro.njk" import govukButton %}

          {{ govukButton({
            text: "Continue"
          }) }}


        </form>



  </div>
</div>

{% endblock %}