

 {# views/your-page.njk #}
<form action="beta-school-check-show" method="post" class="govuk-!-margin-bottom-6">

  <div class="app-inline">
    {# 1) School autocomplete (fallback = select) #}
    <div class="govuk-form-group govuk-!-margin-bottom-0">
      {{ govukSelect({
        id: "school-picker",
        name: "school-picker",
        classes:"govuk-input--width-20",
        label: {
          text: "Enter school name",
          classes: "govuk-label--s"
        },
        value: countryValue or data[countryName or countryID or "country"] or "",
        items: [
          { value: "", text: "" },
          { value: "Abbey Hey Primary Academy", text: "Abbey Hey Primary Academy, 139404, M18 8PF, Manchester" },
          { value: "Abbot's Lea School", text: "Abbot's Lea School, 104736, L25 6EE, Liverpool" },
          { value: "Abraham Moss Community School", text: "Abraham Moss Community School, 150009, M8 5UF, Manchester" },
          { value: "Acacias Community Primary School", text: "Acacias Community Primary School, 105401, M19 2WW, Manchester" },
          { value: "All Saints Academy", text: "All Saints Academy, 141464, PE33 9QJ, Norfolk" },
          { value: "All Saints' CofE School", text: "All Saints' CofE School, 112272, CA13 9BH, Cumberland" },
          { value: "Alma Primary School", text: "Alma Primary School, 145984, EN3 4UQ, Enfield" },
          { value: "Armitage CofE Primary School", text: "Armitage CofE Primary School, 105502, M12 5NP, Manchester" },
          { value: "Ashbury With Compton Beauchamp Church of England Primary School", text: "Ashbury With Compton Beauchamp Church of England Primary School, 149419, SN6 8LN, Oxfordshire" },
          { value: "Baguley Hall Primary School", text: "Baguley Hall Primary School, 105485, M23 1LB, Manchester" },
          { value: "Barlow CofE Primary School", text: "Barlow CofE Primary School, 112798, S18 7TA, Derbyshire" },
          { value: "Beaver Green Primary School", text: "Beaver Green Primary School, 141871, TN23 5DA, Kent" },
          { value: "Benchill Primary School", text: "Benchill Primary School, 132241, M22 8EJ, Manchester" },
          { value: "Birchwood High School", text: "Birchwood High School, 137637, CM23 5BD, Hertfordshire" },
          { value: "Bow Street School", text: "Bow Street School, 142603, WV14 7NB, Wolverhampton" },
          { value: "Cookham Nursery School", text: "Cookham Nursery School, 109754, SL6 9BT, Windsor and Maidenhead" },
          { value: "Dean CofE School", text: "Dean CofE School, 146756, CA14 4TH, Cumberland" },
          { value: "Eagley Infant School", text: "Eagley Infant School, 138011, BL7 9LN, Bolton" },
          { value: "Farleigh School", text: "Farleigh School, 116542, SP11 7PW, Hampshire" },
          { value: "Grace Garden School", text: "Grace Garden School, 148394, BS9 3PE, Bristol, City of" },
          { value: "Islwyn High School", text: "Islwyn High School, 402388, NP12 0DT, Caerphilly" },
          { value: "James Marks Academy", text: "James Marks Academy, 149736, AL7 4RZ, Hertfordshire" },
          { value: "Keelman's Way School", text: "Keelman's Way School, 136252, NE31 1QY, South Tyneside" },
          { value: "Luckwell Primary School", text: "Luckwell Primary School, 145399, BS3 3ET, Bristol, City of" },
          { value: "Mossbrook School", text: "Mossbrook School, 107182, S8 8JR, Sheffield" },
          { value: "Nansloe Academy", text: "Nansloe Academy, 137616, TR13 8JF, Cornwall" },
          { value: "Orion Coopers", text: "Orion Coopers, 136464, BR7 5PS, Bromley" },
          { value: "Park View,", text: "Park View, 150272, BB5 5PJ, Lancashire" },
          { value: "Queen's College", text: "Queen's College, 123913, TA1 4QS, Somerset" },
          { value: "Richmond Academy", text: "Richmond Academy, 139651, OL9 6HY, Oldham" },
          { value: "Sacred Heart School", text: "Sacred Heart School, 114636, TN5 6DQ, East Sussex" },
          { value: "Sandiway Primary School", text: "Sandiway Primary School, 146131, CW8 2ND, Cheshire West and Chester" },
          { value: "Saviour CofE Primary School", text: "Saviour CofE Primary School, 105548, M40 7RH, Manchester" },
          { value: "Seymour Road Academy", text: "Seymour Road Academy, 139078, M11 4PR, Manchester" },
          { value: "St Agnes Academy", text: "St Agnes Academy, 142242, TR5 0LZ, Cornwall" },
          { value: "St Aidan's Catholic Primary School", text: "St Aidan's Catholic Primary School, 142729, CR5 3DE, Croydon" },
          { value: "St Ambrose Prep School", text: "St Ambrose Prep School, 106381, WA15 0HF, Trafford" },
          { value: "St Andrew's School", text: "St Andrew's School, 121252, NR11 8QA, Norfolk" },
          { value: "St Ann's Well Academy", text: "St Ann's Well Academy, 137526, NG3 3PQ, Nottingham" },
          { value: "St Anne's CofE Primary School", text: "St Anne's CofE Primary School, 114220, DL14 6LS, County Durham" },
          { value: "St Anthony's School", text: "St Anthony's School, 119037, CT9 3RA, Kent" },
          { value: "St Augustine Academy", text: "St Augustine Academy, 136923, ME16 8AE, Kent" },
          { value: "St Barnabas CofE Primary School", text: "St Barnabas CofE Primary School, 144334, WR10 2AW, Worcestershire" },
          { value: "St Bernard's School", text: "St Bernard's School, 142309, LN11 8RS, Lincolnshire" },
          { value: "St Catherine's School", text: "St Catherine's School, 102936, TW1 4QJ, Richmond upon Thames" },
          { value: "St Chad's CofE Primary School", text: "St Chad's CofE Primary School, 148749, WS13 6SN, Staffordshire" },
          { value: "St Clare's School", text: "St Clare's School, 147137, DE3 9AZ, Derby" },
          { value: "St Clement Danes School", text: "St Clement Danes School, 136901, WD3 6EW, Hertfordshire" },
          { value: "St Cuthbert Mayne School", text: "St Cuthbert Mayne School, 113551, TQ1 4RN, Torbay" },
          { value: "St Dunstan's School", text: "St Dunstan's School, 137202, BA6 9BY, Somerset" },
          { value: "St Edmund's Catholic School", text: "St Edmund's Catholic School, 100951, E14 3RS, Tower Hamlets" },
          { value: "St Elizabeth's School", text: "St Elizabeth's School, 117665, SG10 6EW, Hertfordshire" },
          { value: "St Francis Xavier School - a Joint Catholic and Church of England Voluntary Academy", text: "St Francis Xavier School - a Joint Catholic and Church of England Voluntary Academy, 147213, DL10 7DA, North Yorkshire" },
          { value: "St James' CofE Academy", text: "St James' CofE Academy, 148982, MK40 4BD, Bedford" },
          { value: "St James School", text: "St James School, 142805, EX4 8NN, Devon" },
          { value: "St John's School", text: "St John's School, 102457, HA5 3ZF, Hillingdon" },
          { value: "St John Fisher Catholic Academy", text: "St John Fisher Catholic Academy, 148855, HG2 8PT, North Yorkshire" },
          { value: "St John CofE Primary School", text: "St John CofE Primary School, Kearsley, 105241, BL4 8AP, Bolton" },
          { value: "St Josephs School", text: "St Josephs School, 112071, PL15 8HN, Cornwall" },
          { value: "St Kentigern's Catholic Primary School", text: "St Kentigern's Catholic Primary School, 149262, FY3 8BT, Blackpool" },
          { value: "St Luke's Academy", text: "St Luke's Academy, 145852, SN2 7AS, Swindon" },
          { value: "St Malachy's RC Primary School", text: "St Malachy's RC Primary School, 105532, M40 7RG, Manchester" },
          { value: "St Margaret's School", text: "St Margaret's School, 100062, NW3 7SR, Camden" },
          { value: "St Margaret's Infant School", text: "St Margaret's Infant School, 144133, ME8 9AE, Medway" },
          { value: "St Mary Magdalene Academy", text: "St Mary Magdalene Academy, 134314, N7 8PG, Islington" },
          { value: "St Martins School", text: "St Martins School, 147143, DE24 0BT, Derby" },
          { value: "St Martin's School", text: "St Martin's School, 101383, NW7 3RG, Barnet" },
          { value: "St Martin's School", text: "St Martin's School, 102454, HA6 2DJ, Hillingdon" },
          { value: "St Martin's School", text: "St Martin's School, 401837, CF83 1UW, Caerphilly" },
          { value: "St Martin's School", text: "St Martin's School, 113940, BH3 7NA, Bournemouth, Christchurch and Poole" },
          { value: "St Marys Catholic Academy", text: "St Marys Catholic Academy, 140114, ST6 8EZ, Stoke-on-Trent" },
          { value: "St Marys CofE Primary School", text: "St Marys CofE Primary School, 147568, SY4 4JR, Shropshire" },
          { value: "St Marys Catholic Primary School", text: "St Marys Catholic Primary School, 114566, TN6 2LB, East Sussex" },
          { value: "St Marys Catholic Primary School", text: "St Marys Catholic Primary School, Wingate, 147929, TS28 5AN, County Durham" },
          { value: "St Marys Church of England Primary Academy", text: "St Marys Church of England Primary Academy, 147633, LS10 2QY, Leeds" },
          { value: "St Mary's RC School", text: "St Mary's RC School, 132465, IM2 5RB, Isle of Man Offshore Establishments" },
          { value: "St Mary's Preparatory", text: "St Mary's Preparatory, 123280, RG9 1HS, Oxfordshire" },
          { value: "St Mary's School Ascot", text: "St Mary's School Ascot, 110120, SL5 9JF, Windsor and Maidenhead" },
          { value: "St Mary's Fields Academy", text: "St Mary's Fields Academy, 150622, LE3 2DH, Leicester" },
          { value: "St Mary's School", text: "St Mary's School, 132475, JE3 3DA, Jersey Offshore Establishments" },
          { value: "St Mary's School", text: "St Mary's School, 110544, SL9 8JQ, Buckinghamshire" },
          { value: "St Mary's School", text: "St Mary's School, 142163, TN21 0BT, East Sussex" },
          { value: "St Mary's School", text: "St Mary's School, 110912, CB2 1LY, Cambridgeshire" },
          { value: "St Mary's Catholic School", text: "St Mary's Catholic School, 140081, NE7 7PE, Newcastle upon Tyne" },
          { value: "St Matthew's CofE School", text: "St Matthew's CofE School, 112308, CA7 3NT, Cumberland" },
          { value: "St Merryn School", text: "St Merryn School, 137623, PL28 8NP, Cornwall" },
          { value: "St Meryl School", text: "St Meryl School, 117166, WD19 5BT, Hertfordshire" },
          { value: "St Minver School", text: "St Minver School, 141283, PL27 6QD, Cornwall" },
          { value: "St Patrick's RC High School", text: "St Patrick's RC High School, 105986, M30 7JJ, Salford" },
          { value: "Tealby School", text: "Tealby School, 120480, LN8 3XU, Lincolnshire" },
          { value: "Unity Academy", text: "Unity Academy, 144023, NG7 4ES, Nottingham" },
          { value: "Waterloo Lodge", text: "Waterloo Lodge, 119853, PR6 7AX, Lancashire" }
        ]
      }) }}
    </div>
  </div>
