{% extends "layouts/FSM/v8-0/layout-dfe-lanav.html" %}
{% set pageName="Guidance for annual rechecks" %}
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
<section class="govuk-!-margin-bottom-8" aria-labelledby="annual-rechecks-heading">
  <h1 class="govuk-heading-l" id="annual-rechecks-heading">{{pageName}}</h1>
  <!-- <p class="govuk-body govuk-!-margin-bottom-1"><strong>Audience:</strong> Local authorities, trusts and schools.</p> -->

  <!-- <h2 class="govuk-heading-m" id="purpose">Purpose</h2> -->
  <p class="govuk-body">This guidance explains how and when to carry out annual free school meal rechecks following the end of transitional protection.</p>

  <h2 class="govuk-heading-m" id="background">Background</h2>
  <p class="govuk-body">
    Transitional protection for free school meals ends after the 2025 to 2026 academic year. From summer 2026 onwards, schools, local authorities and trusts must complete
    annual rechecks to confirm ongoing eligibility.
  </p>

  <h2 class="govuk-heading-m" id="timing">When to recheck</h2>
  <p class="govuk-body">You must:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>complete annual rechecks between the last week of the spring term and the end of September in the autumn term</li>
    <li>start rechecks no earlier than the final week of the spring term</li>
    <li>finish all rechecks by the end of September</li>
    </ul>
     <p class="govuk-body">Applicants confirmed as eligible remain eligible for the full academic year.</p>


  <div class="govuk-inset-text">
    <p class="govuk-body govuk-!-margin-bottom-1">Example</p>
    <p class="govuk-body">
      If you recheck an application in July 2026 and it is eligible, it remains eligible until  August 2027.
      Complete the next recheck from the spring term in 2027.
    </p>
  </div>

  <h2 class="govuk-heading-m" id="non-eligible">Rechecking non-eligible results</h2>
  <p class="govuk-body">
   If an application returns a result of 'not eligible', you should not run another recheck immediately afterwards. Recent changes from data sources may not yet be reflected,
    so repeating the check straight away is unlikely to change the outcome.
  </p>
  <p class="govuk-body">Only recheck again:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>in the next term</li>
    <li>after a known change in the family’s circumstances (for example, a new benefits claim) or the family has corrected the information held about them</li>
    <li>if the family has requested a recheck</li>
  </ul>
  <p class="govuk-body">This approach improves accuracy and reduces unnecessary rechecks.</p>

    <p class="govuk-hint">Last updated: 12 November 2025</p>

</section>




    {%endblock %}