{% extends "layouts/FSM/v7-4/layout-dfe-schoolnav.html" %}
{% set pageName="Review applications" %}

{% block content %}
<div class="govuk-grid-row">
  <!-- <div class="govuk-grid-column-full">
  <h1 class="govuk-heading-l">{{pageName}}</h1>
  </div> -->

  <h1 class="govuk-heading-l">{{pageName}}

      <span id="notifications" class="moj-notification-badge" style="white-space: nowrap; margin-left: 15px; ">21</span>

    </h1>



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <p class="govuk-body">All the children in the table on this page are entitled to free school meals. Now you should finalise their applications.</p>
    </div>
  </div>
</div>

  <div class="govuk-!-padding-bottom-3"></div>

  <div class="govuk-warning-text">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <strong class="govuk-warning-text__text">
      <span class="govuk-visually-hidden">Warning</span>
      You must record these decisions in your school system before marking the applications as completed.
    </strong>
  </div>

<!--
  <h2 class="govuk-heading-m">How to record a decision and mark as completed</h2>

  <ol>
    <li>Add the details of each application to your own system.</li>
    <li>Select all the records you've added using the tick boxes and select 'Mark as completed'.</li>
  </ol>

  <div class="govuk-inset-text">
    You can mark an individual application as completed in the record using the reference number link.
  </div> -->
  <!-- <div class="govuk-!-padding-bottom-3"></div> -->

  <div class="moj-button-action">

    {{ mojButtonMenu({
    items: [{
    text: 'Mark as completed',
    href: 'finalise-apps-areyousure.html'
    }, {
    text: "Download list as CSV",
    href: "#",
    classes: "govuk-button--secondary"
    }]
    }) }}

    <!--
  <div class="moj-button-action">
    {{ govukButton({
      text: 'Finalise applications',
      href: 'finalise-apps-areyousure.html'
    }) }}

    {{ govukButton({
      text: "Download all files",
      classes: "govuk-button--secondary"
    }) }}
  </div>
 <div class="govuk-grid-row">
<div class="govuk-grid-column-full">
-->

    <div class="govuk-!-padding-bottom-5"></div>

    {% set filterOptionsHtml %}

    {{ govukInput({
    id: 'keywords',
    name: 'keywords',
    label: {
    text: 'Keywords',
    classes: 'govuk-label--m'
    }
    }) }}

    {{ govukCheckboxes({
    idPrefix: 'type',
    name: 'type',
    classes: "govuk-checkboxes--small",
    fieldset: {
    legend: {
    text: ' ',
    classes: 'govuk-fieldset__legend--m'
    }
    },
    items: [
    {
    value: '1',
    text: 'Yorkshire (18)',
    checked: true
    },

    {
    value: '2',
    text: 'Humber (12)',
    checked: true
    }
    ]
    }) }}

    {{ govukCheckboxes({
    idPrefix: 'status',
    name: 'status',
    classes: "govuk-checkboxes--small",
    fieldset: {
    legend: {
    text: 'Status',
    classes: 'govuk-fieldset__legend--m'
    }
    },
    items: [
    {
    value: '1',
    text: 'Complete (5)',
    checked: true
    },
    {
    value: '2',
    text: 'Incomplete (3)',
    checked: true
    },
    {
    value: '3',
    text: 'New application (13)',
    checked: true
    }
    ]
    }) }}

    {% endset %}

    <div class="govuk-!-padding-bottom-3"></div>

    <table class="govuk-table" data-module="moj-multi-select" data-multi-select-checkbox="#select-all">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">

          <th class="govuk-table__header" scope="col" id="select-all"></th>
          <th class="govuk-table__header" scope="col">Reference</th>
          <th class="govuk-table__header" scope="col">Parent or guardian</th>
          <th class="govuk-table__header" scope="col">Child</th>
          <th class="govuk-table__header govuk-table__header--numeric" scope="col">Child date of birth</th>
          <th class="govuk-table__header" scope="col">Decision</th>

          <th class="govuk-table__header govuk-table__header--numeric" scope="col">Submission date</th>
          <!-- <th class="govuk-table__header govuk-table__header--numeric" scope="col">Entitled from</th> -->
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row govuk-table__row--selected">
          <td class="govuk-table__cell">
            <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
              <input type="checkbox" class="govuk-checkboxes__input" id="mountain-aconcagua">
              <label class="govuk-label govuk-checkboxes__label" for="mountain-aconcagua">
                <span class="govuk-visually-hidden">Select</span>
              </label>
            </div>
          </td>

          <td class="govuk-table__cell"><a href="../appeal_statuses/eligible" class="govuk-link">44455456</a></td>
          <td class="govuk-table__cell">Jim Smith</td>
          <td class="govuk-table__cell">Arthur Smith</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">18 Sep 2017</td>
          <td class="govuk-table__cell"> {{ govukTag({
            text: "Eligible after review",
            classes: "govuk-tag--green"
            }) }}</td>

          <td class="govuk-table__cell govuk-table__cell--numeric">25 Sep 2023</td>
          <!-- <td class="govuk-table__cell govuk-table__cell--numeric">01 Oct 2023</td> -->
        </tr>

        <tr class="govuk-table__row govuk-table__row--selected">
          <td class="govuk-table__cell">
            <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
              <input type="checkbox" class="govuk-checkboxes__input" id="mountain-aconcagua">
              <label class="govuk-label govuk-checkboxes__label" for="mountain-aconcagua">
                <span class="govuk-visually-hidden">Select</span>
              </label>
            </div>
          </td>

          <td class="govuk-table__cell"><a href="../apply/entitled-rachel" class="govuk-link">44455453</a></td>
          <td class="govuk-table__cell">Eden Tesfay</td>
          <td class="govuk-table__cell">Rachel Tesfay</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">18 Sep 2017</td>
          <td class="govuk-table__cell"> {{ govukTag({
            text: "Eligible",
            classes: "govuk-tag--green"
            }) }}</td>

          <td class="govuk-table__cell govuk-table__cell--numeric">25 Sep 2023</td>
          <!-- <td class="govuk-table__cell govuk-table__cell--numeric">25 Sep 2023</td> -->
        </tr>

        <tr class="govuk-table__row govuk-table__row--selected">
          <td class="govuk-table__cell">
            <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
              <input type="checkbox" class="govuk-checkboxes__input" id="mountain-aconcagua">
              <label class="govuk-label govuk-checkboxes__label" for="mountain-aconcagua">
                <span class="govuk-visually-hidden">Select</span>
              </label>
            </div>
          </td>

          <td class="govuk-table__cell"><a href="../appeal_statuses/emailed-not-eligible"
              class="govuk-link">44455457</a></td>
          <td class="govuk-table__cell">Trevor Sinclair</td>
          <td class="govuk-table__cell">Polly Sinclair</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">18 Sep 2017</td>
          <td class="govuk-table__cell"> {{ govukTag({
            text: "Not eligible after review",
            classes: "govuk-tag--red"
            }) }}</td>

          <td class="govuk-table__cell govuk-table__cell--numeric">25 Sep 2023</td>
          <!-- <td class="govuk-table__cell govuk-table__cell--numeric"></td> -->
        </tr>

      </tbody>
    </table>
  </div>
</div>
</div>

{% endblock %}