{% extends "/layouts/childcare/v1/layout-childcare.html" %}

{% block pageTitle %}
  Run an eligibility check
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l">Run an eligibility check</h1>

    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-visually-hidden">Warning</span>
        This will check for 2 years early learning and Early years pupil premium at the same time.
      </strong>
    </div>

    <div class="dfe-grid-container" >

      <div class="dfe-card">
        <div class="dfe-card-container">
          <h2 class="govuk-heading-m">
              <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="/childcare/v1/multi-check/b/enter-details">Run a check</a>
          </h2>
          <p>Run an eligibility check for one parent or guardian.
          </p>
        </div>
      </div>

        <div class="dfe-card">
          <div class="dfe-card-container">
            <h2 class="govuk-heading-m">
                <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="#">Run a batch check</a>
            </h2>
            <p>Run an eligibility check for multiple parents or guardians.</p>
          </div>
        </div>

    </div>




  </div>
</div>

{% endblock %}