{% extends "/layouts/support/dev/layout-support.html" %}

{% block pageTitle %}
  Support
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">


    <h1 class="govuk-heading-l">Eligibility checking engine support</h1>


    <div class="dfe-grid-container">

      <div class="dfe-card">
        <div class="dfe-card-container">
          <h2 class="govuk-heading-m">
              <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="/support/dev/single-check/single">Run a check</a>
          </h2>
          <p>Run an eligiblity check for one parent or guardian</p>
        </div>
      </div>

      <div class="dfe-card">
        <div class="dfe-card-container">
          <h2 class="govuk-heading-m">
              <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="/support/dev/temp-code/temp-code">Import temporary codes</a>
          </h2>
          <p>Import childcare for working families temporary code files provided by HMRC and view history.</p>
        </div>
      </div>


       <div class="dfe-card">
        <div class="dfe-card-container">
          <h2 class="govuk-heading-m">
              <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="/support/dev/event-history/search-code">View eligibility code history</a>
          </h2>
          <p>View the event listing for a working families code, showing application and reconfirmation history.</p>
        </div>
      </div>


    </div>



  </div>
</div>

{% endblock %}