{% extends "layouts/FSM/research/LA/layout-dfe-lanav.html" %}
{% set parentName = "Alex Johnson" %}
{% set pageName="Request more evidence from " ~ parentName %}

{% block content %}

<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">{{pageName}}</h1>


            <div class="govuk-form-group">
                <h2 class="govuk-label-wrapper">
                    <label class="govuk-label govuk-label--m" for="more-detail">
                        Give a reason for requesting more evidence
                    </label>
                </h2>
                 <div id="more-detail-hint" class="govuk-hint">
                    Do not include personal or financial information like the child's name, parent's National Insurance
                    number or statement details.
                </div>
                <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="5"
                    aria-describedby="more-detail-hint"></textarea>
            </div>


            <div class="govuk-warning-text">
                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                <strong class="govuk-warning-text__text">
                    <span class="govuk-visually-hidden">Warning</span>
                    Parents and guardians can request access to the request for more evidence for their application as
                    part of a Freedom of Information request.
                </strong>
            </div>

<!-- <div class="govuk-inset-text"> If you request more evidence, the parent or guardian will have to provide additional information to their school. -->
<!-- </div> -->


        </div>
    </div>
</div>

<div class="govuk-!-padding-bottom-3"></div>


{{ govukButton({
text: "Submit request",
href: 'eligibility-requested'
}) }}

{{ govukButton({
text: "Return to record",
classes: "govuk-button--secondary",
href: '../pending-list'
}) }}

<div class="govuk-!-padding-bottom-3"></div>

</div>
</div>

{% endblock %}

{% block pageScripts %}
<script type="text/javascript" src="/public/javascripts/moj/all.js"></script>
{% endblock %}