{% extends "../../current/checker-la/layouts/layout-dfe.html" %}

{% set pageName="Home" %}



{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">The children of this parent/guardian may not be entitled to free school meals</h1>

    <p>To confirm, you’ll need to review their supporting evidence. </p>
    <h2>How to review</h2>
<p>Go to the <a href="">Guidance for reviewing evidence</a> page to see a complete list of acceptable evidence types. If you haven’t received any evidence yet, contact the relevant school to ask them to collect it from the parent/guardian. </p>

<p>Alternatively, you can contact the Department for Education support desk at <a href="">ecs.admin@education.gov.uk</a> to arrange a separate check. </p>

  <p><a href="">Go to your portal homepage</a></p>
  <p><a href="">Sign out of the portal</a></p>





















  </div>
</div>

{% endblock %}

{% block pageScripts %}
<script type="text/javascript" src="/public/javascripts/moj/all.js"></script>
{% endblock %}