{# 1 #}
{% from 'node_modules/dfe-frontend/packages/components/header/macro.njk' import header %}

{# 2 #}
{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{# 3 #}
{% block header %}

{{ header({
    "showNav": "true",
    "showSearch": "false",
    "showHeaderActionLinks": "true",
    "logoPath": "public/images",
    "searchAction": "/search/",
    "searchInputName": "q",
    "logoAltText": "Department for Education",
    "homeHref": "https://gov.uk",
    "selectedNav": view,
    "service": {
      "name": "Check a family's eligibility",
      "serviceUrl": "/"
    },
    "headerActionLinks": [
      {
        "url"  : "/index.html",
        "label" : " "
      },
      {
        "url"  : "/",
        "label" : "Sign out"
      }
    ],
    "primaryLinks": [
        {
        "url"  : "/mvp3/_school/dashboard",
        "label" : "Dashboard"
      }, {
        "url"  : "#",
        "label" : "Wrong layout "
      }, {
        "url"  : "#",
        "label" : " "
      }, {
        "url"  : "#",
        "label" : " "
      }
    ]
  })
}}



<div class="app-phase-banner__wrapper">

  <div class="govuk-phase-banner app-phase-banner govuk-width-container">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service - your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

</div>

{% endblock %}

{% block beforeContent %}



{% endblock %}

{% block footer %}
 {{ govukFooter({
   meta: {
     items: [
       {
         href: "../privacy",
         text: "Privacy policy"
       },
       {
        href: "../accessibility",
        text: "Accessibility"
      },
       {
         href: "../cookies",
         text: "Cookies"
       },
       {
        href: "../contact",
        text: "Contact us"
      },
      {
        href:"/manage-prototype",
        text:"Manage your prototype"
      },
       {
         href: "/manage-prototype/clear-data",
         text: "Clear data"
       }
     ],
     visuallyHiddenTitle: "Footer links"
   }
 }) }}
{% endblock %}

{# 4 #}
{% block scripts %}
  {{ super() }}
  <script src="/public/javascripts/dfefrontend.js"></script>
  <script type="text/javascript" src="assets/javascripts/autocomplete.js"></script>
  <link rel="stylesheet" href="assets/css/accessible-autocomplete.min.css" />
  <script type="text/javascript" src="/public/javascripts/moj/all.js"></script>
<script type="text/javascript">
  if (typeof MOJFrontend.MultiFileUpload !== "undefined") {
  new MOJFrontend.MultiFileUpload({
    container: $(".moj-multi-file-upload"),
    uploadUrl: "/ajax-upload",
    deleteUrl: "/ajax-delete",
  });
}

</script>
{% endblock %}

{%- from "govuk/components/button/macro.njk" import govukButton -%}
{%- from "govuk/components/date-input/macro.njk" import govukDateInput -%}
{%- from "govuk/components/fieldset/macro.njk" import govukFieldset -%}
{%- from "govuk/components/input/macro.njk" import govukInput -%}
{%- from "govuk/components/textarea/macro.njk" import govukTextarea -%}

<div data-module="moj-add-another">

  <h2 class="govuk-heading-l moj-add-another__heading" tabindex="-1">Add a person</h2>

  <form method="post">

    {% call govukFieldset({
      classes: 'moj-add-another__item',
      legend: {
        text: 'Person',
        classes: 'moj-add-another__title govuk-fieldset__legend--m',
        isPageHeading: false
      }
    }) %}

    {{ govukInput({
      id: 'person[0][first_name]',
      name: 'person[0][first_name]',
      label: {
        html: 'First name',
        classes: 'govuk-!-font-weight-bold'
      },
      attributes: {
        'data-name': 'person[%index%][first_name]',
        'data-id': 'person[%index%][first_name]'
      }
    }) }}

    {{ govukInput({
      id: 'person[0][last_name]',
      name: 'person[0][last_name]',
      label: {
        html: 'Last name',
        classes: 'govuk-!-font-weight-bold'
      },
      attributes: {
        'data-name': 'person[%index%][last_name]',
        'data-id': 'person[%index%][last_name]'
      }
    }) }}

    {{ govukDateInput({
      id: "date-of-birth",
      fieldset: {
        legend: {
          text: "Date of birth",
          classes: "govuk-fieldset__legend--s"
        }
      },
      hint: {
        text: "For example, 31 3 1980"
      },
      items: [
        {
          id: "person[0][dob][day]",
          name: "person[0][dob][day]",
          label: "Day",
          classes: "govuk-input--width-2",
          attributes: {
            'data-name': 'person[%index%][dob][day]',
            'data-id': 'person[%index%][dob][day]'
          }
        },
        {
          id: "person[0][dob][month]",
          name: "person[0][dob][month]",
          label: "Month",
          classes: "govuk-input--width-2",
          attributes: {
            'data-name': 'person[%index%][dob][month]',
            'data-id': 'person[%index%][dob][month]'
          }
        },
        {
          id: "person[0][dob][year]",
          name: "person[0][dob][year]",
          label: "Year",
          classes: "govuk-input--width-2",
          attributes: {
            'data-name': 'person[%index%][dob][year]',
            'data-id': 'person[%index%][dob][year]'
          }
        }
      ]
    }) }}

    {% endcall %}

    <div class="moj-button-action">
      {{ govukButton({
        text: 'Add another person',
        classes: 'govuk-button--secondary moj-add-another__add-button govuk-!-margin-bottom-4'
      }) }}
    </div>

    <div class="moj-button-action">
      {{ govukButton({
        text: 'Submit'
      }) }}
    </div>

  </form>

</div>