{# 1 #}
{% from 'node_modules/dfe-frontend/packages/components/header/macro.njk' import header %}

{# 2 #}
{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% set govukRebrand = true %}

{# 3 #}
{% block header %}

<header class="govuk-header" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
      <div class="govuk-header__logo">
        <a href="/FSM/index/index-fsm" class="govuk-header__link govuk-header__link--homepage">
            <img src="/public/images/department-for-education_white.png" alt="Department for Education" class="govuk-header__logotype">
        </a>
      </div>
  </div>
</header>

{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{{ govukServiceNavigation({
  serviceName: "Eligibility checking services prototypes",
  serviceUrl: "/index",
  navigation: [
    {
      href: "/FSM/index/index-fsm",
      text: "Free school meals",
      active: "true"
    },
    {
      href: "/childcare/index-childcare",
      text: "Childcare"
    },
    {
      href: "/support/index-support",
      text: "Support portal"
    }
  ]
}) }}

{% endblock %}


{% block footer %}
 {{ govukFooter({
   meta: {
     items: [
      {
        href:"/manage-prototype",
        text:"Manage your prototype"
      },
       {
         href: "/manage-prototype/clear-data",
         text: "Clear data"
       }
     ],
     visuallyHiddenTitle: "Footer links"
   }
 }) }}
{% endblock %}

