{% extends "layouts/FSM/v8-1/family/layout-dfe-parent.html" %}
{% set pageName="Apply for free school meals with supporting evidence" %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}


{% block content %}



<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-l">Apply for free school meals with supporting evidence</h1>

            <p>If you think your children are eligible for free school meals, you can provide supporting evidence.</p>

            <p>You can provide:</p>

            <ul class="govuk-list govuk-list--bullet">
                  <li>up to three of your latest Universal Credit statements </li>
                  <li>a letter of Entitlement for income-related Employment and Support Allowance (ESA)</li>
                  <li>a letter of Entitlement for the guaranteed element of Pension Credit</li>
                  <li>documents showing you are receiving relevant support under part VI of the Immigration and Asylum Act 1999</li>
            </ul>






            <h2 class="govuk-heading-m">How to apply</h2>

            <ol>
                  <li>Sign in or create a GOV.UK One Login.</li>
                  <li>Add the details of all your children and their schools.</li>
                  <li>Upload your evidence.</li>
                  <li>Send your application to the school.</li>
            </ol>

            <p>Make sure you have your evidence ready before you apply. </p>
             {{ govukButton({
                  text: "Apply now",
                  href: "../../account/appeal/login/signin-or-create"
            }) }}

            <h2 class="govuk-heading-m">Other ways to apply</h2>

            <p>You can also apply in person.</p>

             <ol>
                  <li>complete the free school meals claim form.</li>
                  <li>get your evidence ready</li>
                  <li>make an appointment to attend your children's school</li>
                  <li>Your school or local authority will review your application and evidence</li>
            </ol>

            <p><a href="">Download the Free school meals claim form</a></p>


      </div>
</div>

 {% endblock %}