{% extends "layouts/layout-dfe-signed-out.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Important
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <p class="govuk-notification-banner__heading">
          Not all schools are included in this test service.
        </p>
        <p class="govuk-body">This is a new service that is being tested with a small selection of schools.</p>

      </div>
    </div>



    <h1 class="govuk-heading-l">Schools included in this test service</h1>

    <ul class="govuk-list govuk-list--bullet">
      <li>Bradley Primary School</li>
      <li>Burley Oaks Primary School</li>
      <li>Cononley Primary School</li>
      <li>Ermysteds Grammar School</li>
      <li>Grassington Primary School</li>
      <li>Ilkley Grammar School</li>
      <li>Settle College</li>
      <li>South Craven School</li>
      <li>Upper Wharfedale School</li>
    </ul>

<!--If yes go to </mvp2/parent-soft-check/account/beta-school-check>!-->
<!--If yes go to </mvp2/parent-soft-check/account/beta-school-check-no>!-->


    <form action="/form-handler" method="post" novalidate>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h2 class="govuk-fieldset__heading">
              Do any of your children go to these schools?
            </h2>
          </legend>

          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="whereDoYouLive" name="whereDoYouLive" type="radio" value="england">
              <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio" value="scotland">
              <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>
      <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </form>
  </div>
</div>



{% endblock %}