{
  "parent": {
    "firstName": "Alex",
    "surname": "Johnson",
    "dob": "15 Mar 1980",
    "email": "alex.johnson@gmail.com",
    "nationalInsurance": "AB123456C",
    "id": "44455454A",
    "children": [
      {
        "id": "child1",
        "firstName": "Emily",
        "surname": "Johnson",
        "dob": "22 Sep 2012",
        "school": "Greenwood Primary School",
        "address": "Hoddesdon EN11 8JY",
        "reference": "44455453"
      },
      {
        "id": "child2",
        "firstName": "Rory",
        "surname": "Johnson",
        "dob": "08 Jan 2018",
        "school": "Watford Grammar School for Boys",
        "address": "Watford WD17 3AA",
         "reference": "44455458"
      }
    ]
  }
}
