{% extends "/layouts/FSM/v7-3/layout-dfe-support.html" %}
{% set pageName="Eligibility checking support service" %}
{% block pageTitle %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

        <div class="govuk-notification-banner govuk-notification-banner--success" role="alert"
          aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
          <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
              System is working normally
            </h2>
          </div>
          <div class="govuk-notification-banner__content">
            <h3 class="govuk-notification-banner__heading">
                There are no issues with the service.<span> Last updated: {{ "now" | date("d/m/Y H:i") }}</span>
                <br> <a href="/service-status">View system status</a>
                <br>

            </h3>
          </div>
        </div>
<!--

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-quarter">
              <nav class="moj-side-navigation" aria-label="Side navigation">
                <ul class="moj-side-navigation__list">
                  <li class="moj-side-navigation__item moj-side-navigation__item--active">
                    <a href="#1" aria-current="location">System status</a>
                  </li>
                  <li class="moj-side-navigation__item">
                    <a href="#2">Manual queries</a>
                  </li>
                  <li class="moj-side-navigation__item">
                    <a href="#3">View reports</a>
                  </li>
                  <li class="moj-side-navigation__item">
                    <a href="#4">Account users</a>
                  </li>
                  <li class="moj-side-navigation__item">
                    <a href="#5">Batch check history</a>
                  </li>
                  <li class="moj-side-navigation__item">
                    <a href="#6">View as a LA user</a>
                  </li>
                </ul>
              </nav>
            </div>
            <div class="govuk-grid-column-three-quarters"> -->

       <!--- <span class="govuk-caption-l">Rodney Lee </span>
      <h1 class="govuk-heading-l">
        {{pageName}}
      </h1>
    -->
      <h1 class="govuk-heading-l">
       DfE {{pageName}}
      </h1>
      <!-- <p class="govuk-heading-s">Number of checks completed are for the academic year 2024/2025. </p> -->
      <div class="govuk-grid-row" style="margin-bottom: 20px;">
        <div class="govuk-grid-column-one-third">
          <div class="dfe-card" style="background-color: #5d7490; color: white; pointer-events: none;">
        <div class="dfe-card-container">
          <h3 class="govuk-heading-m" style="color: white;">Checks completed</h3>
          <p class="govuk-heading-xl" style="color: white;">123,456</p>
        </div>
          </div>
        </div>
        <div class="govuk-grid-column-one-third">
          <div class="dfe-card" style="background-color: #5d7490; color: white; pointer-events: none;">
        <div class="dfe-card-container">
          <h3 class="govuk-heading-m" style="color: white;">Number of applications</h3>
          <p class="govuk-heading-xl" style="color: white;">119,900</p>
        </div>
          </div>
        </div>
        <div class="govuk-grid-column-one-third">
          <div class="dfe-card" style="background-color: #5d7490; color: white; pointer-events: none;">
        <div class="dfe-card-container">
          <h3 class="govuk-heading-m" style="color: white;">Number of manual queries</h3>
          <p class="govuk-heading-xl" style="color: white;">5,432</p>
        </div>
          </div>
        </div>
      </div>



    <div class="dfe-grid-container">
      <!-- <div class="dfe-card">
        <div class="dfe-card-container">
          <h3 class="govuk-heading-m">
            <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header"
              href="dfe-batchcheck/batchhistory.html">System status</a>
            </h2>
            <p>View the system status and update users of potential issues</p>
        </div>
      </div> -->
      <div class="dfe-card">
        <div class="dfe-card-container">
          <h3 class="govuk-heading-m">
            <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header"
              href="dfe-batchcheck/batchhistory.html">Batch check history</a>
            </h2>
            <p>View a history of batch checks carried out by LAs</p>
        </div>
      </div>
      <div class="dfe-card">
        <div class="dfe-card-container">
          <h2 class="govuk-heading-m">
            <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header"
              href="school-manage/batch-checking/upload">Run a manual query</a>
          </h2>
          <p>Run a manual eligibility check on behalf of a LA</p>
        </div>
      </div>
      <div class="dfe-card">
        <div class="dfe-card-container">
          <h2 class="govuk-heading-m">
            <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header"
              href=" ">View and create reports</a>
          </h2>
          <p>TBC</p>
        </div>
      </div>
      <div class="dfe-card">
        <div class="dfe-card-container">
          <h2 class="govuk-heading-m">
            <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header"
              href=" ">View a list of account users</a>
          </h2>
          <p>View users on your account</p>
      </div>
      </div>
      <div class="dfe-card">
        <div class="dfe-card-container">
          <h2 class="govuk-heading-m">
            <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header"
              href=" ">View as a LA user</a>
          </h2>
          <p>View the service as a LA user</p>
        </div>
    </div>
    <div class="dfe-card">
      <div class="dfe-card-container">
        <h2 class="govuk-heading-m">
          <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header"
            href=" ">View as a school user</a>
        </h2>
        <p>View the service as a school user</p>
      </div>
  </div>

    {% endblock %}