{% extends "layouts/FSM/v7-4/welsh/layout-dfe-welshnav-noback.html" %}
{% set pageName="Swansea" %}
{% set Service="Manage eligibility for free school meals" %}
{% set view="dashboard" %}
{% set address="Oystermouth Road Swansea SA1 3SN" %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
        <span class="govuk-caption-l">{{pageName}}</span>
<div class="govuk-width-container">
    <h1 class="govuk-heading-l">
      {{Service}}
    </h1>

    <div class="dfe-grid-container">
      <div class="dfe-card">
        <div class="dfe-card-container">
          <h3 class="govuk-heading-m">
            <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header"
              href="welsh-manage/welsh-soft-check/checker.html">Run a check for one parent or guardian</a>
          </h3>
          <p>Run an eligibility check for one parent or guardian.</p>
        </div>
      </div>
      <div class="dfe-card">
        <div class="dfe-card-container">
          <h2 class="govuk-heading-m">
            <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header"
              href="welsh-manage/batch-checking/manual-no-ctf.html">Run a batch check</a>
          </h2>
          <p>Run an eligibility check for multiple parents or guardians.</p>
        </div>
      </div>


      <!-- <div class="dfe-card">
        <div class="dfe-card-container">
          <h2 class="govuk-heading-m">
            <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header"
              href="la-manage/decision/pending-list">Review applications</a>
          </h2>
          <p>Review evidence provided for pending applications.</p>
        </div>
      </div> -->

       <!-- <div class="dfe-card">
        <div class="dfe-card-container">
          <h2 class="govuk-heading-m">
            <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header"
              href="la-manage/recheck-op-b/recheck copy.html">Recheck applications</a>
          </h2>
          <p>Recheck eligibility for children already receiving free school meals.</p>
        </div>
      </div> -->

      <!-- <div class="dfe-card">
        <div class="dfe-card-container">
          <h2 class="govuk-heading-m">
            <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header"
              href="welsh-manage/report/search2.html">Search all records</a>
          </h2>
          <p>Search all pupil free school meal records and export results.</p>
        </div>
      </div> -->

      <div class="dfe-card">
        <div class="dfe-card-container">
          <h2 class="govuk-heading-m">
            <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="welsh-manage/guidance/guidance.html">Guidance</a>
          </h2>
          <p>Read guidance on how to review supporting evidence.</p>
        </div>
      </div>

    <div class="dfe-card">
            <div class="dfe-card-container">

              <h2 class="govuk-heading-m">
                <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header"
                  href="../_offline/fsm-print-version-welsh.html">Download PDF form</a>
              </h2>
              <p>Download an eligibility form for parents to complete.</p>
            </div>
          </div>
      <!-- <div class="dfe-card">
        <div class="dfe-card-container">
          <h2 class="govuk-heading-m">
            <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="la-manage/report/archive.html">Archived records</a>
          </h2>
          <p>View and restore archived records.</p>
        </div>
      </div> -->

</div>
</div>
</div>
</div>
</div>

{% endblock %}