{% extends "/layouts/childcare/v5/layout-childcare.html" %}

{% block pageTitle %}
  May not be eligible
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h1 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          May not be eligible
        </h1>
      </div>
      <div class="govuk-notification-banner__content">
        <h3 class="govuk-notification-banner__heading">
          The children of this parent or guardian may not be eligible for {{ data['eligibility-type'] }}.
        </h3>
        <p class="govuk-body">They'll need to provide supporting evidence if they think they're eligible.</p>
      </div>
    </div>

    <h2 class="govuk-heading-m">Parent or guardian details</h2>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Last name
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data["last-name"] or "Tesfay" }}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Date of birth
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data["dob-day"] or "10" }} {{ data["dob-month"] or "April" }} {{ data["dob-year"] or "1984" }}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          National Insurance number
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data["ni-number-entered"] or "PB123456C" }}
        </dd>
      </div>
    </dl>

    <h2 class="govuk-heading-m govuk-!-margin-top-8">What to do next</h2>

    <p>You can <a href="" class="govuk-link" onclick="printPage()">print this page</a> for the parent or guardian to keep.</p>


    <p class="govuk-body">If the parent or guardian provides supporting evidence, you'll need to review it and decide if they're eligible.</p>

    <p class="govuk-body"><a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#">See a complete list of acceptable evidence (opens in new tab)</a>.</p>


    {% from "govuk/components/button/macro.njk" import govukButton %}

      {{ govukButton({
        text: "Run another check",
        href: '/childcare/v5/single-check/single'
      }) }}

    <!--
    <h3 class="govuk-heading-s">If you have not received any evidence</h3>
    <p class="govuk-body">You can either contact:</p>


    <ul class="govuk-list govuk-list--bullet">
      <li>the relevant childcare provider to ask them to collect it from the parent or guardian</li>
      <li>the <a href="#">Department for Education support desk</a> to request a separate check</li>
    </ul>

  -->


  </div>
</div>

<script>
  function printPage() {
      window.print();  // This will open the print dialog
  }
</script>

{% endblock %}