{% extends "/layouts/FSM/v7-1/layout-dfe-schoolnav.html" %}
{% set pageName="Run a check for one parent or guardian" %}
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-error-summary" data-module="govuk-error-summary">
      <div role="alert">
        <h2 class="govuk-error-summary__title">
          There is a problem
        </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <li>
              <a href="#">Enter your full name</a>
            </li>
            <li>
              <a href="#">The date your passport was issued must be in the past</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <h1 class="govuk-heading-l">Declaration for schools to support parents</h1>
    <h2 class="govuk-heading-m">Next steps</h2>


    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="declaration-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
          <h1 class="govuk-fieldset__heading">
            Confirm
          </h1>
        </legend>
        <div id="nationality-hint" class="govuk-hint">
          You have to confirm this
        </div>
        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="nationality" name="nationality" type="checkbox" value="british"
              aria-describedby="nationality-item-hint">
            <label class="govuk-label govuk-checkboxes__label" for="nationality">
              British
            </label>
          </div>
        </div>
      </fieldset>
    </div>


    <button type="submit" class="govuk-button" id="submitButton" data-module="govuk-button">
      Save and continue
    </button>

    {% endblock %}
    {% block pageScripts %}
    <script type="text/javascript" src="/public/javascripts/moj/all.js"></script>
    <script type="text/javascript">
      document.getElementById('submitButton').addEventListener('click', function(event) {
        var checkbox = document.getElementById('nationality');
        if (!checkbox.checked) {
          event.preventDefault();
          window.location.href = 'declaration-error.html'; // Redirect to an error page
        } else {
          window.location.href = 'checker.html'; // Redirect to checker.html if checkbox is checked
        }
      });
    </script>
    {% endblock %}