     <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">44455453</td>
            <td class="govuk-table__cell">Emily Johnson</td>
            <td class="govuk-table__cell">22 Sep 2012</td>
            <td class="govuk-table__cell">Hilltop Elementary</td>
            <td class="govuk-table__cell">Alex Johnson</td>
            <td class="govuk-table__cell">25 Aug 2025</td>
            <td class="govuk-table__cell">25 Feb 2026</td>
            <td class="govuk-table__cell">
            <a href="/la-manage/decision/records/archived/view_johnson1.html" class="govuk-link">View</a>     </td>
            <td class="govuk-table__cell">
              <a href="../decision/records/archived/restore-johnson1.html" class="govuk-link">Restore</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">45678766</td>
            <td class="govuk-table__cell">Maya Patel</td>
            <td class="govuk-table__cell">15 Feb 2017</td>
            <td class="govuk-table__cell">Greenwood High</td>
            <td class="govuk-table__cell">Anita Patel</td>
            <td class="govuk-table__cell">28 Feb 2025</td>
            <td class="govuk-table__cell"style="color: red;">28 Aug 2025</td>
            <td class="govuk-table__cell">
              <a href="/FSM/Private_beta/v7-3/LA/la-manage/decision/records/archived/view_johnson1.html" class="govuk-link">View</a>
            </td>
            <td class="govuk-table__cell">
              <a href="/la-manage/report/archive/a2/restore" class="govuk-link">Restore</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">45678767</td>
            <td class="govuk-table__cell">Liam Smith</td>
            <td class="govuk-table__cell">03 Mar 2016</td>
            <td class="govuk-table__cell">Riverdale Academy</td>
            <td class="govuk-table__cell">Sarah Smith</td>
            <td class="govuk-table__cell">01 Aug 2025</td>
            <td class="govuk-table__cell">01 Feb 2026</td>
            <td class="govuk-table__cell">
              <a href="/la-manage/report/archive/a3" class="govuk-link">View</a>
            </td>
            <td class="govuk-table__cell">
              <a href="/la-manage/report/archive/a3/restore" class="govuk-link">Restore</a>
            </td>
          </tr>
           <tr class="govuk-table__row">
            <td class="govuk-table__cell">44455455</td>
            <td class="govuk-table__cell">Mia Evans</td>
            <td class="govuk-table__cell">22 Aug 2019</td>
            <td class="govuk-table__cell">Riverside Academy</td>
            <td class="govuk-table__cell">Rachel Evans</td>
            <td class="govuk-table__cell">28 Aug 2025</td>
            <td class="govuk-table__cell">28 Feb 2026</td>
            <td class="govuk-table__cell">
              <a href="/FSM/Private_beta/v7-3/LA/la-manage/decision/records/archived/view_evans1.html" class="govuk-link">View</a>
            </td>
            <td class="govuk-table__cell">
              <a href="/FSM/Private_beta/v7-3/LA/la-manage/decision/records/archived/restore-evans1.html" class="govuk-link">Restore</a>
            </td>
          </tr>
        </tbody>



{% set childId = "44455453" %}
{% set childDOB = "22 Sep 2012" %}
{% set schoolName = "Hilltop Elementary" %}
{% set schoolAddress = "Manchester, M25 1QA" %}
{% set parentDOB = "15 Mar 1980" %}
{% set parentName = "Alex Johnson" %}
{% set email = "alex.johnson@example.com" %}
{% set nationalInsurance = "AB123456C" %}
{% set parentId = "44455454A" %}
{% set childName = "Emily Johnson" %}