<!-- <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="LA">
        <span class="govuk-caption-m">version 7-1 </span>

        <h2 class="govuk-heading-l">LA users</h2>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
          </div>
        </div> -->
        <ul class="govuk-task-list">


          <li class="govuk-task-list__item govuk-task-list__item">
            <div class="govuk-task-list__name-and-hint">
              <strong>LA Onboarding to the service </strong>
            </div>
            <div class="govuk-task-list__status" id="status-6"> </div>
          </li>

          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link" href="/FSM/Private_beta/v7-3/dsi-account/dsi-startnow.html"
                aria-describedby="devready-2-status">Start now - DfE</a>
              </a>
            </div>
            <div class="govuk-task-list__status" id="devready-1-status">
              In Live
            </div>
          </li>
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="/FSM/Private_beta/v7-3/dsi-account/dsi-signin.html"
                aria-describedby="devready-2-status">
                Sign into DSi
              </a>
            </div>
            <div class="govuk-task-list__status" id="devready-2-status">
              <!-- <strong class="govuk-tag govuk-tag--blue"> -->
              In Live
              </strong>
          </li>
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="/FSM/Private_beta/v7-3/dsi-account/dsi-landingpage.html"
                aria-describedby="devready-2-status">
                Services page
              </a>
            </div>
            <div class="govuk-task-list__status" id="devready-2-status">
              <!-- <strong class="govuk-tag govuk-tag--blue"> -->
              In Live
              </strong>
          </li>
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="./Private_beta/v7-3/LA/dashboard.html"
                aria-describedby="status-1">
                LA Dashboard start
              </a>
            </div>
            <div class="govuk-task-list__status" id="status-1"> In Live</div>
          </li>

          <li class="govuk-task-list__item govuk-task-list__item">
            <div class="govuk-task-list__name-and-hint">
              <strong>Individual check </strong>
            </div>
            <div class="govuk-task-list__status" id="status-6"> </div>
          </li>

          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link"
                href="./Private_beta/v7-3/LA/la-manage/la-soft-check/checker.html" aria-describedby="status-1">
                Individual check
              </a>
            </div>
            <div class="govuk-task-list__status" id="status-1">Design signed off</div>
          </li>
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link"
                href="./Private_beta/v7-3/LA/la-manage/la-soft-check/checker/outcomes/eligible.html"
                aria-describedby="status-4">
                Outcome - eligible, found
              </a>
            </div>
            <div class="govuk-task-list__status" id="status-4">Design signed off</div>
          </li>

          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link"
                href="./Private_beta/v7-3/LA/la-manage/la-soft-check/outcomes/outcome-not-entitled.html"
                aria-describedby="status-5">
                Outcome - may not be eligible
              </a>
            </div>
            <div class="govuk-task-list__status" id="status-5">Design signed off</div>
          </li>

          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link"
                href="./Private_beta/v7-3/LA/la-manage/la-soft-check/outcomes/outcome-could-not-find.html"
                aria-describedby="status-6">
                Outcome - could not find no trace
              </a>
            </div>
            <div class="govuk-task-list__status" id="status-6">Design signed off</div>
          </li>

          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link"
                href="./Private_beta/v7-3/LA/la-manage/la-soft-check/outcomes/outcome-could-not-find-pending.html"
                aria-describedby="status-7">
                Outcome - could not find pending
              </a>
            </div>
            <div class="govuk-task-list__status" id="status-7">Design signed off</div>
          </li>

          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link"
                href="./Private_beta/v7-3/LA/la-manage/la-soft-check/outcomes/outcome-technical-error.html"
                aria-describedby="status-8">
                Technical error
              </a>
            </div>
            <div class="govuk-task-list__status" id="status-8">Design signed off</div>
          </li>

          <li class="govuk-task-list__item govuk-task-list__item">
            <div class="govuk-task-list__name-and-hint">
              <strong>Batch check - needs updating to latest</strong>
            </div>
            <div class="govuk-task-list__status" id="status-6"> </div>
          </li>
<!--
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link"
                href="./Private_beta/v7-3/LA/la-manage/batch-checking/manual-no-ctf.html.html" aria-describedby="status-9">
                Batch check eligibility
              </a>
            </div>
            <div class="govuk-task-list__status" id="status-9">Design signed off</div>
          </li>

          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link"
                href="./Private_beta/v7-3/LA/la-manage/batch-checking/batch-error-not-accepted.html"
                aria-describedby="status-9">
                Batch check eligibility - error example
              </a>
            </div>
            <div class="govuk-task-list__status" id="status-9"> <span class="moj-badge moj-badge--blue">Recently added
              </span> Ready for review</div>
          </li>

          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint"> <a class="govuk-link govuk-task-list__link"
                href="./Private_beta/v7-3/LA/la-manage/batch-checking/imported-records.html"
                aria-describedby="status-11">
                Imported records
              </a>
            </div>
            <div class="govuk-task-list__status" id="status-11">
              <span class="moj-badge moj-badge--green">Recently added </span> Design signed off
            </div>
          </li>

          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint"> <a class="govuk-link govuk-task-list__link"
                href="./Private_beta/v7-3/LA/la-manage/batch-checking/imported-errors.html"
                aria-describedby="status-11">
                Imported records - errors
              </a>
            </div>
            <div class="govuk-task-list__status" id="status-11">
              <span class="moj-badge moj-badge--red">Recently added </span> Ready for review
            </div>
          </li>

          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link"
                href="./Private_beta/v7-3/LA/la-manage/batch-checking/batch-checking-loader.html"
                aria-describedby="status-12">
                Progress bar
              </a>
            </div>
            <div class="govuk-task-list__status" id="status-12">
              <span class="moj-badge moj-badge--green">Recently added </span> Design signed off
            </div>
          </li> -->

          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint"> <a class="govuk-link govuk-task-list__link"
                href="./Private_beta/v7-3/LA/la-manage/batch-checking/batch-checking-loader-technical-error.html"
                aria-describedby="status-11">
                Technical error - batch check
              </a>
            </div>
            <div class="govuk-task-list__status" id="status-11">
              <!-- <span class="moj-badge moj-badge--red">Recently added </span> -->
               Design signed off
            </div>
          </li>

          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link"
                href="./Private_beta/v7-3/LA/la-manage/batch-checking/batch-check-success.html"
                aria-describedby="status-13">
                Checks completed - results
              </a>
            </div>
            <div class="govuk-task-list__status" id="status-13">
              <!-- <span class="moj-badge moj-badge--green">Recently added</span>  -->
              Design signed off</div>
          </li>

          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="./Private_beta/v7-3/LA/la-manage/records/batch-records/eligible/batch-confirm-eligible.html
                " aria-describedby="status-13">
                Application created - eligible result
              </a>
            </div>
            <div class="govuk-task-list__status" id="status-13">
              <!-- <span class="moj-badge moj-badge--green">Recently added</span>  -->
              Design signed off</div>
          </li>

          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link"
                href="./Private_beta/v7-3/LA/la-manage/records/batch-records/not-eligible/batch-confirm-appeal.html"
                aria-describedby="status-13">
                Application created - not eligible result
              </a>
            </div>
            <div class="govuk-task-list__status" id="status-13">
              <!-- <span class="moj-badge moj-badge--green">Recently added</span>  -->
              Design signed off</div>
          </li>



          <li class="govuk-task-list__item govuk-task-list__item">
            <div class="govuk-task-list__name-and-hint">
              <strong>Manage applications </strong>
            </div>
            <div class="govuk-task-list__status" id="status-6"> </div>
          </li>

          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link"
                href="./Private_beta/v7-3/LA/la-manage/decision/pending-list.html" aria-describedby="status-14">
                Pending applications - appeals to review
              </a>
            </div>
            <div class="govuk-task-list__status" id="status-14">Design signed off</div>
          </li>

          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link"
                href="./Private_beta/v7-3/LA/la-manage/decision/records/pending_johnson1.html" aria-describedby="status-15">
                Child record - pending review
              </a>
            </div>
            <div class="govuk-task-list__status" id="status-15">Design signed off</div>
          </li>

          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link"
                href="./Private_beta/v7-3/LA/la-manage/decision/records/evidence.html" aria-describedby="status-16">
                View Supporting evidence </a>
            </div>
            <div class="govuk-task-list__status" id="status-16">In development</div>
          </li>



          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link"
                href="./Private_beta/v7-3/LA/la-manage/decision/records/approve-johnson1.html"
                aria-describedby="status-18">
                Approve application - eligibility confirmed
              </a>
            </div>
            <div class="govuk-task-list__status" id="status-18">Design signed off</div>
          </li>

          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link"
                href="./Private_beta/v7-3/LA/la-manage/decision/records/eligibility-confirmed.html"
                aria-describedby="status-18">
                Application approved
              </a>
            </div>
            <div class="govuk-task-list__status" id="status-18">  <span class="moj-badge moj-badge--green">Updated</span> Design signed off</div>
          </li>


          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link"
                href="./Private_beta/v7-3/LA/la-manage/decision/records/decline-johnson1.html"
                aria-describedby="status-19">
                Decline application
              </a>
            </div>
            <div class="govuk-task-list__status" id="status-19"> <span class="moj-badge moj-badge--green">Updated</span> Design signed off</div>
          </li>
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link"
                href="./Private_beta/v7-3/LA/la-manage/decision/records/eligibility-declined.html"
                aria-describedby="status-19">
                Application declined
              </a>
            </div>
            <div class="govuk-task-list__status" id="status-19"> <span class="moj-badge moj-badge--green">Updated</span> Design signed off</div>
          </li>


          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link"
                href="./Private_beta/v7-3/LA/la-manage/decision/records/requestmore-johnson1.html"
                aria-describedby="status-19">
                Request more evidence
              </a>
            </div>
            <div class="govuk-task-list__status" id="status-19"> <span class="moj-badge moj-badge--blue">New feature </span> Design signed off</div>
          </li>
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link"
                href="./Private_beta/v7-3/LA/la-manage/decision/records/eligibility-requested.html"
                aria-describedby="status-19">
                Request sent
              </a>
            </div>
            <div class="govuk-task-list__status" id="status-19"> <span class="moj-badge moj-badge--blue">New feature</span> Design signed off</div>
          </li>

          <li class="govuk-task-list__item govuk-task-list__item">
            <div class="govuk-task-list__name-and-hint">
              <strong>Support and reporting </strong>
            </div>
            <div class="govuk-task-list__status" id="status-6"> </div>
          </li>

          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="./Private_beta/v7-3/LA/guidance.html"
                aria-describedby="status-20">
                Guidance - evidence
              </a>
            </div>
            <div class="govuk-task-list__status" id="status-20">Design signed off</div>
          </li>

          <!-- <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="./Private_beta/v7-3/LA/reporting.html"
                aria-describedby="status-21">
                Reporting
              </a>
            </div>
            <div class="govuk-task-list__status" id="status-21">Design signed off</div>
          </li> -->

          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="./Private_beta/v7-3/LA/la-manage/report/search.html"
                aria-describedby="status-22">
                Search all results -sortable table
              </a>
            </div>
            <div class="govuk-task-list__status" id="status-22"><span class="moj-badge moj-badge--green">Updated</span> Design signed off </div>
          </li>

        </ul>



      </div>
