<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <table class="govuk-table" data-module="moj-sortable-table">
            <thead class="govuk-table__head">
<tr class="govuk-table__row appeal-row">
                        <th class="govuk-table__header" scope="col" aria-sort="ascending">Reference</th>
                    <th class="govuk-table__header" scope="col" aria-sort="none">Parent or guardian</th>
                    <th class="govuk-table__header" scope="col" aria-sort="none">Parent or guardian date of birth</th>
                    <th class="govuk-table__header" scope="col" aria-sort="none">Child</th>
                    <th class="govuk-table__header" scope="col" aria-sort="none">Academy</th>
                    <th class="govuk-table__header" scope="col" aria-sort="none">Date submitted</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row appeal-row">
                    <td class="govuk-table__cell"><a href="../records/appeals/not-eligible-mat-brown1.html"
                            class="govuk-link">44455454</a></td>
                    <td class="govuk-table__cell">Jessica Brown</td>
                    <td class="govuk-table__cell">18 Sep 1978</td>
                    <td class="govuk-table__cell">Rachel Brown</td>
                    <td class="govuk-table__cell">Riverside Primary</td>
                    <td class="govuk-table__cell">25 Sep 2023</td>
                </tr>
                <tr class="govuk-table__row appeal-row">
                    <td class="govuk-table__cell"><a href="../records/appeals/not-eligible-mat-sutton1.html"
                            class="govuk-link">44455453</a></td>
                    <td class="govuk-table__cell">Warren Sutton</td>
                    <td class="govuk-table__cell">18 Sep 1978</td>
                    <td class="govuk-table__cell">Lisa Sutton</td>
                    <td class="govuk-table__cell">Riverside Primary</td>
                    <td class="govuk-table__cell">25 Sep 2023</td>
                </tr>
                <tr class="govuk-table__row appeal-row">
                    <td class="govuk-table__cell"><a href="../records/appeals/not-eligible-mat-smith1.html"
                            class="govuk-link">44455455</a></td>
                    <td class="govuk-table__cell">Alan Smith</td>
                    <td class="govuk-table__cell">18 Sep 1978</td>
                    <td class="govuk-table__cell">Jack Smith</td>
                    <td class="govuk-table__cell">Elmwood School</td>
                    <td class="govuk-table__cell">25 Sep 2023</td>
                </tr>
                <tr class="govuk-table__row appeal-row">
                    <td class="govuk-table__cell"><a href="../records/appeals/not-eligible-mat-langley1.html"
                            class="govuk-link">44455456</a></td>
                    <td class="govuk-table__cell">Jennifer Langley</td>
                    <td class="govuk-table__cell">18 Sep 1978</td>
                    <td class="govuk-table__cell">Tilly Langley</td>
                    <td class="govuk-table__cell">Oakfield Academy</td>
                    <td class="govuk-table__cell">25 Sep 2023</td>
                </tr>
                <tr class="govuk-table__row appeal-row">
                    <td class="govuk-table__cell"><a href="../records/appeals/not-eligible-mat-patel1.html"
                            class="govuk-link">44455457</a></td>
                    <td class="govuk-table__cell">Rajesh Patel</td>
                    <td class="govuk-table__cell">18 Sep 1978</td>
                    <td class="govuk-table__cell">Priya Patel</td>
                    <td class="govuk-table__cell">Oakfield Academy</td>
                    <td class="govuk-table__cell">25 Sep 2023</td>
                </tr>
                <tr class="govuk-table__row appeal-row">
                    <td class="govuk-table__cell"><a href="../records/appeals/not-eligible-mat-susan-francis1.html"
                            class="govuk-link">44455001</a></td>
                    <td class="govuk-table__cell">Susan Francis</td>
                    <td class="govuk-table__cell">12 May 1980</td>
                    <td class="govuk-table__cell">Noah Francis</td>
                    <td class="govuk-table__cell">Riverside Primary</td>
                    <td class="govuk-table__cell">21 Sep 2023</td>
                </tr>
                <tr class="govuk-table__row appeal-row">
                    <td class="govuk-table__cell"><a href="../records/appeals/not-eligible-mat-john-smith1.html"
                            class="govuk-link">44455002</a></td>
                    <td class="govuk-table__cell">John Smith</td>
                    <td class="govuk-table__cell">03 Jul 1975</td>
                    <td class="govuk-table__cell">Jo Smith</td>
                    <td class="govuk-table__cell">Elmwood School</td>
                    <td class="govuk-table__cell">19 Sep 2023</td>
                </tr>
                <tr class="govuk-table__row appeal-row">
                    <td class="govuk-table__cell"><a href="../records/appeals/not-eligible-mat-alan-jones1.html"
                            class="govuk-link">44455005</a></td>
                    <td class="govuk-table__cell">Alan Jones</td>
                    <td class="govuk-table__cell">11 Jan 1979</td>
                    <td class="govuk-table__cell">Jack Jones</td>
                    <td class="govuk-table__cell">St Mary's C of E</td>
                    <td class="govuk-table__cell">23 Sep 2023</td>
                </tr>
                <tr class="govuk-table__row appeal-row">
                    <td class="govuk-table__cell"><a href="../records/appeals/not-eligible-mat-rachel-ahmed1.html"
                            class="govuk-link">44455007</a></td>
                    <td class="govuk-table__cell">Rachel Ahmed</td>
                    <td class="govuk-table__cell">02 Dec 1981</td>
                    <td class="govuk-table__cell">Yasmin Ahmed</td>
                    <td class="govuk-table__cell">Parkside Junior</td>
                    <td class="govuk-table__cell">22 Sep 2023</td>
                </tr>
                <tr class="govuk-table__row appeal-row">
                    <td class="govuk-table__cell"><a href="../records/appeals/not-eligible-mat-liam-oreilly1.html"
                            class="govuk-link">44455008</a></td>
                    <td class="govuk-table__cell">Liam O'Reilly</td>
                    <td class="govuk-table__cell">05 Aug 1977</td>
                    <td class="govuk-table__cell">Mia O'Reilly</td>
                    <td class="govuk-table__cell">Kingsley Community School</td>
                    <td class="govuk-table__cell">27 Sep 2023</td>
                </tr>
                <tr class="govuk-table__row appeal-row">
                    <td class="govuk-table__cell"><a href="../records/appeals/not-eligible-mat-charlotte-davies1.html"
                            class="govuk-link">44455009</a></td>
                    <td class="govuk-table__cell">Charlotte Davies</td>
                    <td class="govuk-table__cell">08 Oct 1984</td>
                    <td class="govuk-table__cell">Ella Davies</td>
                    <td class="govuk-table__cell">Meadow View School</td>
                    <td class="govuk-table__cell">28 Sep 2023</td>
                </tr>
                <tr class="govuk-table__row appeal-row">
                    <td class="govuk-table__cell"><a href="../records/appeals/not-eligible-mat-darren-wells1.html"
                            class="govuk-link">44455010</a></td>
                    <td class="govuk-table__cell">Darren Wells</td>
                    <td class="govuk-table__cell">29 Apr 1986</td>
                    <td class="govuk-table__cell">Jacob Wells</td>
                    <td class="govuk-table__cell">Northfield Primary</td>
                    <td class="govuk-table__cell">22 Sep 2023</td>
                </tr>


            </tbody>
        </table>