{% extends "layouts/main.html" %}

{% set pageName="Eligibility checker" %}

{% block beforeContent %}

{{ govukBackLink({
text: "Back",
href: "/"
}) }}
{% endblock %}





{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">


  
    <h1 class="govuk-heading-l">
      
      
    All prototypes for
    </h1>

    

  


    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--l">
        Beta - MVP
      
      </caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Prototype / epic</th>
          
          <th scope="col" class="govuk-table__header">Version</th>
          <th scope="col" class="govuk-table__header">Sprint updated</th>
          <th scope="col" class="govuk-table__header">Status</th>
          <th scope="col" class="govuk-table__header">What's been done</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">

       


        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell">

            <a href="https://dfe-gov-uk.visualstudio.com.mcas.ms/Solutions%20Development/_workitems/edit/150415" target="_blank">Legally required footer pages</a>
          </td>
          <td class="govuk-table__cell">
            v 1.0
          </td>
          <td class="govuk-table__cell">
            Sprint 0
          </td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--blue">
              In progress
            </strong>
          </td>

          <td class="govuk-table__cell">
            <ol>
              <li><a href="./current/accessibility">Accessibility statement</a></li>
              <li><a href="./current/cookies">Cookies page</a></li>
              <li><a href="./current/privacy">Privacy statement</a></li>
              <li><a href="./current/terms-and-conditions">Terms and conditions</a></li>

            </ol>
          </td>
        </tr>

        

        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell">

            <a href="https://dfe-gov-uk.visualstudio.com.mcas.ms/Solutions%20Development/_workitems/edit/143476?McasTsid=26110&McasCtx=4">Parent pages</a>
          </td>
          <td class="govuk-table__cell">
            v4
          </td>
          <td class="govuk-table__cell">
            Sprint 4
          </td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--blue">
             In progress
            </strong>
          </td>

          <td class="govuk-table__cell">
            <ol>
              <li><a href="./current/account/start-now">Start now page</a></li>
              <li><a href="./current/parent-soft-check/check">Eligibility check</a></li>
              <li>Outcomes
                <ul><li><a href="./current/parent-soft-check/eligible">Found - eligible</a></li>
                  <li><a href="./current/parent-soft-check/outcome-not-entitled">Found - not eligible</a></li>
                  <li><a href="./current/parent-soft-check/outcome-could-not-find">Not found</a></li>
                  <li><a href="./current/parent-soft-check/outcome-could-not-find-pending">Not found - pending</a></li>
                
                </ul>
              </li>
              <li><a href="./current/parent-soft-check/nass-number">NASS number</a></li>
              <li><a href="./current/parent-soft-check/checking-loader">Checking loader page</a></li>


            </ol>
          </td>
        </tr>

        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell">

            <a href="mfa/scenarios">Local authority pages</a>
          </td>
          <td class="govuk-table__cell">
            v 1.0
          </td>
          <td class="govuk-table__cell">
            Sprint 4
          </td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--blue">
            In progress
            </strong>
          </td>

          <td class="govuk-table__cell">
            <ol>
              <li><a href="./current/checker-la/dashboard">Portal home page</a></li>

              <li><a href="./current/checker-la/checker-foster-family">Add a foster family</a></li>
              <li><a href="./current/checker-la/application-types">Eligibility checker</a></li>
              <li><a href="./current/checker-la/batch-applications">Batch check eligibility</a></li>
              <li><a href="./current/checker-la/applications">Eligible familys list</a></li>
              <li><a href="./current/checker-la/pending-list">Pending applications list</a></li>
              <ul>
                <li>Outcomes</li>
                <li><a href="./current/checker-la/eligible">Outcome - confirmation, found</a></li>
                <li><a href="./current/checker-la/outcome-not-entitled.html">Outcome - may not be entitled</a></li>
                <li><a href="./current/checker-la/outcome-could-not-find.html">Outcome - could not find no trace</a></li>
                <li><a href="./current/checker-la/outcome-could-not-find-pending">Outcome - could not find pending</a></li>


              </ul>
             
              <li><a href="./current/checker-la/resources">Guidance pages / links</a></li>
              <li><a href="./current/checker-la/search">Reporting</a></li>
              <li><a href="./current/checker-la/appeals">Evidence submissions</a></li>
              <li><a href="./current/checker-la/eligibility-confirmed">Application approved</a></li>
              <li><a href="./current/checker-la/eligibility-declined">Application declined</a></li>



            </ol>
          </td>
        </tr>
      
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell">

            <a href="https://dfe-gov-uk.visualstudio.com.mcas.ms/Solutions%20Development/_workitems/edit/143481?McasTsid=26110&McasCtx=4">School pages</a>
          </td>
          <td class="govuk-table__cell">
          V4
          </td>
          <td class="govuk-table__cell">
            Sprint 4
          </td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--blue">
          In progress
            </strong>
          </td>

          <td class="govuk-table__cell">
            <ol type="i">
              <li><a href="./current/checker/dashboard" target="_blank">Schools portal dashboard</a></li>
              <li><a href="./current/checker/application-types" target="_blank">Free school meals checker</a>
                <ul>
                  <li><a href="./current/checker/eligible">Outcome - confirmation, found</a></li>
                  <li><a href="./current/checker/outcome-not-entitled.html">Outcome - may not be entitled</a></li>
                  <li><a href="./current/checker/outcome-could-not-find.html">Outcome - could not find no trace</a></li>
                  <li><a href="./current/checker/outcome-could-not-find-pending">Outcome - could not find pending</a></li>
                </ul></li>

              <li><a href="./current/checker/applications" target="_blank">All applications list</a></li>
              <li><a href="./current/checker/search">Search page</a></li>

              <li><a href="./current/batch-checking/upload">Batch check eligibility</a></li>
              <ul>
                <li><a href="./current/batch-checking/batch-check-success">Outcome - Upload successful</a></li>
                <li><a href="./current/batch-checking/batch-error-not-accepted.html">Outcome - Error - File not accepted</a></li>
                <li><a href="./current/batch-checking/batch-error-data-issue.html">Outcome - Error - Student data issue</a></li>
              </ul></li>

              <li><a href="./current/records/add-sibling">Add a sibling</a></li>
            

            </ol>
          </td>
        </tr>
      </tbody>
    </table>


  
  


  
  
  </div>
</div>

{% endblock %}