{% extends "layouts/main.html" %}

{% set pageName="Eligibility checker" %}
{% block beforeContent %}

{{ govukBackLink({
text: "Back",
href: "/"
}) }}
{% endblock %}

{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-full">


  
    <h1 class="govuk-heading-l">
      
All prototypes for
    </h1>
    



  

    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--l">
      Beta - Discovery
      </caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Assumption</th>
          <th scope="col" class="govuk-table__header">Sprint</th>
          <th scope="col" class="govuk-table__header">Confidence</th>
          <th scope="col" class="govuk-table__header">What were doing</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">

       


    

        

        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell">

            <a href="current/account/dfe-account?who=school">School journey</a>
          </td>
          <td class="govuk-table__cell">
          Sprint 1
          </td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--blue">
              medium
             </strong>
            
          </td>
          <td class="govuk-table__cell">
          Iterations from R2
           
          </td>

        
        </tr>

        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell">

            <a href="current/account/dfe-account?who=council">LA journey</a>
          </td>
          <td class="govuk-table__cell">
          Sprint 1
          </td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--blue">
              medium
             </strong>
            
          </td>
          <td class="govuk-table__cell">
          Iterations from R3
           
          </td>

        
        </tr>

        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell">

            <a href="current/account/start-now">Parent journey</a>
          </td>
          <td class="govuk-table__cell">
          Sprint 1
          </td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--blue">
              medium
             </strong>
            
          </td>
          <td class="govuk-table__cell">
          Iterations from R3
           
          </td>

        
        </tr>

      
      </tbody>
    </table>



 




      

  



    
  </div>
  
</div>

{% endblock %}