{% extends "layouts/main.html" %}

{% set pageName="Eligibility checker" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <span class="govuk-hint">All prototypes for</span>
    <h1 class="govuk-heading-xl">
      
      
      {{ serviceName }}
    </h1>

    <h2 class="govuk-heading-m">Sep - current 2023</h2>

    <ul class="govuk-list">
      <li><a href="current/account/dfe-account">Check eligibility (Schools)</a></li>

      <li><a href="current/account/signin-or-create?who=council">Check eligibility (Local authorities)</a></li>
      <li><a href="current/account/onegov-sso?council=batch">Upload batch eligibility check (Local authorities)</a></li>
      <li><a href="current/account/start-now">Check free school meals eligibility (parents)</a></li>
      <li><a href="current/account/signin-or-create?who=parent">Check in progress application (parents)</a></li>
      
    </ul>

  
  </div>
</div>

{% endblock %}