{% extends "layouts/main.html" %}

{% set pageName="Eligibility checker" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <span class="govuk-hint">All prototypes for</span>
    <h1 class="govuk-heading-xl">
      
      
      {{ serviceName }}
    </h1>

    <h2 class="govuk-heading-m">Sep - current 2023</h2>


    <h3>Free school meals</h3>

    <ul class="govuk-list">
      <li><a href="current/account/signin-or-create?who=parent">Parent checks eligibility</a></li>
      <li><a href="current/account/dfe-account">School approves application</a></li>

      <li><a href="current/account/signin-or-create?who=council">LA checks dashboard</a></li>
   
      
      
    </ul>

  
  </div>
</div>

{% endblock %}