{% extends "layouts/main.html" %}

{% set pageName="Eligibility checker" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <span class="govuk-hint">All prototypes for</span>
    <h1 class="govuk-heading-l">
      
      
      {{ serviceName }}
    </h1>

    <h2 class="govuk-heading-m">Free school meals journey Sep - current 2023</h2>


    <ul class="govuk-list">
      <li><a href="current/account/start-now?who=parent">Parent checks eligibility</a></li>
      <li><a href="current/checker-parent/dashboard">Parent checks status of appeal</a></li>
      <li><a href="current/account/dfe-account?who=school">School approves application</a></li>
      <li><a href="current/account/dfe-account?who=school">School checks eligibility for parent / carer</a></li>

      <li><a href="current/account/dfe-account?who=council">LA checks dashboard</a></li>
   
      
      
    </ul>

    <h3 class="govuk-heading-s">Email notifications</h3>

    <ul class="govuk-list">
      <li><a href="current/emails/notify-parent-new-application">Parent - new application submitted</a></li>
      <li><a href="current/emails/notify-parent-app-successful">Parent - successful application</a></li>

      <li><a href="current/emails/notify-parent-evidence">Parent - more evidence required</a></li>
      <li><a href="current/emails/notify-school-new">School - new application received</a></li>
      <li><a href="current/emails/notify-school-approved">School - application approved</a></li>
      <li><a href="current/emails/notify-la">Council - new query</a></li>
   
      
      
    </ul>

    <h2 class="govuk-heading-m">Early years pupil provision journey Sep - current 2023</h2>


    <ul class="govuk-list">
      <li><a href="current/account/signin-or-create?who=parent">Parent checks eligibility</a></li>
      <li><a href="current/account/dfe-account">School approves application</a></li>

      <li><a href="current/account/signin-or-create?who=council">LA checks dashboard</a></li>
   
      
      
    </ul>

  
  </div>
</div>

{% endblock %}