{% extends "layouts/layout-dfe-index.html" %}
{% set pageName=" Eligibility checker prototype" %}
{% block content %}


  <h2 class="govuk-heading-m">How we design</h2>

  <p class="govuk-body">We design this service using GDS and DfE design standards:</p>

  <ul class="govuk-list govuk-list--bullet">
  <li><a href="https://www.gov.uk/guidance/government-design-principles" class="govuk-link">GDS Design Principles</a></li>
  <li><a href="https://design-system.service.gov.uk/" class="govuk-link">GOV.UK Design System</a></li>
  <li><a href="https://design.education.gov.uk/" class="govuk-link">DfE Design manual</a></li>
  <li><a href="https://design.education.gov.uk/design-system" class="govuk-link">DfE Design system</a></li>
  </ul>

  <p class="govuk-body">We have also used design patterns and components from DWP and MoJ.</p>

  <h2 class="govuk-heading-m">Content design</h2>
  <p class="govuk-body">We use these content standards for designing content in the service:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li><a href="https://www.gov.uk/guidance/content-design" class="govuk-link">GDS: Content design: planning, writing and managing content</a></li>
    <li><a href="https://www.gov.uk/guidance/style-guide" class="govuk-link">GOV.UK style guide</a></li>
    <li><a href="https://design.education.gov.uk/design-system/content-design" class="govuk-link">Content design in DfE</a></li>
    <li><a href="https://design.education.gov.uk/design-system/style-guide" class="govuk-link">DfE content style guide</a></li>

  </ul>


</div>


<ul class="govuk-list govuk-list--bullet">
  You can use this service to:</ul>
  <li>
    bullets
  </li>
  <li>
    bullets
  </li>
  <br>
  <br>
  <div class="govuk-inset-text">
    Breakdown of users for each prototype plus link to navigate to FSM index or Childcare index</div>



{% endblock %}