{% extends "layouts/main.html" %}
{% set pageName=" Eligibility checker prototype" %}
{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column--three-quarters">


    <h1 class="govuk-heading-l">
      {{ serviceName }} prototypes
    </h1>






    <hr class="govuk-section-break govuk-section-break--l govuk-section-break">



    <div class="govuk-tabs" data-module="govuk-tabs">

      <h2 class="govuk-tabs__title">
        Contents
      </h2>

      <ul class="govuk-tabs__list">

        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#design-principles">
            Design principles
          </a>
        </li>

        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#private-beta-baseline">
            Private beta baseline
          </a>
        </li>

        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#design-ideas">
            Design ideas
          </a>
        </li>

        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#usability-testing">
            For usability testing
          </a>
        </li>

        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#ready-for-dev">
            Ready for dev handover
          </a>
        </li>

        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#archive-versions">
            Archive versions
          </a>
        </li>

      </ul>

      <!-------------------Design principles------------------->

      <div class="govuk-tabs__panel" id="design-principles">

        <h2 class="govuk-heading-m">How we design</h2>

        <p class="govuk-body">We design this service using GDS and DfE design standards:</p>

        <ul class="govuk-list govuk-list--bullet">
        <li><a href="https://www.gov.uk/guidance/government-design-principles" class="govuk-link">GDS Design Principles</a></li>
        <li><a href="https://design-system.service.gov.uk/" class="govuk-link">GOV.UK Design System</a></li>
        <li><a href="https://design.education.gov.uk/" class="govuk-link">DfE Design manual</a></li>
        <li><a href="https://design.education.gov.uk/design-system" class="govuk-link">DfE Design system</a></li>
        </ul>

        <p class="govuk-body">We have also used design patterns and components from DWP and MoJ.</p>






      </div>

      <!-------------------Private beta------------------->

      <div class="govuk-tabs__panel" id="private-beta-baseline">

        <p class="govuk-body">These pages are the baseline pages included in the private beta.</p>

          <h2 class="govuk-heading-m">Statuses</h2>
          <p><span class="govuk-tag govuk-tag--red">Needs updating</span> Needs updating following feedback and research</p>
          <p><span class="govuk-tag govuk-tag--yellow"> In draft</span> Currently being updated</p>
          <p><span class="govuk-tag govuk-tag--orange">Needs signing off</span> Changes made, need PO sign off</p>
          <p><span class="govuk-tag govuk-tag--green"> Published to test</span> Signed off by PO and published to test</p>



        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Private beta baseline</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Parent journey (FSM)</th>
              <th scope="col" class="govuk-table__header">Schools</th>
              <th scope="col" class="govuk-table__header">Local authorities</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="/mvp2/account/start-now-beta-schools" class="govuk-link">Start page</a> <strong class="govuk-tag govuk-tag--green">Published to test</strong></td>
              <td class="govuk-table__cell">Dashboard</td>
              <td class="govuk-table__cell">Dashboard</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="/mvp2/checker/parent-guidance" class="govuk-link">Guidance</a> <strong class="govuk-tag govuk-tag--green">Published to test</strong></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="/mvp2/parent-soft-check/account/beta-school-check" class="govuk-link">Beta school check</a> <strong class="govuk-tag govuk-tag--green">Published to test</strong></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="/mvp2/parent-soft-check/account/beta-school-check-no" class="govuk-link">Schools not included in beta</a> <strong class="govuk-tag govuk-tag--green">Published to test</strong></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="/mvp2/parent-soft-check/account/beta-school-check" class="govuk-link">Eligibility check</a> <strong class="govuk-tag govuk-tag--green">Published to test</strong></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="/mvp2/parent-soft-check/nass-number" class="govuk-link">Asylum reference check</a> <strong class="govuk-tag govuk-tag--green">Published to test</strong></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="/mvp2/parent-soft-check/checking-loader" class="govuk-link">Checking loader</a> <strong class="govuk-tag govuk-tag--green">Published to test</strong></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="/mvp2/parent-soft-check/eligible" class="govuk-link">Eligible</a> <strong class="govuk-tag govuk-tag--green">Published to test</strong></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="/mvp2/parent-soft-check/outcome-not-entitled" class="govuk-link">Not eligible</a> <strong class="govuk-tag govuk-tag--green">Published to test</strong></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="/mvp2/parent-soft-check/outcome-could-not-find" class="govuk-link">Not found</a> <strong class="govuk-tag govuk-tag--green">Published to test</strong></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="/mvp2/parent-soft-check/outcome-could-not-find-pending" class="govuk-link">Not found - need UC statements</a> <strong class="govuk-tag govuk-tag--green">Published to test</strong></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="/mvp2/parent-soft-check/outcome-technical-error" class="govuk-link">Check failed</a> <strong class="govuk-tag govuk-tag--green">Published to test</strong></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="/mvp2/parent-soft-check/childs-age" class="govuk-link">Add children</a> <strong class="govuk-tag govuk-tag--green">Published to test</strong></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="/mvp2/parent-soft-check/childs-age-no-javascript" class="govuk-link">Add children - no JavaScript</a> <strong class="govuk-tag govuk-tag--green">Published to test</strong></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="/mvp2/parent-soft-check/check-answers" class="govuk-link">Check answers</a> <strong class="govuk-tag govuk-tag--green">Published to test</strong></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="/mvp2/parent-soft-check/check-answers-no-javascript" class="govuk-link">Check answers - no JavaScript</a> <strong class="govuk-tag govuk-tag--green">Published to test</strong></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="/mvp2/parent-soft-check/children-added" class="govuk-link">Application complete</a> <strong class="govuk-tag govuk-tag--green">Published to test</strong></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="/mvp2/privacy" class="govuk-link">Privacy</a> <strong class="govuk-tag govuk-tag--yellow"> In draft</strong></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="/mvp2/cookies-parents" class="govuk-link">Cookies</a> <strong class="govuk-tag govuk-tag--yellow"> In draft</strong></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="/mvp2/service-unavailable-parents" class="govuk-link">Service unavailable</a> <strong class="govuk-tag govuk-tag--yellow"> In draft</strong></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="/mvp2/problem-with-service-parents" class="govuk-link">There is a problem with this service</a> <strong class="govuk-tag govuk-tag--yellow"> In draft</strong></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="/mvp2/page-not-found-parents" class="govuk-link">Page not found</a> <strong class="govuk-tag govuk-tag--yellow"> In draft</strong></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="" class="govuk-link"></a></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="" class="govuk-link"></a></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="" class="govuk-link"></a></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="" class="govuk-link"></a></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="" class="govuk-link"></a></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="" class="govuk-link"></a></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="" class="govuk-link"></a></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="" class="govuk-link"></a></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="" class="govuk-link"></a></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="" class="govuk-link"></a></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="" class="govuk-link"></a></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="" class="govuk-link"></a></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
            </tr>





          </tbody>
        </table>

      </div>

      <!-------------------Design ideas------------------->

      <div class="govuk-tabs__panel" id="design-ideas">

        <p class="govuk-body"><a href="/mvp3/_school/school-manage/batch-checking/upload" class="govuk-link">Batch checking</a></p>


    </div>

      <!-------------------For usability testing------------------->

      <div class="govuk-tabs__panel" id="usability-testing">
        <p class="govuk-body"><a href="/mvp3/_family/parent-soft-check/outcomes/outcome-not-entitled-appeal" class="govuk-link">Parents appeal journey</a></p>

      </div>

      <!-------------------Ready for dev handover------------------->

      <div class="govuk-tabs__panel" id="ready-for-dev">

      </div>

      <!-------------------Archive versions------------------->

      <div class="govuk-tabs__panel" id="archive-versions">
        <h2 class="govuk-heading-m">Alpha to Beta</h2>
          <p class="govuk-body"><a href="beta-backlog">MVP: January - 5th July 2024</a></p>
          <h2 class="govuk-heading-m">Discovery to Alpha:</h2>

            <p><a href="v3">Version 3: Nov to Dec 2023</a></p>

            <p><a href="v2">Version 2: Oct to Nov 2023</a></p>

            <p><a href="v1">Version 1: Sep to Oct 2023</a></p>

            <h2 class="govuk-heading-m">Archive design resources</h2>
        <ul class="govuk-list">
          <li><a
              href="https://lucid.app/lucidspark/b115cd01-0ac7-4730-afb5-f2642cac497e/edit?viewport_loc=24096%2C4857%2C1920%2C905%2C0_0&invitationId=inv_9afffb46-9124-48a0-a911-020aa830cf69">Ideation
              board (alpha starting point)</a></li>
          <li><a
              href="https://lucid.app/lucidspark/0ba178e2-087d-4f4d-9a5d-fec7410fd0c7/edit?viewport_loc=3804%2C-1463%2C6210%2C2928%2C0_0&invitationId=inv_40d6fdd4-620b-4c70-876e-c178860d978f">Alpha
              roadmap</a></li>
          <li><a href="https://design-histories.education.gov.uk/check-your-eligibility">Design histories</a>
          </li>
          <li><a
              href="https://lucid.app/lucidspark/787b4ce2-8be7-4ac7-b2bd-0e4119920b46/edit?viewport_loc=4599%2C18362%2C2374%2C1119%2C0_0&invitationId=inv_d07de7d0-71dd-4dad-a07d-e8dddd924450">Alpha
              feedback board</a></li>
          <li><a
              href="https://lucid.app/lucidspark/e1cc0279-0165-49c0-a00f-f4acd02f9e5d/edit?viewport_loc=68661%2C-1371%2C11096%2C5232%2C0_0&invitationId=inv_cf261987-6f93-4de4-85b4-3fa1f0892bb8">Alpha
              options</a></li>
          <li><a
              href="https://www.figma.com/file/wBFH28Ok1wLMvDjFKFw67E/DfE---EC-Flows---NEW?type=whiteboard&node-id=0%3A1&t=ubAsUcPp1ax791OV-1">Figma
              - User flows </a></li>
          <li><a href="">Service user journeys - to be</a></li>
          <li><a
              href="https://lucid.app/lucidspark/48bcf3ed-c0de-4d1a-8155-e07c9d08316d/edit?viewport_loc=160722%2C95969%2C8677%2C4115%2C0_0&invitationId=inv_7aafb472-fbca-4087-8e87-7d578024f55d">Design
              history V1</a></li>
          <li><a
              href="https://lucid.app/lucidspark/7464ef00-abc1-4654-8b31-115a1fcbfee2/edit?invitationId=inv_bfe11609-a5a2-4278-83c4-524f0ed041bf&page=0_0#">MVP
              feature set</a></li>
        </ul>
      </div>



                {% endblock %}