{% extends "/layouts/childcare/v7/layout-childcare.html" %}

{% block pageTitle %}
 Code cannot be used yet
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-7" style="background:#1d70b8;">
      <h1 class="govuk-panel__title">
        Code cannot be used yet
      </h1>
      <div class="govuk-panel__body govuk-!-margin-bottom-5">
        Valid from spring term 2026
      </div>
      </div>

    <h2 class="govuk-heading-m">Details checked</h2>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Eligibility code
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data["30h-code"] or "50879487381" }}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          National Insurance number
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data["ni-number"] or "PB123456C" }}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Child date of birth
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data["dob-day"] or "7" }} {{ data["dob-month"] or "August" }} {{ data["dob-year"] or "2024" }}
        </dd>
      </div>


    </dl>

    <h2 class="govuk-heading-m govuk-!-margin-top-8">Code details</h2>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Eligibility last confirmed on
        </dt>
        <dd class="govuk-summary-list__value">
          10 September 2025
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Reconfirm between
        </dt>
        <dd class="govuk-summary-list__value">
          10 December 2025 and 10 January 2026
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Grace period ends
        </dt>
        <dd class="govuk-summary-list__value">
          Not applicable
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Reconfirmation status
        </dt>
        <dd class="govuk-summary-list__value">
          <strong class="govuk-tag govuk-tag--green" style="max-width:100%;">
            Not due yet
          </strong>
        </dd>
      </div>



    </dl>



    {{ govukButton({
      text: "View code history",
      classes: "govuk-!-margin-top-4",
      href: "/childcare/v7/reports/i/event-history/event-history"
    }) }}



    <p>You can <a href="" class="govuk-link" onclick="printPage()">print this page</a> for the parent or guardian to keep.</p>

    <h2 class="govuk-heading-m">Guidance</h2>

    <p class="govuk-body">View <a href="/childcare/v7/guidance/30h-outcomes">guidance for childcare for working families</a>.</p>


  </div>

</div>

<script>
  function printPage() {
      window.print();  // This will open the print dialog
  }
</script>


{% endblock %}
