{% extends "layouts/support/layout-index-support.html" %}
{% block pageTitle %}
  Support prototype
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

     {%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}

    {{ mojSubNavigation({
      label: "Sub navigation",
      items: [
      {
        text: "Design and research",
        href: "/support/index-support",
        active: true
      },
      {
        text: "Ready for development",
        href: "/support/index-support-dev"
      }
      ]
    }) }}

    <h1 class="govuk-heading-l">
      Design and research
    </h1>

    <!---Usability testing details -->


    <h2 class="govuk-heading-m">Versions</h2>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Version</th>
          <th scope="col" class="govuk-table__header">Research</th>
          <th scope="col" class="govuk-table__header">Description</th>
          <th scope="col" class="govuk-table__header">Links</th>
          <th scope="col" class="govuk-table__header">Status</th>
          <th scope="col" class="govuk-table__header">Last updated</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">

        <!--v3-->
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><a href="/support/v3/login/signin-or-create">v3</a></th>
          <td class="govuk-table__cell">

          </td>
          <td class="govuk-table__cell">
            <p>Removed find a batch check and demo environments functions.</p>
            <p>Revamped system status page based on UR findings</p>
          </td>
          <td class="govuk-table__cell">
            <p class="govuk-!-margin-bottom-2"><a href="/support/v3/dashboard">Dashboard</a></p>
          </td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">Design</strong></td>
          <td class="govuk-table__cell">19 December 2025</td>
        </tr>
          <!--v2-->
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><a href="/support/v2/login/signin-or-create">v2</a></th>
          <td class="govuk-table__cell">
            <a href="https://lucid.app/lucidspark/661f5ec9-e5b7-419f-9fa9-f6d6e05e8d97/edit?view_items=XT5eDjb6cBFN&page=0_0&invitationId=inv_361203b0-21c1-4703-8f6b-996f7a88153c">Round 2</a>
          </td>
          <td class="govuk-table__cell">
            <p>Updated batch check to a search function, added edit eligibility code data, system status and guidance tiles.</p>
            <p>Streamlined import temporary codes options.</p>
          </td>
          <td class="govuk-table__cell">
            <p class="govuk-!-margin-bottom-2"><a href="/support/v2/dashboard">Dashboard</a></p>
          </td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Research completed</strong></td>
          <td class="govuk-table__cell">15 December 2025</td>
        </tr>
         <!--v1-->
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><a href="/support/v1/login/signin-or-create">v1</a></th>
          <td class="govuk-table__cell">
             <a href="https://lucid.app/lucidspark/2d608d1a-d772-4ca5-a529-2cfaf661a2be/edit?view_items=5qD7_K7KWJ0w&page=0_0&invitationId=inv_49749eba-a7e8-4a70-a7f4-0b3612c77895">Round 1</a>
          </td>
          <td class="govuk-table__cell">
            <p>GOV One login, run a check, batch check queue and manage working families codes.</p>
          </td>
          <td class="govuk-table__cell">
            <p class="govuk-!-margin-bottom-2"><a href="/support/v1/dashboard">Dashboard</a></p>
          </td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Research completed</strong></td>
          <td class="govuk-table__cell">30 October 2025</td>
        </tr>
      </tbody>
    </table>



  </div>
</div>


{% endblock %}