{% extends "layouts/layout-dfe.html" %}

{% set pageName="Home" %}

{% set applicationSent %}
<h3 class="govuk-notification-banner__heading">
  The application has been approved.
</h3>
<p class="govuk-body">
  Both the parent or carer and the school have been notified.
 
</p>
<p>Your reference is 1234567</p>
{% endset %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {% if data['answers-checked'] =="true" %}
    {{ govukNotificationBanner({
    html: applicationSent,
    type: 'success'
    }) }}

    {% endif %}



    <div class="govuk-grid-row">


      <div class="govuk-grid-column-one-half">


        <h2 class="govuk-heading-l">What happens now</h2>

        <p>The school will be notified of the new free school meals provision.</p>
        <p>The parent or carer will recveive either a letter or email based on their contact preferences. You can also provide this information to the pareht or carer in-person.</p>

        <p><a href="dashboard">Go to your portal homepage</a></p>
        <p><a href="../account/signin-or-create">Sign out of the portal</a></p>





















      </div>

    </div>


  </div>
</div>

{% endblock %}

{% block pageScripts %}
<script type="text/javascript" src="/public/javascripts/moj/all.js"></script>
{% endblock %}