{% extends "/layouts/mvp3/layout-dfe-b.html" %}
{% set pageName="Do you have evidence?" %}

{%block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds ">
    <!--routes found in routes/mvp3/appeal.js-->
    <form action="/mvp3-evidence" method="post" novalidate>

      {{ govukRadios({
      name: "evidence",
      id:'evidence',
      fieldset: {
      legend: {
      text: "What evidence do you have?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
      }
      },
      hint: {
      text: "You’ll need your evidence that you are eligible"
      },
      items: [
      {
      value: "digital",
      text: "Digital evidence",
      hint: {
      text: "upload a file sent by text or email"
      }
      },
      {
      value: "paper",
      text: "Paper evidence",
      hint: {
      text: "take a photo or scan physical or hard copy"
      }
      },
      {
      value: "none",
      text: "Not sure",
      hint: {
      text: "Continue without and send evidence to school"
      }
      }
      ]
      }) }}

      {{ govukButton({
      text: "Continue",
      classes:'govuk-!-margin-top-5'
      }) }}
    </form>



    {%endblock %}