{% extends "/layouts/mvp3/layout-dfe.html" %}
{% set pageName="Upload your evidence" %}

{%block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds ">
<h1 class="govuk-heading-l">{{pageName}}</h1>
<p class="govuk-body"><b>[Question - do we need separate pages for this?]</b></p>
<div class="govuk-form-group">
    <label class="govuk-label" for="file-upload-1">
      Upload a file
    </label>
    <input class="govuk-file-upload" id="file-upload-1" name="fileUpload1" type="file">
  </div>

  <p class="govuk-body">Your file must be:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>a JPG, JPEG, HEIC, HEIF, BMP, PNG, TIF, or PDF</li>
    <li>smaller than 10MB</li>
    </ul>

{{ govukButton({
    text: "Save and continue",
    href: "../add-child/child-details-blank.html"
}) }}


{%endblock %}