
          <tr class="govuk-table__row" data-status="Not eligible">
            <td class="govuk-table__cell">Michael Evans</td>
            <td class="govuk-table__cell">QQ123456A</td>
            <td class="govuk-table__cell">Lucas Evans</td>
            <td class="govuk-table__cell govuk-table__cell--date">05 May 2013</td>
            <td class="govuk-table__cell">Springfield Primary</td>
            <td class="govuk-table__cell">michael.evans@email.com</td>
            <!-- <td class="govuk-table__cell"><a href="childs-age.html" class="govuk-link">Notify parent</a></td> -->
          </tr>
          <!-- <tr class="govuk-table__row govuk-table__row--selected"> -->
        <td class="govuk-table__cell">Sarah Lee</td>
        <!-- <td class="govuk-table__cell govuk-table__cell--date">03 Aug 1982</td> -->
        <td class="govuk-table__cell">ZZ987654B</td>
        <td class="govuk-table__cell">Ella Lee</td>
        <td class="govuk-table__cell govuk-table__cell--date">22 Nov 2014</td>
        <td class="govuk-table__cell">Greenwood Academy</td>
        <td class="govuk-table__cell">sarah.lee@email.com</td>
        <!-- <td class="govuk-table__cell"><a href="childs-age.html" class="govuk-link">Notify parent</a></td> -->
          </tr>
          <tr class="govuk-table__row govuk-table__row--selected">
        <td class="govuk-table__cell">Amina Hassan</td>
        <!-- <td class="govuk-table__cell govuk-table__cell--date">19 Jun 1978</td> -->
        <td class="govuk-table__cell">YY112233C</td>
        <td class="govuk-table__cell">Sami Hassan</td>
        <td class="govuk-table__cell govuk-table__cell--date">30 Mar 2011</td>
        <td class="govuk-table__cell">Hilltop Elementary</td>
        <td class="govuk-table__cell">amina.hassan@email.com</td>
        <!-- <td class="govuk-table__cell"><a href="childs-age.html" class="govuk-link">Notify parent</a></td> -->
          </tr>
          <tr class="govuk-table__row govuk-table__row--selected">
        <td class="govuk-table__cell">Rajesh Patel</td>
        <!-- <td class="govuk-table__cell govuk-table__cell--date">11 Dec 1972</td> -->
        <td class="govuk-table__cell">PP445566D</td>
        <td class="govuk-table__cell">Priya Patel</td>
        <td class="govuk-table__cell govuk-table__cell--date">17 Jul 2012</td>
        <td class="govuk-table__cell">Oakwood High</td>
        <td class="govuk-table__cell">rajesh.patel@email.com</td>
        <!-- <td class="govuk-table__cell"><a href="childs-age.html" class="govuk-link">Notify parent</a></td> -->
          </tr>
          <tr class="govuk-table__row govuk-table__row--selected">
        <td class="govuk-table__cell">Chen Wang</td>
        <!-- <td class="govuk-table__cell govuk-table__cell--date">05 May 1980</td> -->
        <td class="govuk-table__cell">CC778899E</td>
        <td class="govuk-table__cell">Lily Wang</td>
        <td class="govuk-table__cell govuk-table__cell--date">09 Sep 2015</td>
        <td class="govuk-table__cell">Greenwood Academy</td>
        <td class="govuk-table__cell">chen.wang@email.com</td>
            <!-- <td class="govuk-table__cell"><a href="childs-age.html" class="govuk-link">Notify parent</a></td> -->
          </tr>