            <tr class="govuk-table__row govuk-table__row--selected" data-status="Eligible" data-end-date="31 Aug 2026">
            <td class="govuk-table__cell">
              <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
              <input type="checkbox" class="govuk-checkboxes__input" id="child-1">
              <label class="govuk-label govuk-checkboxes__label" for="child-1">
                <span class="govuk-visually-hidden">Child-1</span>
              </label>
              </div>
            </td>
            <td class="govuk-table__cell">Alex Johnson</td>
            <!-- <td class="govuk-table__cell govuk-table__cell--date">15 Mar 1980</td> -->
            <td class="govuk-table__cell">AB123456C</td>
            <td class="govuk-table__cell">Emily Johnson</td>
            <td class="govuk-table__cell govuk-table__cell--date">20 Sep 2012</td>
            <td class="govuk-table__cell">Hilltop Elementary</td>
            <td class="govuk-table__cell">alexjohnson@example.com</td>
            <!-- <td class="govuk-table__cell"><a href="childs-age.html" class="govuk-link">Notify parent</a></td> -->
            </tr>
            <tr class="govuk-table__row govuk-table__row--selected">
            <td class="govuk-table__cell">
              <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                <input type="checkbox" class="govuk-checkboxes__input" id="child-2">
                <label class="govuk-label govuk-checkboxes__label" for="child-2">
                  <span class="govuk-visually-hidden">Child-2</span>
                </label>
              </div>
            <td class="govuk-table__cell">Jessica Brown</td>
            <!-- <td class="govuk-table__cell govuk-table__cell--date">27 Apr 1973</td> -->
            <td class="govuk-table__cell">NW653213B</td>
            <td class="govuk-table__cell">Rachel Brown</td>
            <td class="govuk-table__cell govuk-table__cell--date">12 Jan 2017</td>
            <td class="govuk-table__cell">Springfield Primary</td>
            <td class="govuk-table__cell">edentesfay@icloud.com</td>
            <!-- <td class="govuk-table__cell"><a href="childs-age.html" class="govuk-link">Notify parent</a></td> -->
          </tr>
            <tr class="govuk-table__row govuk-table__row--selected"></tr>
            <td class="govuk-table__cell">
              <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
              <input type="checkbox" class="govuk-checkboxes__input" id="child-3">
              <label class="govuk-label govuk-checkboxes__label" for="child-3">
                <span class="govuk-visually-hidden">Child-3</span>
              </label>
              </div>
            </td>
             <td class="govuk-table__cell">Sophie Smith</td>
            <!-- <td class="govuk-table__cell govuk-table__cell--date">27 Apr 1973</td> -->
            <td class="govuk-table__cell">NW653213B</td>
            <td class="govuk-table__cell">Olivia Smith</td>
            <td class="govuk-table__cell govuk-table__cell--date">15 Feb 2015</td>
            <td class="govuk-table__cell">Greenwood Academy</td>
            <td class="govuk-table__cell">edentesfay@icloud.com</td>
            <!-- <td class="govuk-table__cell"><a href="childs-age.html" class="govuk-link">Notify parent</a></td> -->
            </tr>
            <tr class="govuk-table__row govuk-table__row--selected">
            <td class="govuk-table__cell">
              <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
              <input type="checkbox" class="govuk-checkboxes__input" id="child-4">
              <label class="govuk-label govuk-checkboxes__label" for="child-4">
                <span class="govuk-visually-hidden">Child-4</span>
              </label>
              </div>
            </td>
            <td class="govuk-table__cell">Michael Green</td>
            <td class="govuk-table__cell">JK987654A</td>
            <td class="govuk-table__cell">Lucas Green</td>
            <td class="govuk-table__cell govuk-table__cell--date">03 May 2013</td>
            <td class="govuk-table__cell">Riverside School</td>
            <td class="govuk-table__cell">michael.green@email.com</td>
            </tr>
            <tr class="govuk-table__row govuk-table__row--selected">
            <td class="govuk-table__cell">
              <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
              <input type="checkbox" class="govuk-checkboxes__input" id="child-5">
              <label class="govuk-label govuk-checkboxes__label" for="child-5">
                <span class="govuk-visually-hidden">Child-5</span>
              </label>
              </div>
            </td>
            <td class="govuk-table__cell">Priya Patel</td>
            <td class="govuk-table__cell">PP112233D</td>
            <td class="govuk-table__cell">Asha Patel</td>
            <td class="govuk-table__cell govuk-table__cell--date">09 Nov 2014</td>
            <td class="govuk-table__cell">Elmwood Primary</td>
            <td class="govuk-table__cell">priya.patel@email.com</td>
            </tr>
            <tr class="govuk-table__row govuk-table__row--selected">
            <td class="govuk-table__cell">
              <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
              <input type="checkbox" class="govuk-checkboxes__input" id="child-6">
              <label class="govuk-label govuk-checkboxes__label" for="child-6">
                <span class="govuk-visually-hidden">Child-6</span>
              </label>
              </div>
            </td>
            <td class="govuk-table__cell">Sarah Lee</td>
            <td class="govuk-table__cell">SL445566E</td>
            <td class="govuk-table__cell">Ethan Lee</td>
            <td class="govuk-table__cell govuk-table__cell--date">22 Jul 2011</td>
            <td class="govuk-table__cell">Maple Grove School</td>
            <td class="govuk-table__cell">sarah.lee@email.com</td>
            </tr>
            <tr class="govuk-table__row govuk-table__row--selected">
            <td class="govuk-table__cell">
              <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
              <input type="checkbox" class="govuk-checkboxes__input" id="child-7">
              <label class="govuk-label govuk-checkboxes__label" for="child-7">
                <span class="govuk-visually-hidden">Child-7</span>
              </label>
              </div>
            </td>
            <td class="govuk-table__cell">David Wright</td>
            <td class="govuk-table__cell">DW778899F</td>
            <td class="govuk-table__cell">Mia Wright</td>
            <td class="govuk-table__cell govuk-table__cell--date">30 Dec 2016</td>
            <td class="govuk-table__cell">Sunnydale Academy</td>
            <td class="govuk-table__cell">david.wright@email.com</td>
            </tr>