     <tr class="govuk-table__row" data-status="Could not check">
          <td class="govuk-table__cell">Emma Cater</td>
          <!-- <td class="govuk-table__cell govuk-table__cell--date">27 Apr 1973</td> -->
          <td class="govuk-table__cell">NW653213B</td>
          <td class="govuk-table__cell">Rachel Carter</td>
          <td class="govuk-table__cell govuk-table__cell--date">12 Jan 2016</td>
          <td class="govuk-table__cell">Springfield Primary</td>
          <td class="govuk-table__cell">emmacarter@email.com</td>
          <td class="govuk-table__cell"><span class="text-red">Information does not match</span></td>
            </tr>
            <tr class="govuk-table__row">
          <td class="govuk-table__cell">Emma Carter</td>
          <!-- <td class="govuk-table__cell govuk-table__cell--date">27 Apr 1973</td> -->
          <td class="govuk-table__cell">NW653213B</td>
          <td class="govuk-table__cell">Samuel Carter</td>
          <td class="govuk-table__cell govuk-table__cell--date">6 Feb 2017</td>
          <td class="govuk-table__cell">Greenwood Academy</td>
          <td class="govuk-table__cell">emmacarter@email.com</td>
          <td class="govuk-table__cell"><span class="text-red">Could not check <br>Universal Credit</span></td>
            </tr>
            <tr class="govuk-table__row">
          <td class="govuk-table__cell">Emma Carter</td>
          <!-- <td class="govuk-table__cell govuk-table__cell--date">27 Apr 1973</td> -->
          <td class="govuk-table__cell">NW653213B</td>
          <td class="govuk-table__cell">Rachel Carter</td>
          <td class="govuk-table__cell govuk-table__cell--date">12 Jan 2016</td>
          <td class="govuk-table__cell">Hilltop Elementary</td>
          <td class="govuk-table__cell">emmacarter@email.com</td>
          <td class="govuk-table__cell"><span class="text-red">Could not check <br>Universal Credit</span></td>
            </tr>
            <tr class="govuk-table__row">
          <td class="govuk-table__cell">Lauren Howards</td>
          <!-- <td class="govuk-table__cell govuk-table__cell--date">27 Apr 1973</td> -->
          <td class="govuk-table__cell">NW653213B</td>
          <td class="govuk-table__cell">Teigan Howads</td>
          <td class="govuk-table__cell govuk-table__cell--date">2 Dec 2027</td>
          <td class="govuk-table__cell">Oakwood High</td>
          <td class="govuk-table__cell">emmacarter@email.com</td>
          <td class="govuk-table__cell"><span class="text-red">Information does not match</span></td>
            </tr>