{% extends "/layouts/mvp3/layout-dfe.html" %}
{% set pageName="No address found" %}

{%block content %}

<div class="govuk-grid-row">
  <div class="govuk-width-container">
    <div class="govuk-heading-l">
      {{pageName}}
    </div>
      <p>We could not find an address that matches <b>wr11nl</b> and <b>1</b>. You can search again or enter the address manually.</p>
      <p><a href="#">Search again</a></p>
      <p class="govuk-body govuk-!-margin-bottom-0"><a href="#" class="govuk-link">Enter address manually</a></p>
      </div>
  </div>


</div>
{% endblock %}