{% extends "/layouts/childcare/v8/layout-childcare.html" %}

{% block pageTitle %}
  Run a batch check for multiple eligibility codes
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!--<div class="govuk-error-summary" data-module="govuk-error-summary">
      <div role="alert">
        <h1 class="govuk-error-summary__title">
          There is a problem
        </h1>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <li>
              <a href="#errors">You must fix data errors in the uploaded file</a>
            </li>
          </ul>
        </div>
      </div>
    </div>-->

    <h1 class="govuk-heading-l">Fix data errors</h1>
    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-visually-hidden">Warning</span>
        We cannot run checks as the file you uploaded contains data errors.
      </strong>
    </div>
    <p class="govuk-body">You must:</p>
    <ol class="govuk-list govuk-list--number">
      <li>Fix the errors listed below for each row.</li>
      <li><a href="/childcare/v8/batch-check/upload-30h">Upload your file again</a> and run another check.</li>
    </ol>

    <table class="govuk-table govuk-!-margin-top-6" id="errors">
      <caption class="govuk-table__caption govuk-table__caption--s">Showing 25 of 103 errors</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Line</th>
          <th scope="col" class="govuk-table__header">Error</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">1</td>
          <td class="govuk-table__cell">Enter an eligibility code that is 11 digits long</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">2</td>
          <td class="govuk-table__cell">The date of birth must be in DD/MM/YYYY or YYYY-MM-DD format</td>
        </tr>
         <tr class="govuk-table__row">
          <td class="govuk-table__cell">3</td>
          <td class="govuk-table__cell">Enter a National Insurance number</td>
        </tr>
         <tr class="govuk-table__row">
          <td class="govuk-table__cell">4</td>
          <td class="govuk-table__cell">The date of birth must be in DD/MM/YYYY or YYYY-MM-DD format</td>
        </tr>
         <tr class="govuk-table__row">
          <td class="govuk-table__cell">5</td>
          <td class="govuk-table__cell">Enter a National Insurance number</td>
        </tr>
         <tr class="govuk-table__row">
          <td class="govuk-table__cell">6</td>
          <td class="govuk-table__cell">The date of birth must be in DD/MM/YYYY or YYYY-MM-DD format</td>
        </tr>
         <tr class="govuk-table__row">
          <td class="govuk-table__cell">7</td>
          <td class="govuk-table__cell">Enter a National Insurance number</td>
        </tr>
         <tr class="govuk-table__row">
          <td class="govuk-table__cell">8</td>
          <td class="govuk-table__cell">Enter an eligibility code that is 11 digits long</td>
        </tr>
         <tr class="govuk-table__row">
          <td class="govuk-table__cell">9</td>
          <td class="govuk-table__cell">Enter a National Insurance number</td>
        </tr>
         <tr class="govuk-table__row">
          <td class="govuk-table__cell">10</td>
          <td class="govuk-table__cell">The date of birth must be in DD/MM/YYYY or YYYY-MM-DD format</td>
        </tr>
         <tr class="govuk-table__row">
          <td class="govuk-table__cell">11</td>
          <td class="govuk-table__cell">Enter a National Insurance number</td>
        </tr>
         <tr class="govuk-table__row">
          <td class="govuk-table__cell">12</td>
          <td class="govuk-table__cell">Enter a National Insurance number</td>
        </tr>
         <tr class="govuk-table__row">
          <td class="govuk-table__cell">13</td>
          <td class="govuk-table__cell">Enter a National Insurance number</td>
        </tr>
         <tr class="govuk-table__row">
          <td class="govuk-table__cell">14</td>
          <td class="govuk-table__cell">Enter an eligibility code that is 11 digits long</td>
        </tr>
         <tr class="govuk-table__row">
          <td class="govuk-table__cell">15</td>
          <td class="govuk-table__cell">Enter a National Insurance number</td>
        </tr>
         <tr class="govuk-table__row">
          <td class="govuk-table__cell">16</td>
          <td class="govuk-table__cell">Enter a National Insurance number</td>
        </tr>
         <tr class="govuk-table__row">
          <td class="govuk-table__cell">17</td>
          <td class="govuk-table__cell">Enter an eligibility code that is 11 digits long</td>
        </tr>
         <tr class="govuk-table__row">
          <td class="govuk-table__cell">18</td>
          <td class="govuk-table__cell">The date of birth must be in DD/MM/YYYY or YYYY-MM-DD format</td>
        </tr>
         <tr class="govuk-table__row">
          <td class="govuk-table__cell">19</td>
          <td class="govuk-table__cell">Enter a National Insurance number</td>
        </tr>
         <tr class="govuk-table__row">
          <td class="govuk-table__cell">20</td>
          <td class="govuk-table__cell">Enter a National Insurance number</td>
        </tr>
         <tr class="govuk-table__row">
          <td class="govuk-table__cell">21</td>
          <td class="govuk-table__cell">Enter an eligibility code that is 11 digits long</td>
        </tr>
         <tr class="govuk-table__row">
          <td class="govuk-table__cell">22</td>
          <td class="govuk-table__cell">Enter a National Insurance number</td>
        </tr>
         <tr class="govuk-table__row">
          <td class="govuk-table__cell">23</td>
          <td class="govuk-table__cell">Enter an eligibility code that is 11 digits long</td>
        </tr>
         <tr class="govuk-table__row">
          <td class="govuk-table__cell">24</td>
          <td class="govuk-table__cell">The date of birth must be in DD/MM/YYYY or YYYY-MM-DD format</td>
        </tr>
         <tr class="govuk-table__row">
          <td class="govuk-table__cell">25</td>
          <td class="govuk-table__cell">Enter a National Insurance number</td>
        </tr>
      </tbody>
    </table>






  </div>
</div>

{% endblock %}