{% extends "layouts/layout-dfe.html" %}

{% set pageName="Home" %}


{% block content %}






    <div class="govuk-grid-row">

            
      <div class="govuk-grid-column-one-half">
        <h2 class="govuk-heading-s"><a href="checker?type=fsm">Free school meals</a></h2>
        <p>Check if a child can get free school meals in England </p>
        <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">

        <h2 class="govuk-heading-s"><a href="checker?type=eypp">Early years pupil premium</a></h2>
        <p>Early years pupil premium if a child is aged 3 or 4 and getting 15 hours free childcare.</p>
        <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">
        <h2 class="govuk-heading-s"><a href="checker?type=fc2yo">Free childcare for 2 yr olds</a></h2>
        <p>Check if a 2-year-old can get free childcare if they live in England</p>
        <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">



        <h2 class="govuk-heading-s"><a href="checker-30-hours">Extended childcare for 3 and 4 yr olds</a></h2>
        <p>Extended childcare</p>
        <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">

      














        




        
      </div>  
    
    </div>

  


{% endblock %}

{% block pageScripts %}
<script type="text/javascript" src="/public/javascripts/moj/all.js"></script>
{% endblock %}