{% extends "../../current/checker-la/layouts/layout-dfe.html" %}

{% set pageName="Home" %}




{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <h1 class="govuk-heading-l">Check your answers before approving</h1>

    <h2 class="govuk-heading-m">Carer details</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">


      



      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Parent guardian details
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data["first-name"] }}   {{ data["surname"] }}
        </dd>

        <dd class="govuk-summary-list__actions">

          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> name</span>
          </a>

        </dd>

      </div>



      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
        Parent / guardian date of birth
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data["dob-day"] }} {{ data["dob-month"] }} {{ data["dob-year"] }} 

        </dd>

        <dd class="govuk-summary-list__actions">

          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> date of birth</span>
          </a>

        </dd>

      </div>

      



      {% if data['ni-number'] == 'yes' %}

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          National insurance number
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data["ni-number-entered"] }} 
        </dd>

        <dd class="govuk-summary-list__actions">

          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> customer reference</span>
          </a>

        </dd>

      </div>

{% else %}

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          NASS number
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data["nass-number-entered"] }} 
        </dd>

        <dd class="govuk-summary-list__actions">

          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> nass</span>
          </a>

        </dd>

      </div>
{% endif %}



      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Email address
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data["email"] or 'edamcheese@hotmail.com' }}
        </dd>

        <dd class="govuk-summary-list__actions">

          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> contact details</span>
          </a>

        </dd>

      </div>


    </dl>


    <h2 class="govuk-heading-m">Child 1</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">


      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Child's name
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data["ch1-first-name"] }} {{ data["ch1-surname"] }} 

        </dd>

        <dd class="govuk-summary-list__actions">

          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> previous application number</span>
          </a>

        </dd>

      </div>



      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          School
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data["school-picker"] }} 

        </dd>

        <dd class="govuk-summary-list__actions">

          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> school</span>
          </a>

        </dd>

      </div>



      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Child's DOB
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data["ch1-day"] }}  {{ data["ch1-month"] }}  {{ data["ch1-year"] }} 


        </dd>

        <dd class="govuk-summary-list__actions">

          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> document</span>
          </a>

        </dd>

      </div>


    </dl>


    <h2 class="govuk-heading-m">Approving this child for free school meals</h2>

    <p class="govuk-body">By sending this child or children’s information on to the school and parent, you confirm that, to the best of your knowledge, it is correct and that you are happy to approve free school meals. </p>

      


    <form action="application-sent" method="post" novalidate>

      <input type="hidden" name="answers-checked" value="true">


      <button class="govuk-button govuk-!-margin-top-5" data-module="govuk-button">
        Approve and submit
      </button>


    </form>

  

  </div>
</div>




















</div>

</div>


</div>
</div>

{% endblock %}