{% extends "layouts/layout-dfe.html" %}

{% set pageName="Home" %}

{% set parentName="Eden Tesfay" %}



{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">





    <h1 class="govuk-heading-l">
   Manchester City Council
    </h1>


    <div class="govuk-grid-row">

            
      <div class="govuk-grid-column-full">
        

<div class="dfe-grid-container">


    <div class="dfe-card-container">

      <div class="def-card">
        <h2 class="govuk-heading-m">
            <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="application-types">Entitlement checkers</a>
        </h2>
        <p>Check a child’s entitlement to free school meals.</p>
    </div>
    </div>

    <div class="dfe-card-container">

      <div class="def-card">
        <h2 class="govuk-heading-m">
            <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="upload">Batch check entitlements</a>
        </h2>
        <p>Upload and conduct checks for multiple families.</p>
    </div>
    </div>

    <div class="dfe-card-container">

      <div class="def-card">
        <h2 class="govuk-heading-m">
            <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="pending-list">Pending applications</a>
            
        </h2>
        <p>Check entitlement for children not found in the system.</p>
    </div>
    </div>

    
    <!--<div class="dfe-card-container">

      <div class="def-card">
        <h2 class="govuk-heading-m">
            <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="">Foster families</a>
          
        </h2>
        <p>View and add foster families.</p>
    </div>
    </div>-->

    



    


    <div class="dfe-card-container">

      <div class="def-card">
        <h2 class="govuk-heading-m">
            <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="search">Search records</a>
        </h2>
        <p>Search all records and export results.</p>
    </div>
    </div>





    <div class="dfe-card-container">

      <div class="def-card">
        <h2 class="govuk-heading-m">
            <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="guidance">Guidance</a>
        </h2>
        <p>Read guidance on how to review supporting evidence.</p>
    </div>
    </div> 







</div>


        
      </div>  
    
    </div>

  
  </div>
</div>

{% endblock %}