{% extends "../../current/checker-la/layouts/layout-dfe.html" %}

{% set pageName="Outcome not entitled" %}



{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">We could not check if this applicant’s children are entitled to free school meals</h1>
    <p>It’s possible that the Universal Credit statements needed to perform the check aren’t currently available.  </p>
    


    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
              What you can do
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content">
          <p>Ask the school for the parent/guardian’s latest statements (up to 3). Then review any document you receive, following the Guidance for reviewing evidence page. </p>
<p>This result could change in as little as 1 working day – so please keep re-checking for 4 to 6 weeks.  </p>
<p>If you’re still receiving this message after that time, contact the Department for Education support desk at ecs.admin@education.gov.uk to arrange a direct check with HMRC. </p>

          

        </div>
      </div>

      
      
    </div>

    


  <p><a href="dashboard">Go to your portal homepage</a></p>
  <p><a href="../account/signin-or-create">Sign out of the portal</a></p>





















  </div>
</div>

{% endblock %}

{% block pageScripts %}
<script type="text/javascript" src="/public/javascripts/moj/all.js"></script>
{% endblock %}