{% extends "../../current/checker-la/layouts/layout-dfe.html" %}









{% block backLink %}
{{ govukBackLink({
text: "Back",
href: "/"
}) }}
{% endblock %}


<!-- The content between the heading 1 and the buttons -->

{% block content %}



<div class="govuk-grid-row govuk-!-margin-bottom-5">
  <div class="govuk-grid-column-full">

    

{{ govukRadios({
  name: "evidence",
  fieldset: {
    legend: {
      text: "Supporting evidence",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  hint: {
    text: "Types of supporting evidence you have checked prior to approving this application"
  },
  items: [
    {
      value: "universal-credit",
      text: "Universal credit"
    },
    {
      value: "nass",
      text: "Nation asylum support number"
    },
    {
      value: "income-support",
      text: "Income support"
    },
    {
      value: "income-based-jsa",
      text: "Income based jobseeker's allowance"
    },
    {
      value: "pension-credit",
      text: "Pension credit"
    },
    {
      value: "child-tax-credit",
      text: "child-tax-credit"
    },
    {
      value: "working-tax-credit",
      text: "Working tax credit"
    }
   
  ]
}) }}




{{ govukButton({
  text: "Save and continue",
  href:'document-sent'
}) }}
    </div>
    </div>



{% endblock %}

{% block buttons %}
{% endblock %}

{% block pageScripts %}
<!-- Add any javascript files here. Include javascript files only on the pages
that need them. Excessive javascript files loaded on other pages may slow down
the response times of the prototype. -->
<script type="text/javascript" src="/public/javascripts/moj/all.js"></script>


{% endblock %}