{% extends "orange/task-management/current/base-form.html" %}

<!-- This makes a H1 with the pageHeading text. It also sets the title of the
page. -->
{% set title = "Upload a document" %}

<!-- Sets where the save and continue button goes -->
{% set nextPage = "task" %}

<!-- The content between the heading 1 and the buttons -->
{% block pageContent %}

<h1 class="govuk-heading govuk-heading--l">{{title}}</h1>

{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}
{{ govukFileUpload({
  id: "file-upload-1",
  name: "file-upload-1",
  label: {
    text: "Upload a file"
  }
}) }}

{% from "govuk/components/button/macro.njk" import govukButton %}
{{ govukButton({
  text: "Upload",
  classes:"govuk-button--secondary",
  href:"task-viewer"
}) }}

  {% block buttons %}

  {% endblock %}



{% endblock %}
