{% extends "layouts/FSM/v8-2/family/layout-dfe-parent.html" %}
{% set pageName="Check if you can use this service" %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}


{% block pageScripts %}
<script type="text/javascript" src="/public/javascripts/autocomplete.js"></script>
<script type="text/javascript">
  accessibleAutocomplete.enhanceSelectElement({
    defaultValue: '',
    selectElement: document.querySelector('#school-picker')
  })
</script>
{% endblock %}

{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <!--    -->

    <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title"
      data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Important
        </h2>
      </div>

      <div class="govuk-notification-banner__content">
        <p class="govuk-notification-banner__heading">
          Not all schools are included in this new online checking service.
        </p>
        <p class="govuk-body">This is a new service that is being tested in some local authorities.</p>

      </div>
    </div>




    <h1 class="govuk-heading-l">{{pageName}}</h1>

    <p>Use the school picker to see if your child's school is included in the new service.</p>
    <p>If your child’s school is not included, you will still be able to apply for free school meals.</p>

    <h2 class="govuk-heading-m">School 1</h2>

    {% include "../../../../../_includes/family/v8-1/schools-postcode" %}
    </select>


      <div class="moj-button-action govuk-!-margin-top-4">
            {{ govukButton({
              text: 'Add another school',
              classes: 'govuk-button--secondary moj-add-another__add-button govuk-!-margin-bottom-4'
            }) }}
          </div>

          <div class="moj-button-action">
            {{ govukButton({
              text: 'Continue'
            }) }}
          </div>







  </div>
</div>

{% endblock %}