{% extends "/layouts/childcare/v11/layout-childcare.html" %}

{% block pageTitle %}
  Manage foster families
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">


    <h1 class="govuk-heading-l">Archived eligibility codes </h1>

    <p>Eligibility codes are automatically archived when the child reaches compulsory school age.</p>

    <p>You can also manually archive a code no longer in use.</p>

      <!--

        <div class="govuk-form-group">
          <label class="govuk-label" for="sort">
            Sort by
          </label>
          <select class="govuk-select" id="sort" name="sort">
            <option value="child">Child name</option>
            <option value="child">Child date of birth</option>
            <option value="code">Eligibility code</option>
            <option value="reconfirm" selected>Reconfirmation status</option>
          </select>
        </div>

        -->


        <table class="govuk-table govuk-table--small-text-until-tablet">
          <caption class="govuk-table__caption govuk-table__caption--m"></caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Child name</th>
              <th scope="col" class="govuk-table__header">Child date of birth</th>
               <th scope="col" class="govuk-table__header">Carer name</th>
              <th scope="col" class="govuk-table__header">Eligibility code</th>
              <th scope="col" class="govuk-table__header">Eligibility confirmed on</th>
              <th scope="col" class="govuk-table__header">Reconfirm between</th>
              <th scope="col" class="govuk-table__header">Grace period ends</th>
              <th scope="col" class="govuk-table__header">Reconfirmation status</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
             {% if (data['code'] == "archived") %}

            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="/childcare/v11/foster/code/archived">Laslo Small</a></td>
              <td class="govuk-table__cell">6 Sep 2023</td>
              <td class="govuk-table__cell"><a href="">Jim Smith</a></td>
              <td class="govuk-table__cell">40019283987</td>
              <td class="govuk-table__cell">24 Apr 2025</td>
              <td class="govuk-table__cell">13 Jun 2025 and 13 Jul 2025</td>
              <td class="govuk-table__cell">31 Aug 2025</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Overdue</strong></td>
            </tr>

            {% else %}

            {% endif %}


            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="/childcare/v11/foster/code/archived-too-old">Samuel Hill</a></td>
              <td class="govuk-table__cell">7 May 2018</td>
              <td class="govuk-table__cell"><a href="">Teddy Wallace</a></td>
              <td class="govuk-table__cell">40678901234</td>
              <td class="govuk-table__cell">24 Apr 2024</td>
              <td class="govuk-table__cell">12 Jul 2024 and 12 Aug 2024</td>
              <td class="govuk-table__cell">31 Aug 2024</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">Child too old</strong></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="/childcare/v11/foster/code/archived-too-old">Noah Bennett</a></td>
              <td class="govuk-table__cell"> 22 Jul 2017</td>
              <td class="govuk-table__cell"><a href="">Sophie Kennedy</a></td>
              <td class="govuk-table__cell">40284756190</td>
              <td class="govuk-table__cell">08 Apr 2024</td>
              <td class="govuk-table__cell">10 Jun 2024 and 10 Jul 2024</td>
              <td class="govuk-table__cell">31 Aug 2024</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">Child too old</strong></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="/childcare/v11/foster/code/archived-too-old">Ella Morrison</a></td>
              <td class="govuk-table__cell">3 Nov 2018 </td>
              <td class="govuk-table__cell"><a href=""> Jack Sanderson</a></td>
              <td class="govuk-table__cell">40375618249</td>
              <td class="govuk-table__cell">17 Jun 2021 </td>
              <td class="govuk-table__cell">12 Oct 2023 and 12 Nov 2023</td>
              <td class="govuk-table__cell">31 Mar 2024</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">Child too old</strong></td>
            </tr>
             <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="/childcare/v11/foster/code/archived-too-old">Amelia Carter</a></td>
              <td class="govuk-table__cell">14 Feb 2016</td>
              <td class="govuk-table__cell"><a href=""> Oliver Bonas</a></td>
              <td class="govuk-table__cell">40192837465</td>
              <td class="govuk-table__cell">12 Jan 2023</td>
              <td class="govuk-table__cell">15 Jan 2024 and 15 Feb 2024</td>
              <td class="govuk-table__cell">31 Aug 2024</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">Child too old</strong></td>
            </tr>
          </tbody>
        </table>


  </div>
</div>

{% endblock %}