{% extends "/layouts/support/v1/layout-support.html" %}

{% block pageTitle %}
 Test environments
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Test environments</h1>

    <p>View the service as different user types.</p>

    <p>You will need DfE sign in set up for test..</p>


    <h2 class="govuk-heading-m">Free school meals</h2>

    <p><a href="">Local authority portal</a></p>

    <p><a href="">School portal</a></p>

    <p><a href="">Multi academy trust portal</a></p>

    <p><a href="">Parent check and apply</a></p>


    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-m">Childcare support</h2>

    <p><a href="">Local authority portal</a></p>


     <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-m">Test data</h2>

    <p><a href="">View test data</a></p>




  </div>
</div>

{% endblock %}