{% extends "/layouts/childcare/dev/layout-childcare-logged-out.html" %}

{% block pageTitle %}
 Manage eligibility for childcare support: using the service
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}


{% block content %}


<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-quarter userGuidanceAnchorMenu">

    <h4 class="govuk-body-s govuk-!-margin-top-5">Contents</h4>
    <ol class="govuk-!-padding-left-0">
      <li class="govuk-body-s contents-list-item">
        <a href="#1.1"><span class="contents-list-item-number" >1.</span><span class="contents-list-item-text">How to access the service</span></a>
      </li>
      <li class="govuk-body-s contents-list-item">
        <a href="#1.2"><span class="contents-list-item-number" >2.</span><span class="contents-list-item-text">What you can use the service for</span></a>
      </li>
      <li class="govuk-body-s contents-list-item">
        <a href="#1.3"><span class="contents-list-item-number" >3.</span><span class="contents-list-item-text">Running checks for one parent or guardian</span></a>
      </li>
       <li class="govuk-body-s contents-list-item">
        <a href="#1.4"><span class="contents-list-item-number" >4.</span><span class="contents-list-item-text">Running batch checks</span></a>
      </li>
       <li class="govuk-body-s contents-list-item">
        <a href="#1.5"><span class="contents-list-item-number" >5.</span><span class="contents-list-item-text">Managing foster families</span></a>
      </li>
       <li class="govuk-body-s contents-list-item">
        <a href="#1.6"><span class="contents-list-item-number" >6.</span><span class="contents-list-item-text">Running reports</span></a>
      </li>
       <li class="govuk-body-s contents-list-item">
        <a href="#1.7"><span class="contents-list-item-number" >7.</span><span class="contents-list-item-text">Viewing guidance</span></a>
      </li>
    </ol>



  </div>


  <div class="govuk-grid-column-three-quarters">

      <h1 class="govuk-heading-l">Manage eligibility for childcare support: using the service </h1>

    <p>
      Manage eligibility for childcare support is one of two services that have replaced the eligibility checking system (ECS).
      Local authorities can use this service to manage and check eligibility for:
    </p>

    <ul>
      <li>early learning for 2-year-olds </li>
      <li>early years pupil premium</li>
      <li>childcare for working families</li>
    </ul>

    <p>This guidance explains how to use the new service. </p>

    <p>We are still developing this service. <a href="https://dferesearch.fra1.qualtrics.com/jfe/form/SV_dhzpxXHwNu5zO4u">Your feedback</a> will help us improve it. </p>



    <h2 class="govuk-heading-m" id="1.1">1. How to access the service</h2>

    <p>Users at local authorities will need a DfE Sign-in account to use this service. If you do not have an account, go to the <a href="https://services.signin.education.gov.uk/">DfE Sign in</a> page and then: </p>

    <ul>
      <li>select ‘create a DfE Sign-in account‘</li>
      <li>enter your details and email address</li>
      <li>add the verification code</li>
      <li>create a password (at least 14 characters)</li>
      <li>request access to your organisation</li>
    </ul>

    <p>When you have a DfE Sign-in account and are logged in, you can select the:</p>

    <ul>
      <li>‘Request access to a service’ link on the ‘My services’ page </li>
      <li>organisation you want access to the service for </li>
      <li>service from the options: 'Manage eligibility for childcare support'</li>
      <li>sub-service: ‘MEFCS – Local Authority Role’ </li>
    </ul>

    <p>When you have added the service, you can use DfE Sign-in to access it in future.</p>


    <h2 class="govuk-heading-m" id="1.2">2. What you can use the service for </h2>

    <p>You can use the service to:</p>

    <ul>
      <li>run an eligibility check for one parent or guardian </li>
      <li>run batch checks for multiple parents or guardians </li>
      <li>manage foster families claiming childcare for working families </li>
      <li>run and download reports </li>
      <li>view guidance on running checks</li>
    </ul>

    <h2 class="govuk-heading-m" id="1.3">3. Running checks for one parent or guardian </h2>

    <p>To run a check for one parent or guardian, choose the eligibility you want to run a check for from: </p>

    <ul>
      <li>childcare for working families </li>
      <li>early learning for 2-year-olds </li>
      <li>early years pupil premium</li>
    </ul>

    <p>To run a check for early learning for 2-year-olds or for early years pupil premium, you’ll need to enter the parent’s: </p>

    <ul>
      <li>last name in full </li>
      <li>date of birth </li>
      <li>National Insurance number  </li>
    </ul>

    <p>
      Last names must be entered in full and exactly match how they appear on Universal Credit statements.
      This is because of the way the Department for Work and Pensions authenticate citizens, which requires a full last name, date of birth and National Insurance number for accuracy.
    </p>

    <p>There is guidance within the service if the parent or guardian is an asylum seeker.  </p>

    <p>The result of the check will tell you whether the children of a parent or guardian are eligible.  </p>

    <p>
      A result of ‘may not be eligible’ means that the children of the parent or guardian are not eligible at the time of the check.
      If there is a result of ‘not eligible at time of check’ and the parent or guardian thinks that they are eligible, they can provide supporting evidence for you to review.
      There is guidance in the service on reviewing supporting evidence.
    </p>
    <p>To run a check for childcare for working families, you’ll need the eligibility code, National Insurance number and child date of birth. The result of the check will tell
you whether the code is valid and when it can be used. Results include:</p>
 <ul>
      <li>code valid </li>
      <li>code in grace period </li>
      <li>code expired  </li>
      <li>code cannot be used yet </li>
      <li>child too young </li>
    </ul>
    <p>Result pages also include details of reconfirmation dates and grace period dates.</p>

    <h2 class="govuk-heading-m" id="1.4">4. Running batch checks</h2>

    <p>To run a batch check for multiple parents or guardians, choose the eligibility you want to run a check for from: </p>

    <ul>
      <li>childcare for working families </li>
      <li>early learning for 2-year-olds </li>
      <li>early years pupil premium</li>
    </ul>

    <p>For all batch checks, download the batch check template provided within the service after you have chosen the eligibility type. </p>

    <p>For each eligibility code you want to check for childcare for working families, you’ll need to add the eligibility code, a National Insurance number (this can be for a
parent, guardian or partner) and the child's date of birth.</p>
    <p>For each parent you want to check for early learning for 2-year-olds and early years pupil premium, you’ll need to add their last name, date of birth and National Insurance number. </p>

    <p>When you have run a batch check, you’ll be able to see the status of any checks and download results for completed checks. </p>

    <p>There is guidance in the service explaining what the results of batch checks mean. </p>

     <h2 class="govuk-heading-m" id="1.5">5. Managing foster families </h2>

    <p>To add a foster family to the service, you will need the: </p>

    <ul>
      <li>carer's details – name, date of birth and National Insurance number</li>
      <li>partner's details (if applicable) - name, date of birth and National Insurance number</li>
      <li>child's details – name, date of birth, postcode </li>
      <li>date when the application was submitted </li>
    </ul>
    <p>Based on the application submitted on date, the service will automatically apply validity, reconfirmation and grace period dates for the eligibility code.</p>
<p>You'll need to check the details you have entered and confirm that providing an eligibility code is consistent with a care plan before adding the family.</p>

<p>When the family is added to the service, the eligibility code is created, and you can share this with the social worker.</p>
<p>For foster families who have already been added to the service, you can:</p>
 <ul>
      <li>view eligibility code details and reconfirmation status</li>
      <li>reconfirm eligibility codes</li>
      <li>change details for the carer, partner or child</li>
      <li>remove the partner</li>
      <li>add another child to the family</li>
    </ul>

    <h2 class="govuk-heading-m" id="1.6">6. Running reports </h2>

    <p>You can run and download eligibility code history reports. </p>
    <h3 class="govuk-heading-s">View eligibility code history</h3>

    <p>This report was called the Event Listing in the ECS system. Run this report to view the code history for an eligibility code. When you enter an eligibility code, the report shows details for the application and any reconfirmations. Details include:</p>
    <ul>
      <li>submitted on date</li>
      <li>validity start and end dates</li>
      <li>grace period end date</li>
      <li>event ID</li>
      <li>personal details</li>
    </ul>


<h2 class="govuk-heading-m" id="1.7">7. Viewing guidance </h2>

    <p>Within the service you can read guidance on: </p>

    <ul>
      <li>reviewing evidence for early years pupil premium and early learning for 2-year-olds</li>
      <li>batch check results</li>
      <li>outcome pages for childcare for working families checks </li>
    </ul>


  </div>
</div>

{% endblock %}